@mixin reindeer-label($name : v-label) {

.#{$name} {
	line-height: 18px;
}

/**********************
 * Black styles
 **********************/
.white .black,
.blue .black {
	color: #C9CCCE;
	text-shadow: 0 0 1px #000;
}
.black .#{$name}-h1,
.black .#{$name}-h2,
.black .v-caption-h1,
.black .v-caption-h2,
.white .black .#{$name}-h1,
.white .black .#{$name}-h2,
.white .black .v-caption-h1,
.white .black .v-caption-h2,
.blue .black .#{$name}-h1,
.blue .black .#{$name}-h2,
.blue .black .v-caption-h1,
.blue .black .v-caption-h2 {
	color: #fff;
	text-shadow: rgba(0,0,0,.8) 0 2px 2px;
}
.black .#{$name}-light,
.white .black .#{$name}-light {
	color: #72787c;
}
.black .#{$name} hr,
.white .black .#{$name} hr {
	background: #0c0d0e;
	color: #0c0d0e;
	border-bottom-color: #292b2e;
}

/**********************
 * Blue styles
 **********************/
.v-app .white,
.v-window .white,
.v-app .blue,
.v-window .blue {
	color: #222;
	text-shadow: none;
}
.blue .#{$name}-h1,
.blue .#{$name}-h2,
.blue .v-caption-h1,
.blue .v-caption-h2,
.white .blue .#{$name}-h1,
.white .blue .#{$name}-h2,
.white .blue .v-caption-h1,
.white .blue .v-caption-h2 {
	color: #fff;
	text-shadow: rgba(0,0,0,.3) 0 1px 1px;
}
.blue .#{$name}-light,
.white .blue .#{$name}-light {
	color: #6e7c83;
}
.blue .#{$name} hr,
.white .blue .#{$name} hr {
	background: #a3bcc9;
	color: #a3bcc9;
	border-bottom-color: #cfe2eb;
}

/**********************
 * Default & white styles
 **********************/
.#{$name}-h1,
.#{$name}-h2,
.v-caption-h1,
.v-caption-h2,
.white .#{$name}-h1,
.white .#{$name}-h2,
.white .v-caption-h1,
.white .v-caption-h2 {
	font-family: Helvetica, Arial, "Lucida Grande", Geneva, Tahoma, Verdana, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #44698b;
	letter-spacing: -0.02em;
	text-shadow: #fff 0 -1px 1px;
}
.#{$name}-h2,
.v-caption-h2,
.white .#{$name}-h2,
.white .v-caption-h2 {
	font-size: 16px;
	line-height: 22px;
}
.#{$name}-light,
.white .#{$name}-light {
	font-size: 11px;
	line-height: 13px;
	color: #707070;
}

.#{$name} hr,
.white .#{$name} hr {
	height: 2px;
	overflow: hidden;
	background: #dcdcdc;
	color: #dcdcdc; /* For IE */
	border: none;
	border-bottom: 1px solid #fff;
}

.v-sa .#{$name} hr,
.v-ie8 .#{$name} hr {
	height: 1px;
}

/* Labels inside Table don't need a line-height */
.v-table .#{$name} {
	line-height: normal;
}

}