.v-label {
	line-height: 18px;
}
.v-label-h1,
.v-label-h2,
.v-caption-h1,
.v-caption-h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #44698b;
	letter-spacing: -0.02em;
}
.v-label-h2,
.v-caption-h2 {
	font-size: 16px;
	line-height: 22px;
}
.v-label-light {
	font-size: 11px;
	line-height: 13px;
	color: #707070;
}

.blue .v-label-h1,
.blue .v-label-h2,
.blue .v-caption-h1,
.blue .v-caption-h2 {
	color: #fff;
	text-shadow: rgba(0,0,0,.3) 0 1px 1px;
}

.black .v-label-h1,
.black .v-label-h2,
.black .v-caption-h1,
.black .v-caption-h2 {
	color: #fff;
	text-shadow: rgba(0,0,0,.8) 0 2px 2px;
}