.v-label {
	line-height: 18px;
}
.v-label-h1,
.v-label-h2,
.v-caption-h1,
.v-caption-h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #44698b;
	letter-spacing: -0.02em;
	text-shadow: #fff 0 -1px 1px;
}
.v-label-h2,
.v-caption-h2 {
	font-size: 16px;
	line-height: 22px;
}
.v-label-light {
	font-size: 11px;
	line-height: 13px;
	color: #707070;
}

.blue .v-label-h1,
.blue .v-label-h2,
.blue .v-caption-h1,
.blue .v-caption-h2 {
	color: #fff;
	text-shadow: rgba(0,0,0,.3) 0 1px 1px;
}
.blue .v-label-light {
	color: #6e7c83;
}

.black .v-label-h1,
.black .v-label-h2,
.black .v-caption-h1,
.black .v-caption-h2 {
	color: #fff;
	text-shadow: rgba(0,0,0,.8) 0 2px 2px;
}
.black .v-label-light {
	color: #72787c;
}

.v-label hr {
	height: 2px;
	overflow: hidden;
	background: #dcdcdc;
	color: #dcdcdc; /* For IE */
	border: none;
	border-bottom: 1px solid #fff;
}
.v-sa .v-label hr,
.v-ie8 .v-label hr {
	height: 1px;
}
.blue .v-label hr {
	background: #a3bcc9;
	color: #a3bcc9;
	border-bottom-color: #cfe2eb;
}
.black .v-label hr {
	background: #0c0d0e;
	color: #0c0d0e;
	border-bottom-color: #292b2e;
}

/* Labels inside Table don't need a line-height */
.v-table .v-label {
	line-height: normal;
}