body {
	background-color: #fff;
	font-family: helvetica, verdana, tahoma, arial, sans-serif;
	color: #222;
	font-size: 62.5%;
	line-height: 1.4em;
}

input, select, textarea, button {
	font-family: helvetica, verdana, tahoma, arial, sans-serif;
	font-size: 1.1em;
}

select {
	padding: 0;
	margin: 0;
}