body {
	background: #fafafc url(../img/window-bg.png) repeat-x;
	font-family: helvetica, arial, tahoma, verdana, sans-serif;
	color: #222;
	font-size: 68.75%;
	line-height: 1.4em;
	padding: 0;
	margin: 0;
}

#itmtk-ajax-window {
	background: transparent url(../img/window-bottom-bg.png) no-repeat right bottom;
	height: 100%;
	padding: 0 8px;
}

input, select, textarea, button {
	font-family: helvetica, arial, tahoma, verdana, sans-serif;
	font-size: 1em;
}

select {
	padding: 0;
	margin: 0;
}

.i-disabled {
	opacity: 0.3;
	filter: alpha(opacity:30);
}

.i-contextmenu {
	background: #fff;	
	border: #000;
}