<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://artur-laptop.office.itmill.com:8888/" />
<title>com.vaadin.tests.components.menubar.Menubars</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">com.vaadin.tests.components.menubar.Menubars</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.menubar.Menubars?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>initial</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenubars::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[6]/VMenuBar[0]#item26</td>
	<td>16,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>more-menu-for-100pct-wide</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenubars::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[3]/VMenuBar[0]#item3</td>
	<td>21,14</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>more-menu-for-200px-wide</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenubars::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VMenuBar[0]#item2</td>
	<td>27,8</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenubars::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>Sub menu 3/1</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>submenu-item3-undef-wide</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenubars::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VHorizontalLayout[0]/ChildComponentContainer[0]/VCheckBox[0]/domChild[0]</td>
	<td>7,3</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>error</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenubars::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VHorizontalLayout[0]/ChildComponentContainer[0]/VCheckBox[0]/domChild[0]</td>
	<td>52,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenubars::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VHorizontalLayout[0]/ChildComponentContainer[1]/VCheckBox[0]/domChild[0]</td>
	<td>11,4</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenubars::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VMenuBar[0]#item0</td>
	<td>18,12</td>
</tr>
<!--Ensure the sub menu was not opened-->
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled</td>
</tr>
</tbody></table>
</body>
</html>
