/* Set style for the color picker table.
   This assumes that the Grid layout is rendered as a HTML <table>.*/
table.example-colorpicker {
	border-collapse: collapse;
	border: 0px;
}

/* Set color picker button style.
   This does not make assumptions about the HTML element tree as it only uses
   the logical class names.*/
.example-colorpicker .gwt-Button {
	height: 60px;
	width: 60px;
	border: none;
	padding: 0px;
}

/* Set style for the right-hand box that shows the currently selected color.
   While this may work for other implementations of the HorizontalPanel as well,
   it somewhat assumes that the layout is rendered as a table where cells
   are <td> elements. */
.colorpicker-currentcolorbox {
	width: 240px;
	text-align: center;
	vertical-align: middle !important;
}
