.foo {
    font: 10px / 8px;
    font: 5px;
   	margin-left: 9px;
}

.foo {
	size: 1;	
}

.foo {
	bar: 8;
	bar: 8;
	bar: 12;
}

.foo {
    bar: 2 3;
    bar: 5;
    bar: 5;
}

.foo {
	bar: 2 -3;
	bar: -1;
	bar: -1;
}

.foo {
	bar: 14;
}