.test .middle .error, .test .middle .seriousError {
	border: 1px #f00;
	background-color: #fdd; 
}
.test .seriousError {
	border-width: 3px; 
}

.test1 .error1, .test1 .middle1 .seriousError1 {
	border: 1px #f00;
	background-color: #fdd; 
}
.test1 .middle1 .seriousError1 {
	border-width: 3px;
}