@-webkit-keyframes bgcolor {
	0% {
		background-color: #ffccf2;
	}
	100% {
		background-color: #ccffff;
	}
}
@-moz-keyframes bgcolor {
	from {
		background-color: #ffccf2;
	}
	to {
		background-color: #ccffff;
	}
}
@-ms-keyframes bgcolor {
	from {
		background-color: #ffccf2;
	}
	100% {
		background-color: #ccffff;
	}
}
@keyframes bgcolor {
	0% {
		background-color: #ffccf2;
	}
	to {
		background-color: #ccffff;
	}
}

@keyframes mymove {
	from { top: 0px; }
	to { top: 200px; }
	50% { top: 100px; }
}