.v-ie6 .v-shadow-window {
	background: #000000;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5 ) alpha(opacity = 20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	margin-top: 2px;
	margin-left: 2px;
}