.all-the-properties {
	font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	position: absolute;
	overflow: hidden;
}

.missing-semicolon-on-last-row {
	color: red;
	background-color: blue;
}