.v-label {
	line-height: 18px;
}
.v-label-h1,
.v-label-h2,
.v-caption-h1,
.v-caption-h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #44698b;
}
.v-ie6 .v-label-h1 {
	font-size: 1px;
	line-height: normal;
}
.v-label-h2,
.v-caption-h2 {
	font-size: 16px;
	line-height: 22px;
}
.v-label-light {
	font-size: 11px;
	line-height: 13px;
	color: #707070;
}