@mixin chameleon-button($primaryStyleName : v-button) {

.#{$primaryStyleName}:active,
.v-ie8 & .v-pressed.#{$primaryStyleName},
div.#{$primaryStyleName}-down {
	background-image: url(../../img/grad-dark-bottom2.png);
	background-color: #afafaf;
	}

.#{$primaryStyleName}:active .#{$primaryStyleName}-wrap,
.v-ie8 & .v-pressed.#{$primaryStyleName} .#{$primaryStyleName}-wrap,
.#{$primaryStyleName}-down .#{$primaryStyleName}-wrap {
	background-image: url(../../img/grad-dark-top2.png);
	border: 1px solid #888;
	padding: 3px 12px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	}

div.#{$primaryStyleName}-down .#{$primaryStyleName}-wrap {
	background-image: url(../../img/grad-dark-top2.png);
	}

.#{$primaryStyleName} {
	overflow: hidden;
	}

.#{$primaryStyleName},
.v-disabled.#{$primaryStyleName}:focus,
.v-disabled.#{$primaryStyleName}:active {
	border: 1px solid #8b8b8b;
	background: #c9c9c9;
	border-radius: 3px;
	background: #c9c9c9 url(../../img/grad-dark-bottom.png) repeat-x left bottom;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2);
	text-shadow: 0 1px 0 #fff;
	padding: 0;
	}

.#{$primaryStyleName}-wrap,
.v-disabled:active .#{$primaryStyleName}-wrap {
	display: block;
	padding: 4px 13px;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: transparent url(../../img/grad-light-top.png) repeat-x;
	height: 100%;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	}

.v-sa & .#{$primaryStyleName},
.v-sa & .#{$primaryStyleName}-wrap,
.v-ff & .#{$primaryStyleName},
.v-ff & .#{$primaryStyleName}-wrap {
	overflow: hidden;
	}
	
.#{$primaryStyleName}:focus {
	outline: none;
	}

.#{$primaryStyleName} .v-icon {
	margin-left: -0.5em;
	}

.#{$primaryStyleName} .#{$primaryStyleName}-caption {
	line-height: 1.26;
	}


/*******************************************************************************
 * Big
 ******************************************************************************/
.#{$primaryStyleName}-big {
	font-size: $chameleon-font-size-big;
	}


/*******************************************************************************
 * Small
 ******************************************************************************/
.#{$primaryStyleName}-small {
	font-size: $chameleon-font-size-small;
	font-weight: normal;
	}

.#{$primaryStyleName}-small .#{$primaryStyleName}-wrap {
	padding: 3px 11px;
	}

.#{$primaryStyleName}-small:active .#{$primaryStyleName}-wrap,
.v-ie8 & .#{$primaryStyleName}-small.v-pressed .#{$primaryStyleName}-wrap,
.#{$primaryStyleName}-down.small .#{$primaryStyleName}-wrap {
	padding: 2px 10px;
	}

.#{$primaryStyleName}-small .v-icon {
	margin-top: -4px;
	margin-bottom: -4px;
	}


/*******************************************************************************
 * Wide
 ******************************************************************************/
.#{$primaryStyleName}-wide .#{$primaryStyleName}-wrap {
	padding-left: 26px;
	padding-right: 26px;
	}

.#{$primaryStyleName}-wide:active .#{$primaryStyleName}-wrap,
.v-ie8 & .#{$primaryStyleName}-wide.v-pressed .#{$primaryStyleName}-wrap {
	padding-left: 25px;
	padding-right: 25px;
	}


/*******************************************************************************
 * Tall
 ******************************************************************************/
.#{$primaryStyleName}-tall .#{$primaryStyleName}-wrap {
	padding-top: 13px;
	padding-bottom: 13px;
	}

.#{$primaryStyleName}-tall:active .#{$primaryStyleName}-wrap,
.v-ie8 & .#{$primaryStyleName}-tall.v-pressed .#{$primaryStyleName}-wrap {
	padding-top: 12px;
	padding-bottom: 12px;
	}


/*******************************************************************************
 * Default
 ******************************************************************************/
.#{$primaryStyleName}-default,
.v-disabled.#{$primaryStyleName}-default:focus {
	font-weight: bold;
	}


/*******************************************************************************
 * Link & borderless
 ******************************************************************************/
div.#{$primaryStyleName}-link,
div.#{$primaryStyleName}-link:focus,
.#{$primaryStyleName}-link:active,
div.v-disabled.#{$primaryStyleName}-link,
div.v-disabled.#{$primaryStyleName}-link:focus,
body.v-ie & .v-pressed.#{$primaryStyleName}-link,
div.#{$primaryStyleName}-borderless,
div.#{$primaryStyleName}-borderless:focus,
.#{$primaryStyleName}-borderless:active,
div.v-disabled.#{$primaryStyleName}-borderless,
div.v-disabled.#{$primaryStyleName}-borderless:focus,
body.v-ie & .v-pressed.#{$primaryStyleName}-borderless {
	background: transparent;
	font-weight: normal;
	text-shadow: none;
	border: none;
	margin: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	}

.#{$primaryStyleName}-link .#{$primaryStyleName}-wrap,
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-wrap {
	display: inline;
	}

div.#{$primaryStyleName}-link .#{$primaryStyleName}-wrap,
div.#{$primaryStyleName}-link:focus .#{$primaryStyleName}-wrap,
.#{$primaryStyleName}-link:active .#{$primaryStyleName}-wrap,
div.v-disabled.#{$primaryStyleName}-link .#{$primaryStyleName}-wrap,
div.v-disabled.#{$primaryStyleName}-link:focus .#{$primaryStyleName}-wrap,
body.v-ie & .v-pressed.#{$primaryStyleName}-link .#{$primaryStyleName}-wrap,
div.#{$primaryStyleName}-borderless .#{$primaryStyleName}-wrap,
div.#{$primaryStyleName}-borderless:focus .#{$primaryStyleName}-wrap,
.#{$primaryStyleName}-borderless:active .#{$primaryStyleName}-wrap,
div.v-disabled.#{$primaryStyleName}-borderless .#{$primaryStyleName}-wrap,
div.v-disabled.#{$primaryStyleName}-borderless:focus .#{$primaryStyleName}-wrap,
body.v-ie & .v-pressed.#{$primaryStyleName}-borderless .#{$primaryStyleName}-wrap {
	background: transparent;
	font-weight: normal;
	text-shadow: none;
	border: none;
	padding: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	}

.#{$primaryStyleName}-link:focus .#{$primaryStyleName}-caption,
.#{$primaryStyleName}-borderless:focus .#{$primaryStyleName}-caption {
	border: 1px dotted gray;
	margin: -1px;
	}

.#{$primaryStyleName}-link:active .#{$primaryStyleName}-caption,
.#{$primaryStyleName}-borderless:active .#{$primaryStyleName}-caption {
	border: none;
	margin: 0;
	}

.#{$primaryStyleName}-borderless:active .v-icon {
	opacity: .6;
	}

.#{$primaryStyleName}-link .v-icon,
.#{$primaryStyleName}-borderless .v-icon {
	margin-left: 0;
	}


/*******************************************************************************
 * Icon-on-top
 ******************************************************************************/
.#{$primaryStyleName}-icon-on-top.#{$primaryStyleName}-borderless:focus .#{$primaryStyleName}-caption {
	margin-top: 1px;
	}

.#{$primaryStyleName}-icon-on-top .#{$primaryStyleName}-caption,
.#{$primaryStyleName}-icon-on-top:focus .#{$primaryStyleName}-caption,
.#{$primaryStyleName}-icon-on-top.#{$primaryStyleName}-borderless:active .#{$primaryStyleName}-caption {
	display: block;
	margin-top: 2px;
	}

.#{$primaryStyleName}-icon-on-top .v-icon {
	margin: 0;
	}


/*******************************************************************************
 * Icon-on-right
 ******************************************************************************/
.#{$primaryStyleName}-icon-on-right .v-icon {
	float: right;
	margin-left: 3px;
	margin-right: -0.5em;
	}
	

/*******************************************************************************
 * Icon-only
 ******************************************************************************/
.#{$primaryStyleName}-icon-only .#{$primaryStyleName}-caption {
	display: none;
	}

.#{$primaryStyleName}-icon-only .v-icon {
	margin-right: -.5em;
	}

}