.i-textfield{
	font-size: 1.1em;
	color: #444;
	background: #fff url(../img/bg.png) repeat-x;
	padding: 2px;
	border: 1px solid #b6b6b6;
	border-top-color: #9d9d9d;
	border-bottom-color: #d6d6d6;
	border-right-color: #d6d6d6;
	margin: 0;
}

.i-textfield-focus {
	color: #111;
	border-color: #4376c3;
	border-bottom-color: #6696dd;
	border-right-color: #6696dd;
}

.i-textfield-error {
	background: #ff9999;
}