@mixin base-splitpanel($primaryStyleName : v-splitpanel) {

.#{$primaryStyleName}-horizontal,
.#{$primaryStyleName}-vertical {
	overflow: hidden;
}
.#{$primaryStyleName}-hsplitter {
	width: 6px;
}
.#{$primaryStyleName}-hsplitter div {
	width: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	background: #ddd;
	cursor: e-resize;
	cursor: col-resize;
	-ms-touch-action: none;
	touch-action: none
}
.v-disabled .#{$primaryStyleName}-hsplitter div {
	cursor: default;
}
.#{$primaryStyleName}-vsplitter {
	height: 6px;
}
.#{$primaryStyleName}-vsplitter div {
	height: 6px;
	background: #ddd;
	cursor: s-resize;
	cursor: row-resize;
	-ms-touch-action: none;
	touch-action: none;
}
.v-disabled .#{$primaryStyleName}-vsplitter div {
	cursor: default;
}
}