@mixin base-splitpanel($name : v-splitpanel) {

.#{$name}-horizontal,
.#{$name}-vertical {
	overflow: hidden;
}
.#{$name}-hsplitter {
	width: 6px;
}
.#{$name}-hsplitter div {
	width: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	background: #ddd;
	cursor: e-resize;
	cursor: col-resize;
}
.v-disabled .#{$name}-hsplitter div {
	cursor: default;
}
.#{$name}-vsplitter {
	height: 6px;
}
.#{$name}-vsplitter div {
	height: 6px;
	background: #ddd;
	cursor: s-resize;
	cursor: row-resize;
}
.v-disabled .#{$name}-vsplitter div {
	cursor: default;
}
}