.v-splitpanel-horizontal,
.v-splitpanel-vertical {
	overflow: hidden;
}
.v-splitpanel-hsplitter {
	width: 6px;
}
.v-splitpanel-hsplitter div {
	width: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	background: #ddd;
	cursor: e-resize;
	cursor: col-resize;
}
.v-disabled .v-splitpanel-hsplitter div {
	cursor: default;
}
.v-splitpanel-vsplitter {
	height: 6px;
}
.v-splitpanel-vsplitter div {
	height: 6px;
	background: #ddd;
	cursor: s-resize;
	cursor: row-resize;
}
.v-disabled .v-splitpanel-vsplitter div {
	cursor: default;
}
