@mixin base-splitpanel($name : v-splitpanel) {

.#{$name}-horizontal,
.#{$name}-vertical {
	overflow: hidden;
}
.#{$name}-hsplitter {
	width: 6px;
}
.#{$name}-hsplitter div {
	width: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	background: #ddd;
	cursor: e-resize;
	cursor: col-resize;
}
.v-disabled .#{$name}-hsplitter div {
	cursor: default;
}
.#{$name}-vsplitter {
	height: 6px;
}
.#{$name}-vsplitter div {
	height: 6px;
	background: #ddd;
	cursor: s-resize;
	cursor: row-resize;
}
.v-disabled .#{$name}-vsplitter div {
	cursor: default;
}

/*
 * In IE8 we need to do magic things to avoid scrollbars since it does not completely
 * support the HTML5 doctype. Changing the contained element to a block element will not add
 * magical bottom paddings to the contained element and cause scrollbars.
 */
.v-ie8 .v-splitpanel-first-container > .v-widget,
.v-ie8 .v-splitpanel-second-container > .v-widget{
    display:block;
}

}