/* Reservr styles */
html, body {
	background-color: #E9ECED;
}
#header {
	font-family:"Trebuchet MS",geneva,helvetica,arial,tahoma,verdana,sans-serif;
	padding: 10px;
}
#logo {
	line-height: 33px;
	color:#F14C1A;
	font-size:22px;
	letter-spacing:-0.03em;
}
#slogan {
	color: #464F52;
	font-style: italic;
	font-size: 12px;
}

/* Default widgetset overrides */
.i-label, 
.i-caption {
	min-height: 1em;
}
.i-datefield-entrycalendar-hours {
	height: 250px;
	overflow: auto;
}
.i-panel {
	margin-bottom: 5px;
}
.i-caption {
	color: #F14C1A;
	font-size: 16px;
}
.i-label.arrow {
	line-height: 160px;
	font-family: Times New Roman;
	color: #F14C1A;
	font-size: 65px;
}
textarea.i-textfield {
	font-size: 13px;
	width: 320px;
	height: 110px;
}
button.link {
	text-decoration: none;
}
button.important-link {
	border: 0px;
	text-align: left;
	text-decoration: none;
	background: none;
	font-weight: bold;
}
button.selected-link {
	border: 0px;
	text-align: left;
	text-decoration: none;
	background: #183C6B;
	font-weight: bold;
	color: white;
}
.i-orderedlayout {
	margin:5px 5px;
}
.i-orderedlayout TD {
	vertical-align: top;
}