.v-panel,
.v-panel-caption,
.v-panel-content,
.v-panel-deco,
.v-panel-light,
.v-panel-caption-light,
.v-panel-content-light,
.v-panel-deco-light {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: left /* Force default alignment */
}
.v-panel-caption .v-errorindicator {
	float: none;
	display: inline;
}
.v-panel-caption .v-icon {
	display: inline;
	vertical-align: middle;
}
.v-panel-caption span {
	vertical-align: middle;
}
.v-panel-caption {
	white-space: nowrap;
	overflow:hidden;
	font-weight: bold;
}
.v-panel-nocaption {
	overflow: hidden;
}
.v-panel-content {
	overflow: auto;
}
.v-panel-deco {
}