.v-tree-node-caption {
	margin-left: 16px;
	}

.v-tree-node span {
	padding: .1em .3em;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	}

.v-tree-node-children {
	padding-left: 16px;
	}

.v-tree-node-selected span {
	background-color: #333;
	}

.v-tree-connectors .v-tree-node-caption {
	padding-bottom: 1px;
	}