.v-accordion {
	border: 1px solid #bebebe;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	overflow: hidden;
}
.v-accordion-item {
	background-color: #fff;
}
.v-accordion-item-caption {
	height: 19px;
	background: #e4e4e4 repeat-x;
	background-image: url(../tabsheet/img/tabbar-bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	font-size: 11px;
	line-height: normal;
	border-top: 1px solid #bebebe;
	text-shadow: #fff 0 1px 0;
}
.v-accordion-item-first .v-accordion-item-caption {
	border-top: none;
}
.v-accordion-item-caption .v-caption {
	padding: 3px 0 5px 10px;
}
.v-ie .v-accordion-item-caption .v-caption {
	padding: 2px 0 6px 10px;
}
.v-accordion-item-open .v-accordion-item-caption {
	background-image: url(../tabsheet/img/tabbar-bg-sel.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	border-bottom: 1px solid #bbb;
}
.v-accordion-item-caption .v-icon {
	margin-top: -1px;
}
.v-ie .v-accordion-item-caption .v-icon {
	vertical-align: top;
}
/* Borderless style */
.v-accordion-borderless {
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}