$base-color : hsl(33, 7%, 89%);
$app-bg-color : lighten($base-color, 6%);
$red:1;
$green:2;
$blue:3;
.main {
	margin: abs(-2px);
	border: ceil(10.4px);
	border: floor(10.4px);
	border: round(10.4px);
	color: lighten(hsl(0, 0%, 0%), 30%);
	color: darken(hsl(25, 100%, 80%), 30%);
	color: darken(rgb(136, 0, 0), 20%);
	color: lighten(rgb(136, 0, 0), 20%);
	color: darken(#880000, 20%);
	color: darken(#800, 20%);
	color: lighten(#880000, 20%);
	color: lighten(#800, 20%);
	color : $base-color;
	color : $app-bg-color;
	color: rgb($red, $green, $blue);
	percents: percentage(-0.2);
	percents: percentage(0.3333);
}
