.top-bar {
	color: red;
	.alt {
		color: blue;
	}
}

.menu {
	background-color: red;
	a {
		color: blue;
	}
}

.caption {
	padding: 10px;
	.text, .header {
		color: green;
	}
}

.footer {
	padding: 10px;
	.left, .right {
		color: purple;
		a {
			color: orange;
		}
	}
}

.main {
  color: red;
  .second.third {
    color: blue;
    .fourth {
      color: black;
    }
  }
}

.root {
	.first-block {
		.nested {
			order: first;
		}
	}
	
	.last-block {
		order: last;
	}
}