a {
  font-weight: bold;
  text-decoration: none;
  .sub {
  	color: blue;
  }
  &:hover { text-decoration: underline; }
  body.firefox & { font-weight: normal; }
}

#main {
  color: black;
  a {
    font-weight: bold;
    &:hover { color: red; }
  }
}

@mixin parent {
	&:hover {
		color: blue;
	}
}

.mixin-parent {
	@include parent;
}

.part {
	&.one, &.two, .non-parent {
		color: blue;
	}
}

.root {
	.part, .part2 {
		&.one, .non-parent {
			color: blue;
		}
	}
}

.root2 {
	.part, .part2 {
		.one, .non-parent {
			color: blue;
		}
	}
}

&.drop-parent-reference {
	color: green;
}