$animals : platypus, rhinoceros, llama, duck, duck;
$remove : duck;

@each $animal in $animals {
	.animals .#{$animal}-icon {
		background-image: url('/images/#{$animal}.png');
	}
}

$exotic : remove($animals, $remove, space);

@each $animal in $exotic{
	.exotic-animals .#{$animal}-icon {
		background-image: url('/images/#{$animal}.png');
	}
}

$things : remove((ball,cube,duck), duck); 

@each $thing in $things{
	.#{$thing}{
		font-size: 12px;
	}
}