$blue: #3bbfce;
$margin: 8px;
$chameleon-font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
$font: 12px;

.content-navigation {
	border-color: $blue;
	$blue: #0000ff;
	color: $blue;
	color1: darken($blue, 9%);
	font-family: $chameleon-font-family;
	$font-size: $font;
	font-size: $font-size;
}

.border {
	padding: $margin;
	margin: $margin;
	border-color: $blue;
}