@mixin runo-popupview($primaryStyleName : v-popupview) {

.#{$primaryStyleName} {
	background: transparent;
}
.#{$primaryStyleName}-popup {
	border: 1px solid #babfc0;
	border-bottom: 1px solid #dee2e3;
	background: #fff;
	padding: 3px;
}

}