.v-textfield,
.v-textarea {
	background: #fff url(img/bg.png) repeat-x;
	border: 1px solid #b6b6b6;
	border-top-color: #9d9d9d;
	border-bottom-color: #d6d6d6;
	border-right-color: #d6d6d6;
	margin: 0;
	line-height: 14px;
}
input.v-textfield,
input[type=text].v-textfield,
textarea.v-textarea {
	font-size: 12px;
	height: 16px;
	padding: 4px 2px 0;
}
textarea.v-textarea {
	height: auto;
	padding-bottom: 2px;
}
.v-textfield-focus,
.v-textarea-focus {
	border-color: #5daee8;
}
input.v-textfield-prompt,
textarea.v-textarea-prompt {
	color: #999;
	font-style: normal;
}
.v-richtextarea {
	border: 1px solid #b6b6b6;
}
.v-richtextarea .gwt-RichTextArea {
	background: #fff url(img/bg.png) repeat-x;
}

/* Small style */
input.v-textfield-small,
input[type=text].v-textfield-small,
textarea.v-textarea-small {
	font-size: 11px;
	height: 14px;
	line-height: 12px;
	padding: 1px 2px;
}