.v-generated-body {
	background: #e9eced;
}
.v-app {
	background: #e9eced url(img/main-bg.png) repeat-x;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 13px;
	line-height: 18px;
}
/* Global font styles */
.v-app,
.v-window,
.v-popupview-popup,
.v-tooltip,
.v-app input,
.v-app select,
.v-app button,
.v-app textarea,
.v-window input,
.v-window select,
.v-window button,
.v-window textarea,
.v-popupview-popup input,
.v-popupview-popup select,
.v-popupview-popup button,
.v-popupview-popup textarea,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-drag-element {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 13px;
}
.v-app select,
.v-window select {
	padding: 0;
}
/* Custom tooltip */
.v-tooltip {
	background-color: #fffcdd;
	border: 1px solid #b8b295;
	border-top-color: #d5d2c1;
	border-left-color: #d5d2c1;
	font-size: 11px;
	font-family: arial, helvetica, tahoma, verdana, sans-serif;
	color: #5d5444;
}
.v-tooltip-text {
	padding: 2px 4px;
	border: none;
	border-top: 1px solid #fffef5;
	border-bottom: 1px solid #fbf8d9;
}
.v-tooltip .v-errormessage {
	padding: 3px 4px 3px 4px;
	background: #ffecc6;
	color: #b74100;
	border: none;
	border-top: 1px solid #fff3dc;
	border-bottom: 1px solid #ead7b1;
}
.v-tooltip .v-errormessage h2 {
	font-size: 16px;
	font-weight: normal;
	color: #ab3101;
	margin: 2px 0 8px 0;
}
.v-tooltip .v-errormessage h3 {
	font-size: 13px;
	font-weight: bold;
	margin: 1px 0 4px 0;
}
.v-contextmenu {
	background: #e9eced url(../tabsheet/img/tab-bg.png);
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #f6f7f7;
	color: #464f52;
	font-size: 12px;
	line-height: 14px;
}
.v-contextmenu .gwt-MenuBar {
	border-right: 1px solid #c6cbcc;
	border-bottom: 1px solid #c6cbcc;
	border-top: 1px solid #d0d4d5;
	border-left: 1px solid #d0d4d5;
}
.v-contextmenu .gwt-MenuItem {
	padding: 2px 0;
}
.v-contextmenu .gwt-MenuItem div {
	padding: 1px 20px 1px 8px;
}
.v-contextmenu .gwt-MenuItem-selected div {
	color: #fff;
	background: #5daee8;
}
.v-contextmenu .gwt-MenuItem img {
	margin-right: 10px;
}
/* Fix icon height to help browsers to load page smoother */
.v-embedded-icon-16 img {
	width:16px;
	height:16px;
}