.v-textfield {
	text-align: left /* Force default alignment */
}
.v-textarea {
}
.v-textfield-focus,
.v-textarea-focus {
}
input.v-textfield-prompt,
textarea.v-textarea-prompt {
	color: #999;
	font-style: italic;
}
.v-textfield.v-readonly,
.v-textarea.v-readonly {
	background: transparent;
	color: #222;
	border: none;
}
.v-richtextarea {
	border: 1px solid #aaa;
	overflow: hidden;
}
.v-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton,
.v-richtextarea .gwt-RichTextToolbar .gwt-PushButton {
	float: left;
}
.v-richtextarea .gwt-RichTextToolbar {
	white-space: nowrap;
}
.v-richtextarea iframe {
	border: 0;
}
/* Disabled by default
.v-textarea-error,
.v-textfield-error,
.v-richtextarea-error iframe.gwt-RichTextArea {
	background: #FFE0E0;	
}
*/
/* Disabled by default
.v-textarea-required,
.v-textfield-required,
.v-richtextarea-required iframe.gwt-RichTextArea {
	background: #FFE0E0;	
}
*/
/* Safari focus glow fix */
.v-sa input:focus, 
.v-sa textarea:focus {
	outline-width: medium;
}