@mixin runo-orderedlayout($primaryStyleName : v-orderedlayout) {

.#{$primaryStyleName}-margin-top,
.v-horizontallayout-margin-top,
.v-verticallayout-margin-top,
.v-csslayout-margin-top,
.v-layout.v-margin-top {
	padding-top: 15px;
}
.#{$primaryStyleName}-margin-right,
.v-horizontallayout-margin-right,
.v-verticallayout-margin-right,
.v-csslayout-margin-right,
.v-layout.v-margin-right {
	padding-right: 18px;
}
.#{$primaryStyleName}-margin-bottom,
.v-horizontallayout-margin-bottom,
.v-verticallayout-margin-bottom,
.v-csslayout-margin-bottom,
.v-layout.v-margin-bottom {
	padding-bottom: 15px;
}
.#{$primaryStyleName}-margin-left,
.v-horizontallayout-margin-left,
.v-verticallayout-margin-left,
.v-csslayout-margin-left,
.v-layout.v-margin-left {
	padding-left: 18px;
}
.#{$primaryStyleName}-spacing-on,
.v-horizontallayout-spacing-on,
.v-verticallayout-spacing-on {
	padding-top: 8px;
	padding-left: 8px;
}
.v-spacing {
	width: 8px;
	height: 8px;
}
.v-verticallayout-darker,
.v-horizontallayout-darker,
.v-gridlayout-darker,
.v-formlayout-darker,
.v-absolutelayout-darker,
.v-csslayout-darker {
	background-color: #f3f4f5;
}

/* Selectable style */
.v-csslayout-selectable *,
.v-csslayout-selectable-selected * {
	cursor: pointer;
}
.v-csslayout-selectable,
.v-csslayout-selectable-selected {
	padding: 10px;
	cursor: pointer;
}
.v-csslayout-selectable-selected {
	padding: 8px;
	border: 2px solid #57a7ed;
	background: #d8eaf9;
	background: rgba(179,211,237,.5);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

/* Shadow style */
div.v-csslayout-box-shadow {
	background: transparent url(../shadow/img/bottom-right.png) no-repeat right bottom;
	overflow: hidden;
}
.v-csslayout-box-shadow > .v-csslayout-margin {
	padding: 0 8px 0 0;
	background: transparent url(../shadow/img/right.png) repeat-y right;
	margin: 0;
	position: relative;
	bottom: 8px;
}
.v-csslayout-box-shadow > .v-csslayout-margin > .v-csslayout-container {
	padding: 0 0 8px 0;
	margin-left: 6px;
	background: transparent url(../shadow/img/bottom.png) repeat-x bottom;
	position: relative;
	top: 8px;
}
.v-csslayout-box-shadow > .v-csslayout-margin > .v-csslayout-container > * {
	margin-left: -6px;
}
/* Fancier shadows for capable browsers */
.v-webkit & .v-csslayout-box-shadow,
.v-webkit & .v-csslayout-box-shadow > .v-csslayout-margin,
.v-webkit & .v-csslayout-box-shadow > .v-csslayout-margin > .v-csslayout-container,
.v-gecko & .v-csslayout-box-shadow,
.v-gecko & .v-csslayout-box-shadow > .v-csslayout-margin,
.v-gecko & .v-csslayout-box-shadow > .v-csslayout-margin > .v-csslayout-container,
.v-gecko & .v-csslayout-box-shadow > .v-csslayout-margin > .v-csslayout-container > * {
	background: transparent;
	padding: 0;
	margin: 0;
	height: auto;
	position: static;
}
.v-webkit & .v-csslayout-box-shadow > .v-csslayout-margin > .v-csslayout-container > *,
.v-gecko & .v-csslayout-box-shadow > .v-csslayout-margin > .v-csslayout-container > * {
	margin-left: 0;
}
.v-webkit & .v-csslayout-box-shadow,
.v-gecko & .v-csslayout-box-shadow {
	padding: 4px 8px 10px;
}
.v-webkit & .v-csslayout-box-shadow > .v-csslayout-margin,
.v-gecko & .v-csslayout-box-shadow > .v-csslayout-margin {
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,.4);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,.4);
}

}