<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>TreeItemClickAndValueChange</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TreeItemClickAndValueChange</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/Trees?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTrees::PID_Smenu#item0</td>
	<td>19,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTrees::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>23,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTrees::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>38,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTrees::PID_Smenu#item0</td>
	<td>52,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTrees::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>53,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTrees::Root/VOverlay[1]/VMenuBar[0]#item4</td>
	<td>50,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTrees::PID_StestComponent#n[0]</td>
	<td>22,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTrees::PID_StestComponent#n[1]</td>
	<td>20,6</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTrees::PID_SLog_row_0</td>
	<td>5. ValueChangeEvent, new value: '[Item 2]'</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTrees::PID_SLog_row_1</td>
	<td>4. left click on source: com.vaadin.ui.Tree@*, client: [*];, relative: [-1,-1], itemId: Item 2, propertyId: null</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTrees::PID_SLog_row_2</td>
	<td>3. ValueChangeEvent, new value: '[Item 1]'</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTrees::PID_SLog_row_3</td>
	<td>2. left click on source: com.vaadin.ui.Tree@*, client: [*];, relative: [-1,-1], itemId: Item 1, propertyId: null</td>
</tr>
</tbody></table>
</body>
</html>
