<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://arturwin.office.itmill.com:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.tree.TreeHorizontalResize?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[0]/n[0]</td>
	<td>57,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[0]/n[0]</td>
	<td>71,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>all-expanded-gx240-focused</td>
</tr>
<!--Collapse all tree nodes-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[0]/expand</td>
	<td>11,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[1]/expand</td>
	<td>11,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[2]/expand</td>
	<td>10,11</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>all-collapsed-nothing-focused</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[0]/expand</td>
	<td>9,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[0]/n[0]</td>
	<td>57,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[0]/n[0]</td>
	<td>64,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>desktops-expanded-gx240-focused</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[1]/expand</td>
	<td>6,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[2]/expand</td>
	<td>8,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[0]/n[0]</td>
	<td>45,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTreeHorizontalResize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTree[0]#n[0]/n[0]</td>
	<td>57,7</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>all-expanded-gx240-focused-2</td>
</tr>

</tbody></table>
</body>
</html>
