.v-popupview {
	cursor: pointer;
	text-decoration: underline;
	white-space: nowrap;
}
.v-popupview-popup {
	overflow: auto;
}
.v-popupview-loading {
	width: 30px;
	height: 30px;
	background: transparent url(../common/img/ajax-loader-medium.gif) no-repeat 50%;
}