@mixin base-popupview($primaryStyleName : v-popupview) {

.#{$primaryStyleName} {
	cursor: pointer;
	text-decoration: underline;
	white-space: nowrap;
}
.#{$primaryStyleName}-popup {
	overflow: auto;
}
.#{$primaryStyleName}-loading {
	width: 30px;
	height: 30px;
	background: transparent url(../common/img/ajax-loader-medium.gif) no-repeat 50%;
}

}