.v-datefield {
	white-space: nowrap;
	float: left; /* Force minimum width */
}
.v-datefield-textfield {
	vertical-align: top;
}
.v-datefield-button {
	cursor: pointer;
}
.v-datefield-prompt .v-datefield-textfield {
	color: #999;
	font-style: italic;
}
.v-datefield .v-datefield-button-readonly {
	display: none;
}
.v-datefield-calendarpanel table {
	width: 100%;
}
.v-datefield-calendarpanel td {
	padding: 0;
	margin: 0;
}
.v-datefield-calendarpanel:focus {
	outline:none;	
}
.v-datefield-calendarpanel-header td {
	text-align: center;
}
.v-datefield-calendarpanel-month {
	text-align: center;
	white-space: nowrap;
}
.v-datefield-calendarpanel-weeknumber {
	color: #999;
	border-right: 1px solid #ddd;
	font-size: 0.9em;
}
.v-datefield-calendarpanel-day,
.v-datefield-calendarpanel-day-today {
	cursor: pointer;
}
.v-datefield-calendarpanel-day-today {
	border: 1px solid #ddd;
}
.v-disabled .v-datefield-calendarpanel-day,
.v-disabled .v-datefield-calendarpanel-day-today {
	cursor: default;
}
.v-datefield-calendarpanel-day-disabled {
	cursor: default;
	opacity: .5;
}
.v-datefield-calendarpanel-day-selected {
	cursor: default;
	background: #333;
	color: #fff;
}
.v-datefield-calendarpanel-day-focused {
	outline: 1px dotted black;
}

.v-ie6 .v-datefield-calendarpanel-day,
.v-ie7 .v-datefield-calendarpanel-day {
	margin: 1px;
}
.v-ie6 .v-datefield-calendarpanel-day-focused,
.v-ie7 .v-datefield-calendarpanel-day-focused {
	border: 1px dotted black;
	margin: 0px;
}

.v-datefield-time {
	white-space: nowrap;
}
.v-datefield-time .v-label {
	display: inline;
}
.v-datefield-popup {
	background: #fff;
}
/* Disabled by default
.v-datefield-error .v-textfield,
.v-datefield-error .v-datefield-calendarpanel {
	background: #ffe0e0;
}
*/

/* Disabled by default
.v-datefield-required .v-textfield,
.v-datefield-required .v-datefield-calendarpanel {
	background:transparent;
	background-color: #ffe0e0;
}
*/
/* IE somehow loses generic v-disabled alpha. See #1960 */
.v-ie6 .v-disabled .v-datefield-button,
.v-ie6 .v-disabled .v-datefield-textfield,
.v-ie7 .v-disabled .v-datefield-button,
.v-ie7 .v-disabled .v-datefield-textfield {
	filter: alpha(opacity=30);
}