@mixin liferay-popupview {

.v-popupview-popup {
	background: #d4d4d4 url(/html/themes/classic/images/application/state_default_bg.png) repeat-x 0 0;
	padding: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #c8c9ca;
	border-color :#c8c9ca #9e9e9e #9e9e9e #c8c9ca; 
}

}