@import "grid";

/** Expander button visual - expanded */
$v-treegrid-expander-char-expanded: '\f0d7' !default;

/** Expander button visual - collapsed */
$v-treegrid-expander-char-collapsed: '\f0da' !default;

@mixin valo-treegrid ($primary-stylename: v-treegrid) {

  @include valo-grid($primary-stylename);

  // Expander with and item indentation constants
  $indent:2ex !default;

  // Classname for depth styling
  $class-depth: depth !default;

  .#{$primary-stylename}-expander {
    display: inline-block;
    width: 1ex;
    padding-right: 1ex;

    &::before {
      display: inline-block;
      padding-right: 0.25em;
      font-family: FontAwesome;
    }

    // Expander for expanded item
    &.expanded {
      &::before {
        content: $v-treegrid-expander-char-expanded;
      }
    }

    // Expander for collapsed item
    &.collapsed {
      &::before {
        content: $v-treegrid-expander-char-collapsed;
      }
    }

    &.collapse-disabled {
      @include opacity($v-disabled-opacity);
      cursor: default;
    }
  }

  // Hierarchy depth styling
  .#{$primary-stylename}-node {
    @for $i from 0 through 15 {
      &.#{$class-depth}-#{$i} {
        padding-left: $indent * $i;
      }
    }
  }

  // Expander and cell content in same line
  .#{$primary-stylename}-cell-content {
    display: inline-block;
  }

  .#{$primary-stylename}-row-focused {

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: $v-grid-cell-focused-border;
      display: none;
      pointer-events: none;
    }
  }

  // Needed for hiding the included style
  .#{$primary-stylename}-cell-focused {
    position: static;

    &:before {
      display: none;
    }
  }

  .#{$primary-stylename}:focus .#{$primary-stylename}-row-focused:before {
    display: block;
  }

  .#{$primary-stylename}.v-disabled:focus .#{$primary-stylename}-row-focused:before {
    // Disabled TreeGrid should not show row focus outline
    display: none;
  }

  .#{$primary-stylename}:focus .#{$primary-stylename}-cell-focused:before {
    display: none;
  }
}

