<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>ExtraWindowShownWaiAria</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">ExtraWindowShownWaiAria</td></tr>
</thead><tbody>
<tr>
    <td>open</td>
    <td>/run/com.vaadin.tests.components.window.ExtraWindowShownWaiAria?restartApplication</td>
    <td></td>
</tr>
<tr>
    <td>click</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VButton[0]/domChild[0]/domChild[0]</td>
    <td></td>
</tr>
<tr>
    <td>assertElementPresent</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/</td>
    <td></td>
</tr>
<tr>
    <td>assertAttribute</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/@role</td>
    <td>dialog</td>
</tr>
<tr>
    <td>storeAttribute</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/domChild[0]/domChild[0]/domChild[1]/domChild[0]@id</td>
    <td>headerid</td>
</tr>
<tr>
    <td>assertAttribute</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/@aria-labelledby</td>
    <td>${headerid}</td>
</tr>
<tr>
    <td>storeAttribute</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/FocusableScrollPanel[0]/VCssLayout[0]/VLabel[0]@id</td>
    <td>descriptionid</td>
</tr>
<tr>
    <td>assertAttribute</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/@aria-describedby</td>
    <td>${descriptionid}</td>
</tr>
<tr>
    <td>assertAttribute</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/domChild[0]/domChild[0]/domChild[2]@role</td>
    <td>button</td>
</tr>
<tr>
    <td>assertAttribute</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/domChild[0]/domChild[0]/domChild[3]@role</td>
    <td>button</td>
</tr>
<tr>
    <td>click</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/FocusableScrollPanel[0]/VCssLayout[0]/VButton[0]/domChild[0]/domChild[0]</td>
    <td></td>
</tr>
<tr>
    <td>assertElementNotPresent</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/</td>
    <td></td>
</tr>
<tr>
    <td>click</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[3]/VCheckBox[0]/domChild[0]</td>
    <td></td>
</tr>
<tr>
    <td>click</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VButton[0]/domChild[0]/domChild[0]</td>
    <td></td>
</tr>
<tr>
    <td>storeAttribute</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/FocusableScrollPanel[0]/VCssLayout[0]/VLabel[0]@id</td>
    <td>descriptionid</td>
</tr>
<tr>
    <td>storeAttribute</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/FocusableScrollPanel[0]/VCssLayout[0]/VLabel[1]@id</td>
    <td>description2id</td>
</tr>
<tr>
    <td>assertAttribute</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/@aria-describedby</td>
    <td>${descriptionid} ${description2id}</td>
</tr>
<tr>
    <td>click</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/FocusableScrollPanel[0]/VCssLayout[0]/VButton[0]/domChild[0]/domChild[0]</td>
    <td></td>
</tr>
<tr>
    <td>assertElementNotPresent</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VWindow[0]/</td>
    <td></td>
</tr>
<tr>
    <td>type</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[6]/VTextField[0]</td>
    <td>Important</td>
</tr>
<tr>
    <td>type</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[7]/VTextField[0]</td>
    <td> - do ASAP</td>
</tr>
<tr>
    <td>click</td>
    <td>vaadin=runcomvaadintestscomponentswindowExtraWindowShownWaiAria::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VButton[0]/domChild[0]/domChild[0]</td>
    <td></td>
</tr>
<tr>
    <td>assertText</td>
    <td>xpath=//div[@class='v-window-header']/span[@class='v-assistive-device-only'][1]</td>
    <td>Important</td>
</tr>
<tr>
    <td>assertText</td>
    <td>xpath=//div[@class='v-window-header']/span[@class='v-assistive-device-only'][2]</td>
    <td>- do ASAP</td>
</tr>
</tbody></table>
</body>
</html>
