<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>PopupViewShouldCloseOnTabOut</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">PopupViewShouldCloseOnTabOut</td></tr>
</thead><tbody>
<tr>
    <td>open</td>
    <td>/run/com.vaadin.tests.components.popupview.PopupViewShouldCloseOnTabOut?restartApplication</td>
    <td></td>
</tr>
<tr>
    <td>waitForVaadin</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentspopupviewPopupViewShouldCloseOnTabOut::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPopupView[0]/domChild[0]</td>
    <td>16,8</td>
</tr>
<tr>
    <td>waitForVaadin</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>//div[1]/div/input</td>
    <td></td>
</tr>
<tr>
    <td>waitForVaadin</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>pressSpecialKey</td>
    <td>vaadin=runcomvaadintestscomponentspopupviewPopupViewShouldCloseOnTabOut::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPopupView[0]/domChild[0]</td>
    <td>shift tab</td>
</tr>
<tr>
    <td>waitForVaadin</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>pause</td>
    <td>100</td>
    <td></td>
</tr>
<tr>
    <td>screenCapture</td>
    <td></td>
    <td>PopupViewShouldBeClosed</td>
</tr>
</tbody></table>
</body>
</html>
