@mixin base-progressindicator($primaryStyleName : v-progressindicator) {

.#{$primaryStyleName} {
	width: 150px;
}
.#{$primaryStyleName}-wrapper {
	height: 7px;
	border: 1px solid #ddd;
}
.#{$primaryStyleName}-indicator {
	height: 7px;
	background: #ddd;
}
div.#{$primaryStyleName}-indeterminate {
	height: 20px;
	width: 20px;
	background: #fff url(../common/img/ajax-loader-medium.gif) no-repeat 50%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
/* Hide obsolete elements in indeterminate mode */
.#{$primaryStyleName}-indeterminate .#{$primaryStyleName}-wrapper,
.#{$primaryStyleName}-indeterminate .#{$primaryStyleName}-indicator,
.#{$primaryStyleName}-indeterminate-disabled .#{$primaryStyleName}-wrapper,
.#{$primaryStyleName}-indeterminate-disabled .#{$primaryStyleName}-indicator {
	display: none;
}
div.#{$primaryStyleName}-indeterminate-disabled {
	height: 20px;
	width: 20px;
	background: transparent;
}

}