@mixin runo-datefield($primaryStyleName : v-datefield) {

$popupdatefield-button-width: 22px;
$negative-popupdatefield-button-width: -22px;

.#{$primaryStyleName} input.v-textfield,
.#{$primaryStyleName} input.v-textfield[type=text] {
	height: 22px; // 18px height + 2*2px padding
	
}
.#{$primaryStyleName}-button {
	font-size:13px;
	width: $popupdatefield-button-width;
	margin-right: $negative-popupdatefield-button-width;
	height: 24px;
	padding: 0;
	overflow: hidden;
	border: none;
	background: transparent url(img/open-button.png) no-repeat right 0;
}
.#{$primaryStyleName}-popupcalendar {
	min-width: 0;
	padding-right: $popupdatefield-button-width;
}

.#{$primaryStyleName}-popup {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 12px;
	background: #f6f7f7;
	border: 1px solid #b6bbbc;
	padding: 2px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.#{$primaryStyleName}-calendarpanel {
	width: 230px;
}
.#{$primaryStyleName}-popup .#{$primaryStyleName}-calendarpanel {
	width: 200px;
}
.#{$primaryStyleName}-year .#{$primaryStyleName}-calendarpanel {
	width: 100px;
}
.#{$primaryStyleName}-calendarpanel td {
	text-align: right;
}
.#{$primaryStyleName}-calendarpanel td span {
	display: block;
}
.#{$primaryStyleName}-calendarpanel-header {
	height: 30px;
	font-size: 13px;
}
td.#{$primaryStyleName}-calendarpanel-month {
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	width: 150px;
}
.#{$primaryStyleName}-calendarpanel-prevyear,
.#{$primaryStyleName}-calendarpanel-nextyear,
.#{$primaryStyleName}-calendarpanel-prevmonth,
.#{$primaryStyleName}-calendarpanel-nextmonth {
	width: 16px;
}
/* Year buttons */
.#{$primaryStyleName}-calendarpanel .v-button-prevyear,
.#{$primaryStyleName}-calendarpanel .v-button-nextyear {
	display: block;
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	background: transparent url(img/prevyear.png) no-repeat;
	text-indent: -90000px;
	margin: 0 auto;
}
.#{$primaryStyleName}-calendarpanel .v-button-nextyear {
	background: transparent url(img/nextyear.png) no-repeat;
}
.#{$primaryStyleName}-calendarpanel .v-button-prevyear:hover,
.#{$primaryStyleName}-calendarpanel .v-button-nextyear:hover {
	background-position: left bottom;
}
/* Month buttons */
.#{$primaryStyleName}-calendarpanel .v-button-prevmonth,
.#{$primaryStyleName}-calendarpanel .v-button-nextmonth {
	display: block;
	width: 11px;
	height: 16px;
	border: none;
	padding: 0;
	background: transparent url(img/prevmonth.png) no-repeat;
	text-indent: -90000px;
	margin: 0 auto;
}
.#{$primaryStyleName}-calendarpanel .v-button-nextmonth {
	background: transparent url(img/nextmonth.png) no-repeat;
}
.#{$primaryStyleName}-calendarpanel .v-button-prevmonth:hover,
.#{$primaryStyleName}-calendarpanel .v-button-nextmonth:hover {
	background-position: left bottom;
}
.#{$primaryStyleName}-calendarpanel strong {
	color: #ee5311;
	display: block;
	width: 20px;
	font-size: 12px;
}
.#{$primaryStyleName}-calendarpanel-day,
.#{$primaryStyleName}-calendarpanel-weeknumber,
.#{$primaryStyleName}-calendarpanel-day-today {
	padding: 1px 3px;
	width: 14px;
	height: 16px;
}
.#{$primaryStyleName}-calendarpanel-weeknumber {
	font-size: 11.7px;
}
.#{$primaryStyleName}-calendarpanel-day-today {
	border: 1px solid #429ce9;
	width: 12px;
	height: 14px;
}
.#{$primaryStyleName}-calendarpanel-day-entry {
	color: #6a98b5;
}
.#{$primaryStyleName}-calendarpanel-day-disabled {
	font-weight: normal;
	color: #dddddd;
}
.#{$primaryStyleName}-calendarpanel-day-entry.#{$primaryStyleName}-calendarpanel-day-disabled {
	color: #afd6f8;
}
.#{$primaryStyleName}-calendarpanel-day-selected {
	font-weight: bold;
	width: 14px;
	height: 16px;
	color: #fff;
	padding: 1px 3px;
	background: transparent url(img/selected-bg.png) no-repeat 50% 50%;
	border: none;
}
.#{$primaryStyleName}-time {
	font-size: 11px;
}
.#{$primaryStyleName}-time .v-select {
	font-size: 10px;
	padding: 0;
	margin: 0;
}
.#{$primaryStyleName}-rendererror .v-textfield {
	background: #ff9999;
}
.#{$primaryStyleName}-prompt .#{$primaryStyleName}-textfield {
	color: #999;
	font-style: normal;
}

}