# Eclipse
.classpath
.project
.settings

# /
/.cvsignore
/.tomcatplugin
/work
/.gwt-cache
/.externalToolBuilders
/extras

uitest/src/main/themes/VAADIN/themes/**/styles.css
test/servlet-containers/karaf/vaadin-karaf-bundle1/src/main/resources/VAADIN/themes/karaftesttheme/styles.css

# Persisted scss cache files
uitest/src/main/themes/VAADIN/themes/**/styles.scss.cache

# /build/
/build/result
/build/gwt
/build/checkout
/build/classes
/build/test-output
/build/integration-test-output

# /tests/
/tests/junit*.properties

# /bin/
/bin

# Mac
*.DS_Store

# Python
scripts/*.pyc

# build result folders
*/result
result
target/
all/target/
push/target/
shared/target/
server/target/
client/target/
client-compiler/target/
client-compiled/target/
liferay/target/
themes/target/
uitest/target/

.sass-cache
phantomjsdriver.log

*.iml
.idea

*/.checkstyle

# TB default error screenshot folder
error-screenshots/
.vscode/settings.json
.project
