# Eclipse
.classpath
.project
.settings

# /
/.cvsignore
/.tomcatplugin
/work
/.gwt-cache
/.externalToolBuilders
/extras

uitest/src/main/themes/VAADIN/themes/**/styles.css

# Persisted scss cache files
uitest/src/main/themes/VAADIN/themes/**/styles.scss.cache

# /build/
/build/result
/build/gwt
/build/checkout
/build/classes
/build/test-output
/build/integration-test-output
/build/buildhelpers/com/vaadin/buildhelpers/*.class

# /tests/
/tests/junit*.properties

# /bin/
/bin

# Mac
*.DS_Store

# Python
scripts/*.pyc

# build result folders
*/result
result
target/
all/target/
push/target/
shared/target/
server/target/
client/target/
client-compiler/target/
buildhelpers/target/
client-compiled/target/
liferay/target/
themes/target/
uitest/target/
widgets/target/

.sass-cache
phantomjsdriver.log

*.iml
.idea

*/.checkstyle

# TB default error screenshot folder
error-screenshots/
