@mixin reindeer-progressindicator($primaryStyleName : v-progressindicator) {

.#{$primaryStyleName}-wrapper {
	background: #dfe2e4 url(img/base.gif) repeat-x;
	border: 1px solid #bfbfbf;
}
.v-disabled .#{$primaryStyleName}-wrapper {
	background-image: url(img/disabled.gif);
}
.#{$primaryStyleName}-indicator {
	background: #f7f9f9 url(img/progress.png);
}

// Static style

.#{$primaryStyleName}-static .#{$primaryStyleName}-wrapper {
  background: #dfe2e4 url(img/base-static.gif) repeat-x;
}

}
