.i-select {
	text-align: left /* Force default alignment */
}
.i-select-option {

}

.i-select-optiongroup {

}

.i-select-optiongroup .i-select-option {
	display: block;
	white-space: nowrap;
	/* really mean block for IE */
	zoom: 1;
}

.i-select-select {
	/*
	border: 1px solid #b6b6b6;
	border-bottom-color: #9d9d9d;
	border-top-color: #d6d6d6;
	border-left-color: #d6d6d6;
	*/
	display: block;
	font-size: 13px;
}

/* Twincol style */
.i-select-twincol {
	white-space: nowrap;
}
.i-select-twincol-options {
	float: left;
	font-size: 13px;
}
.i-select-twincol-selections {
	font-size: 13px;
	font-weight: bold;
}

.i-select-twincol-buttons {
	float: left;
	padding: 2px; /* does not work in first render in FF ? */
	text-align: center;
}

.i-select-twincol-buttons .i-select-twincol-deco {
	clear:both;
}

.i-select-twincol .i-textfield {
	display: block;
	float: left;
	clear: left;
}

.i-select-twincol .i-button {
	display: block;
	float: left;
}

.i-select-twincol-buttons .i-button {
	display: inline;
	float: none;
}

/** Filterselect aka ComboBox styles */

.i-filterselect {
	height: 23px;
	white-space: nowrap;
	text-align: left; /* Force default alignment */
	background: transparent url(img/bg-left-filter.png) no-repeat;
	padding-left: 4px;
}
.i-filterselect .i-icon {
	float: left;
}
.i-app .i-filterselect .i-filterselect-input,
.i-window .i-filterselect .i-filterselect-input,
.i-popupview-popup .i-filterselect .i-filterselect-input {
	background: transparent url(img/bg-center-filter.png) no-repeat 1px 0;
	float: left;
	border: none;
	height: 20px;
	margin: 0px;
	padding: 3px 0 0 2px;
	font-size: 13px;
}
.i-filterselect-input:focus {
	/* remove safari/mac outline from this element */
	outline: 0px;
}
.i-filterselect-focus {
	outline: 1px solid #5daee8;
	outline-offset: -1px;
}
.i-sa .i-filterselect-focus {
	/* place safari focus outline around the whole thing */
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -4px;
}

.i-filterselect-button {
	float: right;
	width: 25px;
	height: 23px;
	cursor: pointer;
	background: transparent url(img/bg-right-filter.png);
}
.i-filterselect-button:hover {
	background-position: bottom left;
}
.i-disabled .i-filterselect-button:hover,
.i-readonly .i-filterselect-button:hover {
	background-position: top left;
}

.i-filterselect.i-readonly .i-filterselect-button {
	display: none;
}

.i-filterselect.i-readonly .i-filterselect-input {
	background: transparent;
	color: black;
}

.i-filterselect-suggestpopup {
	background: #f6f7f7;
	border: 1px solid #b6bbbc;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 12px;
	line-height: 18px;
	margin-top: -1px;
}
.i-filterselect-suggestmenu table {
	border-collapse: collapse;
	border: none;
}
.i-filterselect-suggestmenu .gwt-MenuItem {
	padding: 1px 6px;
	cursor: pointer;
	height: 18px;
	white-space: nowrap;
}

.i-filterselect-suggestmenu .gwt-MenuItem .i-icon {
	margin-right: 3px;
	vertical-align: middle;
}

.i-filterselect-suggestmenu .gwt-MenuItem span {
	vertical-align: middle;
}

.i-filterselect-suggestmenu .gwt-MenuItem-selected {
	background: #5daee8;
	color: #fff;
}

.i-filterselect-nextpage,
.i-filterselect-nextpage-off,
.i-filterselect-prevpage-off,
.i-filterselect-prevpage {
	height: 11px;
	width:100%;
	background: transparent url(img/button-bg.png) no-repeat 50% 0;
	text-align: center;
	margin: 2px 0 0 0;
	overflow:hidden;
}
.i-filterselect-prevpage,
.i-filterselect-prevpage-off {
	background-position: 50% -1px;
	margin: 0 0 2px 0;
}
.i-filterselect-prevpage:hover {
	background-position: 50% bottom;
}
.i-filterselect-nextpage:hover {
	background-position: 50% -12px;
}
.i-filterselect-nextpage span,
.i-filterselect-nextpage-off span,
.i-filterselect-prevpage-off span,
.i-filterselect-prevpage span {
	display: block;
	height: 12px;
	width:100%;
	background: transparent url(img/arrow-up.png) no-repeat 50% 40%;
	text-indent: -90000px;
	cursor: pointer;
	overflow: hidden;
}
.i-filterselect-nextpage span,
.i-filterselect-nextpage-off span {
	background: transparent url(img/arrow-down.png) no-repeat 50% 60%;
}

.i-filterselect-nextpage-off,
.i-filterselect-prevpage-off {
	color: #666;
	opacity: 0.5;
	filter: Alpha(opacity=50);
}
.i-filterselect-nextpage-off span,
.i-filterselect-prevpage-off span {
	cursor: default;
}

.i-filterselect-status {
	font-size: 11px;
	line-height: 11px;
	width:100%;
	padding: 4px 0px;
	height: 11px;
	white-space: nowrap;
	text-align: center;
	border-top: 1px solid #b6bbbc;
}


/* Error styles (disabled by default)
   ----------------------------------
   
.i-filterselect-error {
	background-image: url(img/bg-left-filter-error.png);
}

.i-filterselect-error .i-filterselect-input {
	background-image: url(img/bg-center-filter-error.png);
}

.i-filterselect-error .i-filterselect-button {
	background-image: url(img/bg-right-filter-error.png);
}

.i-select-error .i-select-option,
.i-select-error .i-select-select,
.i-select-error .i-select-twincol-selections,
.i-select-error .i-select-twincol-options {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/*  Required field styles (disabled by default)
   --------------------------------------------
   
.i-select-required .i-select-option,
.i-select-required .i-select-select,
.i-select-required .i-select-twincol-selections,
.i-select-required .i-select-twincol-options {
	background:transparent;
	background-color: #FFE0E0;
}
*/