.v-button:focus {
	outline: none;
}

.v-button:hover .v-button-wrap {
	background: #b9ced9 url(/html/themes/classic/images/application/state_hover_bg.png) repeat-x 0 0;
	border-color: #627782;
	color: #369;
}

.v-button:active .v-button-wrap,
.v-button.v-pressed .v-button-wrap,
.v-button:focus .v-button-wrap {
	background: #ebebeb url(/html/themes/classic/images/application/state_active_bg.png) repeat-x 0 0;
	border-color: #555;
}

.v-button {
	padding: 0;
	border: none;
	height: 26px;
	overflow: hidden;
}


.v-button .v-button-wrap,
.v-disabled.v-button .v-button-wrap {
	display: block;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #c8c9ca;
	border-right-color: #9e9e9e;
	border-bottom-color: #9e9e9e;
	background: #d4d4d4 url(/html/themes/classic/images/portlet/header_bg.png) repeat-x 0 0;
	-webkit-background-origin: padding;
	-moz-background-origin: padding;
	padding: 4px 4px 0px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height: 16px;
	min-height: 16px;
	text-shadow: 1px 1px #fff;
	color: #34404f;
	text-overflow: ellipsis;
	height: 20px;
}

.v-button-caption {
	line-height: 16px;	
}

.v-ie6 .v-button .v-button-wrap {
	display: inline;
	zoom: 1;
}

/* Link style button */
.v-button-link,
.v-disabled.v-button-link,
.v-button-link:focus,
.v-button-link:active,
.v-button-link:hover,
.v-button-link-pressed,
button.v-nativebutton-link,
.v-disabled.v-nativebutton-link,
button.v-nativebutton-link:focus,
button.v-nativebutton-link:active,
button.v-nativebutton-link:hover,
button.v-nativebutton-link-pressed,
.v-button.v-button-link .v-button-wrap,
.v-button.v-button-link:focus .v-button-wrap,
.v-button.v-button-link:active .v-button-wrap,
.v-disabled.v-button.v-button-link .v-button-wrap {
	color: #5B677D;
	font-weight: normal;
	border: none;
	border-style: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-shadow: none;
	height: auto;
}

.v-button-link:hover {
	color: #0066cc;
	text-decoration: none;
}

.v-button-link:focus,
.v-sa .v-button-link:focus {
	outline: 1px dotted #1b699f;
	outline-offset: -1px;
}

.v-sa .v-button-link:focus {
	outline-offset: -1px;
}

/* CheckBox */
.v-checkbox input {
	margin-right: 3px;	
}