@mixin chameleon-tabsheet($primaryStyleName : v-tabsheet) {

.#{$primaryStyleName}-spacertd div {
	border-color: #b3b3b3;
	border-left: none;
	}

.#{$primaryStyleName}-tabitem {
	border: none;
	border-bottom: 1px solid #b3b3b3;
	padding: 0;
	}

.#{$primaryStyleName}-tabitem .v-caption {
	padding: .2em .8em;
	margin: 1px;
	margin-bottom: 0;
	}

.#{$primaryStyleName}-tabitem-selected {
	background-color: #c9c9c9;
	border: 1px solid #b3b3b3;
	border-bottom: none;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	overflow: hidden;
	}

.#{$primaryStyleName}-tabitem-selected .v-caption {
	background: transparent url(../../img/grad-light-top.png) repeat-x;
	margin: 0;
	padding-bottom: .25em;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	}

.#{$primaryStyleName}-content {
	background: #fff;
	border-color: #b3b3b3;
	}

.#{$primaryStyleName}-deco {
	height: 0;
	background: transparent;
	border-top: 1px solid #b3b3b3;
	}

.#{$primaryStyleName}-caption-close {
	width: 14px;
	height: 15px;
	overflow: hidden;
	text-indent: -50px;
	background: transparent url(../../img/close-btn.png) no-repeat .5em 0;
	vertical-align: middle;
	padding: 0 0 0 .5em;
	margin: .2em 0 0 0;
	}

.#{$primaryStyleName}-caption-close:hover {
	background-position: .5em -25px;
	}

.#{$primaryStyleName}-caption-close:active {
	background-position: .5em -50px;
	}

/*******************************************************************************
 * Scroller
 ******************************************************************************/
.#{$primaryStyleName}-scroller {
	height: 14px;
	margin-top: -1.6em;
	position: relative;
	float: right;
	background: #c9c9c9 url(../../img/grad-light-top.png) repeat-x;
	border: 1px solid #b3b3b3;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	}

.#{$primaryStyleName}-scrollerPrev,
.#{$primaryStyleName}-scrollerNext,
.#{$primaryStyleName}-scrollerPrev-disabled,
.#{$primaryStyleName}-scrollerNext-disabled,
.#{$primaryStyleName}-scrollerPrev-disabled:active,
.#{$primaryStyleName}-scrollerNext-disabled:active {
	padding-top: 12px;
	border: 1px solid #b3b3b3;
	border-width: 0;
	background: transparent url(../../img/tab-arrows.png) no-repeat 6px 50%;
	width: 16px;
	height: 14px;
	overflow: hidden;
	opacity: .5;
	filter: alpha(opacity=50);
	}

.#{$primaryStyleName}-scroller button::-moz-focus-inner {
	border: none;
	padding: 0;
	}

.#{$primaryStyleName}-scrollerNext,
.#{$primaryStyleName}-scrollerNext-disabled,
.#{$primaryStyleName}-scrollerNext-disabled:active {
	background-position: -10px 50%;
	border-left-width: 1px;
	}

.#{$primaryStyleName}-scrollerPrev:hover,
.#{$primaryStyleName}-scrollerNext:hover {
	opacity: .75;
	filter: alpha(opacity=75);
	}

.#{$primaryStyleName}-scrollerPrev:active,
.#{$primaryStyleName}-scrollerNext:active {
	opacity: 1;
	filter: none;
	}

.#{$primaryStyleName}-scrollerPrev-disabled,
.#{$primaryStyleName}-scrollerNext-disabled,
.#{$primaryStyleName}-scrollerPrev-disabled:active,
.#{$primaryStyleName}-scrollerNext-disabled:active {
	opacity: .1;
	filter: alpha(opacity=10);
	}



/*******************************************************************************
 * open-only-closable
 ******************************************************************************/
.#{$primaryStyleName}-open-only-closable .#{$primaryStyleName}-caption-close {
	visibility: hidden;
	}

.#{$primaryStyleName}-open-only-closable .#{$primaryStyleName}-tabitem-selected .#{$primaryStyleName}-caption-close {
	visibility: visible;
	}


/*******************************************************************************
 * Borderless
 ******************************************************************************/
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-content-borderless,
.#{$primaryStyleName}-deco-borderless {
	border: none;
	background: transparent;
	}

.#{$primaryStyleName}-tabs-borderless .#{$primaryStyleName}-tabitem-selected,
.#{$primaryStyleName}-tabs-borderless .#{$primaryStyleName}-tabitem-selected .v-caption {
	background-color: transparent;
	}

}