/*
 *MenuBar styles
 */
 
/*Top menu */
.i-menubar table {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;

	border-style:ridge;
	border-width:thin;
	border-color:	#D3D3D3;

 	background-color : white;
 	white-space: nowrap;
 
}

.i-menubar .menuitem{
	 cursor : default;
	
	 padding : 0px 10px;
	 margin : 0px 10px;
	
	 background-color : white;
 }

.i-menubar .menuitem-selected {
	 background-color : 	#EEEEFF;
 }

/*Submenu*/
.i-menubar-submenu {
	 font-size: 13px;
	 padding : 3px;
	 
	 font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	 background-color : white;
	 white-space: nowrap;
		
	 border-style:ridge;
	 border-width:thin;
	 border-color:	#D3D3D3;
	 

}

.i-menubar-submenu .menuitem { 
    cursor                      :   default;

    background-color            :   white;
    padding                     :   2px 10px;
}

.i-menubar-submenu .menuitem-selected {
	background-color : 	#EEEEFF;
}
