/* Automatically compiled css file from subdirectories. */

/* ./WebContent/ITMILL/themes/default/accordion/accordion.css */
.i-accordion {
	position: relative;
	outline: none;
	overflow: hidden;
	text-align: left /* Force default alignment */
}

.i-accordion-item {
	position: relative; 
	background-color: #fff;
}

.i-accordion-item-caption {
	height: 31px;
	overflow: hidden;
	white-space: nowrap;
	background: #edf0f0 url(tabsheet/img/tab-bg.png);
	font-size: 15px;
	color: #656d73;
	border-top: 1px solid #c8cccd;
}

.i-accordion-item-caption .i-caption {
	padding: 7px 0 6px 18px;
	cursor: pointer;
}

.i-accordion-item-open .i-accordion-item-caption {
	color: #3b4b57;
	background: #d5dee2 url(accordion/img/selected-bg.png);
	border-top-color: #cbd7de;
	border-bottom-color: #bfc9d4;
	text-shadow: #fafafa 1px 1px 0;
	border-bottom: 1px solid #c8cccd;
	cursor: default;
}


.i-accordion-item-content {
	position: absolute;
	overflow: auto;
	width: 100%;
}

/* ./WebContent/ITMILL/themes/default/button/button.css */
.i-button {
	cursor: pointer;
	font-size: 13px;
	white-space: nowrap;
	margin: 0px;
}
.i-checkbox input {
	vertical-align: middle;
}
.i-button img, .i-checkbox img {
	display:inline;
	vertical-align: middle;
	margin-right: 3px;
}
.i-button span, .i-checkbox label {
	vertical-align: middle;
}

.i-button-link {
	border: none;
	text-align: left;
	background: none;
	padding: 0;
}
.i-sa .i-button-link:focus {
	outline-offset: -3px;
}
.i-button-link span {
	text-decoration: underline;
}

.i-checkbox {
	white-space: nowrap;	
}
	
.i-checkbox .i-errorindicator {
	float: none;
	display:inline;
	padding-left: 10px;
	background-position:left;
}


/* fixes streched buttons in IE6 */
* html .i-button {
	width: 1px;
	overflow: visible;
	padding-left: 10px;
	padding-right: 10px;
}

/* fixes streched buttons in IE7 */
*+html .i-button {
	overflow: visible;
	padding-left: 10px;
	padding-right: 10px;
}

/* Error indicator on checkbox fix for IE6 */
* html .i-checkbox * { display: block; float: left;}
* html .i-checkbox .i-errorindicator {background-position:right;display: block; float: left; padding-left: 0px; padding-right:4px;}

/* Error indicator on checkbox fix for IE7 */
*+ html .i-checkbox * { display: block; float: left;}
*+ html .i-checkbox .i-errorindicator {background-position:right;display: block; float: left; padding-left: 0px;;padding-right:7px;}

/* Error indicator on button fix for IE7 */
*+ html button .i-errorindicator { display:inline; padding-right:5px; }

/* Error indicator on button fix for IE6 */
* html button .i-errorindicator { display:inline; padding-right:5px;}


/* Disabled by default
.i-checkbox-error {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/* Disabled by default
.i-checkbox-required {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/* ./WebContent/ITMILL/themes/default/caption/caption.css */
/* Provide some extra whitespace for wrapped elements
   (these elements usually need the extra space, since 
   they aren't even handling their own caption) */
.i-captionwrapper {
	margin: 0.3em 0 0 0;
	text-align: left /* Force default alignment */
}

.i-caption {
	overflow: hidden;
	white-space: nowrap;
}

.i-errorindicator {
	width: 12px;
	height: 16px;
	float: left;
	background: transparent url(icons/16/error.png) no-repeat top right;
}

* html .i-errorindicator {
	background: transparent none;
	/* gif for transparency */
	background: transparent url(icons/16/error.gif) no-repeat top right;
}
*+html .i-errorindicator {
	margin-left:-3px;
}
.i-caption .i-icon {
	padding-right: 2px;
	vertical-align: middle;
	float: left;
}
.i-caption .i-captiontext {
	float: left;
	overflow: hidden;
	vertical-align: middle;
}

.i-caption .i-required-field-indicator {
	float: left;
}

/* ./WebContent/ITMILL/themes/default/common/common.css */
/* body tag created by servlet */
.i-generated-body {
	background: #e9eced;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	overflow: hidden;
}

.i-app {
	background: #e9eced;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 13px;
	line-height: 18px;
	height: 100%;
}

.i-app-loading {
	background-image: url(common/img/loading-indicator.gif);
	background-repeat: no-repeat;
	background-position: 50%;
}

.i-view {
	height: 100%;
	width: 100%;
	overflow: auto;
	/* avoid scrollbars with margins in root layout */
	outline: none;
	margin-top: -1px;
	border-top: 1px solid transparent;
	position: relative;
}

/**
 * Try to cope printing somehow. Reasonable printing support 
 * needs application specific planning and CSS tuning.
 */
@media print {
	.i-generated-body {
		height: auto;
		min-height: 20cm;
		overflow: visible;
	}
	.i-app {
		height: auto;
		min-height: 20cm;
	}
	.i-view {
		overflow: visible;
	}
	.i-gridlayout {
		overflow: visible !important;
	}
}

.i-view:active,
.i-view:focus {
	outline: none;
}

/* Global font styles */
.i-app input,
.i-app select,
.i-app button,
.i-app textarea,
.i-window input,
.i-window select,
.i-window button,
.i-window textarea,
.i-popupview-popup input,
.i-popupview-popup select,
.i-popupview-popup button,
.i-popupview-popup textarea {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 13px;
}

.i-app select,
.i-window select {
	padding: 0;
	margin: 0;
}

.i-disabled,
.i-app .i-disabled,
.i-window .i-disabled {
	opacity: 0.3;
	filter: Alpha(opacity = 30);
	cursor: default;
}

.i-disabled *,
.i-app .i-disabled *,
.i-window .i-disabled * {
	cursor: default;
}

* html .i-disabled {
	zoom: 1;
}

*+html .i-disabled {
	zoom: 1;
}

.i-disabled .i-disabled {
	opacity: 1.0;
}

.i-required-field-indicator {
	padding-left: 2px;
	color: red;
}

/* Field modified */ /* Disabled by default
input.i-modified,
.i-richtextarea.i-modified iframe.gwt-RichTextArea,
.i-checkbox.i-modified,
.i-modified .i-select-option,
.i-modified .i-textfield,
.i-modified .i-datefield-calendarpanel,
.i-modified .i-select-select,
.i-modified .i-select-twincol-selections,
.i-modified .i-select-twincol-options,
.i-modified .i-slider-base {
	background:transparent;
	background-color: #FFFFE0;
}
*/

/**
 * Custom tooltip
 */
.i-tooltip {
	background-color: #fffcdd;
	border: 1px solid #b8b295;
	border-top-color: #d5d2c1;
	border-left-color: #d5d2c1;
	font-size: 11px;
	line-height: 13px;
	font-family: arial, helvetica, tahoma, verdana, sans-serif;
	color: #5d5444;
	cursor: default;
}

.i-tooltip-text {
	padding: 2px 4px;
	border: none;
	border-top: 1px solid #fffef5;
	border-bottom: 1px solid #fbf8d9;
	overflow: auto;
}

.i-tooltip .i-errormessage {
	padding: 3px 4px 3px 4px;
	background: #ffecc6;
	color: #b74100;
	border: none;
	border-top: 1px solid #fff3dc;
	border-bottom: 1px solid #ead7b1;
	overflow: auto;
}

.i-tooltip .i-errormessage h2 {
	font-size: 16px;
	font-weight: normal;
	color: #ab3101;
	margin: 2px 0 8px 0;
}

.i-tooltip .i-errormessage h3 {
	font-size: 13px;
	font-weight: bold;
	margin: 1px 0 4px 0;
}

/**
 * Context menu styles 
 */
.i-contextmenu {
	background: #e9eced url(tabsheet/img/tab-bg.png);
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #f6f7f7;
	color: #464f52;
	font-size: 12px;
	line-height: 14px;
}

.i-contextmenu .gwt-MenuBar {
	border-right: 1px solid #c6cbcc;
	border-bottom: 1px solid #c6cbcc;
	border-top: 1px solid #d0d4d5;
	border-left: 1px solid #d0d4d5;
}

.i-contextmenu .gwt-MenuItem {
	padding: 2px 0;
	cursor: pointer;
	vertical-align: middle;
}

.i-contextmenu .gwt-MenuItem div { /*border: 1px solid #f6f7f7;*/
	padding: 1px 20px 1px 8px;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
}

.i-contextmenu .gwt-MenuItem-selected div {
	color: #fff;
	background: #5daee8;
}

.i-contextmenu table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.i-contextmenu .gwt-MenuItem img {
	margin-right: 10px;
	vertical-align: middle;
}

/**
 * Label has tiny paddings to include contents margins.
 */
.i-label {
	padding-top: 1px;
	padding-bottom: 1px;
}

.i-label-undef-w {
	white-space: nowrap;
}

/* Loading indicator states
 * Note: client side expects that loading indicator has a height. It depends on
 * this css property to ensure browsers have applied all required styles.
 */
.i-loading-indicator,
.i-loading-indicator-delay,
.i-loading-indicator-wait {
	width: 31px;
	height: 31px;
	background: transparent url(common/img/loading-indicator.gif);
}

.i-loading-indicator-delay {
	background: transparent url(common/img/loading-indicator-delay.gif);
}

.i-loading-indicator-wait {
	background: transparent url(common/img/loading-indicator-wait.gif);
}
.i-loading-indicator,
.i-loading-indicator-delay,
.i-loading-indicator-wait {
	position: absolute;
	top:6px;
	right: 5px;	
	z-index:30000;
}

/* debug dialog */
.i-debug-console {
	background: white;
	opacity: 0.85;
	border: 1px solid black;
	font-family: sans-serif;
}

.i-debug-console-caption {
	background: black;
	border-bottom: 1px solid grey;
	color: white;
	font-weight: bold;
}

.i-debug-console-content {
	font-size: x-small;
	overflow: auto;
}

.i-debug-console-content input {
	font-size: xx-small;
}

/* Debug style */
.i-app .invalidlayout,
.i-app .invalidlayout * {
	background: #f99 !important;
}

/* Fix for liferay. #2384 */
.i-app input[type="text"],
.i-app input[type="password"],
.i-app input[type="reset"],
.i-app select,
.i-app textarea {
	padding: 2px;
}

/* ./WebContent/ITMILL/themes/default/customcomponent/customcomponent.css */
.i-customcomponent {
	overflow: hidden;
}

/* ./WebContent/ITMILL/themes/default/customlayout/customlayout.css */
.i-customlayout {
	overflow: hidden;
}

/* ./WebContent/ITMILL/themes/default/datefield/datefield.css */
.i-datefield {
	white-space: nowrap;
}

.i-datefield-textfield {
	vertical-align: top;
}

.i-datefield-button {
	font-size:13px;
	width: 22px;
	height: 24px;
	padding: 0;
	overflow: hidden;
	border: none;
	background: transparent url(datefield/img/open-button.png) no-repeat right 0;
	vertical-align: top;
	cursor: pointer;
}

.i-datefield-popup {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 12px;
	background: #f6f7f7;
	border: 1px solid #b6bbbc;
	padding: 6px;
}

.i-datefield-calendarpanel {
	width: 19em;
	font-size: 12px;
}

.i-datefield-popup .i-datefield-calendarpanel {
	width: 16em;
}

.i-datefield-calendarpanel table {
	width: 100%;
}

.i-datefield-calendarpanel td {
	text-align: right;
	width: 14.2%;
	padding: 0;
	margin: 0;
}

.i-datefield-calendarpanel td span {
	display: block;
}

.i-datefield-calendarpanel-header {
	height: 30px;
}

.i-datefield-calendarpanel-header,
.i-datefield-calendarpanel strong {
	font-size: 13px;
}

.i-datefield-popup .i-datefield-calendarpanel-header,
.i-datefield-popup .i-datefield-calendarpanel strong {
	font-size: 12px;
}

.i-datefield-calendarpanel-header td {
	text-align: center;
}

.i-datefield-calendarpanel-month {
	font-weight: bold;
	text-align: center;
	text-shadow: #ffffff 2px 2px 0;
	white-space: nowrap;
}

/* Year buttons */
.i-datefield-calendarpanel .i-button-prevyear,
.i-datefield-calendarpanel .i-button-nextyear {
	display: block;
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	background: transparent url(datefield/img/prevyear.png) no-repeat;
	text-indent: -90000px;
	margin: 0 auto;
}
.i-datefield-calendarpanel .i-button-nextyear {
	background: transparent url(datefield/img/nextyear.png) no-repeat;
}
.i-datefield-calendarpanel .i-button-prevyear:hover,
.i-datefield-calendarpanel .i-button-nextyear:hover {
	background-position: left bottom;
}

/* Month buttons */
.i-datefield-calendarpanel .i-button-prevmonth,
.i-datefield-calendarpanel .i-button-nextmonth {
	display: block;
	width: 11px;
	height: 16px;
	border: none;
	padding: 0;
	background: transparent url(datefield/img/prevmonth.png) no-repeat;
	text-indent: -90000px;
	margin: 0 auto;
}
.i-datefield-calendarpanel .i-button-nextmonth {
	background: transparent url(datefield/img/nextmonth.png) no-repeat;
}
.i-datefield-calendarpanel .i-button-prevmonth:hover,
.i-datefield-calendarpanel .i-button-nextmonth:hover {
	background-position: left bottom;
}

.i-datefield-calendarpanel strong {
	color: #ee5311;
	display: block;
	width: 20px;
}

.i-datefield-calendarpanel-day,
.i-datefield-calendarpanel-day-today {
	cursor: pointer;
	padding: 1px 3px;
	width: 14px;
	height: 16px;
}

.i-datefield-calendarpanel-day-today {
	border: 1px solid #429ce9;
	width: 12px;
	height: 14px
}

.i-disabled .i-datefield-calendarpanel-day,
.i-disabled .i-datefield-calendarpanel-day-today {
	cursor: default;
}

.i-datefield-calendarpanel-day-entry {
	color: #6a98b5;
}

.i-datefield-calendarpanel-day-disabled {
	font-weight: normal;
	color: #dddddd;
	cursor: default;
	opacity: 0.5;
}

.i-datefield-calendarpanel-day-entry.i-datefield-calendarpanel-day-disabled {
	color: #afd6f8;
}

.i-datefield-calendarpanel-day-selected {
	font-weight: bold;
	width: 14px;
	height: 16px;
	color: #fff;
	padding: 1px 3px;
	background: transparent url(datefield/img/selected-bg.png) no-repeat 50% 50%;
	cursor: default;
	border: none;
}

.i-datefield-time {
	white-space: nowrap;
	font-size: 11px;
}

.i-datefield-time .i-label {
	display: inline;
}

.i-datefield-time .i-select {
	font-size: 10px;
	padding: 0;
	margin: 0;
}

/* Disabled by default
.i-datefield-error .i-textfield,
.i-datefield-error .i-datefield-calendarpanel {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/* Disabled by default
.i-datefield-required .i-textfield,
.i-datefield-required .i-datefield-calendarpanel {
	background:transparent;
	background-color: #FFE0E0;
}
*/

.i-datefield-rendererror .i-textfield {
	background: #ff9999;
}




/* IE specific styles */

*+html .i-datefield-button {
	background-position: right 1px;
	height: 25px;
	margin: 0;
}

/* IE somehow loses generic i-disabled alpha. See #1960 */
* html .i-disabled .i-datefield-button,
* html .i-disabled .i-datefield-textfield {
	filter: alpha(opacity=30);
}
*+ html .i-disabled .i-datefield-button,
*+ html .i-disabled .i-datefield-textfield {
	filter: alpha(opacity=30);
}


/* ./WebContent/ITMILL/themes/default/formlayout/formlayout.css */
.i-formlayout-cell .i-errorindicator {
	width: 10px;
	height: 16px;
	display: block;
	background: transparent url(icons/16/error.png) no-repeat top right;
}
.i-formlayout-captioncell {
	text-align:right;
	white-space: nowrap;
}
.i-formlayout-captioncell .i-caption {
	overflow: visible;
}

.i-formlayout-contentcell {
}

.i-formlayout-error-indicator {
	/* fix width so layout is not jumpy when error disapear */
	width: 12px;
}

.i-formlayout-spacing .i-formlayout-row .i-formlayout-captioncell, 
.i-formlayout-spacing .i-formlayout-row .i-formlayout-contentcell,
.i-formlayout-spacing .i-formlayout-row .i-formlayout-errorcell {
	padding-top: 8px;
}

.i-formlayout-spacing .i-formlayout-firstrow .i-formlayout-captioncell, 
.i-formlayout-spacing .i-formlayout-firstrow .i-formlayout-contentcell,
.i-formlayout-spacing .i-formlayout-firstrow .i-formlayout-errorcell {
	padding-top: 0;
}

.i-formlayout-margin-top .i-formlayout-firstrow .i-formlayout-captioncell, 
.i-formlayout-margin-top .i-formlayout-firstrow .i-formlayout-contentcell,
.i-formlayout-margin-top .i-formlayout-firstrow .i-formlayout-errorcell {
	padding-top: 15px;
}
.i-formlayout-margin-bottom .i-formlayout-lastrow .i-formlayout-captioncell,
.i-formlayout-margin-bottom .i-formlayout-lastrow .i-formlayout-contentcell,
.i-formlayout-margin-bottom .i-formlayout-lastrow .i-formlayout-errorcell {
	padding-bottom: 15px;
}
.i-formlayout-margin-left .i-formlayout-captioncell {
	padding-left: 18px;
} 
.i-formlayout-margin-right .i-formlayout-contentcell {
	padding-right: 18px;
}

/* form */

.i-form-errormessage {
	background: transparent url(icons/16/error.png) no-repeat top left;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	min-height: 20px;
}

* html .i-form-errormessage {
	height: 20px
}

.i-form fieldset {
	border: none;
	border-top: 1px solid #babfc0;
}

.i-form legend {
	margin: 0;
	padding: 0 4px 0.3em 4px;
	font-weight: bold;
}

.i-formlayout-captioncell .i-caption .i-required-field-indicator {
	float: none;
}

/* ./WebContent/ITMILL/themes/default/gridlayout/gridlayout.css */
/* Margin values if defined from server side */
.i-gridlayout-margin-top {
	padding-top: 15px;
}
.i-gridlayout-margin-bottom {
	padding-bottom: 15px;
}
.i-gridlayout-margin-left {
	padding-left: 18px;
} 
.i-gridlayout-margin-right {
	padding-right: 18px;
}

/* 
 * Spacing values used by IGridLayout. (element does not exist in DOM)
 * Use padding-left for horizontal spacing and padding-top for vertical.
 */
.i-gridlayout-spacing-on {
	padding-left:8px;
	padding-top:8px;
	overflow:hidden;
}
.i-gridlayout-spacing-off {
	padding-left:0px;
	padding-top:0px;
	overflow:hidden;
}

.i-gridlayout-spacing,
.i-gridlayout-spacing-off {
	padding-left:0px;
	padding-top:0px;
}

.i-gridlayout {
	overflow:hidden;
}


/* ./WebContent/ITMILL/themes/default/link/link.css */
/**
 * Link component styles 
 * (useless to move into a separate file)
 */
.i-link {
	white-space: nowrap;	
}

.i-link a {
	color: #464f52;
	vertical-align: middle;
	text-decoration: none;
}

.i-link span {
	text-decoration: underline;
	vertical-align: middle;
}

.i-disabled a {
	cursor: default;
}

.i-link img {
	vertical-align: middle;
	border:none;
}

/* ./WebContent/ITMILL/themes/default/menubar/menubar.css */
/*
 *MenuBar styles
 */
 
/*Top menu */
.i-menubar table {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;

	border-style:ridge;
	border-width:thin;
	border-color:	#D3D3D3;

 	background-color : white;
 	white-space: nowrap;
 
}

.i-menubar .menuitem{
	 cursor : default;
	
	 padding : 0px 10px;
	 margin : 0px 10px;
	
	 background-color : white;
 }

.i-menubar .menuitem-selected {
	 background-color : 	#EEEEFF;
 }

/*Submenu*/
.i-menubar-submenu {
	 font-size: 13px;
	 padding : 3px;
	 
	 font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	 background-color : white;
	 white-space: nowrap;
		
	 border-style:ridge;
	 border-width:thin;
	 border-color:	#D3D3D3;
	 

}

.i-menubar-submenu .menuitem { 
    cursor                      :   default;

    background-color            :   white;
    padding                     :   2px 10px;
}

.i-menubar-submenu .menuitem-selected {
	background-color : 	#EEEEFF;
}

/* ./WebContent/ITMILL/themes/default/notification/notification.css */

.i-Notification {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #818e92;
	color: #ffffff;
	padding: 9px 12px;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}
.i-Notification h1,
.i-Notification p,
.i-Notification.error h1,
.i-Notification.error p,
.i-Notification.warning h1,
.i-Notification.warning p {
	display: inline;
	font-weight: normal;
	white-space: nowrap;
	margin: 0 10px 0 0;
}

.i-Notification.warning {
	background: #fff1e4;
	color: #dd3400;
	border: 2px solid #ffaa90;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	opacity: 1;
}

.i-Notification.error {
	background: #f23d00 url(notification/img/close-error.png) no-repeat right 5px;
	padding-right: 30px;
	border: 3px solid #c30000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}


.i-Notification.tray {
	background: #575e60;
	padding: 0.5em;
	margin: 0 5px 5px 0;
}
.i-Notification.tray h1 {
	display: block;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 1.1;
	background: #3b4245;
	padding: 4px 10px;
	margin: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.i-Notification.tray p {
	display: block;
	font-size: 0.9em;
	line-height: 1.1;
	margin: 8px 10px 5px 10px;
	color: #e4e7ea;
}

.i-Notification.system {
	background-color: #ff0a0a;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.i-Notification.system h1 {
	display: block;
	margin: 0;
}
.i-Notification.system p {
	white-space: nowrap;
}

/* ./WebContent/ITMILL/themes/default/orderedlayout/orderedlayout.css */
.i-orderedlayout, .i-horizontallayout, .i-verticallayout {
	overflow: hidden;
}

.i-orderedlayout-margin-top, .i-horizontallayout-margin-top, .i-verticallayout-margin-top {
	padding-top: 15px;
}

.i-orderedlayout-margin-right, .i-horizontallayout-margin-right, .i-verticallayout-margin-right {
	padding-right: 18px;
}

.i-orderedlayout-margin-bottom, .i-horizontallayout-margin-bottom, .i-verticallayout-margin-bottom {
	padding-bottom: 15px;
}

.i-orderedlayout-margin-left, .i-horizontallayout-margin-left, .i-verticallayout-margin-left {
	padding-left: 18px;
}

.i-orderedlayout-spacing-on, .i-horizontallayout-spacing-on, .i-verticallayout-spacing-on {
	padding-top: 8px;
	padding-left: 8px;
}
/** This can be used to define spacing if spacing is off server side */
.i-orderedlayout-spacing-off, .i-horizontallayout-spacing-off, .i-verticallayout-spacing-off {
	padding-top: 0px;
	padding-left: 0px;
}

/* ./WebContent/ITMILL/themes/default/panel/panel.css */
.i-panel,
.i-panel-caption,
.i-panel-content,
.i-panel-deco,
.i-panel-light,
.i-panel-caption-light,
.i-panel-content-light,
.i-panel-deco-light {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: left /* Force default alignment */
}

.i-panel {
	background: transparent url(panel/img/top-left.png) no-repeat;
}

.i-panel-caption .i-errorindicator {
	float: none;
	padding-right:20px;
	display:inline;
	background: transparent url(icons/16/error.png) no-repeat bottom center;
	
}

.i-panel-caption .i-icon {
	display:inline;
	vertical-align: middle;
}
.i-panel-caption span {
	vertical-align: middle;
}

.i-panel-caption,
.i-panel-caption-light {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	letter-spacing: -0.03em;
	color: #f14c1a;
	white-space: nowrap;
	height: 18px;
	padding: 15px 18px 14px 8px;
	margin-left: 10px;
	background: transparent url(panel/img/top-right.png) no-repeat right top;
	overflow:hidden;
}

.i-panel-nocaption {
	height: 9px;
	margin-left: 10px;
	background: transparent url(panel/img/top-right.png) no-repeat right top;
	overflow: hidden;
}

.i-panel-content {
	border: 1px solid #babfc0;
	border-bottom: 1px solid #dee2e3;
	background-color: #fff;
	overflow: auto;
}

.i-panel-deco {
	height: 9px;
	background: transparent url(panel/img/bottom-right.png) repeat-x right top;
	margin-left: 9px;
}

.i-panel-deco:before {
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	margin-left: -9px;
	background: transparent url(panel/img/bottom-left.png) no-repeat;
}






/* Light panel style */

.i-panel-light,
.i-panel-caption-light {
	background: transparent;
}

.i-panel-nocaption-light {
	background: transparent;
	height: 0;
	margin: 0;
}

.i-panel-content-light {
	border: none;
	border-top: 1px solid #babfc0;
	background: transparent;
}

.i-panel-deco-light {
	height: 0;
	overflow: hidden;
}








/* IE specific rules (different selectors for IE6 and IE7.
 * These selectors must be separate because IE6 won't 
 * apply them if they are grouped together 
 * (it doesn't recognize the '+' selector).
*/
* html .i-panel {
	background: transparent;
}
* html .i-panel-caption {
	border: 1px solid #babfc0;
	border-bottom: none;
	background: #fff;
	margin: 0;
	padding-left: 18px
}
* html .i-panel-nocaption {
	border: none;
	background: transparent;
	margin: 0;
	height: 0;
}

* html .i-panel-caption-light {
	border: none;
	background: transparent;
}

* html .i-panel-content {
	border-bottom: 1px solid #babfc0;
}
*+html .i-panel-content {
	border-bottom: 1px solid #babfc0;
}

* html .i-panel-content-light {
	border-bottom: none;
}
*+html .i-panel-content-light {
	border-bottom: none;
}

* html .i-panel-deco {
	height: 0;
	overflow: hidden;
}
*+html .i-panel-deco {
	height: 0;
	overflow: hidden;
}

/* ./WebContent/ITMILL/themes/default/popupview/popupview.css */
.i-popupview-popup {
	border: 1px solid #babfc0;
	border-bottom: 1px solid #dee2e3;
	background: #fff;
	overflow: auto;
	padding: 3px;
}

.i-popupview {
	cursor: pointer;
}

/* ./WebContent/ITMILL/themes/default/progressindicator/progressindicator.css */
.i-progressindicator {
	background: #dfe2e4 url(progressindicator/img/base.gif);
	overflow: hidden; /* for IE6 */
	width: 150px;
}
.i-progressindicator-wrapper {
	border: 1px solid #b6bbbc;
	overflow: hidden; /* for IE6 */
	height: 9px;
}
.i-progressindicator-disabled {
	background: #dfe2e4 url(progressindicator/img/disabled.gif);
	height: 9px;
	border: 1px solid #b6bbbc;
	overflow: hidden; /* for IE6 */
}

.i-progressindicator-indicator {
	background: #f7f9f9 url(progressindicator/img/progress.png);
	height: 9px;
	overflow: hidden; /* for IE6 */
}

.i-progressindicator-indeterminate {
	background: #dfe2e4 url(common/img/ajax-loader-medium.gif);
	height: 16px;
	width: 16px;
	overflow: hidden; /* for IE6 */
}

/* Hide obsolete elements in indeterminate mode */
.i-progressindicator-indeterminate .i-progressindicator-wrapper,
.i-progressindicator-indeterminate .i-progressindicator-indicator,
.i-progressindicator-indeterminate-disabled .i-progressindicator-wrapper,
.i-progressindicator-indeterminate-disabled .i-progressindicator-indicator {
	display: none;
}

.i-progressindicator-indeterminate-disabled {
	background: #dfe2e4 url(common/img/blank.gif);
	height: 16px;
	width: 16px;
	overflow: hidden; /* for IE6 */
}

/* ./WebContent/ITMILL/themes/default/select/select.css */
.i-select {
	text-align: left /* Force default alignment */
}
.i-select-option {

}

.i-select-optiongroup {

}

.i-select-optiongroup .i-select-option {
	display: block;
	white-space: nowrap;
	/* really mean block for IE */
	zoom: 1;
}

.i-select-select {
	/*
	border: 1px solid #b6b6b6;
	border-bottom-color: #9d9d9d;
	border-top-color: #d6d6d6;
	border-left-color: #d6d6d6;
	*/
	display: block;
	font-size: 13px;
}

/* Twincol style */
.i-select-twincol {
	white-space: nowrap;
}
.i-select-twincol-options {
	float: left;
	font-size: 13px;
}
.i-select-twincol-selections {
	font-size: 13px;
	font-weight: bold;
}

.i-select-twincol-buttons {
	float: left;
	padding: 2px; /* does not work in first render in FF ? */
	text-align: center;
}

.i-select-twincol-buttons .i-select-twincol-deco {
	clear:both;
}

.i-select-twincol .i-textfield {
	display: block;
	float: left;
	clear: left;
}

.i-select-twincol .i-button {
	display: block;
	float: left;
}

.i-select-twincol-buttons .i-button {
	display: inline;
	float: none;
}

/** Filterselect aka ComboBox styles */

.i-filterselect {
	height: 23px;
	white-space: nowrap;
	text-align: left; /* Force default alignment */
	background: transparent url(select/img/bg-left-filter.png) no-repeat;
	padding-left: 4px;
}
.i-filterselect .i-icon {
	float: left;
}
.i-app .i-filterselect .i-filterselect-input,
.i-window .i-filterselect .i-filterselect-input,
.i-popupview-popup .i-filterselect .i-filterselect-input {
	background: transparent url(select/img/bg-center-filter.png) no-repeat 1px 0;
	float: left;
	border: none;
	height: 20px;
	margin: 0px;
	padding: 3px 0 0 2px;
	font-size: 13px;
}
.i-filterselect-input:focus {
	/* remove safari/mac outline from this element */
	outline: 0px;
}
.i-filterselect-focus {
	outline: 1px solid #5daee8;
	outline-offset: -1px;
}
.i-sa .i-filterselect-focus {
	/* place safari focus outline around the whole thing */
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -4px;
}

.i-filterselect-button {
	float: right;
	width: 25px;
	height: 23px;
	cursor: pointer;
	background: transparent url(select/img/bg-right-filter.png);
}
.i-filterselect-button:hover {
	background-position: bottom left;
}
.i-disabled .i-filterselect-button:hover,
.i-readonly .i-filterselect-button:hover {
	background-position: top left;
}

.i-filterselect.i-readonly .i-filterselect-button {
	display: none;
}

.i-filterselect.i-readonly .i-filterselect-input {
	background: transparent;
	color: black;
}

.i-filterselect-suggestpopup {
	background: #f6f7f7;
	border: 1px solid #b6bbbc;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 12px;
	line-height: 18px;
	margin-top: -1px;
}
.i-filterselect-suggestmenu table {
	border-collapse: collapse;
	border: none;
}
.i-filterselect-suggestmenu .gwt-MenuItem {
	padding: 1px 6px;
	cursor: pointer;
	height: 18px;
	white-space: nowrap;
}

.i-filterselect-suggestmenu .gwt-MenuItem .i-icon {
	margin-right: 3px;
	vertical-align: middle;
}

.i-filterselect-suggestmenu .gwt-MenuItem span {
	vertical-align: middle;
}

.i-filterselect-suggestmenu .gwt-MenuItem-selected {
	background: #5daee8;
	color: #fff;
}

.i-filterselect-nextpage,
.i-filterselect-nextpage-off,
.i-filterselect-prevpage-off,
.i-filterselect-prevpage {
	height: 11px;
	width:100%;
	background: transparent url(select/img/button-bg.png) no-repeat 50% 0;
	text-align: center;
	margin: 2px 0 0 0;
	overflow:hidden;
}
.i-filterselect-prevpage,
.i-filterselect-prevpage-off {
	background-position: 50% -1px;
	margin: 0 0 2px 0;
}
.i-filterselect-prevpage:hover {
	background-position: 50% bottom;
}
.i-filterselect-nextpage:hover {
	background-position: 50% -12px;
}
.i-filterselect-nextpage span,
.i-filterselect-nextpage-off span,
.i-filterselect-prevpage-off span,
.i-filterselect-prevpage span {
	display: block;
	height: 12px;
	width:100%;
	background: transparent url(select/img/arrow-up.png) no-repeat 50% 40%;
	text-indent: -90000px;
	cursor: pointer;
	overflow: hidden;
}
.i-filterselect-nextpage span,
.i-filterselect-nextpage-off span {
	background: transparent url(select/img/arrow-down.png) no-repeat 50% 60%;
}

.i-filterselect-nextpage-off,
.i-filterselect-prevpage-off {
	color: #666;
	opacity: 0.5;
	filter: Alpha(opacity=50);
}
.i-filterselect-nextpage-off span,
.i-filterselect-prevpage-off span {
	cursor: default;
}

.i-filterselect-status {
	font-size: 11px;
	line-height: 11px;
	width:100%;
	padding: 4px 0px;
	height: 11px;
	white-space: nowrap;
	text-align: center;
	border-top: 1px solid #b6bbbc;
}


/* Error styles (disabled by default)
   ----------------------------------
   
.i-filterselect-error {
	background-image: url(select/img/bg-left-filter-error.png);
}

.i-filterselect-error .i-filterselect-input {
	background-image: url(select/img/bg-center-filter-error.png);
}

.i-filterselect-error .i-filterselect-button {
	background-image: url(select/img/bg-right-filter-error.png);
}

.i-select-error .i-select-option,
.i-select-error .i-select-select,
.i-select-error .i-select-twincol-selections,
.i-select-error .i-select-twincol-options {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/*  Required field styles (disabled by default)
   --------------------------------------------
   
.i-select-required .i-select-option,
.i-select-required .i-select-select,
.i-select-required .i-select-twincol-selections,
.i-select-required .i-select-twincol-options {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/* ./WebContent/ITMILL/themes/default/shadow/shadow.css */
.i-shadow {
	position: absolute;
}

.i-shadow .top-left {
    position: absolute; overflow: hidden;
    top: -3px;             left: -4px;
    width: 8px;         height: 8px;
    background: transparent url(shadow/img/top-left.png);
}

.i-shadow .top {
    position: absolute; overflow: hidden;
    top: -3px;             left: 4px;
    height: 8px;           right: 4px;
    background: transparent url(shadow/img/top.png);
}

.i-shadow .top-right {
    position: absolute; overflow: hidden;
    top: -3px;             right: -4px;
    width: 8px;         height: 8px;
    background: transparent url(shadow/img/top-right.png);
}

.i-shadow .left {
    position: absolute; overflow: hidden;
    top: 5px;           left: -4px;
    width: 8px;
    bottom: 3px;
    background: transparent url(shadow/img/left.png);
}

.i-shadow .center {
    position: absolute; overflow: hidden;
    top: 5px;           left: 4px;
    bottom: 3px;        right: 4px;
    background: transparent url(shadow/img/center.png);
}

.i-shadow .right {
    position: absolute; overflow: hidden;
    top: 5px;           right: -4px;
    width: 8px;
    bottom: 3px;
    background: transparent url(shadow/img/right.png);
}

.i-shadow .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -5px;           left: -4px;
    width: 8px;          height: 8px;
    background: transparent url(shadow/img/bottom-left.png);
}

.i-shadow .bottom {
    position: absolute; overflow: hidden;
    bottom: -5px;           left: 4px;
    right: 4px;          height: 8px;
    background: transparent url(shadow/img/bottom.png);
}

.i-shadow .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -5px;           right: -4px;
    width: 8px;          height: 8px;
    background: transparent url(shadow/img/bottom-right.png);
}





/* For IE6 (no transparent png's, we use a blur filter) */

* html .i-shadow * {
	display: none;
}

* html .i-shadow {
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2) alpha(opacity=20);
	margin-top: -3px;
	margin-left: -4px;
}  

/* ./WebContent/ITMILL/themes/default/slider/slider.css */
/*--------------------------
  Default (horizontal) styles
  --------------------------*/

.i-slider {
	border-top: 1px solid #cccfd0;
	border-bottom: 1px solid #cccfd0;
	margin: 5px 0;
	width:200px;	
}

.i-slider-base {
	/* changing the borders will require adjustments to ISlider.java */
	height: 2px;
	border-top: 1px solid #cbcdce;
	background: #f3f3f4;
	border-left: 1px solid #cccfd0;
	border-right: 1px solid #cccfd0;
	
}
.i-slider-handle {
	background: transparent url(slider/img/handle-horizontal.png);
	width: 12px;
	height: 12px;
	margin-top: -5px;
	font-size: 0;
	cursor: pointer;
}
.i-slider-handle:hover {
	background-position: left bottom;
}

.i-slider-scrollbar .i-slider-handle,
.i-slider-scrollbar.i-slider-vertical .i-slider-handle {
	background: #ffffff;
	border: 1px solid #cccfd0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	
}

/* TODO
.i-slider-bigger {
	background: #dde4ef url(slider/img/arrow-right.png);
	float: right;
	width: 14px;
	height: 14px;
	overflow: hidden;
	margin: 0 0 0 1px;
}

.i-slider-bigger:hover {
	background-image: url(slider/img/arrow-right-over.png);
}

.i-slider-smaller {
	background: #dde4ef url(slider/img/arrow-left.png);
	float: left;
	width: 14px;
	height: 14px;
	overflow: hidden;
	margin: 0 1px 0 0;
}

.i-slider-smaller:hover {
	background-image: url(slider/img/arrow-left-over.png);
}
*/


/*-----------------
  Vertical styles 
  -----------------*/

.i-slider-vertical {
	width: 3px;
	height: auto;
	margin: 0 5px;
	border: none;
	border-left: 1px solid #cccfd0;
	border-right: 1px solid #cccfd0;
}
.i-slider-vertical .i-slider-base {
	width: 2px;
	border-left: 1px solid #cbcdce;
	border-right: none;
	background: #f3f3f4;
	border-top: 1px solid #cccfd0;
	border-bottom: 1px solid #cccfd0;	
}
.i-slider-vertical .i-slider-handle {
	background: transparent url(slider/img/handle-vertical.png);
	width: 12px;
	height: 12px;
	font-size: 0;
	cursor: pointer;
	margin-left: -5px;
}
.i-slider-vertical .i-slider-handle:hover {
	background-position: left bottom;
}
.i-slider-vertical .i-slider-bigger {

}
.i-slider-vertical .i-slider-smaller {

}

/* Disabled by default
.i-slider-error .i-slider-base {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/* Disabled by default
.i-slider-required .i-slider-base {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/* IE specific styles */

* html .i-slider,
* html .i-slider-vertical {
	margin: 0;
}
* html .i-slider .i-slider-handle {
	margin: -1px 0;
}
* html .i-slider-vertical .i-slider-handle {
	margin: 0 -1px;
}

/* ./WebContent/ITMILL/themes/default/splitpanel/splitpanel.css */
.i-splitpanel-horizontal, .i-splitpanel-vertical {
	overflow: hidden;
}

.i-splitpanel-horizontal .i-splitpanel-hsplitter {
	width: 6px;
	font-size: 1px; /* for IE6 */
}

.i-splitpanel-horizontal .i-splitpanel-hsplitter div {
	width: 6px;
	font-size: 1px; /* for IE6 */
	position: absolute;
	top: 0;
	bottom: 0;
	background: #ccd2d0 url(splitpanel/img/bg_hor.png);
	border: 1px solid #b6bbbc;
	cursor: e-resize;
	margin: 0 -1px;
}

.i-splitpanel-vertical .i-splitpanel-vsplitter {
	height: 6px;
	font-size: 1px; /* for IE6 */
}

.i-splitpanel-vertical .i-splitpanel-vsplitter div {
	height: 6px;
	font-size: 1px; /* for IE6 */
	background: #ccd2d0 url(splitpanel/img/bg_ver.png);
	border: 1px solid #b6bbbc;
	cursor: n-resize;
	margin: -1px 0;
}





/* IE specific styles */

* html .i-splitpanel-horizontal .i-splitpanel-hsplitter div {
	height: 99%;
}

* html .i-splitpanel-vertical .i-splitpanel-vsplitter {
	height: 8px;
}

* html .i-splitpanel-vertical .i-splitpanel-vsplitter div {
	margin: 0;
}


/* ./WebContent/ITMILL/themes/default/table/table.css */
.i-table {
	overflow: hidden;
	text-align: left /* Force default alignment */
}

.i-table.table-inline .i-table-header-wrap {
	border-left: none;
	border-right: none;
	/*margin: -16px -18px 0 -18px;*/
}

.i-table-header-wrap {
	height: 36px;
	background: #e7edf3 url(table/img/header-bg.png) repeat-x;
	border: 1px solid #b6bbbc;
	border-bottom: none;
	overflow: hidden;
}

.i-table-header {
	height: 36px;
}

.i-table-header table,
.i-table-table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: 0;
}

.i-table-header td,
.i-table-table td {
	margin: 0;
	padding: 0;
	border: 0;
}

.i-table-header td {
	cursor: pointer;
}

.i-table-resizer {
	display: block;
	height: 36px;
	float: right;
	background: transparent url(table/img/resizer-bg.png) repeat-y 50% 50%;
	cursor: col-resize;
}

.i-table-caption-container {
	float: right;
	overflow: hidden;
	white-space: nowrap;
	color: #393a3c;
	font-size: 15px;
	padding-top: 9px;
	text-shadow: #ffffff 2px 2px 0;
}

.i-table-header-cell-asc .i-table-caption-container {
	background: transparent url(table/img/sort-asc.png) no-repeat right 80%;
}
.i-table-header-cell-desc .i-table-caption-container {
	background: transparent url(table/img/sort-desc.png) no-repeat right 80%;
}
.i-table-header-cell:hover,
.i-table-header-cell-asc:hover,
.i-table-header-cell-desc:hover {
	background: transparent url(table/img/header-bg-over.png) repeat-x;
}


.i-table-body {
	background: #fff;
	border: 1px solid #b6bbbc;
}

.i-table-row-spacer {
	height: 10px;
	overflow: hidden; /* IE hack to allow < one line height divs */
}

.i-table-row,
.i-table-row-odd {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #fff;
	cursor: default;
}
.i-table-row-odd {
	background-color: #f6f7f7;
}
.i-table-row:hover,
.i-table-row-odd:hover {
	background-color: #edeeee;
}
.i-table .i-selected {
	background: #57a7ed;
	color: #fff;
}
.i-table-row td,
.i-table-row-odd td {
	padding: 0;
}
.i-table-cell-content {
	white-space: nowrap;
	overflow: hidden;
	padding: 3px 0 3px 3px;
	margin-right: 5px;
	line-height: 23px;
}

/* Fix textfield size to correspond label size inside table */
.i-table-cell-content .i-textfield,
.i-table-cell-content .i-button {
	margin: -2px 0 -2px -3px;
}
.i-table-cell-content .i-textfield,
.i-table-cell-content .i-datefield {
	width: 97%; /* approximate */
}

/* ...but not for datefield textarea */
.i-table-cell-content .i-datefield .i-textfield {
	width: auto;
	
}
/* datefield button is too high for table cell */
.i-table-cell-content .i-datefield-button {
	height: 25px;
	margin: -2px 0;
}



.i-table-column-selector {
	float: right;
	background: transparent url(table/img/colsel.png) no-repeat;
	margin: -36px 0 0 0;
	height: 36px;
	width: 15px;
	position: relative; /* hide this from IE, it works without it */
}

* html .i-table-column-selector {
	position: static;
}

*+html .i-table-column-selector  {
	position: static;
}

.i-table-focus-slot-left {
	border-left: 2px solid #b6bbbc;
	margin-right: -2px;
}
.i-table-focus-slot-right {
	border-right: 2px solid #b6bbbc;
	margin-left: -2px;
}

.i-table-header-drag {
	position: absolute;
	background: #e7edf3 url(table/img/header-bg.png) repeat-x;
	border: 1px solid #b6bbbc;
	padding: 4px;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-top: 20px;
	z-index: 20000;
}

.i-table-scrollposition {
	width: 160px;
	height: 39px;
	background: transparent url(table/img/scroll-position-bg.png);
}

.i-table-scrollposition span {
	display: block;
	margin-top: 8px;
	text-align: center;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	text-shadow: #ffffff 2px 2px 0;
}


/* row in column selector */
.i-on div {
	background: transparent url(table/img/check.gif) no-repeat 2px 50%;
	text-indent: 6px;
}
.i-off div {
	text-indent: 6px;
}

.i-table .i-link {
	display: inline;
}

/* IE6 hack */
* html .i-table-scrollposition {
	background: transparent;
	/* 
	AlphaImageLoader uses src attribute relative to host page, not CSS
	We need multiple different filters because we cannot be sure how host page is served compared to theme resources
	TODO: This actually does not work as expected, since only the last filter is applied.
	 */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../ITMILL/themes/default/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../ITMILL/themes/default/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ITMILL/themes/default/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/ITMILL/themes/default/table/img/scroll-position-bg.png", sizingMethod="scale");
}

/* ./WebContent/ITMILL/themes/default/tabsheet/tabsheet.css */
.i-tabsheet,
.i-tabsheet-content,
.i-tabsheet-deco {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: left /* Force default alignment */
}

.i-tabsheet-tabs {
	empty-cells: hide;
	border-collapse: collapse;
	margin:0;
	padding:0;
	border:0;
	height: 48px;
	width: 100%;
	overflow:hidden;
}

.i-tabsheet-tabs td {
	margin:0;
	padding:0;
	vertical-align: bottom;
}

.i-tabsheet-spacertd {
	width: 100%;
}
.i-tabsheet-spacertd div {
	height: 37px;
	border: 1px solid #b6bbbc;
	background: transparent url(tabsheet/img/tab-bg.png);
}

.i-tabsheet-hidetabs .i-tabsheet-tabcontainer {
	display: none;
}

.i-tabsheet-scroller {
	white-space: nowrap;
	text-align: right;
	margin-top: -37px;
}

.i-tabsheet-scrollerPrev,
.i-tabsheet-scrollerNext {
	border: none;
	width: 12px;
	height: 38px;
	opacity: 0.9999;
	margin-top: -1px;
}
.i-tabsheet-scrollerPrev-disabled,
.i-tabsheet-scrollerNext-disabled {
	border: none;
	width: 12px;
	height: 38px;
	margin-top: -1px;
	opacity: 0.9999;
}

.i-tabsheet-scrollerNext,
.i-tabsheet-scrollerNext-disabled {
	background: transparent url(tabsheet/img/next.png) no-repeat;
}
.i-tabsheet-scrollerPrev,
.i-tabsheet-scrollerPrev-disabled {
	background: transparent url(tabsheet/img/prev.png) no-repeat;
}
.i-tabsheet-scrollerPrev:hover,
.i-tabsheet-scrollerNext:hover {
	background-position: -24px 0px;
}
.i-tabsheet-scrollerPrev-disabled,
.i-tabsheet-scrollerNext-disabled {
	background-position: -12px 0px;
}
.i-tabsheet-scrollerPrev-disabled:hover,
.i-tabsheet-scrollerNext-disabled:hover {
	background-position: -12px 0px;
}

.i-tabsheet-tabs .i-caption {
	white-space: nowrap;
}

/* for IE (does not inherit) */
.i-tabsheet-tabs .i-caption span {
	white-space: nowrap;
}



.i-tabsheet-tabitem {
	border: 1px solid #b6bbbc;
	border-right: none;
	height: 37px;
	padding: 0;
	margin-top: 9px;
	color: #777f85;
	font-size: 15px;
	line-height: 18px;
	background: #f8f9f9 url(tabsheet/img/tab-bg.png);
	cursor: pointer;
}

.i-tabsheet-tabitem .i-caption {
	height: 20px;
	padding: 9px 15px 8px 15px;
}

.i-tabsheet-tabitem-selected {
	border: none;
	background: transparent url(panel/img/top-left.png) no-repeat;
	margin: 0;
	padding: 0;
	height: 48px;
	cursor: default;
	color: #ee5311;
}

.i-tabsheet-tabitem:hover {
	color: #4b5257;
}

.i-tabsheet-tabitem-selected:hover {
	color: #ee5311;
}

.i-tabsheet-tabitem-selected .i-caption {
	background: transparent url(panel/img/top-right.png) repeat-x right top;
	margin: 0 -1px 0 9px;
	height: 18px;
	padding: 16px 16px 14px 7px;
	overflow: visible;
}

.i-tabsheet-content {
	border: 1px solid #babfc0;
	background-color: #fff;
	border-bottom: 1px solid #dee2e3;
	border-top: none;
	position: relative;
}

.i-tabsheet-hidetabs .i-tabsheet-content {
	border-top: 1px solid #b5babb;
}

.i-tabsheet-deco {
	height: 10px;
	background: transparent url(panel/img/bottom-right.png) repeat-x right top;
	margin-left: 9px;
}

.i-tabsheet-deco:before {
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	margin-left: -9px;
	background: transparent url(panel/img/bottom-left.png) no-repeat;
}



/* Progress indication */

.i-tabsheet-loading .i-tabsheet-tabitem-selected .i-captiontext {
	background: transparent url(common/img/ajax-loader.gif) no-repeat top right;
	margin-left: -10px;
	padding-left: 10px;
	margin-right: -10px;
	padding-right: 10px;
	margin-top: -12px;
	padding-top: 12px;
}


/* IE specific styles */

* html .i-tabsheet-tabs {
	height: 46px;
}
*+html .i-tabsheet-tabs {
	height: 46px;
}

* html .i-tabsheet-tabitem-selected {
	border: 1px solid #babfc0;
	border-bottom: none;
	background: #fff;
	margin-top: 0;
	height: 23px;
	padding: 18px 14px 6px 15px;
	cursor: default;
	color: #ee5311;
}
*+html .i-tabsheet-tabitem-selected {
	border: 1px solid #babfc0;
	border-bottom: none;
	background: #fff;
	margin-top: 0;
	height: 23px;
	padding: 18px 14px 6px 15px;
	cursor: default;
	color: #ee5311;
}

* html .i-tabsheet-tabitem-selected .i-caption {
	background: transparent;
	padding: 0;
	margin: 0;
}
*+html .i-tabsheet-tabitem-selected .i-caption {
	background: transparent;
	padding: 0;
	margin: 0;
}

* html .i-tabsheet-content {
	border-bottom: none;
}
*+html .i-tabsheet-content {
	border-bottom: none;
}

* html .i-tabsheet-deco {
	height: 1px;
	background: #babfc0;
	overflow: hidden;
	margin: 0;
}
*+html .i-tabsheet-deco {
	height: 1px;
	background: #babfc0;
	overflow: hidden;
	margin: 0;
	width: 100%;
}














/* Inline style */

.i-tabsheet-light .i-tabsheet-tabcontainer {
	height: 32px;
}

.i-tabsheet-tabs-light {
	height: 32px;
	width: 100%;
	overflow:hidden;
	background: transparent url(tabsheet/img/inline-tab-bg.png) repeat-x;
}

.i-tabsheet-light .i-tabsheet-spacertd div {
	height: 31px;
	border: none;
	border-bottom: 1px solid #b6bbbc;
	background: transparent;
}

.i-tabsheet-light .i-tabsheet-tabitem {
	border: none;
	border-bottom: 1px solid #b6bbbc;
	height: 30px;
	padding: 0;
	margin-top: 0;
	color: #656d73;
	font-size: 12px;
	line-height: normal;
	background: transparent;
	cursor: pointer;
	text-shadow: #fff 0 1px 0;
}

.i-tabsheet-light .i-tabsheet-tabitemcell-first .i-caption {
	margin-left: 6px;
}

.i-tabsheet-light .i-tabsheet-tabitem .i-caption {
	height: 24px;
	padding: 8px 9px 0 9px;
}

.i-tabsheet-light .i-tabsheet-tabitem-selected {
	border: none;
	background: #fff url(tabsheet/img/inline-tab-right.png) no-repeat right top;
	margin: 0;
	padding: 0;
	height: 32px;
	cursor: default;
	color: #ee5311;
	text-shadow: none;
}

.i-tabsheet-light .i-tabsheet-tabitem:hover {
	color: #4b5257;
}

.i-tabsheet-light .i-tabsheet-tabitem-selected:hover {
	color: #ee5311;
}

.i-tabsheet-light .i-tabsheet-tabitem-selected .i-caption {
	background: transparent url(tabsheet/img/inline-tab-left.png) no-repeat -7px 0;
	margin: 0;
	height: 23px;
	padding: 9px 11px 0 11px;
	overflow: visible;
}

.i-tabsheet-light .i-tabsheet-tabitemcell-first .i-tabsheet-tabitem-selected .i-caption {
	background: transparent url(tabsheet/img/inline-tab-left.png) no-repeat -3px 0;
	padding-left: 15px;
}

.i-tabsheet-light .i-tabsheet-content {
	border: none;
	background: transparent;
}

.i-tabsheet-light .i-tabsheet-hidetabs .i-tabsheet-content {
	border: none;
}

.i-tabsheet-deco-light {
	height: 0;
	overflow: hidden;
}

.i-tabsheet-deco-light:before {
	display: none;
}


/* Scroller */

.i-tabsheet-light .i-tabsheet-scrollerPrev,
.i-tabsheet-light .i-tabsheet-scrollerNext {
	margin-top: 2px;
	height: 34px;
}
.i-tabsheet-light .i-tabsheet-scrollerPrev-disabled,
.i-tabsheet-light .i-tabsheet-scrollerNext-disabled {
	margin-top: 2px;
	height: 34px;
}




/* Progress indication */

.i-tabsheet-loading .i-tabsheet-tabs-light .i-tabsheet-tabitem-selected .i-captiontext {
	margin-left: -3px;
	padding-left: 3px;
}



/* IE specific styles */

* html .i-tabsheet-tabs-light {
	height: 32px;
}
*+html .i-tabsheet-tabs-light {
	height: 32px;
}

* html .i-tabsheet-light .i-tabsheet-tabitem-selected {
	border: none;
	background: #fff url(tabsheet/img/inline-tab-right.png) no-repeat right top;
	padding: 0;
	height: 32px;
}
*+html .i-tabsheet-light .i-tabsheet-tabitem-selected {
	border: none;
	background: #fff url(tabsheet/img/inline-tab-right.png) no-repeat right top;
	padding: 0;
	height: 32px;
}

* html .i-tabsheet-light .i-tabsheet-tabitem-selected .i-caption {
	background: transparent url(tabsheet/img/inline-tab-left.png) no-repeat -7px 0;
	padding: 9px 11px 0 11px;
}
*+html .i-tabsheet-light .i-tabsheet-tabitem-selected .i-caption {
	background: transparent url(tabsheet/img/inline-tab-left.png) no-repeat -7px 0;
	padding: 9px 11px 0 11px;
}

* html .i-tabsheet-deco-light {
	height: 0;
}
*+html .i-tabsheet-deco-light {
	height: 0;
}

/* ./WebContent/ITMILL/themes/default/textfield/textfield.css */
.i-textfield {
	background: #fff url(textfield/img/bg.png) repeat-x;
	padding: 2px;
	border: 1px solid #b6b6b6;
	border-top-color: #9d9d9d;
	border-bottom-color: #d6d6d6;
	border-right-color: #d6d6d6;
	margin: 0;
	font-size: 13px;
	height: 18px;
	text-align: left /* Force default alignment */
}

.i-textarea {
	background: #fff url(textfield/img/bg.png) repeat-x;
	padding: 2px;
	border: 1px solid #b6b6b6;
	border-top-color: #9d9d9d;
	border-bottom-color: #d6d6d6;
	border-right-color: #d6d6d6;
	margin: 0;
	font-size: 13px;
}

.i-textfield-focus,
.i-textarea-focus {
	border-color: #5daee8;
}

.i-textfield.i-readonly,
.i-textarea.i-readonly {
	background: transparent;
	color: #222;
	border: none;
}


.i-richtextarea {
	border: 1px solid #b6b6b6;
	overflow: hidden;
}
.i-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton,
.i-richtextarea .gwt-RichTextToolbar .gwt-PushButton {
	float:left;
}
.i-richtextarea .gwt-RichTextToolbar {
	white-space: nowrap;
}
.i-richtextarea .gwt-RichTextArea {
	background: #fff url(textfield/img/bg.png) repeat-x;
}
.i-richtextarea iframe {
	border: 0;
}

/* Disabled by default
.i-textarea-error,
.i-textfield-error,
.i-richtextarea-error iframe.gwt-RichTextArea {
	background:transparent;
	background-color: #FFE0E0;	
}
*/

/* Disabled by default
.i-textarea-required,
.i-textfield-required,
.i-richtextarea-required iframe.gwt-RichTextArea {
	background:transparent;
	background-color: #FFE0E0;	
}
*/

/* Safari focus glow fix */
.i-sa input:focus, 
.i-sa textarea:focus{
	outline-width: medium;
}

/* ./WebContent/ITMILL/themes/default/tree/tree.css */
.i-tree {
	text-align: left /* Force default alignment */
}

.i-tree-node {
	background: transparent url(tree/img/collapsed.png) no-repeat 2px 1px;
}
.i-tree-node-expanded {
	background: transparent url(tree/img/expanded.png) no-repeat 2px 1px;
}
.i-tree-node-leaf {
	background-image: none;
}
.i-tree-node-caption {
	margin-left: 16px;
}

.i-tree-node span {
	padding: 0 2px;
	cursor: pointer;
	white-space: nowrap;
}
.i-tree-node-selected span {
	background: #5daee8;
	color: #fff;
	padding: 0 2px;
	cursor: pointer;
}
.i-tree-node-children {
	padding-left: 16px;
}


/* ie6compatnode is hidden from non ie6 browsers, for ie6 
 * uses weird hack to sink all events properly 
 */
.i-tree-node-ie6compatnode {
	display: none;
}

/* IMPORTANT keep the offsetWidth of this element the same as the margin-left of i-tree-node-caption */
.i-ie6 .i-tree-node-ie6compatnode {
	display: inline;
	float: left;
	background: orange;
	margin: 0;
	width: 14px;
	height: 10px;
	padding: 1px;
	filter: Alpha(opacity=0);
}
.i-ie6 .i-tree-node,
.i-ie6 .i-tree-node-children {
	clear: left;
}

/* ./WebContent/ITMILL/themes/default/window/window.css */
.i-window {
	color: #464f52;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	font-size: 13px;
	line-height: 18px;
	background: transparent url(window/img/bottom-left.png) no-repeat left bottom;
}

.i-window-wrap {
	background: transparent url(window/img/top-left.png) no-repeat;
}

.i-window-outerheader {
	height: 23px;
	margin-left: 9px;
	padding: 15px 40px 11px 12px;
	background: transparent url(window/img/top-right.png) no-repeat right top;
	cursor: move;
}

.i-window-header {
	font-size: 18px;
	line-height: 1.2;
	font-weight: normal;
	letter-spacing: -0.03em;
	color: #f14c1a;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-shadow: 0 1px 0 #fff;
}

* html .i-window-header {
	width: 100%;
}

.i-window-header .i-icon {
	vertical-align: middle; /* This has to be 'middle', not 'bottom', to allow larger icons than 16px */
}

.i-window-contents {
	background: #fff;
	border: 2px solid #acb2b3;
	border-top: none;
	border-bottom: none;
}

/* Partial fix for bug #1106 */
/* Target Firefox 2 (somehow this will force almost all window borders on top of a Flash object) */
.i-window-contents, x:-moz-any-link {
	overflow: hidden;
}
/* Target Firefox 3 (it doesn't need any trickery, so revert the previous) */
.i-window-contents, x:-moz-any-link, x:default {
	overflow: visible;
}

.i-window-footer {
	height: 8px;
	margin-left: 9px;
	background: transparent url(window/img/bottom-right.png) no-repeat right top;
	/* IE7 bug fix */
	position:relative;
}

.i-window-resizebox {
	position: absolute; /* Needed to position the element over ScrollPanel, which is also relatively positioned */
	right: 5px;
	width: 10px;
	height: 10px;
	margin-top: -7px;
	cursor: se-resize;
	background: transparent url(window/img/resize.png);
	overflow: hidden;
}

.i-window-resizebox-disabled {
	cursor: default;
	background: transparent;
}

.i-window-closebox {
	position: absolute;
	top: 21px;
	right: 24px;
	width: 12px;
	height: 12px;
	background: transparent url(window/img/close.png);
	cursor: pointer;
	overflow: hidden;
}
.i-window-closebox:hover {
	background-position: 0 -12px;
}

.i-window-modalitycurtain {
	top: 0;
	left: 0;
	background: white;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=50);
}

/* IE6 workaround for position:fixed; */
* html .i-window-modalitycurtain { 
	position: absolute;
	top: expression(document.documentElement.scrollTop + "px"); 
}

/* IE specific styles */

* html .i-window {
	width: 0; /* min-size for IE6 */
}

/* Shadow for window */

.i-shadow-window {
	position: absolute;
}

.i-shadow-window .top-left {
    position: absolute; overflow: hidden;
    top: -13px;             left: -20px;
    width: 39px;         height: 39px;
    background: transparent url(window/img/shadow/top-left.png);
}

.i-shadow-window .top {
    position: absolute; overflow: hidden;
    top: -13px;             left: 19px;
    height: 39px;
    right: 19px;
    background: transparent url(window/img/shadow/top.png);
}

.i-shadow-window .top-right {
    position: absolute; overflow: hidden;
    top: -13px;             right: -20px;
    width: 39px;         height: 39px;
    background: transparent url(window/img/shadow/top-right.png);
}

.i-shadow-window .left {
    position: absolute; overflow: hidden;
    top: 26px;           left: -20px;
    width: 39px;
    bottom: 12px;
    background: transparent url(window/img/shadow/left.png);
}

.i-shadow-window .center {
    position: absolute; overflow: hidden;
    top: 26px;           left: 19px;
    bottom: 12px;        right: 19px;
    background: transparent url(window/img/shadow/center.png);
}

.i-shadow-window .right {
    position: absolute; overflow: hidden;
    top: 26px;           right: -20px;
    width: 39px;
    bottom: 12px;
    background: transparent url(window/img/shadow/right.png);
}

.i-shadow-window .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -27px;           left: -20px;
    width: 39px;          height: 39px;
    background: transparent url(window/img/shadow/bottom-left.png);
}

.i-shadow-window .bottom {
    position: absolute; overflow: hidden;
    bottom: -27px;           left: 19px;
    right: 19px;          height: 39px;
    background: transparent url(window/img/shadow/bottom.png);
}

.i-shadow-window .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -27px;           right: -20px;
    width: 39px;          height: 39px;
    background: transparent url(window/img/shadow/bottom-right.png);
}


/* For IE6 (no transparent png's, we use a blur filter) */

* html .i-shadow-window * {
	display: none;
}

* html .i-shadow-window {
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5) alpha(opacity=20);
	margin-top: 2px;
	margin-left: 2px;
}
