/*
 * PopupView styles
 */
.i-popupview-popup{
	border: 				1px solid #babfc0;
	border-bottom: 			1px solid #dee2e3;
	background-color:		white;
	overflow: 				auto;
	padding:				3px;
	margin:					3px;
}