@import url(../runo/styles.css);

/*
 * Simplified default theme to work seamlessly with Liferay
 */

div.v-app {
	background-color: transparent;
}

.v-orderedlayout-margin-left {
	padding-left:8px;
}
.v-orderedlayout-margin-bottom {
	padding-bottom:5px;
}
.v-orderedlayout-margin-right {
	padding-right:8px;
}
.v-orderedlayout-margin-top {
	padding-top:5px;
}

input[type="text"].v-filterselect-input {
	background: transparent;
	border: none;
	font-size: 13px;
	height: 20px;
	margin: 0px;
	padding: 3px 0px 0px 4px;
}
	
.simplereserver div.v-datefield-entrycalendar-hours {
	height: 200px;
	overflow: auto;
}

