<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
    <td>open</td>
    <td>/run/com.vaadin.tests.components.treetable.TreeTableTest?restartApplication</td>
    <td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreetableTreeTableTest::PID_Smenu#item1</td>
	<td>26,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreetableTreeTableTest::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>25,8</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentstreetableTreeTableTest::PID_Smenu#item0</td>
    <td>27,4</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentstreetableTreeTableTest::Root/VOverlay[0]/VMenuBar[0]#item8</td>
    <td>49,10</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentstreetableTreeTableTest::Root/VOverlay[1]/VMenuBar[0]#item5</td>
    <td>104,7</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentstreetableTreeTableTest::Root/VOverlay[2]/VMenuBar[0]#item1</td>
    <td>40,10</td>
</tr>
<tr>
    <td>screenCapture</td>
    <td></td>
    <td>redrow</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentstreetableTreeTableTest::PID_StestComponent/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[0]/domChild[0]</td>
    <td>10,4</td>
</tr>
<tr>
    <td>pause</td>
    <td></td>
    <td>200</td>
</tr>
<tr>
    <td>screenCapture</td>
    <td></td>
    <td>redrowexpanded</td>
</tr>

</tbody></table>
</body>
</html>
