.foo {
	color: red;
}

.foo-bar {
	color: red;
}

.foo_bar {
	color: red;
}

.foo .bar {
	color: red;
}

.foo .bar .baz .fee .roo {
	color: red;
}

.foo.bar.baz.fee.roo {
	color: red;
}

.foo.bar .baz.fee.roo .dar {
	color: red;
}

.foo > .bar {
	color: red;
}

#foo {
	color: red;
}

#foo .bar {
	color: red;
}

.foo #bar {
	color: red;
}

#foo.bar {
	color: red;
}

#foo, #bar, .baz, .roo .dar {
	color: red;
}

#foo a, .foo pre img {
	color: red;
}

#foo a.bar {
	color: red;
}

a:link {
	color: red;
}

a.foo:visited, .bar {
	color: red;
}

.v-app input[type="text"] {
	color: red;
}

.foo + .bar {
	color: red;
}

h1 + .foo {
	color: red;
}

.foo * {
	color: red;
}

.foo * h1 {
	color: red;
}

h1 * .foo {
	color: red;
}

* .foo {
	color: red;
}

p::abc {
	color: red;
}

p:first {
	color: red;
}

.foo a[class^=icon-] {
	color: red;
}