.v-slider {
	border-top: 1px solid #9a9c9e;
	border-bottom: 1px solid #bdbfc1;
	margin: 4px 0;
}
.v-slider-base {
	height: 1px;
	background: #e0e2e2;
	border-top: 1px solid #adb0b1;
	border-left: 1px solid #a0a3a6;
	border-right: 1px solid #a0a3a6;
}
.v-slider-handle {
	background: transparent;
	background-image: url(img/knob.png); /** sprite-ref: verticals */
	width: 10px;
	height: 10px;
	margin-top: -5px;
}
.v-slider-handle-active {
	background-image: url(img/knob-pressed.png); /** sprite-ref: verticals */
}
.v-slider-vertical {
	width: 2px;
	margin: 0 5px;
	border: none;
	border-left: 1px solid #9a9c9e;
	border-right: 1px solid #bdbfc1;
}
.v-slider-vertical .v-slider-base {
	width: 2px;
	border-left: 1px solid #adb0b1;
	border-right: none;
	border-top: 1px solid #adb0b1;
	border-bottom: 1px solid #adb0b1;	
}
.v-slider-vertical .v-slider-handle {
	width: 10px;
	height: 10px;
	margin-left: -5px;
}