@mixin reindeer-textfield($name : v-textfield) {

/* Textfield on blue background */
.blue .#{$name},
.blue .v-textarea {
	border-color: #92a2aa;
	border-top-color: #7c8a90;
	border-bottom-color: #a1b3bc;
}
/* Default & white background */
.#{$name},
.v-textarea,
.white .#{$name},
.white .v-textarea {
	border: 1px solid #bcbdbe;
	border-top-color: #a2a3a4;
	border-bottom-color: #d2d3d4;
	background: #fff;
	background-repeat: repeat-x;
	background-image: url(img/bg.png); /** sprite-ref: verticals; sprite-alignment: repeat; sprite-margin-bottom: 22px */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0;
	height: 23px;
	line-height: normal;
}
.v-textarea,
.white .v-textarea {
	background-image: none;
	height: auto;
}
/* Need more specific selector because of #2384 fixes in base/common/common.css */
.v-app input.#{$name},
.v-window input.#{$name},
.v-app textarea.v-textarea,
.v-window textarea.v-textarea  {
	padding: 3px 3px 4px;
}
.v-app input.#{$name}.v-widget,
.v-window input.#{$name}.v-widget {
	height: 24px;
}
.v-app .#{$name}-focus,
.v-window .#{$name}-focus,
.v-popupview-popup .#{$name}-focus,
.v-app .v-textarea-focus,
.v-window .v-textarea-focus,
.v-popupview-popup .v-textarea-focus {
	border-color: #5b97d0;
	border-top-color: #4f83b4;
	border-bottom-color: #5ca0df;
	outline: none;
	background-color: #fff;
}
input.#{$name}-prompt,
textarea.v-textarea-prompt {
	font-style: normal;
	color: #999;
}
/* Small style textfield */
.v-app input.#{$name}-small {
	font-size: 11px;
	line-height: normal;
	height: auto;
	padding: 2px;
}
.v-app textarea.v-textarea-small {
	font-size: 11px;
}
.v-app .v-table  input.#{$name}.v-widget,
.v-window .v-table input.#{$name}.v-widget {
	padding: 1px 2px;
	height: auto;
	line-height: normal;
}
.v-table-cell-wrapper > input.#{$name} {
	margin-top: -2px;
	margin-bottom: -2px;
}
/* Textfield on black background */
.black .#{$name},
.black .v-textarea {
	border-color: #38393a;
	border-top-color: #2c2d2e;
	border-bottom-color: #3e3f3f;
	background: #151717;
	background-image: url(img/bg-black.png); /** sprite-ref: black-verticals; sprite-alignment: repeat; sprite-margin-bottom: 22px */
	color: #c9ccce;
	text-shadow: #000 0 0 1px;
}
.black .v-textarea {
	background-image: none;
}
.v-app .black .#{$name}-focus,
.v-window-black .#{$name}-focus,
.v-window .black .#{$name}-focus,
.v-popupview-popup .black .#{$name}-focus,
.v-app .black .v-textarea-focus,
.v-window-black .v-textarea-focus,
.v-window .black .v-textarea-focus,
.v-popupview-popup .black .v-textarea-focus {
	border-color: #4b7192;
	border-top-color: #3b5a75;
	border-bottom-color: #507596;
	background-color: #151717;
}
.black input.#{$name}-prompt {
	color: #5f6366;
}
/* Readonly */
input.#{$name}-readonly,
.black input.#{$name}-readonly,
textarea.v-textarea-readonly,
.black textarea.v-textarea-readonly {
	border: none;
	background: transparent;
}

}