.v-textfield,
.v-textarea {
	line-height: normal;
	height: 19px;
	border: 1px solid #bcbdbe;
	border-top-color: #a2a3a4;
	border-bottom-color: #d2d3d4;
	background: #fff;
	background-repeat: repeat-x;
	background-image: url(img/bg.png); /** sprite-ref: verticals; sprite-alignment: repeat; sprite-margin-bottom: 22px */
	border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 0;
}
.v-textarea {
	background-image: none;
	height: auto;
}
/* Need more specific selector because of #2384 fixes in base/common/common.css */
.v-app input.v-textfield,
.v-app textarea.v-textarea,
.v-window input.v-textfield,
.v-window textarea.v-textarea  {
	padding: 3px 3px 0 3px;
}
/* Textfield on blue background */
.blue .v-textfield,
.blue .v-textarea {
	border-color: #92a2aa;
	border-top-color: #7c8a90;
	border-bottom-color: #a1b3bc;
}
.v-app .v-textfield-focus,
.v-window .v-textfield-focus,
.v-popupview-popup .v-textfield-focus,
.v-app .v-textarea-focus,
.v-window .v-textarea-focus,
.v-popupview-popup .v-textarea-focus {
	border-color: #5b97d0;
	border-top-color: #4f83b4;
	border-bottom-color: #5ca0df;
	outline: none;
}
input.v-textfield-prompt,
textarea.v-textarea-prompt {
	font-style: normal;
	color: #999;
}
/* Capable browsers get fancier border images */
.v-sa input.v-textfield,
.v-ff35 input.v-textfield {
	border-radius: 0;
	-moz-border-radius: 0;
	border: none;
	background: transparent;
	border-width: 0 3px 0 3px;
	padding: 4px 0 0 0;
	height: 20px;
	-webkit-border-image: url(img/bg-border-image.png) 0 3 0 3 stretch stretch;
	-moz-border-image: url(img/bg-border-image.png) 0 3 0 3 stretch stretch;
}
.v-sa input.v-textfield-focus,
.v-ff35 input.v-textfield-focus {
	-webkit-border-image: url(img/bg-border-image-focus.png) 0 3 0 3 stretch stretch;
	-moz-border-image: url(img/bg-border-image-focus.png) 0 3 0 3 stretch stretch;
}
/* Small style textfield */
.v-app input.v-textfield-small,
.v-sa input.v-textfield-small,
.v-ff35 input.v-textfield-small {
	font-size: 11px;
	height: 15px;
}
.v-app textarea.v-textarea-small {
	font-size: 11px;
}
.v-sa input.v-textfield-small,
.v-ff35 input.v-textfield-small {
	height: 16px;
}
.v-table input.v-textfield {
	margin-top: -3px;
	height: 15px;
	line-height: normal;
}
.v-ie .v-table input.v-textfield {
	padding-top: 1px;
}
/* Textfield on black background */
.black .v-textfield {
	border-color: #38393a;
	border-top-color: #2c2d2e;
	border-bottom-color: #3e3f3f;
	background: #151717;
	background-image: url(img/bg-black.png); /** sprite-ref: black-verticals; sprite-alignment: repeat; sprite-margin-bottom: 22px */
	color: #c9ccce;
	text-shadow: #000 0 0 1px;
}
.v-app .black .v-textfield-focus,
.v-window-black .v-textfield-focus,
.v-window .black .v-textfield-focus,
.v-popupview-popup .black .v-textfield-focus {
	border-color: #4b7192;
	border-top-color: #3b5a75;
	border-bottom-color: #507596;
}
/* Capable browsers get fancier border images */
.v-sa .black input.v-textfield,
.v-ff35 .black input.v-textfield {
	-webkit-border-image: url(img/bg-border-image-black.png) 0 3 0 3 stretch stretch;
	-moz-border-image: url(img/bg-border-image-black.png) 0 3 0 3 stretch stretch;
	height: 19px;
}
.v-sa .black input.v-textfield-focus,
.v-ff35 .black input.v-textfield-focus {
	-webkit-border-image: url(img/bg-border-image-black-focus.png) 0 3 0 3 stretch stretch;
	-moz-border-image: url(img/bg-border-image-black-focus.png) 0 3 0 3 stretch stretch;
}
.v-sa .black input.v-textfield-small,
.v-ff35 .black input.v-textfield-small {
	height: 15px;
}

.black input.v-textfield-prompt {
	color: #5f6366;
}

/* Readonly */
input.v-textfield-readonly,
.v-sa input.v-textfield-readonly,
.v-ff35 input.v-textfield-readonly,
.black input.v-textfield-readonly,
.v-sa .black input.v-textfield-readonly,
.v-ff35 .black input.v-textfield-readonly {
	border: none;
	background: transparent;
	-webkit-border-image: none;
	-moz-border-image: none;
	border-width: 0;
}