<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>Required error tootlip</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Required error tooltip</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.orderedlayout.ErrorIndicator?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>showTooltip</td>
	<td>//div[@id='gwt-uid-4']/span</td>
	<td>43,4</td>
</tr>

<tr>
        <td>screenCapture</td>
        <td></td>
        <td>tooltipVertivcalCaption</td>
</tr>
<tr>
        <td>waitForVaadin</td>
        <td></td>
        <td></td>
</tr>
<tr>
	<td>showTooltip</td>
	<td>//div[@id='gwt-uid-4']/span[2]</td>
	<td>3,6</td>
</tr>
<tr>
        <td>screenCapture</td>
        <td></td>
        <td>tooltipVertivcalRequiredIndicator</td>
</tr>
<tr>
        <td>waitForVaadin</td>
        <td></td>
        <td></td>
</tr>
<tr>
	<td>showTooltip</td>
	<td>//div[@id='gwt-uid-6']/span</td>
	<td>38,11</td>
</tr>
<tr>
        <td>screenCapture</td>
        <td></td>
        <td>tooltipHorizontalCaption</td>
</tr>
<tr>
        <td>waitForVaadin</td>
        <td></td>
        <td></td>
</tr>
<tr>
	<td>showTooltip</td>
	<td>//div[@id='gwt-uid-6']/span[2]</td>
	<td>3,4</td>
</tr>
<tr>
        <td>screenCapture</td>
        <td></td>
        <td>tooltipHorizontalRequiredIndicator</td>
</tr>
<tr>
        <td>waitForVaadin</td>
        <td></td>
        <td></td>
</tr>
</tbody></table>
</body>
</html>
