<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
    <td>open</td>
    <td>/run/com.vaadin.tests.components.combobox.ComboboxPrimaryStyleNames?restartApplication</td>
    <td></td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]</td>
    <td>my-combobox</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]/domChild[0]</td>
    <td>my-combobox-input</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]/domChild[1]</td>
    <td>my-combobox-button</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]#textbox</td>
    <td>98,8</td>
</tr>
<tr>
    <td>pressSpecialKey</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]#textbox</td>
    <td>down</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']</td>
    <td>my-combobox-suggestpopup</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[1]</td>
    <td>my-combobox-prevpage-off</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[2]</td>
    <td>my-combobox-suggestmenu</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[3]</td>
    <td>my-combobox-nextpage-off</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[4]</td>
    <td>my-combobox-status</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]#textbox</td>
    <td>98,8</td>
</tr>
<tr>
    <td>click</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VButton[0]/domChild[0]/domChild[0]</td>
    <td></td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]</td>
    <td>my-second-combobox</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]/domChild[0]</td>
    <td>my-second-combobox-input</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]/domChild[1]</td>
    <td>my-second-combobox-button</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]#textbox</td>
    <td>98,8</td>
</tr>
<tr>
    <td>pressSpecialKey</td>
    <td>vaadin=runcomvaadintestscomponentscomboboxComboboxPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VFilterSelect[0]#textbox</td>
    <td>down</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']</td>
    <td>my-second-combobox-suggestpopup</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[1]</td>
    <td>my-second-combobox-prevpage-off</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[2]</td>
    <td>my-second-combobox-suggestmenu</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[3]</td>
    <td>my-second-combobox-nextpage-off</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[4]</td>
    <td>my-second-combobox-status</td>
</tr>
</tbody></table>
</body>
</html>
