<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://artur-laptop.office.itmill.com:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.tabsheet.TabSheetTest?restartApplication</td>
	<td></td>
</tr>
<!--hide log to avoid messing up screenshots-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item1</td>
	<td>33,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>31,9</td>
</tr>
<!--Add some components-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item0</td>
	<td>21,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>49,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>16,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>49,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[3]/VMenuBar[0]#item0</td>
	<td>94,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item0</td>
	<td>41,21</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>49,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>28,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[2]/VMenuBar[0]#item1</td>
	<td>39,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[3]/VMenuBar[0]#item0</td>
	<td>28,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item0</td>
	<td>52,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>74,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>50,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[2]/VMenuBar[0]#item3</td>
	<td>72,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[3]/VMenuBar[0]#item5</td>
	<td>51,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item0</td>
	<td>16,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>89,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>76,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[2]/VMenuBar[0]#item1</td>
	<td>56,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[3]/VMenuBar[0]#item6</td>
	<td>19,2</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>auto-auto-button</td>
</tr>
<!--Set width and height-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item0</td>
	<td>34,1</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>54,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>8,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[2]/VMenuBar[0]#item6</td>
	<td>17,2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item0</td>
	<td>42,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>47,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>19,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[2]/VMenuBar[0]#item5</td>
	<td>29,3</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>500px-400px-button</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item0</td>
	<td>24,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>75,0</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>46,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>40,2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[3]/VMenuBar[0]#item0</td>
	<td>18,1</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item0</td>
	<td>41,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>70,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>62,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>20,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[3]/VMenuBar[0]#item0</td>
	<td>19,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>selected-0-closable-0-2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_StestComponent/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[2]/domChild[0]/domChild[0]</td>
	<td>1,21</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>selected-2-closable-0-2</td>
</tr>
<!--Close and selection listeners-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item0</td>
	<td>29,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
	<td>49,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>80,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item0</td>
	<td>18,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
	<td>67,14</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>71,9</td>
</tr>
<!--show log to be able to assert-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_Smenu#item1</td>
	<td>33,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>31,9</td>
</tr>
<!--close tab 2-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_StestComponent/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[2]/domChild[0]/domChild[0]/domChild[0]</td>
	<td>10,10</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_SLog/ChildComponentContainer[1]/VLabel[0]</td>
	<td>10. Tab 2 closed</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_SLog/ChildComponentContainer[0]/VLabel[0]</td>
	<td>11. Tab 0 selected</td>
</tr>
<!--select tab 1-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_StestComponent/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[1]/domChild[0]/domChild[0]/domChild[0]</td>
	<td>32,7</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_SLog/ChildComponentContainer[0]/VLabel[0]</td>
	<td>12. Tab 1 selected</td>
</tr>
<!--select tab 2-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_StestComponent/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[2]/domChild[0]/domChild[0]/domChild[0]</td>
	<td>46,9</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetTabSheetTest::PID_SLog/ChildComponentContainer[0]/VLabel[0]</td>
	<td>13. Tab 2 selected</td>
</tr>

</tbody></table>
</body>
</html>
