.v-gridlayout-margin-top {
	padding-top: 15px;
}
.v-gridlayout-margin-bottom {
	padding-bottom: 15px;
}
.v-gridlayout-margin-left {
	padding-left: 18px;
} 
.v-gridlayout-margin-right {
	padding-right: 18px;
}
.v-gridlayout-spacing-on {
	padding-left: 8px;
	padding-top: 8px;
}