<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.form.FormTest?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::PID_Smenu#item0</td>
	<td>36,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[0]/VMenuBar[0]#item1</td>
	<td>53,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>65,2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>32,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>description-medium</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::PID_Smenu#item0</td>
	<td>20,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
	<td>32,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>33,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[2]/VMenuBar[0]#item1</td>
	<td>62,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::PID_Smenu#item0</td>
	<td>39,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[0]/VMenuBar[0]#item1</td>
	<td>59,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>97,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[2]/VMenuBar[0]#item3</td>
	<td>46,7</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>footer-description-long</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::PID_Smenu#item0</td>
	<td>44,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>35,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>34,0</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[2]/VMenuBar[0]#item4</td>
	<td>47,13</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>footer-description-long-width-300px</td>
</tr>

</tbody></table>
</body>
</html>
