<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Vaadin Framework @version@</title>
<link rel="stylesheet" type="text/css" href="css/styles.css" />

<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie.css" />
		<![endif]-->
<style type="text/css">
.nested-list ol {
	counter-reset: item
}

.nested-list li {
	display: block
}

.nested-list li:before {
	content: counters(item, ".") ". ";
	counter-increment: item
}
</style>
</head>

<body>
    <div id="header">
        <h1>Vaadin &ndash; thinking of U and I</h1>
        <div id="version">
            <strong>Version @version@</strong>
        </div>
    </div>
    <!-- /header -->

    <div id="content">
        <p>Version @version@ built on @builddate@.</p>

        <h2 id="tableofcontents">Release Notes for Vaadin Framework
            @version@</h2>
        <ul>
            <li><a href="#overview">Overview of Vaadin
                    @version@ Release</a></li>
            <li><a href="#changelog">Change Log for Vaadin
                    @version@</a></li>
            <li><a href="#enhancements">Enhancements in Vaadin
                    @version-minor@</a></li>
            <li><a href="#incompatible">Incompatible or Behavior-altering Changes in
                    @version-minor@</a></li>
            <li><a href="#knownissues">Known Issues and Limitations</a></li>
            <li><a href="#gwtdep">GWT Dependency Changes</a></li>
            <li><a href="#vaadin">Vaadin Installation</a></li>
            <li><a href="#package">Package Contents</a></li>
            <li><a href="#migrating">Migrating from Vaadin 6</a></li>
            <li><a href="#dependencies">Vaadin @version@
                    dependencies</a></li>
            <li><a href="#upgrading">Upgrading to Vaadin
                    @version-minor@</a></li>
            <li><a href="#supportedversions">Supported
                    Technologies</a></li>
            <li><a href="#vaadinontheweb">Vaadin on the Web</a></li>
        </ul>

        <h2 id="overview">Overview of Vaadin @version@ Release</h2>

        <p>
            Vaadin @version@ is a
            maintenance release that includes a number of bug fixes, as listed in the
<!--            feature release that includes --> 
<!--            pre-release for evaluating -->
<!--            a number of new features and bug fixes, as listed in the -->
            <a
                href="#enhancements">list of enhancements</a> and <a
                href="#changelog">change log</a> below.
        </p>

        <!-- ================================================================ -->
        <h3 id="changelog">Change Log for Vaadin @version@</h3>

        <p>
            You can find the full list of all changes <a
                href="https://github.com/vaadin/framework/releases/tag/@version@">in
                GitHub</a>.
        </p>

        <h2 id="enhancements">Enhancements in Vaadin @version-minor@</h2>

        <p>Vaadin @version-minor@ includes many major and minor
            enhancements. Below is a list of the most notable changes:</p>

        <ul>
            <li>Vaadin Framework is now built with Maven</li>
            <li>System properties can now override application properties, e.g. -DproductionMode=true
                (<a href="http://dev.vaadin.com/ticket/19683">#19683</a>)</li>
            <li>Vaadin can now automatically use default widgetset AppWidgetset optionally generated
                by the latest Vaadin Maven plug-in (<a href="http://dev.vaadin.com/ticket/19675">#19675</a>)</li>
        </ul>

        <p>
            For enhancements introduced in Vaadin 7.6, see the <a
                href="http://vaadin.com/download/release/7.6/7.6.0/release-notes.html">Release
                Notes for Vaadin 7.6.0</a>.
        </p>

        <h3 id="incompatible">Incompatible or Behavior-altering Changes in @version-minor@</h3>
        <ul>
            <li>Vaadin artifacts no longer bring a transitive dependency to javax.servlet:servlet-api.</li>
            <li>System properties now override application parameters for settings such as production mode (see above).</li>
            <li>The return type of BootstrapHandler.getWidgetsetForUI() has changed.</li>
            <li>Vaadin shared no longer depends on a custom build of Guava. Any project that depends on Guava as a transitive dependency should use standard Guava.</li>
            <li>Valo theme field error styles now apply to NativeSelect, ListSelect and TwinColSelect as well.</li>
            <li>The LoginForm component has been rewritten to better support auto-completion of passwords on modern browsers.
                Its API, look and DOM structure have changed somewhat, so any application level customizations of LoginForm need changes.
                See also <a href="http://dev.vaadin.com/ticket/8171">#8171</a></li>
            <li>The way we handle GWT dependencies has been completely changed. See <a href="#gwtdep">this section</a> for more details.</li>
            <li>Client side compilation with Maven is now in strict mode by default, failing the compilation on any errors.</li>
        </ul>
        <h3 id="knownissues">Known Issues and Limitations</h3>
        <ul>
            <li>Vaadin TouchKit versions prior to 4.1.0 do not work with Vaadin 7.7. Please use version 4.1.0 or above.</li>
            <li>Context click events are not generated on iOS devices
                (<a href="http://dev.vaadin.com/ticket/19367">#19367</a>)</li>
            <li>Drag'n'drop in a Table doesn't work on touch devices running
                Internet Explorer (Windows Phone, Surface)
                (<a href="http://dev.vaadin.com/ticket/13737">#13737</a>)
            </li>
            <li><p>It is currently not possible to specify <tt>font-size</tt>
                as <tt>em</tt> or <tt>%</tt>, or layout component sizes
                with <tt>em</tt> (<a
                href="http://dev.vaadin.com/ticket/10634">#10634</a>).</p><p>This 
                does not apply to Valo, but using em sizes to size layouts is discouraged, 
                because it results in fractional component sizes in many cases, which 
                might cause unwanted 1px gaps between components.</p>
            </li>
            <li>Up-to-date information about configuration needed for push and compatibility issues are available in
            <a href="https://vaadin.com/wiki/-/wiki/Main/Configuring+push+for+your+environment">this wiki page.</a>
            <br />
            The most prominent limitations are:
            <ul>
                <li>Push is currently not supported in portals (See <a
                    href="http://dev.vaadin.com/ticket/11493">#11493</a>)
                </li>
                <li>>Transport mode WEBSOCKET does not support invalidating the session on Tomcat 7,
                     nor setting cookies for the session. The new transport mode WEBSOCKET_XHR can be 
                     used to bypass these limitations.
                     <br />
                     See tickets <a href="https://dev.vaadin.com/ticket/11808">#11808</a> and
                     <a href="https://dev.vaadin.com/ticket/11721">#11721</a>
                </li>
            </ul>
            </li>
            <li>Google App Engine has some limitations. Please consult Vaadin Wiki:
                <a href="https://vaadin.com/wiki/-/wiki/Main/Vaadin+support+for+Google+App+Engine">Vaadin support for Google App Engine</a>
            </li>
            <li>Grid does not support adding components to cells. Instead light-weight Renderers can be
                used to present and edit data.</li>
        </ul>
        
        <h3 id="gwtdep">GWT Dependency Changes</h3>
        
        <p>
            The GWT dependencies for Vaadin are now provided as actual dependencies 
            and not bundled with Vaadin packages. This means that you can override 
            the GWT version in your own project if you want to. Note that the GWT Elemental 
            is still partially bundled with shared package to avoid having the gwt-user as a 
            dependency everywhere.
        </p>
        
        <ul>
            <li>Basic Vaadin server-side only use does not need any changes to your project.</li>
            <li>Custom widgets and Add-ons should work just like before.</li>
            <li>Projects that use GWT RPC or other utils from the com.google package should add gwt-servlet dependency
                <pre>
&lt;dependency>
    &lt;groupId>com.vaadin.external.gwt&lt;/groupId>
    &lt;artifactId>gwt-servlet&lt;/artifactId>
    &lt;version>@gwt-version@&lt;/version>
&lt;/dependency>
                </pre>
            </li>
            <li>OSGi currently does not work with client and client-compiler packages. Those should not be used with OSGi.</li>
        </ul>
        

        <h2 id="vaadin">Vaadin Installation</h2>

        <p>
            <b>Vaadin</b> is a Java framework for building modern web
            applications that look great, perform well and make you and
            your users happy. <b>Vaadin</b> is available under the
            Apache License, Version 2.0 (see the
            <tt>license.html</tt>
            in the Vaadin ZIP package).
        </p>

        <p>
            The easiest ways to install <b>Vaadin</b> are:
        </p>

        <ul>
            <li><strong>Maven dependency.</strong>If using Maven, define it as a dependency or use
                any of the available archetypes to create a new project. More information at 
                <a href="https://vaadin.com/maven">https://vaadin.com/maven</a>
            </li>

            <li><strong>IDE Plugins.</strong>If using Eclipse, use the 
                <a href="http://vaadin.com/eclipse">Vaadin Plugin for Eclipse</a>, which automatically 
                downloads the Vaadin libraries. For NetBeans 8.0 and 7.4, use the 
                <a href="http://plugins.netbeans.org/plugin/50531/vaadin-plug-in-for-netbeans">official Vaadin plugin</a>
                that provides Maven based wizards and code completion support for Vaadin development.
            </li>
        </ul>

        <p>
            Vaadin Framework is also available as a ZIP package downloadable from <a
                href="http://vaadin.com/download">Vaadin Download
                page</a>.
        </p>

        <h3 id="package">Package Contents</h3>

        <p>Inside the ZIP installation package you will find:</p>

        <ul>
            <li>Separate server-side (<tt>vaadin-server</tt>) and
                client-side (<tt>vaadin-client</tt>, <tt>vaadin-client-compiler</tt>)
                development libraries
            </li>
            <li>Precompiled widget set (<tt>vaadin-client-compiled</tt>)
                for server-side development
            </li>
            <li>Shared library (<tt>vaadin-shared</tt>) for both
                server- and client-side libraries
            </li>
            <li>Built-in themes (<tt>vaadin-themes</tt>)
            </li>
            <li>Dependency libraries provided under the <tt>lib/</tt>
                folder
            </li>
        </ul>

        <p>
            See the
            <tt>README.TXT</tt>
            in the installation package for detailed information about
            the package contents. <a href="http://vaadin.com/book">Book
                of Vaadin</a> (for Vaadin 7) gives more detailed
            instructions.
        </p>

        <p>
            For server-side development, copy the
            <tt>vaadin-server</tt>
            ,
            <tt>vaadin-client-compiled</tt>
            ,
            <tt>vaadin-shared</tt>
            , and
            <tt>vaadin-themes</tt>
            from the main folder and the dependencies from the
            <tt>lib</tt>
            folder to the
            <tt>WEB-INF/lib</tt>
            folder of your Vaadin project. (The
            <tt>vaadin-client-compiled</tt>
            is necessary if you do not wish to compile the widget set by
            your own, which you need to do if you use almost any add-on
            components.)
        </p>

        <h4 id="package.updates">Updates to the Packaging</h4>
        <p>
            Since Vaadin 7.2.0, the old vaadin-theme-compiler has been moved into
            a separate project and renamed to vaadin-sass-compiler. It is now included
            along with the other 3rd party dependencies in the ZIP package.
        </p>

        <p>
            For pure client-side development, you only need the
            <tt>vaadin-client</tt>
            and
            <tt>vaadin-client-compiler</tt>
            JARs, which should be put to a non-deployed project library
            folder, such as
            <tt>lib</tt>
            . You also need them if you compile the widget set for any
            reason, such as using Vaadin add-ons, or create new
            server-side components integrated with client-side widgets.
        </p>

        <h2 id="migrating">Migrating from Vaadin 6</h2>

        <p>
            All Vaadin 6 applications need some changes when migrating
            to Vaadin 7. The most obvious changes are in the
            application/window API and require extending either <b>UI</b>
            or <b>UI.LegacyApplication</b> instead of <b>Application</b>.
            A detailed list of migration changes are given in the <a
                href="https://vaadin.com/wiki/-/wiki/Main/Migrating+from+Vaadin+6+to+Vaadin+7">Vaadin
                7 Migration Guide</a>.
        </p>

        <p>Any custom client-side widgets need to be ported to use
            the new client-server communication API, or the Vaadin 6
            compatibility API.</p>

        <p>
            Vaadin 6 add-ons (ones that contain widgets) do not work in
            Vaadin 7 - please check the add-ons in <a
                href="http://vaadin.com/directory/">Vaadin Directory</a>
            for Vaadin 7 support.
        </p>

        <h2 id="dependencies">Vaadin @version@ Dependencies</h2>

        <p>When using Maven, Ivy, Gradle, or other dependency
            management system, all Vaadin dependencies are downloaded
            automatically. This is also the case when using the Vaadin
            Plugin for Eclipse.</p>

        <p>
            The Vaadin ZIP installation package includes the
            dependencies in the
            <tt>lib</tt>
            subfolder. These need to be copied to the
            <tt>WEB-INF/lib</tt>
            folder of the web application that uses Vaadin.
        </p>

        <p>
            The dependencies are listed in the <a href="license.html">Licensing
                description</a>. Some are explicit dependencies packaged and
            distributed as separate JARs, while some are included inside
            other libraries.
        </p>

        <h3>Bean Validation</h3>

        <p>
            If you use the bean validation feature in Vaadin 7, you need
            a Bean Validation API implementation. You need to install
            the implementation JAR in the
            <tt>WEB-INF/lib</tt>
            directory of the web application that uses validation.
        </p>

        <h2 id="upgrading">Upgrading to Vaadin @version-minor@</h2>

        <p>When upgrading from an earlier Vaadin version, you must:
        </p>

        <ul>
            <li>Recompile your classes using the new Vaadin
                version. Binary compatibility is only guaranteed for
                maintenance releases of Vaadin.</li>

            <li>Unless using the precompiled widget set, recompile
                your widget set using the new Vaadin version.</li>
        </ul>

        <p>Remember also to refresh the project in your IDE to
            ensure that the new version of everything is in use.</p>

        <p>
            By using the "
            <tt>?debug</tt>
            " URL parameter, you can verify that the version of the
            servlet, the theme, and the widget set all match.
        </p>

        <p>
            <b>Eclipse</b> users should always check if there is a new
            version of the Eclipse Plug-in available. The Eclipse
            Plug-in can be used to update the Vaadin version in the
            project (Project properties &raquo; Vaadin).
        </p>

        <p>
            <b>Maven</b> users should update the Vaadin dependency
            version in the
            <tt>pom.xml</tt>
            unless it is defined as
            <tt>LATEST</tt>
            . You must also ensure that the GWT dependency uses the
            correct version and recompile your project and your widget
            set.
        </p>

        <p>
            <b>Liferay and other portal</b> users must install the
            Vaadin libraries in
            <t>ROOT/WEB-INF/lib/</b> in the portal (and remove a
            possibly obsolete older <tt>vaadin.jar</tt>). Additionally,
            the contents of the <tt>vaadin-client-compiled</tt> and <tt>vaadin-themes</tt>
            must be extracted to the <tt>ROOT/html/VAADIN</tt> directory
            in the Liferay installation. If your portal uses custom
            widgets, you can use <a
                href="http://vaadin.com/directory#addon/liferay-control-panel-plugin-for-vaadin:vaadin">
                    Liferay Control Panel for Vaadin</a> for easy widget set compilation.</t>
        </p>

        <h2 id="supportedversions">Supported Technologies</h2>

        <p>
            Vaadin 7 is compatible with <b>Java 6</b> and newer. Vaadin
            7 is especially supported on the following <b>operating
                systems</b>:
        </p>

        <ul>
            <li>Windows</li>
            <li>Linux</li>
            <li>Mac OS X</li>
        </ul>

        <p>
            Vaadin 7 requires <b>Java Servlet API 2.4</b> but also
            supports later versions and should work with any Java
            application server that conforms to the standard. The
            following <b>application servers</b> are supported:
        </p>

        <ul>
            <li>Apache Tomcat 5-8</li>
            <li>Apache TomEE 1</li>
            <li>Oracle WebLogic Server 10.3-12</li>
            <li>IBM WebSphere Application Server 7-8</li>
            <li>JBoss Application Server 4-7</li>
            <li>Wildfly 8-9</li>
            <li>Jetty 5-9</li>
            <li>Glassfish 2-4</li>
        </ul>

        <p>
            Vaadin 7 supports the JSR-286 Portlet specification and all
            portals that implement the specification should work. The
            following <b>portals</b> are supported:
        </p>

        <ul>
            <li>Liferay Portal 5.2-6</li>
            <li>GateIn Portal 3</li>
            <li>eXo Platform 3</li>
            <li>IBM WebSphere Portal 8</li>
        </ul>

        <p>
            Vaadin also supports <b>Google App Engine</b>.
        </p>

        <p>
            Vaadin @version@ supports the following <b>desktop browsers</b>:
        </p>

        <ul>
            <li>Mozilla Firefox 18-49</li>
            <li>Mozilla Firefox 17 ESR, 24 ESR, 31 ESR, 38 ESR, 45 ESR</li>
            <li>Internet Explorer 8-11, Edge</li>
            <li>Safari 6-10</li>
            <li>Opera 16-41</li>
            <li>Google Chrome 23-54</li>
        </ul>

        <p>
            Additionally, Vaadin supports the built-in browsers in the
            following <b>mobile operating systems</b>:
        </p>

        <ul>
            <li>iOS 5-9</li>
            <li>Android 2.3-5</li>
            <li>Windows Phone 8</li>
        </ul>

        <p>Vaadin SQL Container supports the following databases:</p>
        <ul>
            <li>HSQLDB</li>
            <li>MySQL</li>
            <li>MSSQL</li>
            <li>Oracle</li>
            <li>PostgreSQL</li>
        </ul>

        <h2 id="vaadinontheweb">Vaadin on the Web</h2>

        <ul>
            <li><a href="http://vaadin.com">vaadin.com - The
                    developer portal containing everything you need to
                    know about Vaadin</a></li>
            <li><a href="http://vaadin.com/demo">vaadin.com/demo
                    - A collection of demos for Vaadin</a></li>
            <li><a href="http://vaadin.com/learn">vaadin.com/learn
                    - Getting started with Vaadin</a></li>
            <li><a href="http://vaadin.com/forum">vaadin.com/forum
                    - Forums for Vaadin related discussions</a></li>
            <li><a href="http://vaadin.com/book">vaadin.com/book
                    - Book of Vaadin - everything you need to know about
                    Vaadin</a></li>
            <li><a href="http://vaadin.com/api">vaadin.com/api
                    - Online javadocs</a></li>
            <li><a href="http://vaadin.com/directory">vaadin.com/directory
                    - Add-ons for Vaadin</a></li>

            <li><a href="http://vaadin.com/pro-tools">vaadin.com/pro-tools
                    - Commercial tools for Vaadin development</a></li>
            <li><a href="http://vaadin.com/support">vaadin.com/support
                    - Commercial support for Vaadin development </a></li>
            <li><a href="http://vaadin.com/services">vaadin.com/services
                    - Expert services for Vaadin</a></li>
            <li><a href="http://vaadin.com/company">vaadin.com/company
                    - Information about the company behind Vaadin</a></li>
            <li><a href="https://vaadin.com/contribute">vaadin.com/contribute - Contribution quide</a></li>
            <li><a href="https://github.com/vaadin/framework/issues">github.com/vaadin/framework - Github repository</a></li>
        </ul>

    </div>
    <!-- /content-->

    <div id="footer">
        <span class="slogan"><strong>vaadin <em>}></em>
        </strong> thinking of U and I<span> <a href="#top">&uarr; Back
                    to top</a>
    </div>
    <!-- /footer -->
</body>
</html>

<!-- Keep this comment at the end of the file
Local variables:
mode: xml
sgml-omittag:nil
sgml-shorttag:nil
sgml-namecase-general:nil
sgml-general-insert-case:lower
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:2
sgml-indent-data:t
sgml-parent-document:nil
sgml-exposed-tags:nil
sgml-local-catalogs:("/etc/sgml/catalog" "/usr/share/xemacs21/xemacs-packages/etc/psgml-dtds/CATALOG")
sgml-local-ecat-files:("ECAT" "~/sgml/ECAT" "/usr/share/sgml/ECAT" "/usr/local/share/sgml/ECAT" "/usr/local/lib/sgml/ECAT")
End:
-->
