@mixin chameleon-label($primaryStyleName : v-label) {

/*******************************************************************************
 * Different headers
 ******************************************************************************/
.#{$primaryStyleName}-h1,
.#{$primaryStyleName} h1,
.#{$primaryStyleName}-h2,
.#{$primaryStyleName} h2,
.#{$primaryStyleName}-h3,
.#{$primaryStyleName} h3,
.#{$primaryStyleName}-h4,
.#{$primaryStyleName} h4 {
	margin: 0;
	font-weight: bold;
	}

.#{$primaryStyleName}-h1,
.#{$primaryStyleName} h1 {
	padding: .75em 0 .5em 0;
	font-size: 24.05px;
	}

.#{$primaryStyleName}-h2,
.#{$primaryStyleName} h2 {
	padding: .67em 0 .33em 0;
	font-size: 18.2px;
	}

.#{$primaryStyleName}-h3,
.#{$primaryStyleName} h3 {
	margin: .71em 0 .29em 0;
	font-size: 14.3px;
	}

.#{$primaryStyleName}-h4,
.#{$primaryStyleName} h4 {
	padding: .23em 0;
	font-size: 13px;
	}


/*******************************************************************************
 * Big
 ******************************************************************************/
.#{$primaryStyleName}-big {
	font-size: $chameleon-font-size-big;
	}


/*******************************************************************************
 * Small
 ******************************************************************************/
.#{$primaryStyleName}-small {
	font-size: 11.7px;
	line-height: 1.3;
	opacity: .8;
	filter: alpha(opacity=80);
	}


/*******************************************************************************
 * Tiny
 ******************************************************************************/
.#{$primaryStyleName}-tiny {
	font-size: $chameleon-font-size-small;
	line-height: 1.2;
	opacity: .7;
	filter: alpha(opacity=70);
	}


/*******************************************************************************
 * Warning & error
 ******************************************************************************/
&.v-app .#{$primaryStyleName}-warning,
&.v-app .#{$primaryStyleName}-error {
	color: #574734;
	background: #fffec8 url(../../img/label-warning-icon.png) no-repeat .2em 50%;
	white-space: nowrap;
	padding: .3em 1em .3em 2.4em;
	overflow: hidden;
	width: auto !important;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-shadow: none;
	}

&.v-app .#{$primaryStyleName}-error {
	color: #fff;
	font-weight: bold;
	background: #c22f24 url(../../img/label-error-icon.png) no-repeat .2em 50%;
	text-shadow: 0 1px 0 #8f2e27;
	}


/*******************************************************************************
 * Big warning & big error
 ******************************************************************************/
.#{$primaryStyleName}-big.#{$primaryStyleName}-warning,
.#{$primaryStyleName}-big.#{$primaryStyleName}-error {
	background-image: url(../../img/label-warning-icon-big.png);
	background-position: 0 50%;
	padding: .5em 1em .5em 3em;
	}

.#{$primaryStyleName}-big.#{$primaryStyleName}-error {
	background-image: url(../../img/label-error-icon-big.png);
	}


/*******************************************************************************
 * Loading
 ******************************************************************************/
&.v-app .#{$primaryStyleName}-loading {
	height: 32px;
	line-height: 32px;
	background-image: url(../../../base/common/img/loading-indicator.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	white-space: nowrap;
	padding: .3em 1em .3em 36px;
	overflow: hidden;
	width: auto !important;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	}

}