.v-richtextarea {
	border: 1px solid #aaa;
	overflow: hidden;
}
.v-richtextarea .gwt-RichTextArea {
	background: #fff;
	border: none;
}

.v-richtextarea .gwt-RichTextToolbar {
	white-space: nowrap;
	background: #959595 url(img/richtext-toolbar-bg.png) repeat-x 0 -42px;
	border-bottom: 1px solid #7d7d7d;
	padding: 2px;
	overflow: hidden;
}
.v-richtextarea .gwt-RichTextToolbar-top {
	padding-bottom: 1px;
	overflow: hidden;
	white-space: normal;
}
.v-richtextarea .gwt-RichTextToolbar-bottom {
	clear: left;
	overflow: hidden;
	white-space: nowrap;
}
.v-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton,
.v-richtextarea .gwt-RichTextToolbar .gwt-PushButton {
	float: left;
	display: inline;
	width: 22px;
	height: 21px;
	overflow: hidden;
	background: transparent url(img/richtext-toolbar-bg.png) repeat-x;
	cursor: pointer;
	margin-right: 2px;
	text-align: center;
}
.v-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton-down,
.v-richtextarea .gwt-RichTextToolbar .gwt-PushButton-down,
.v-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton-down-hovering,
.v-richtextarea .gwt-RichTextToolbar .gwt-PushButton-down-hovering {
	background-position: 0 -21px;
}
.v-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton img,
.v-richtextarea .gwt-RichTextToolbar .gwt-PushButton img {
	
}
.v-richtextarea .gwt-RichTextToolbar .gwt-ListBox {
	width: 24.5%;
	margin-right: 2px;
}

.v-richtextarea-readonly {
	border: none;
}