.v-textfield {
	text-align: left /* Force default alignment */
}
.v-textarea {
}
.v-textfield-focus,
.v-textarea-focus {
}
input.v-textfield-prompt,
textarea.v-textarea-prompt {
	color: #999;
	font-style: italic;
}
input.v-textfield-readonly,
textarea.v-textarea-readonly {
	background: transparent;
	border: none;
	resize: none;
}
input.v-disabled,
textarea.v-disabled {
	resize: none;
}
input.v-textfield-readonly:focus,
textarea.v-textarea-readonly:focus {
	outline: none;
}
/* Disabled by default
.v-textarea-error,
.v-textfield-error,
.v-richtextarea-error iframe.gwt-RichTextArea {
	background: #FFE0E0;	
}
*/
/* Disabled by default
.v-textarea-required,
.v-textfield-required,
.v-richtextarea-required iframe.gwt-RichTextArea {
	background: #FFE0E0;	
}
*/
/* Safari focus glow fix */
.v-sa input:focus, 
.v-sa textarea:focus {
	outline-width: medium;
}