.v-button-small:focus {
	background-image: url(img/small-left-focus.png); /** sprite-ref: buttons */
	}
	
.v-button-small:focus .v-button-wrap {
	background-image: url(img/small-right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
	}
	
.v-button-small:active,
.v-button-small.v-pressed {
	background-image: url(img/small-left-pressed.png); /** sprite-ref: buttons */
	}

.v-button-small:active .v-button-wrap,
.v-button-small.v-pressed .v-button-wrap {
	background-image: url(img/small-right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
	}

.v-button-small,
.v-disabled.v-button-small {
	background-image: url(img/small-left.png); /** sprite-ref: buttons */
	height: 20px;
	}
	
.v-button-small .v-button-wrap,
.v-disabled.v-button-small .v-button-wrap {
	background-image: url(img/small-right.png); /** sprite-ref: buttons; sprite-alignment: right */
	height: 19px;
	padding: 1px 14px 0 8px;
	}

.v-button-small .v-button-caption {
	font-weight: normal;
	}
	



/* Black style */

.black .v-button-small:focus {
	background-image: url(img/black/small-left-focus.png); /** sprite-ref: black-buttons */
	}
	
.black .v-button-small:focus .v-button-wrap {
	background-image: url(img/black/small-right-focus.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}
	
.black .v-button-small:active,
.black .v-button-small.v-pressed {
	background-image: url(img/black/small-left-pressed.png); /** sprite-ref: black-buttons */
	}
	
.black .v-button-small:active .v-button-wrap,
.black .v-button-small.v-pressed .v-button-wrap {
	background-image: url(img/black/small-right-pressed.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}

.black .v-button-small,
.black .v-disabled.v-button-small {
	background-image: url(img/black/small-left.png); /** sprite-ref: black-buttons */
	}
	
.black .v-button-small .v-button-wrap,
.black .v-disabled.v-button-small .v-button-wrap {
	background-image: url(img/black/small-right.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}