@mixin reindeer-button-small-style($name : v-button) {

.#{$name}-small:focus {
	background-image: url(img/small-left-focus.png); /** sprite-ref: buttons */
	}
	
.#{$name}-small:focus .#{$name}-wrap {
	background-image: url(img/small-right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
	}
	
.#{$name}-small:active,
.#{$name}-small.v-pressed {
	background-image: url(img/small-left-pressed.png); /** sprite-ref: buttons */
	}

.#{$name}-small:active .#{$name}-wrap,
.#{$name}-small.v-pressed .#{$name}-wrap {
	background-image: url(img/small-right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
	}

.#{$name}-small,
.v-disabled.#{$name}-small {
	background-image: url(img/small-left.png); /** sprite-ref: buttons */
	height: 20px;
	}
	
.#{$name}-small .#{$name}-wrap,
.v-disabled.#{$name}-small .#{$name}-wrap {
	background-image: url(img/small-right.png); /** sprite-ref: buttons; sprite-alignment: right */
	height: 19px;
	padding: 1px 14px 0 8px;
	}

.#{$name}-small .#{$name}-caption {
	font-weight: normal;
	}
	



/* Black style */

.black .#{$name}-small:focus {
	background-image: url(img/black/small-left-focus.png); /** sprite-ref: black-buttons */
	}
	
.black .#{$name}-small:focus .#{$name}-wrap {
	background-image: url(img/black/small-right-focus.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}
	
.black .#{$name}-small:active,
.black .#{$name}-small.v-pressed {
	background-image: url(img/black/small-left-pressed.png); /** sprite-ref: black-buttons */
	}
	
.black .#{$name}-small:active .#{$name}-wrap,
.black .#{$name}-small.v-pressed .#{$name}-wrap {
	background-image: url(img/black/small-right-pressed.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}

.black .#{$name}-small,
.black .v-disabled.#{$name}-small {
	background-image: url(img/black/small-left.png); /** sprite-ref: black-buttons */
	}
	
.black .#{$name}-small .#{$name}-wrap,
.black .v-disabled.#{$name}-small .#{$name}-wrap {
	background-image: url(img/black/small-right.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}

}