/* We serve simpler buttons for IE6, since it doesn't support the adjacent 
 * sibling selector (+) that is needed to position .v-icon properly.
 */
div > .v-button,
.v-ie7 .v-button {
	height: 26px;
	padding: 0 0 0 6px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(img/left.png); /** sprite-ref: buttons */
	border: none;
	cursor: default;
}
div > .v-button span,
.v-ie7 .v-button span {
	display: inline-block;
	height: 22px;
	padding: 4px 15px 0 9px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(img/right.png);  /** sprite-ref: buttons; sprite-alignment: right */
	text-shadow: #fff 0 1px 0;
	font-weight: bold;
	font-size: 11px;
	line-height: 16px;
	float: none;
}
.v-sa .v-button span {
	height: 21px;
	padding-top: 5px;
}
.v-button:focus {
	background-image: url(img/left-focus.png); /** sprite-ref: buttons */
	outline: none;
}
.v-button:focus span {
	background-image: url(img/right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
	outline: none;
}
.v-button:active,
.v-ie7 .v-button.v-pressed {
	background-image: url(img/left-pressed.png); /** sprite-ref: buttons */
	outline: none;
}
.v-button:active span,
.v-ie7 .v-button.v-pressed span {
	background-image: url(img/right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
	outline: none;
}
.v-ie7 .v-button.v-pressed span {
	position: relative;
}
/* FF3 & FF2 */
.v-button::-moz-focus-inner {
	border: none;
	padding: 0;
}
.v-ff2 .v-button span {
	display: -moz-inline-box;
	padding-top: 6px;
	height: 20px;
}
/* IE7 */
.v-ie7 .v-button.v-pressed .v-icon {
	position: relative;
	z-index: 2;
}
/* Opera */
.v-op .v-button:active span {
	margin-top: -1px;
	margin-left: -1px;
}
/* Modifications for buttons with icons */
div > .v-button .v-icon,
.v-ie7 .v-button .v-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	position: relative;
	margin: 0 3px 0 0;
}
.v-ff2 .v-button .v-icon {
	display: block;
	float: left;
	margin-top: 4px;
}
.v-ff2 .v-button-link .v-icon {
	margin: 0;
}
.v-button .v-icon + span,
.v-button .v-icon + .v-errorindicator + span {
	margin-left: -19px;
	padding-left: 19px;
}
.v-ie7 .v-button .v-icon + span,
.v-ie7 .v-button .v-icon + .v-errorindicator + span {
	margin-left: -23px;
	padding-left: 23px;
}
/* Buttons with error indicator */
div > .v-button .v-errorindicator,
.v-ie7 .v-button .v-errorindicator {
	position: absolute;
	display: inline-block;
	width: 9px;
	height: 16px;
	background: transparent url(../common/icons/error.png) no-repeat 50%;
	padding: 0;
	margin: 0;
}
.v-ie6 .v-button .v-errorindicator {
	position: absolute;
	display: inline;
	width: 9px;
	height: 16px;
	background: transparent url(../common/icons/error-ie6.png) no-repeat 50%;
}
.v-ff .v-button,
.v-sa .v-button {
	position: relative;
}
.v-ff .v-button .v-errorindicator,
.v-sa .v-button .v-errorindicator {
	top: 2px;
	left: 10px;
}
/* Link style buttons */
.v-button.v-button-link,
.v-ie7 .v-button-link.v-pressed {
	background: transparent;
	height: auto;
	padding: 0;
	cursor: pointer;
}
.v-button.v-button-link span,
.v-ie7 .v-button-link.v-pressed span {
	background: transparent;
	height: auto;
	padding: 0;
	display: inline;
	font-weight: normal;
	color: #1b699f;
	font-size: 12px;
	text-shadow: none;
}
.v-button.v-button-link .v-icon + span {
	margin: 0;
	padding: 0;
}
.v-button-link:focus {
	outline: 1px dotted #1b699f;
}
/**
 * Default action button style --------------------------
 */
div > .v-button-primary,
.v-ie7 .v-button-primary {
	background-image: url(img/primary-left.png); /** sprite-ref: buttons */
}
div > .v-button-primary span,
.v-ie7 .v-button-primary span {
	background-image: url(img/primary-right.png); /** sprite-ref: buttons; sprite-alignment: right */
}
.v-button-primary:focus {
	background-image: url(img/primary-left-focus.png); /** sprite-ref: buttons */
}
.v-button-primary:focus span {
	background-image: url(img/primary-right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
}
.v-button-primary:active,
.v-ie7 .v-button-primary.v-pressed {
	background-image: url(img/primary-left-pressed.png); /** sprite-ref: buttons */
}
.v-button-primary:active span,
.v-ie7 .v-button-primary.v-pressed span {
	background-image: url(img/primary-right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
}
/* 
 * Small-style --------------------------
 */
div > .v-button-small,
.v-ie7 .v-button-small {
	background-image: url(img/small-left.png); /** sprite-ref: buttons */
	height: 20px;
}
div > .v-button-small span,
.v-ie7 .v-button-small span {
	background-image: url(img/small-right.png); /** sprite-ref: buttons; sprite-alignment: right */
	height: 19px;
	padding: 1px 11px 0 5px;
	font-weight: normal;
}
.v-ff2 .v-button-small span {
	height: 17px;
	padding-top: 3px;
}
.v-sa .v-button-small span {
	height: 18px;
	padding-top: 2px;
}
.v-button-small:focus {
	background-image: url(img/small-left-focus.png); /** sprite-ref: buttons */
}
.v-button-small:focus span {
	background-image: url(img/small-right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
}
.v-button-small:active,
.v-ie7 .v-button-small.v-pressed {
	background-image: url(img/small-left-pressed.png); /** sprite-ref: buttons */
}
.v-button-small:active span,
.v-ie7 .v-button-small.v-pressed span {
	background-image: url(img/small-right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
}

/**
 * IE6 buttons --------------------------
 */
.v-ie6 .v-button {
	border: 1px solid #b3b3b3;
	border-bottom-color: #9a9a9a;
	background: #d8d8d8 url(img/right.png) no-repeat 0 -1px;
	padding: 3px 15px 2px 15px;
	font-weight: bold;
	font-size: 11px;
	line-height: 16px;
	height: 16px;
	outline: none;
}
.v-ie6 .v-button-primary {
	background-image: url(img/primary-right.png);
}
.v-ie6 .v-button-small {
	font-weight: normal;
	padding: 1px 11px 0 11px;
	height: 12px;
	line-height: normal;
	background-image: url(img/small-right.png);
}
.v-ie6 .v-button.v-pressed {
	background: transparent url(img/right-pressed.png) no-repeat 0 -1px;
}
/* Buttons on blue background */
.v-ie6 .blue .v-button {
	border-color: #84949c;
	border-top-color: #83939b;
	border-bottom-color: #888d91;
}
/* Link button in IE6 */
.v-ie6 .v-button-link {
	border: none;
	padding: 0;
	background: transparent;
	line-height: normal;
	font-size: 12px;
}