.v-button.v-button-link,
.v-button.v-button-link:focus,
.v-button.v-button-link:active,
.v-button-link.v-pressed,
.v-disabled.v-button.v-button-link,
.v-button.v-button-link .v-button-wrap,
.v-button.v-button-link:focus .v-button-wrap,
.v-button.v-button-link:active .v-button-wrap,
.v-button-link.v-pressed .v-button-wrap,
.v-disabled.v-button.v-button-link .v-button-wrap {
	background: transparent;
	height: auto;
	padding: 0;
	cursor: pointer;
	line-height: inherit;
	}

.v-button.v-button-link.v-disabled,
.v-button.v-button-link.v-disabled .v-button-wrap {
	cursor: default;
	}
	
.v-button-link .v-button-caption,
.v-nativebutton-link .v-nativebutton-caption {
	line-height: inherit;
	font-weight: normal;
	color: #1b699f;
	font-size: 12px;
	text-shadow: none;
	}
	
.v-button-link:focus .v-button-caption,
.v-nativebutton-link:focus .v-nativebutton-caption {
	outline: 1px dotted #1b699f;
	}