/*.v-op .v-button:active .v-button-caption {
	margin-top: -1px;
	margin-left: -1px;
}
.v-op .v-button:active .v-icon + .v-button-caption,
.v-op .v-button:active .v-icon + .v-errorindicator + .v-button-caption {
	margin-left: -26px;
}*/