.v-button:focus {
	background-image: url(img/left-focus.png); /** sprite-ref: buttons */
	outline: none;
	}

.v-button:focus .v-button-wrap {
	background-image: url(img/right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
	outline: none;
	}

.v-button:active,
.v-button.v-pressed {
	background-image: url(img/left-pressed.png); /** sprite-ref: buttons */
	outline: none;
	}

.v-button:active .v-button-wrap,
.v-button.v-pressed .v-button-wrap {
	background-image: url(img/right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
	outline: none;
	}

.v-button,
.v-disabled.v-button {
	height: 26px;
	padding: 0 0 0 6px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(img/left.png); /** sprite-ref: buttons */
	border: none;
	cursor: default;
	}

.v-button-wrap,
.v-disabled.v-button .v-button-wrap {
	display: block;
	height: 22px;
	padding: 4px 15px 0 9px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(img/right.png);  /** sprite-ref: buttons; sprite-alignment: right */
	}

.v-button-caption {
	color: #222;
	text-shadow: #fff 0 1px 0;
	font-weight: bold;
	font-size: 11px;
	line-height: 16px;
	}




/**************************
 * Black style
 **************************/
.black .v-button:focus {
	background-image: url(img/black/left-focus.png); /** sprite-ref: black-buttons */
	}
	
.black .v-button:focus .v-button-wrap {
	background-image: url(img/black/right-focus.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}
	
.black .v-button:active,
.black .v-button.v-pressed {
	background-image: url(img/black/left-pressed.png); /** sprite-ref: black-buttons */
	}
	
.black .v-button:active .v-button-wrap,
.black .v-button.v-pressed .v-button-wrap {
	background-image: url(img/black/right-pressed.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}

.black .v-button,
.black .v-disabled.v-button {
	background-image: url(img/black/left.png); /** sprite-ref: black-buttons */
	}
	
.black .v-button-wrap,
.black .v-disabled.v-button .v-button-wrap {
	background-image: url(img/black/right.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}
	
.black .v-button-caption {
	color: #c9ccce;
	text-shadow: #121314 0 -1px 0;
	}