/*****************************************************************************/
/* Styling for tests.magi application.                                       */
/*****************************************************************************/

#itmill-ajax-window {
	background: white;
}

/*****************************************************************************/
/* For example_GridLayout()                                                  */
/*****************************************************************************/
table.i-gridlayout-example-gridlayout {
	background: blue;
}

.i-gridlayout-example-gridlayout td {
	background: white;
}

/*****************************************************************************/
/* For example_Alignment()                                                   */
/*****************************************************************************/
table.-example-alignment {
	background: blue;
}
.-example-alignment td {
	background: white;
	width: 150px;
	height: 75px;
}

.i-orderedlayout {
	margin: 5px;
}

/* For SelectExample.java. */
.i-orderedlayout tr {
	vertical-align: top;
}

