@import url(../default/styles.css);

/*****************************************************************************/
/* Styling for tests.magi application.                                       */
/*****************************************************************************/

#tk5testbench2 {
	background: white;
}

/*****************************************************************************/
/* For example_Tree()                                                  */
/*****************************************************************************/

.i-expandlayout-treeexample .i-panel .i-orderedlayout {
	padding: 0px;
}

.i-orderedlayout-margin-top    { padding-top:    0px; }
.i-orderedlayout-margin-left   { padding-left:   0px; }
.i-orderedlayout-margin-bottom { padding-bottom: 0px; }
.i-orderedlayout-margin-right  { padding-right:  0px; }

/*****************************************************************************/
/* For example_GridLayout()                                                  */
/*****************************************************************************/
table.i-gridlayout-example-gridlayout {
	background: blue;
}

.i-gridlayout-example-gridlayout td {
	background: white;
}

/*****************************************************************************/
/* For example_Alignment()                                                   */
/*****************************************************************************/
.i-gridlayout-example-alignment {
	background: blue;
}
.i-gridlayout-example-alignment .i-expandlayout {
	background: white;
	width: 150px;
	height: 75px;
}

.i-orderedlayout {
	margin: 5px;
}

/* For SelectExample.java. */
.i-orderedlayout tr {
	vertical-align: top;
}

/*****************************************************************************/
/* For example_ProgressIndicator()                                           */
/*****************************************************************************/
.i-progressindicator-invisible {
	display: none;
}

.i-progressindicator-fullwidth {
    width: 100px;
}

/*****************************************************************************/
/* For example_Spacing()                                                     */
/*****************************************************************************/
.i-orderedlayout-spacingexample table {
    background: blue;
}

.i-orderedlayout-spacingexample td {
    background: white;
}

/* Set horizontal cell spacing for all OrderedLayouts. */
.i-orderedlayout-hspacing {
    padding-left: 10px;
}

/* Set horizontal cell spacing in specific layout with "spacingexample" style. */
.i-orderedlayout-spacingexample .i-orderedlayout-hspacing {
    padding-left: 30px;
}

/* Set vertical cell spacing in specific layout with "spacingexample" style. */
.i-orderedlayout-spacingexample .i-orderedlayout-vspacing {
    margin-top: 30px;
}

table.i-gridlayout-spacingexample {
    background: blue;
}

.i-gridlayout-spacingexample td {
    background: white;
}

/*****************************************************************************/
/* For example_Margin()                                                      */
/*****************************************************************************/
.i-orderedlayout-marginexample1 { padding-left:   200px; }
.i-orderedlayout-marginexample1 { padding-right:  100px; }
.i-orderedlayout-marginexample1 { padding-top:    50px;  }
.i-orderedlayout-marginexample1 { padding-bottom: 25px;  }

.i-orderedlayout-marginexample2 .i-orderedlayout-margin-left   { padding-left:   200px; }
.i-orderedlayout-marginexample2 .i-orderedlayout-margin-right  { padding-right:  100px; }
.i-orderedlayout-marginexample2 .i-orderedlayout-margin-top    { padding-top:    50px;  }
.i-orderedlayout-marginexample2 .i-orderedlayout-margin-bottom { padding-bottom: 25px;  }

.i-orderedlayout-marginexample1 { background: #d0d0ff; border: 1px;}
.i-orderedlayout-marginexample2 { background: #ffd0d0; border: 1px;}
.i-orderedlayout-marginexample table { background: white; }
