@import url(../default/styles.css);

/*****************************************************************************/
/* Styling for tests.magi application.                                       */
/*****************************************************************************/

#itmill-ajax-window {
	background: white;
}

/*****************************************************************************/
/* For example_GridLayout()                                                  */
/*****************************************************************************/
table.i-gridlayout-example-gridlayout {
	background: blue;
}

.i-gridlayout-example-gridlayout td {
	background: white;
}

/*****************************************************************************/
/* For example_Alignment()                                                   */
/*****************************************************************************/
table.i-gridlayout-example-alignment {
	background: blue;
}
.i-gridlayout-example-alignment td {
	background: white;
	width: 150px;
	height: 75px;
}

.i-orderedlayout {
	margin: 5px;
}

/* For SelectExample.java. */
.i-orderedlayout tr {
	vertical-align: top;
}

/*****************************************************************************/
/* For example_ProgressIndicator()                                           */
/*****************************************************************************/
.i-progressindicator-invisible {
	display: none;
}

.i-progressindicator-fullwidth {
    width: 100px;
}

/*****************************************************************************/
/* For example_Spacing()                                                     */
/*****************************************************************************/
.i-orderedlayout-spacingexample table {
    background: blue;
}

.i-orderedlayout-spacingexample td {
    background: white;
}

/* Set horizontal cell spacing for all OrderedLayouts. */
.i-orderedlayout-hspacing {
    padding-left: 10px;
}

/* Set horizontal cell spacing in specific layout with "spacingexample" style. */
.i-orderedlayout-spacingexample .i-orderedlayout-hspacing {
    padding-left: 50px;
}
