/******************************************************************************
 * Sampler styles
 ******************************************************************************/
.v-app-SamplerApplication {
	background-color: white;
}

.v-app-SamplerApplication .v-horizontallayout-topbar {
	border-bottom: 1px solid #fff;
	background: #5c5d60 url(top-bg.png) repeat-x;
}

.v-app-SamplerApplication .v-horizontallayout-sample-view {
	background: #fff url(main-bg.png) repeat-x;
}

.v-app-SamplerApplication .topbar .logo,
.v-app-SamplerApplication .topbar .logo:focus,
.v-app-SamplerApplication .topbar .logo:active {
	width: 167px;
	height: 44px;
	margin: 0;
	padding: 0;
	background: transparent url(sampler.png) no-repeat;
	overflow: hidden;
	border: none;
	outline: none;
}

.v-app-SamplerApplication .topbar .logo img {
	display: none;
}

.v-app-SamplerApplication .v-popupview-quickjump {
	background: transparent url(quickjump.png) no-repeat 0px 1px;
}

.v-customcomponent-breadcrumbs {
	font-family: arial, helvetica, verdana, sans-serif;
}
.v-sa .v-customcomponent-breadcrumbs {
	font-family: helvetica, arial, verdana, sans-serif;
}
.v-customcomponent-breadcrumbs .v-horizontallayout-spacing-on {
	padding-left: 5px;
}

.v-customcomponent-breadcrumbs .v-link a,
.v-customcomponent-breadcrumbs .v-label {
	text-decoration: none;
	color: #000;
	text-shadow: 0 1px 0 #8f9193;
	font-size: 11px;
	line-height: normal;
	padding-top: 3px;
	display: block;
	float: left;
}
.v-customcomponent-breadcrumbs .v-label {
}
.v-sa .v-customcomponent-breadcrumbs .v-label {
	
}
.v-ie .v-customcomponent-breadcrumbs .v-label {
	
}
.v-ff .v-customcomponent-breadcrumbs .v-label {
	
}
.v-customcomponent-breadcrumbs .v-link span {
	text-decoration: none;
}
.v-customcomponent-breadcrumbs .v-link a:hover {
	color: #000;
	text-decoration: underline;
}
.v-customcomponent-breadcrumbs .v-link-bold {
	height: 20px;
	padding: 0 0 0 9px;
	background: transparent url(breadcrumb-current-left.png) no-repeat;
	float: left;
}
.v-ie .v-customcomponent-breadcrumbs .v-link-bold {
	margin-top: 1px;
}
.v-customcomponent-breadcrumbs .v-link-bold a {
	display: block;
	height: 16px;
	background: transparent url(breadcrumb-current-right.png) no-repeat right top;
	font-size: 10px;
	font-weight: bold;
	color: #c2c4c6;
	text-shadow: 0 1px 0 #3a3d43;
	padding: 4px 9px 0 0;
	cursor: default;
}
.v-sa .v-customcomponent-breadcrumbs .v-link-bold a {
	height: 17px;
	padding-top: 3px;
}
.v-ie .v-customcomponent-breadcrumbs .v-link-bold a {
	padding-top: 2px;
	padding-bottom: 2px;
}
.v-ff .v-customcomponent-breadcrumbs .v-link-bold a {
	padding-top: 2px;
	padding-bottom: 2px;
}
.v-customcomponent-breadcrumbs .v-link-bold a:hover {
	color: #c2c4c6;
	text-decoration: none;
}

.v-app-SamplerApplication .v-horizontallayout-topbar .v-nativebutton-link span {
	text-decoration: none;
}
.v-app-SamplerApplication .v-horizontallayout-topbar .v-nativebutton-link:hover span {
	text-decoration: underline;
}
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton.v-disabled,
.v-app-SamplerApplication .v-horizontallayout-segment .v-popupview {
	width: 30px;
	height: 24px;
	overflow: hidden;
	padding: 0;
	border: none;
	background: transparent url(segment.png) no-repeat;
	cursor: default;
}
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton:active,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton.v-pressed,
.v-app-SamplerApplication .v-horizontallayout-segment .v-popupview:active {
	background-position: left bottom;
}
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-next,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-tree-switch {
	background-position: right top;
}
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-next:active,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-next.v-pressed,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-next.v-disabled,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-tree-switch:active,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-tree-switch.v-pressed {
	background-position: right bottom;
}
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-down {
	background-position: right bottom;
}
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton span,
.v-app-SamplerApplication .v-horizontallayout-segment .v-popupview span,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton.v-pressed span,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton.v-disabled span {
	display: block;
	height: 24px;
	background-repeat: no-repeat;
	background-position: 50% 40%;
}
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-tree-switch span,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-tree-switch.v-pressed span {
	background-image: url(tree.png);
}
.v-app-SamplerApplication .v-horizontallayout-segment .v-popupview span {
	background-image: url(magnifier.png);
}
.v-app-SamplerApplication .theme-select,
.v-app-SamplerApplication .theme-select * {
	background: transparent;
}
.v-app-SamplerApplication .theme-select .v-filterselect-input {
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
}
.v-app-SamplerApplication .theme-select {
	width: 32px;
	height: 24px;
	overflow: hidden;
	padding: 0;
	border: none;
	background: transparent url(segment.png) no-repeat;
}
.v-app-SamplerApplication .theme-select:active {
	background-position: 0 bottom;
}
.v-app-SamplerApplication .theme-select .v-filterselect-button {
	width: 32px;
	height: 24px;
	cursor: default;
	background: url(palette.png) no-repeat right 0;
}
.v-app-SamplerApplication .theme-select:active .v-filterselect-button {
	background-position: right bottom;
}
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-previous span,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-previous.v-pressed span,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-previous.v-disabled span {
	background-image: url(prev.png);
}
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-next span,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-next.v-pressed span,
.v-app-SamplerApplication .v-horizontallayout-segment .v-nativebutton-next.v-disabled span {
	background-image: url(next.png);
}
.v-popupview-popup-quickjump {
	background: transparent;
	border: none;
}

.v-app-SamplerApplication .v-splitpanel-first-container-main-split {
	background: #eaebec url(tree-bg.png) repeat-x fixed;
}

.v-app-SamplerApplication .v-splitpanel-hsplitter-main-split {
	width: 1px;
	background: #aeb0b5;
}
.v-app-SamplerApplication .v-splitpanel-hsplitter-main-split-locked {
	width: 0px;
}
.v-app-SamplerApplication .v-splitpanel-hsplitter-main-split div {
	width: 3px;
	background: transparent;
	border: none;
	margin: 0 -1px;
	padding: 0;
}


.v-app-SamplerApplication .v-tree-menu {
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 12px;
	line-height: 17px;
	padding: 13px 0;
}
.v-sa .v-app-SamplerApplication .v-tree-menu {
	font-family: helvetica, arial, verdana, sans-serif;
}
.v-app-SamplerApplication .v-tree-menu .v-tree-node span {
	display: inline;
}
.v-app-SamplerApplication .v-tree-menu .v-tree-node-selected span {
	background: #7d8490;
	padding: 1px;
	text-shadow: none;
}


.v-app-SamplerApplication .v-label-section {
	font-family: "Helvetica Neue", helvetica, arial, verdana, sans-serif;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 1px solid #eee;
	line-height: 35px;
	text-indent: 15px;
	text-shadow: 0 2px 1px #c0c1c2;
	color: #1e2229;
	
}
.v-app-SamplerApplication .v-label-subsection {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #666666;
	text-indent: 15px;
	padding-right: 20px;
}
.v-app-SamplerApplication .v-nativebutton-screenshot {
	border: 3px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}
.v-app-SamplerApplication .v-nativebutton-screenshot:hover {
	border-color: #abc;
}
.v-app-SamplerApplication .v-nativebutton-screenshot img.v-icon {
	margin: 0;
	margin-top: -2px;
	margin-left: -3px;
	width: auto;
	height: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	position: static;
}

.v-app-SamplerApplication .v-table-featuretable tr.v-table-row,
.v-app-SamplerApplication .v-table-featuretable tr.v-table-row-odd {
	height: 50px;
	vertical-align: middle;
}
.v-app-SamplerApplication .v-table-featuretable tr .v-table-cell-wrapper {
	height: 48px;
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 30px;
}
.v-app-SamplerApplication .v-table-featuretable tr.v-table-row-section {
	color: #333366;
	font-size: 18px;
	font-weight: bold;
}
.v-app-SamplerApplication .v-table-featuretable tr.v-table-row-subsection {
	font-size: 16px;
	font-weight: bold;
}

.v-app-SamplerApplication .v-table-featuretable .v-table-body {
	border: none;	
}

.v-app-SamplerApplication .v-panel-content-light {
	border-top: 0px;
}

.v-app-SamplerApplication .v-horizontallayout-sample-view .v-horizontallayout-margin-top {
	padding-top: 27px;
}
.v-app-SamplerApplication .v-horizontallayout-sample-view .v-horizontallayout-margin-bottom {
	padding-bottom: 24px;
}
.v-app-SamplerApplication .v-caption-feature-controls {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #1e2229;
	letter-spacing: -0.015em;
	text-shadow: 0 2px 1px #c0c1c2;
}
.v-app-SamplerApplication .feature-info {
	background: #1e2123 url(info-bubble-bg.png) repeat-y;
	color: #b8bbbe;
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 12px;
	line-height: 19px;
}
.v-sa .v-app-SamplerApplication .feature-info {
	font-family: helvetica, arial, verdana, sans-serif;
}
.v-app-SamplerApplication .feature-info div.v-link a {
	color: #b7c0c7;
	font-size: 11px;
	line-height: 18px;
	margin-left: 28px;
}
.v-app-SamplerApplication .feature-info div.v-link a:hover {
	color: #dcebf6;
}
.v-app-SamplerApplication .feature-info div.v-link a span {
	text-decoration: none;
	border-bottom: 1px dotted #495964;
}
.v-app-SamplerApplication .feature-info div.v-link a:hover span {
	border-bottom: 1px solid #dcebf6;
}
.v-app-SamplerApplication .feature-info .v-panel-caption {
	color: #fff;
	font-family: "Helvetica Neue", helvetica, arial, verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	text-shadow: 0 1px 0 #272a2b;
	background: transparent url(info-bubble-top.png);
	margin: 0;
	padding-bottom: 12px;
	padding-left: 28px;
	padding-top: 15px;
	border: none;
}
.v-app-SamplerApplication .feature-info .v-panel-content {
	background: transparent url(info-bubble-top.png) no-repeat 0 -44px;
	border: none;
}
.v-app-SamplerApplication .feature-info .v-panel-content > div {
	background: transparent;
}
.v-app-SamplerApplication .v-panel-deco-feature-info {
	height: 28px;
	background: transparent url(info-bubble-bottom.png);
	margin: 0;
	border: none;
}

.v-app-SamplerApplication .feature-info .v-verticallayout .v-verticallayout-margin-left {
	padding-left: 28px;
}
.v-app-SamplerApplication .feature-info .v-verticallayout .v-verticallayout-margin-right {
	padding-right: 20px;
}

.v-app-SamplerApplication .feature-info .v-label {
	padding: 0 20px 9px 28px;
}

.v-app-SamplerApplication .feature-info .v-label-section {
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #fff;
	border: none;
	text-indent: 0;
	text-shadow: none;
	padding: 0;
}

.v-app-SamplerApplication .feature-info .v-label-section span {
	display: block;
	background: transparent url(info-bubble-separator.png) repeat-x;
	padding: 5px 0 0 19px;
	margin: 0 5px 0 9px;
}

.v-app-SamplerApplication .feature-info .description {
	padding: 0;
}
.v-app-SamplerApplication .feature-info .description div.outer-deco {
	margin: 0 5px 0 9px;
	width: 353px;
}
.v-app-SamplerApplication .feature-info .description div.deco {
	padding: 0 19px 13px 19px;
	position: relative;
}
.v-app-SamplerApplication .feature-info .description span.deco {
	display: block;
	position: absolute;
	height: 12px;
	width: 7px;
	background: transparent url(desc-arrow.png) no-repeat;
	left: -5px;
	top: 40%;
}
.v-ie6 .v-app-SamplerApplication .feature-info .description span.deco {
	left: -24px;
}

.v-app-SamplerApplication .feature-info .sample-description {
	padding: 0;
}
.v-app-SamplerApplication .feature-info .sample-description div.outer-deco {
	margin: 0 5px 0 9px;
	color: #e0ecff;
	text-shadow: 0 1px 0 #283b4e;
	border: 1px solid #336391;
	border-top-color: #161719;
	border-bottom-color: #2e5b92;
	width: 353px;
}
.v-ie6 .v-app-SamplerApplication .feature-info .sample-description div.outer-deco {
	border-top: none;
}

.v-app-SamplerApplication .feature-info .sample-description div.deco {
	padding: 13px 19px 13px 19px;
	background: #31629e url(sample-desc-bg.png) repeat-x;
	border: 1px solid #4b81b2;
	border-top-color: #558bbb;
	border-bottom: none;
	position: relative;
}

.v-app-SamplerApplication .feature-info .sample-description span.deco {
	display: block;
	position: absolute;
	height: 11px;
	width: 7px;
	background: transparent url(sample-desc-arrow.png) no-repeat;
	left: -7px;
	top: 45%;
}
.v-ie6 .v-app-SamplerApplication .feature-info .sample-description span.deco {
	left: -26px;
}

.v-app-SamplerApplication .v-link-showcode {
	margin-left: 3px;
}
.v-app-SamplerApplication div > .v-nativebutton-showcode,
.v-app-SamplerApplication div > .v-nativebutton-showcode:active,
.v-app-SamplerApplication div > .v-nativebutton-showcode:focus,
.v-app-SamplerApplication .v-link-showcode {
	font-family: arial, helvetica, verdana, sans-serif;
	display: inline;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	margin-right: 3px;
}
.v-sa .v-app-SamplerApplication .v-nativebutton-showcode,
.v-sa .v-app-SamplerApplication .v-link-showcode {
	font-family: helvetica, arial, verdana, sans-serif;
}
.v-app-SamplerApplication div > .v-nativebutton-showcode.v-nativebutton-link span,
.v-app-SamplerApplication .v-link-showcode span {
	color: #8b8e91;
	text-decoration: none;
}
.v-app-SamplerApplication div > .v-nativebutton-showcode:hover span,
.v-app-SamplerApplication div > .v-nativebutton-showcode:active span,
.v-app-SamplerApplication .v-link-showcode:hover span {
	color: #62696f;
	text-decoration: underline;
}
.v-app-SamplerApplication .v-panel-content-source {
	border: 1px solid #eee;
	background: #fff;
}

.v-app .v-customcomponent-ModeSwitch button.v-nativebutton {
	height: 24px;
	width: 30px;
	border: none;
	background: transparent url(segment.png) no-repeat;
	cursor: default;
	padding: 0;
}
.v-app .v-customcomponent-ModeSwitch button.v-nativebutton span.v-nativebutton-caption {
	display: none;
}
.v-app .v-customcomponent-ModeSwitch button.v-nativebutton img.v-icon {
	width: auto;
	height: auto;
	margin: 0;
	position: static;
}
.v-app .v-customcomponent-ModeSwitch button.v-nativebutton-first-on,
.v-app .v-customcomponent-ModeSwitch button.v-nativebutton-first:active,
.v-app .v-customcomponent-ModeSwitch button.v-nativebutton-first.v-pressed {
	background-position: left bottom;
}
.v-app .v-customcomponent-ModeSwitch button.v-nativebutton-first {
	background-position: left top;
}
/*
.v-customcomponent-ModeSwitch .v-nativebutton-mid-on {
	background: transparent url(mid-on.gif) no-repeat;
}
.v-customcomponent-ModeSwitch .v-nativebutton-mid {
	background: transparent url(mid.gif) no-repeat;
}*/
.v-app .v-customcomponent-ModeSwitch button.v-nativebutton-last-on,
.v-app .v-customcomponent-ModeSwitch button.v-nativebutton-last:active,
.v-app .v-customcomponent-ModeSwitch button.v-nativebutton-last.v-pressed {
	background-position: right bottom;
}
.v-app .v-customcomponent-ModeSwitch button.v-nativebutton-last {
	background-position: right top;
}
