.i-tabsheet {
	margin: 5px;
}

.i-tabsheet-tabs {
	empty-cells: hide;
	border-collapse: collapse;
}

.i-tabsheet-tabs .gwt-TabBarFirst {
	display: none;
}

.i-tabsheet-tabs .gwt-TabBarRest {
	border-bottom: solid 1px #29528a;
}

.i-tabsheet-tabs .gwt-TabBarItem {
	border: solid 1px #6082b0;
	border-bottom-color: #29528a;
	height: 17px;
	padding: 4px 8px;
	color: #1c3e6e;
	background: #e6ebf0 url(../img/tab-bg.png) repeat-x;
	margin-right: 1px;
	cursor: pointer;
}

.i-tabsheet-tabs .gwt-TabBarItem-selected {
	border-color: #29528a;
	border-bottom-color: #fff;
	background: #fff url(../img/tab-selected-bg.png) repeat-x;
	padding-top: 7px;
	padding-bottom: 5px;
	margin-bottom: -1px;
	font-weight: bold;
	cursor: default;
}

.i-tabsheet-tabs .gwt-TabBarItem:hover {
	border-color: #29528a;
	background: #3a639b url(../img/tab-hover-bg.png) repeat-x;
	color: #fff;
}

.i-tabsheet-tabs .gwt-TabBarItem-selected:hover {
	background: #fff url(../img/tab-selected-bg.png) repeat-x;
	color: #1c3e6e;
}

/* Rounded corners effects */
.i-tabsheet-tabs .gwt-TabBarItem:before {
	display: block;
	height: 2px;
	overflow: hidden;
	background: transparent url(../img/tab-right.png) no-repeat right top;
	content: url(../img/tab-left.png);
	margin: -5px -9px 3px -9px;
}

.i-tabsheet-tabs .gwt-TabBarItem-selected:before {
	height: 7px;
	background-image: url(../img/tab-selected-right.png);
	content: url(../img/tab-selected-left.png);
	margin: -8px -9px 0 -9px;
}

.i-tabsheet-tabs .gwt-TabBarItem:hover:before {
	background-image: url(../img/tab-hover-right.png);
	content: url(../img/tab-hover-left.png);
}

.i-tabsheet-content:after {
	display: block;
	height: 2px;
	overflow: hidden;
	background: transparent url(../../panel/img/bottom-right.png) no-repeat right top;
	content: url(../../panel/img/bottom-left.png);
	margin: 5px -6px -6px -6px;
}






.i-tabsheet-content {
	background-color: #fff;
	border: solid 1px #29528a;
	border-top: none;
	padding: 5px;
}