/* Automatically compiled css file from subdirectories. */

/* ./WebContent/VAADIN/themes/base/absolutelayout/absolutelayout.css */
.v-absolutelayout-wrapper {
	position: absolute;
	overflow: hidden;
}

/* ./WebContent/VAADIN/themes/base/accordion/accordion.css */
.v-accordion {
	position: relative;
	outline: none;
	overflow: hidden;
	text-align: left /* Force default alignment */
}
.v-accordion-item {
	position: relative;
}
.v-accordion-item-caption {
	overflow: hidden;
	white-space: nowrap;
	background: #eee;
	border-bottom: 1px solid #ddd;
}
.v-accordion-item-caption .v-caption {
	cursor: pointer;
}
.v-accordion-item-open .v-accordion-item-caption .v-caption {
	cursor: default;
}
.v-accordion-item-content {
	position: absolute;
	overflow: auto;
	width: 100%;
}

/* ./WebContent/VAADIN/themes/base/button/button.css */
.v-button {
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
}
.v-button span {
	white-space: nowrap;
}
.v-checkbox input {
	vertical-align: middle;
}
.v-button img,
.v-checkbox img {
	display: inline;
	vertical-align: middle;
	margin-right: 3px;
}
.v-button span,
.v-checkbox label {
	vertical-align: middle;
}
.v-button-link {
	border: none;
	text-align: left;
	background: none;
	padding: 0;
}
/* Inset Safari focus outline a bit */
.v-sa .v-button-link:focus {
	outline-offset: -3px;
}
.v-button-link span {
	text-decoration: underline;
}
.v-checkbox {
	white-space: nowrap;	
}
.v-checkbox .v-errorindicator {
	float: none;
	display: inline;
	padding-left: 1em;
	background-position: left;
}
/* Fixes streched buttons in IE6 and IE7*/
.v-ie6 .v-button {
	width: 1px;
}
.v-ie6 .v-button,
.v-ie7 .v-button,
.v-ie8 .v-button {
	overflow: visible;
	padding-left: 1em;
	padding-right: 1em;
}
/* Error indicator on checkbox fix for IE6 */
.v-ie6 .v-checkbox * {
	float: left;
	display: inline; /* In effect, does nothing, since float:left forces block-rendering, but will fix "double-float-margin-bug" */
}
.v-ie6 .v-checkbox .v-errorindicator {
	background-position: right;
	display: inline;
	float: left;
	padding-left: 0; 
	padding-right: 0.4em;
}
/* Error indicator on checkbox fix for IE7 */
.v-ie7 .v-checkbox *,
.v-ie8 .v-checkbox * {
	float: left;
}
.v-ie7 .v-checkbox .v-errorindicator,
.v-ie8 .v-checkbox .v-errorindicator {
	background-position: right;
	float: left;
	padding-left: 0;
	padding-right: 0.7em;
}
/* Error indicator on button fix for IE */
.v-ie6 button .v-errorindicator,
.v-ie7 button .v-errorindicator,
.v-ie8 button .v-errorindicator {
	display: inline;
	padding-right: 0.5em;
}
/* Disabled by default
.v-checkbox-error {
	background: #ffe0e0;
}
*/
/* Disabled by default
.v-checkbox-required {
	background: #ffe0e0;
}
*/

/* ./WebContent/VAADIN/themes/base/caption/caption.css */
.v-captionwrapper {
	text-align: left; /* Force default alignment */
}
.v-caption {
	overflow: hidden;
	white-space: nowrap;
}
.v-errorindicator {
	float: left;
}
.v-caption .v-icon {
	float: left;
	padding-right: 2px;
	vertical-align: middle;
}
.v-caption .v-captiontext {
	float: left;
	overflow: hidden;
	vertical-align: middle;
}
.v-caption .v-required-field-indicator {
	float: left;
}

/* Fix IE6 "double-float-margin-bug" */
.v-ie6 .v-errorindicator,
.v-ie6 .v-icon,
.v-ie6 .v-captiontext,
.v-ie6 .v-required-field-indicator {
	display: inline;
}

/* ./WebContent/VAADIN/themes/base/common/common.css */
/* References the BODY tag generated by Vaadin application servlet */
.v-generated-body {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	overflow: hidden;
}
.v-app {
	height: 100%;
}
div.v-app-loading {
	/* You can use this to provide indication for the user that the application is loading. */
	/* It is applied to the same element as .v-app */
	background-image: url(common/img/loading-indicator.gif);
	background-repeat: no-repeat;
	background-position: 50%;
}
.v-view {
	height: 100%;
	width: 100%;
	overflow: auto;
	/* avoid scrollbars with margins in root layout */
	outline: none;
	margin-top: -1px;
	border-top: 1px solid transparent;
	position: relative;
}
/**
 * Try to handle printing somehow. Reasonable printing support 
 * needs application specific planning and CSS tuning.
 */
@media print {
	.v-generated-body {
		height: auto;
		min-height: 20cm;
		overflow: visible;
	}
	.v-app {
		height: auto;
		min-height: 20cm;
	}
	.v-view {
		overflow: visible;
	}
	.v-gridlayout {
		overflow: visible !important;
	}
}
.v-view:active,
.v-view:focus {
	outline: none;
}
.v-app select,
.v-window select {
	margin: 0;
}
.v-disabled {
	opacity: .3;
	filter: alpha(opacity=30);
	cursor: default;
}
.v-disabled * {
	cursor: default;
}
* html .v-disabled {
	zoom: 1;
}
*+html .v-disabled {
	zoom: 1;
}
.v-disabled .v-disabled {
	opacity: 1;
}
.v-required-field-indicator {
	padding-left: 2px;
	color: red;
}
.v-form fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
/* Field modified */ /* Disabled by default
.v-modified,
.v-richtextarea.v-modified iframe.gwt-RichTextArea,
.v-checkbox.v-modified,
.v-modified .v-select-option,
.v-modified .v-textfield,
.v-modified .v-datefield-calendarpanel,
.v-modified .v-select-select,
.v-modified .v-select-twincol-selections,
.v-modified .v-select-twincol-options,
.v-modified .v-slider-base {
	background: #ffffe0;
}
*/
.v-tooltip {
	cursor: default;
	background: #fff;
}
.v-tooltip-text {
	overflow: auto;
}
.v-tooltip .v-errormessage {
	overflow: auto;
}
.v-contextmenu {
	background: #fff;
}
.v-contextmenu .gwt-MenuItem {
	cursor: pointer;
	vertical-align: middle;
	padding: 0;
	border: 0;
	margin: 0;
}
.v-contextmenu .gwt-MenuItem div {
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
}
.v-contextmenu .gwt-MenuItem-selected div {
	background: #aaa;
	color: #fff;
}
.v-contextmenu table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}
.v-contextmenu .gwt-MenuItem img {
	margin-right: 1em;
	vertical-align: middle;
}
/* Margins are not supported within Label */
.v-label pre {
	margin: 0;
}
/* A label with undefined width is always considered to be on one line */
.v-label-undef-w {
	white-space: nowrap;
}
/* Loading indicator states
 * Note: client side expects that loading indicator has a height. It depends on
 * this css property to ensure browsers have applied all required styles.
 */
.v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 30000;
	width: 31px;
	height: 31px;
	background: transparent url(common/img/loading-indicator.gif);
	margin-right: 5px;
	margin-top: 5px;
}
.v-loading-indicator-delay {
	background-image: url(common/img/loading-indicator-delay.gif);
}
.v-loading-indicator-wait {
	background-image: url(common/img/loading-indicator-wait.gif);
}
/* Debug dialog */
.v-debug-console {
	background: #fff;
	opacity: .9;
	border: 1px solid #000;
	font-family: sans-serif;
}
.v-debug-console-caption {
	background: #000;
	border-bottom: 1px solid grey;
	color: white;
	font-weight: bold;
}
.v-debug-console-content {
	font-size: x-small;
	overflow: auto;
}
.v-debug-console-content input {
	font-size: xx-small;
}
/* Debug style */
.v-app .invalidlayout,
.v-app .invalidlayout * {
	background: #f99 !important;
}
/* Fix for Liferay, issue #2384 */
.v-app input[type="text"],
.v-app input[type="password"],
.v-app input[type="reset"],
.v-app select,
.v-app textarea ,
.v-window input[type="text"],
.v-window input[type="password"],
.v-window input[type="reset"],
.v-window select,
.v-window textarea {
	padding: 2px;
}

/* ./WebContent/VAADIN/themes/base/customcomponent/customcomponent.css */
.v-customcomponent {
	overflow: hidden;
}

/* ./WebContent/VAADIN/themes/base/customlayout/customlayout.css */
.v-customlayout {
	overflow: hidden;
}

/* ./WebContent/VAADIN/themes/base/datefield/datefield.css */
.v-datefield {
	white-space: nowrap;
}
.v-datefield-textfield {
	vertical-align: top;
}
.v-datefield-button {
	cursor: pointer;
}
.v-datefield-calendarpanel table {
	width: 100%;
}
.v-datefield-calendarpanel td {
	padding: 0;
	margin: 0;
}
.v-datefield-calendarpanel-header td {
	text-align: center;
}
.v-datefield-calendarpanel-month {
	text-align: center;
	white-space: nowrap;
}
.v-datefield-calendarpanel-day,
.v-datefield-calendarpanel-day-today {
	cursor: pointer;
}
.v-datefield-calendarpanel-day-today {
	border: 1px solid #ddd;
}
.v-disabled .v-datefield-calendarpanel-day,
.v-disabled .v-datefield-calendarpanel-day-today {
	cursor: default;
}
.v-datefield-calendarpanel-day-disabled {
	cursor: default;
	opacity: .5;
}
.v-datefield-calendarpanel-day-selected {
	cursor: default;
	background: #333;
	color: #fff;
}
.v-datefield-time {
	white-space: nowrap;
}
.v-datefield-time .v-label {
	display: inline;
}
/* Disabled by default
.v-datefield-error .v-textfield,
.v-datefield-error .v-datefield-calendarpanel {
	background: #ffe0e0;
}
*/

/* Disabled by default
.v-datefield-required .v-textfield,
.v-datefield-required .v-datefield-calendarpanel {
	background:transparent;
	background-color: #ffe0e0;
}
*/
/* IE somehow loses generic v-disabled alpha. See #1960 */
.v-ie6 .v-disabled .v-datefield-button,
.v-ie6 .v-disabled .v-datefield-textfield,
.v-ie7 .v-disabled .v-datefield-button,
.v-ie7 .v-disabled .v-datefield-textfield {
	filter: alpha(opacity=30);
}

/* ./WebContent/VAADIN/themes/base/formlayout/formlayout.css */
.v-formlayout-cell .v-errorindicator {
	display: block;
}
.v-formlayout-error-indicator {
	/* fix width so layout is not jumpy when error disappears */
	width: 12px;
}
.v-formlayout-captioncell {
	text-align:right;
	white-space: nowrap;
}
.v-formlayout-captioncell .v-caption {
	overflow: visible;
}
.v-formlayout-spacing .v-formlayout-row .v-formlayout-captioncell, 
.v-formlayout-spacing .v-formlayout-row .v-formlayout-contentcell,
.v-formlayout-spacing .v-formlayout-row .v-formlayout-errorcell {
	padding-top: 1em;
}
.v-formlayout-spacing .v-formlayout-firstrow .v-formlayout-captioncell, 
.v-formlayout-spacing .v-formlayout-firstrow .v-formlayout-contentcell,
.v-formlayout-spacing .v-formlayout-firstrow .v-formlayout-errorcell {
	padding-top: 0;
}
.v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-captioncell, 
.v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-contentcell,
.v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-errorcell {
	padding-top: 2em;
}
.v-formlayout-margin-bottom .v-formlayout-lastrow .v-formlayout-captioncell,
.v-formlayout-margin-bottom .v-formlayout-lastrow .v-formlayout-contentcell,
.v-formlayout-margin-bottom .v-formlayout-lastrow .v-formlayout-errorcell {
	padding-bottom: 2em;
}
.v-formlayout-margin-left .v-formlayout-captioncell {
	padding-left: 2em;
} 
.v-formlayout-margin-right .v-formlayout-contentcell {
	padding-right: 2em;
}
.v-formlayout-captioncell .v-caption .v-required-field-indicator {
	float: none;
}

/* ./WebContent/VAADIN/themes/base/gridlayout/gridlayout.css */
.v-gridlayout-margin-top {
	padding-top: 2em;
}
.v-gridlayout-margin-bottom {
	padding-bottom: 2em;
}
.v-gridlayout-margin-left {
	padding-left: 2em;
} 
.v-gridlayout-margin-right {
	padding-right: 2em;
}
.v-gridlayout-spacing-on {
	padding-left: 1em;
	padding-top: 1em;
	overflow: hidden;
}
.v-gridlayout-spacing,
.v-gridlayout-spacing-off {
	padding-left: 0;
	padding-top: 0;
}
.v-gridlayout-spacing-off {
	overflow: hidden;
}
/* Ensure that resizing gridlayout works in IE */
.v-ie6 .v-gridlayout,
.v-ie7 .v-gridlayout {
	overflow: hidden;
}

/* ./WebContent/VAADIN/themes/base/link/link.css */
.v-link {
	white-space: nowrap;	
}
.v-link a {
	vertical-align: middle;
	text-decoration: none;
}
.v-link span {
	text-decoration: underline;
	vertical-align: middle;
}
.v-disabled a {
	cursor: default;
}
.v-link img {
	vertical-align: middle;
	border:none;
}

/* ./WebContent/VAADIN/themes/base/menubar/menubar.css */
.v-menubar table {
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.v-menubar table {
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.v-menubar .menuitem {
	cursor: default;
}
.v-menubar-submenu {
	background: #fff;
}
.v-menubar-submenu table {
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.v-menubar-submenu table td {
	white-space: nowrap;
	padding: 0;
	margin: 0;
}
.v-menubar .menuitem-selected,
.v-menubar-submenu .menuitem-selected {
	background: #333;
	color: #fff;
}
.v-menubar-submenu .menuitem { 
	cursor: default;
}

/* ./WebContent/VAADIN/themes/base/notification/notification.css */
.v-Notification {
	background: #999;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	padding: 1em;
}
.v-Notification h1,
.v-Notification p,
.v-Notification.error h1,
.v-Notification.error p,
.v-Notification.warning h1,
.v-Notification.warning p {
	display: inline;
	white-space: nowrap;
	margin: 0 0.5em 0 0;
}
.v-Notification.warning {
	background: orange;
}
.v-Notification.error {
	background: red;
}
.v-Notification.tray h1 {
	display: block;
}
.v-Notification.tray p {
	display: block;
}
.v-Notification.system {
	background-color: red;
	opacity: .7;
	filter: alpha(opacity=70);
}
.v-Notification.system h1 {
	display: block;
	margin: 0;
}
.v-Notification.system p {
	white-space: nowrap;
}

/* ./WebContent/VAADIN/themes/base/orderedlayout/orderedlayout.css */
.v-orderedlayout-margin-top,
.v-horizontallayout-margin-top,
.v-verticallayout-margin-top {
	padding-top: 2em;
}
.v-orderedlayout-margin-right,
.v-horizontallayout-margin-right,
.v-verticallayout-margin-right {
	padding-right: 2em;
}
.v-orderedlayout-margin-bottom,
.v-horizontallayout-margin-bottom,
.v-verticallayout-margin-bottom {
	padding-bottom: 2em;
}
.v-orderedlayout-margin-left,
.v-horizontallayout-margin-left,
.v-verticallayout-margin-left {
	padding-left: 2em;
}
.v-orderedlayout-spacing-on,
.v-horizontallayout-spacing-on,
.v-verticallayout-spacing-on {
	padding-top: 1em;
	padding-left: 1em;
}
/* This can be used to define spacing if spacing is off server side */
.v-orderedlayout-spacing-off,
.v-horizontallayout-spacing-off,
.v-verticallayout-spacing-off {
	padding-top: 0;
	padding-left: 0;
}
/* To make sure IE don't expand elements larger than they should */
.v-ie6 .v-orderedlayout,
.v-ie6 .v-horizontallayout,
.v-ie6 .v-verticallayout,
.v-ie7 .v-orderedlayout,
.v-ie7 .v-horizontallayout,
.v-ie7 .v-verticallayout {
	overflow: hidden;
}

/* ./WebContent/VAADIN/themes/base/panel/panel.css */
.v-panel,
.v-panel-caption,
.v-panel-content,
.v-panel-deco,
.v-panel-light,
.v-panel-caption-light,
.v-panel-content-light,
.v-panel-deco-light {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: left /* Force default alignment */
}
.v-panel-caption .v-errorindicator {
	float: none;
	display: inline;
}
.v-panel-caption .v-icon {
	display: inline;
	vertical-align: middle;
}
.v-panel-caption span {
	vertical-align: middle;
}
.v-panel-caption {
	white-space: nowrap;
	overflow:hidden;
	font-weight: bold;
}
.v-panel-nocaption {
	overflow: hidden;
}
.v-panel-content {
	overflow: auto;
}
.v-panel-deco {
}

/* ./WebContent/VAADIN/themes/base/popupview/popupview.css */
.v-popupview {
	cursor: pointer;
	background: #aaa;
}
.v-popupview-popup {
	overflow: auto;
}

/* ./WebContent/VAADIN/themes/base/progressindicator/progressindicator.css */
.v-progressindicator {
	overflow: hidden; /* for IE6 */
	width: 150px;
}
.v-progressindicator-wrapper {
	overflow: hidden; /* for IE6 */
	height: 7px;
	border: 1px solid #ddd;
}
.v-progressindicator-indicator {
	height: 7px;
	overflow: hidden; /* for IE6 */
	background: #ddd;
}
div.v-progressindicator-indeterminate {
	height: 20px;
	width: 20px;
	overflow: hidden; /* for IE6 */
	background: #fff url(common/img/ajax-loader-medium.gif) no-repeat 50%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
/* Hide obsolete elements in indeterminate mode */
.v-progressindicator-indeterminate .v-progressindicator-wrapper,
.v-progressindicator-indeterminate .v-progressindicator-indicator,
.v-progressindicator-indeterminate-disabled .v-progressindicator-wrapper,
.v-progressindicator-indeterminate-disabled .v-progressindicator-indicator {
	display: none;
}
div.v-progressindicator-indeterminate-disabled {
	height: 20px;
	width: 20px;
	overflow: hidden; /* for IE6 */
	background: transparent;
}

/* ./WebContent/VAADIN/themes/base/select/select.css */
.v-select {
	text-align: left;
}
.v-select-optiongroup .v-select-option {
	display: block;
	white-space: nowrap;
}
.v-ie .v-select-optiongroup .v-select-option {
	zoom: 1;
}
.v-select-select {
	display: block;
}
.v-select-twincol {
	white-space: nowrap;
}
.v-select-twincol-options {
	float: left;
}
.v-select-twincol-selections {
	font-weight: bold;
}
.v-select-twincol-buttons {
	float: left;
	text-align: center;
}
.v-select-twincol-buttons .v-select-twincol-deco {
	clear: both;
}
.v-select-twincol .v-textfield {
	display: block;
	float: left;
	clear: left;
}
.v-select-twincol .v-button {
	display: block;
	float: left;
}
.v-select-twincol-buttons .v-button {
	display: inline;
	float: none;
}
.v-filterselect {
	white-space: nowrap;
	text-align: left;
}
.v-filterselect .v-icon {
	float: left;
}
.v-app .v-filterselect-input,
.v-window .v-filterselect-input,
.v-popupview-popup .v-filterselect-input {
	float: left;
}
.v-filterselect-prompt .v-filterselect-input {
	color: #999;
	font-style: italic;
}
.v-filterselect-button {
	float: right;
	cursor: pointer;
}
.v-filterselect.v-readonly .v-filterselect-button {
	display: none;
}
.v-filterselect-suggestpopup {
	background: #fff;
	border: 1px solid #eee;
}
.v-filterselect-suggestmenu table {
	border-collapse: collapse;
	border: none;
}
.v-filterselect-suggestmenu .gwt-MenuItem {
	white-space: nowrap;
}
.v-filterselect-suggestmenu .gwt-MenuItem .v-icon {
	margin-right: 3px;
	vertical-align: middle;
}
.v-filterselect-suggestmenu .gwt-MenuItem span {
	vertical-align: middle;
}
.v-filterselect-suggestmenu .gwt-MenuItem-selected {
	background: #333;
	color: #fff;
}
.v-filterselect-nextpage,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage-off,
.v-filterselect-prevpage {
	width: 100%;
	background: #aaa;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
.v-filterselect-nextpage-off,
.v-filterselect-prevpage-off {
	color: #666;
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: default;
}
.v-filterselect-nextpage-off span,
.v-filterselect-prevpage-off span {
	cursor: default;
}
.v-filterselect-status {
	white-space: nowrap;
	text-align: center;
}

/* Error styles (disabled by default)

.v-filterselect-error .v-filterselect-input,
.v-select-error .v-select-option,
.v-select-error .v-select-select,
.v-select-error .v-select-twincol-selections,
.v-select-error .v-select-twincol-options {
	background: #ffaaaa;
}
*/

/*  Required field styles (disabled by default)
   
.v-filterselect-error .v-filterselect-input,
.v-select-required .v-select-option,
.v-select-required .v-select-select,
.v-select-required .v-select-twincol-selections,
.v-select-required .v-select-twincol-options {
	background: #ffaaaa;
}
*/

/* ./WebContent/VAADIN/themes/base/shadow/shadow.css */
.v-shadow {
	position: absolute;
}

.v-shadow .top-left {
    position: absolute; overflow: hidden;
    top: -3px;             left: -5px;
    width: 10px;         height: 10px;
    background: transparent url(shadow/img/top-left.png);
}

.v-shadow .top {
    position: absolute; overflow: hidden;
    top: -3px;             left: 5px;
    height: 10px;           right: 5px;
    background: transparent url(shadow/img/top.png);
}

.v-shadow .top-right {
    position: absolute; overflow: hidden;
    top: -3px;             right: -5px;
    width: 10px;         height: 10px;
    background: transparent url(shadow/img/top-right.png);
}

.v-shadow .left {
    position: absolute; overflow: hidden;
    top: 7px;           left: -5px;
    width: 10px;
    bottom: 3px;
    background: transparent url(shadow/img/left.png);
}

.v-shadow .center {
    position: absolute; overflow: hidden;
    top: 7px;           left: 5px;
    bottom: 3px;        right: 5px;
    background: transparent url(shadow/img/center.png);
}

.v-shadow .right {
    position: absolute; overflow: hidden;
    top: 7px;           right: -5px;
    width: 10px;
    bottom: 3px;
    background: transparent url(shadow/img/right.png);
}

.v-shadow .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -7px;           left: -5px;
    width: 10px;          height: 10px;
    background: transparent url(shadow/img/bottom-left.png);
}

.v-shadow .bottom {
    position: absolute; overflow: hidden;
    bottom: -7px;           left: 5px;
    right: 5px;          height: 10px;
    background: transparent url(shadow/img/bottom.png);
}

.v-shadow .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -7px;           right: -5px;
    width: 10px;          height: 10px;
    background: transparent url(shadow/img/bottom-right.png);
}





/* For IE6 (no transparent png's, we use a blur filter) */

.v-ie6 .v-shadow * {
	display: none;
}

.v-ie6 .v-shadow {
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2) alpha(opacity=20);
	margin-top: -3px;
	margin-left: -4px;
}  

/* ./WebContent/VAADIN/themes/base/slider/slider.css */
.v-slider {
	margin: 5px 0;
}
.v-slider-base {
	/* changing the borders will require adjustments to ISlider.java */
	height: 2px;
	border-top: 1px solid #ddd;
	background: #eee;
	border-left: 1px solid #ddd;
	border-right: 1px solid #eee;
	
}
.v-slider-handle {
	background: #aaa;
	width: 12px;
	height: 12px;
	margin-top: -5px;
	font-size: 0;
}

.v-slider-vertical {
	width: 2px;
	height: auto;
	margin: 0 5px;
	border: none;
	border-left: 1px solid #cccfd0;
	border-right: 1px solid #cccfd0;
}
.v-slider-vertical .v-slider-base {
	width: 2px;
	border-bottom: 1px solid #eee;
	border-right: none;
}
.v-slider-vertical .v-slider-handle {
	width: 12px;
	height: 12px;
	font-size: 0;
	margin-left: -5px;
}

/* Disabled by default
.v-slider-error .v-slider-base {
	background: #FFE0E0;
}
*/
/* Disabled by default
.v-slider-required .v-slider-base {
	background: #FFE0E0;
}
*/

/* IE specific styles */
.v-ie6 .v-slider,
.v-ie6 .v-slider-vertical {
	margin: 0;
}
.v-ie6 .v-slider .v-slider-handle {
	margin: -1px 0;
}
.v-ie6 .v-slider-vertical .v-slider-handle {
	margin: 0 -1px;
}

/* ./WebContent/VAADIN/themes/base/splitpanel/splitpanel.css */
.v-splitpanel-horizontal,
.v-splitpanel-vertical {
	overflow: hidden;
}
.v-splitpanel-hsplitter {
	width: 6px;
	font-size: 1px; /* for IE6 */
}
.v-splitpanel-hsplitter div {
	width: 6px;
	font-size: 1px; /* for IE6 */
	position: absolute;
	top: 0;
	bottom: 0;
	background: #ddd;
	cursor: e-resize;
}
.v-splitpanel-vsplitter {
	height: 6px;
	font-size: 1px; /* for IE6 */
}
.v-splitpanel-vsplitter div {
	height: 6px;
	font-size: 1px; /* for IE6 */
	background: #ddd;
	cursor: n-resize;
}
/* IE specific styles */
.v-ie6 .v-splitpanel-hsplitter div {
	height: 99%;
}
.v-ie6 .v-splitpanel-first-container,
.v-ie6 .v-splitpanel-second-container,
.v-ie7 .v-splitpanel-first-container,
.v-ie7 .v-splitpanel-second-container {
	position: relative;
}

/* ./WebContent/VAADIN/themes/base/table/table.css */
/* Table theme building instructions
 * 
 * Vaadin scroll table is very complex widget with dozens of features. These 
 * features set some limitations for theme builder. To keep things working, it
 * is safest to try to just override values used in default theme and comfort to
 * these instructions.
 * 
 * Borders in table header and in table body need to be same width
 * - specify vertical borders on .v-table-header-wrap and .v-table-body
 *
 * Table cells in body:
 *  - padding/border for cells is to be defined for td elements (class name: .v-table-cell-content)
 *  - in default theme there are no borders, but they should work. Just set border-right or border-bottom
 *  - no padding or border is allowed for div inside cells (class name: .v-table-cell-wrapper) element
 *  - background is allowed for both elements
 *
 * Table headers:
 *  - table cells in header contain .v-table-resizer and 
 *	  .v-table-caption-container div elements, which are both floated to right
 *  - to align header caption to body content resizer width + .v-table-caption-container
 *    padding right should be equal to content cells padding-right and border-right.
 *  - Possible cell border in header must be themed into column resizer.
 *
 */
.v-table {
	overflow: hidden;
	text-align: left; /* Force default alignment */
}
.v-table-header-wrap {
	overflow: hidden;
	border: 1px solid #aaa;
	border-bottom: none;
	background: #efefef;
}
.v-table-header table,
.v-table-table {
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
}
.v-table-header td {
	padding: 0;
}
.v-table-header-cell,
.v-table-header-cell-asc,
.v-table-header-cell-desc {
	cursor: pointer;
}
.v-table-resizer {
	display: block;
	height: 1.2em;
	float: right;
	background: #aaa;
	cursor: col-resize;
	width: 1px;
	overflow: hidden;
}
.v-table-caption-container {
	float: right;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 6px;
}
.v-table-header-cell-asc .v-table-caption-container {
	background: transparent url(common/img/sprites.png) no-repeat right 6px;
}
.v-table-header-cell-desc .v-table-caption-container {
	background: transparent url(common/img/sprites.png) no-repeat right -10px;
}
.v-table-body {
	border: 1px solid #aaa;
}
.v-table-row-spacer {
	height: 10px;
	overflow: hidden; /* IE hack to allow < one line height divs */
}
.v-table-row,
.v-table-row-odd {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.v-table-body-noselection .v-table-row,
.v-table-body-noselection .v-table-row-odd {
	cursor: default;
}
.v-table .v-selected {
	background: #999;
	color: #fff;
}
.v-table-cell-content {
	white-space: nowrap;
	overflow: hidden;
	padding: 0 6px;
	border-right: 1px solid #aaa;
}
.v-table-cell-wrapper {
	/* Do not specify any margins, paddings or borders here */
	white-space: nowrap;
	overflow: hidden;
}
.v-table-column-selector {
	float: right;
	background: transparent url(common/img/sprites.png) no-repeat 4px -37px;
	margin: -1.2em 0 0 0;
	height: 1.2em;
	width: 14px;
	position: relative; /* hide this from IE, it works without it */
	cursor: pointer;
}
.v-ie6 .v-table-column-selector,
.v-ie7 .v-table-column-selector {
	position: static;
}
.v-table-focus-slot-left {
	border-left: 2px solid #999;
	margin-right: -2px;
}
.v-table-focus-slot-right {
	border-right: 2px solid #999;
	margin-left: -2px;
}
.v-table-header-drag {
	position: absolute;
	background: #efefef;
	border: 1px solid #eee;
	opacity: 0.9;
	filter: alpha(opacity=90);
	margin-top: 20px;
	z-index: 30000;
}
.v-table-scrollposition {
	width: 160px;
	background: #eee;
	border: 1px solid #aaa;
}
.v-table-scrollposition span {
	display: block;
	text-align: center;
}
/* row in column selector */
.v-on {
	
}
.v-off {
	color: #ddd;
}

/* ./WebContent/VAADIN/themes/base/tabsheet/tabsheet.css */
.v-tabsheet,
.v-tabsheet-content,
.v-tabsheet-deco {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: left /* Force default alignment */
}
.v-tabsheet-tabs {
	empty-cells: hide;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	overflow:hidden;
}
.v-tabsheet-tabitemcell,
.v-tabsheet-spacertd {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
.v-tabsheet-spacertd {
	width: 100%;
}
.v-tabsheet-spacertd div {
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	height: 1em;
	padding: 0.2em 0;
}
.v-tabsheet-hidetabs .v-tabsheet-tabcontainer {
	display: none;
}
.v-tabsheet-scroller {
	white-space: nowrap;
	text-align: right;
	margin-top: -1em;
}
.v-ff2 .v-tabsheet-scroller {
	position: relative;
}
.v-tabsheet-scrollerPrev,
.v-tabsheet-scrollerNext,
.v-tabsheet-scrollerPrev-disabled,
.v-tabsheet-scrollerNext-disabled {
	border: 1px solid #aaa;
	background: #fff;
	width: 12px;
	height: 1em;
	cursor: pointer;
}
.v-tabsheet-scrollerPrev-disabled,
.v-tabsheet-scrollerNext-disabled {
	opacity: 0.5;
	cursor: default;
}
.v-tabsheet-tabs .v-caption,
.v-tabsheet-tabs .v-caption span {
	white-space: nowrap;
}
.v-tabsheet-tabitem {
	border: 1px solid #aaa;
	border-right: none;
	cursor: pointer;
	padding: 0.2em 0.5em;
}
.v-tabsheet-tabitem-selected {
	cursor: default;
	border-bottom-color: #fff;
}
.v-tabsheet-content {
	border: 1px solid #aaa;
	/* Vertical borders are not supported, use v-tabsheet-tabcontainer and v-tabsheet-deco to present these borders */
	border-top: none;
	border-bottom: none;
	position: relative;
}
.v-tabsheet-deco {
	height: 1px;
	background: #aaa;
	overflow: hidden;
}
.v-tabsheet-hidetabs .v-tabsheet-content {
	border: none;
}
.v-tabsheet-hidetabs .v-tabsheet-deco {
	height: 0;
}

/* ./WebContent/VAADIN/themes/base/textfield/textfield.css */
.v-textfield {
	text-align: left /* Force default alignment */
}
.v-textarea {
}
.v-textfield-focus,
.v-textarea-focus {
}
input.v-textfield-prompt,
textarea.v-textarea-prompt {
	color: #999;
	font-style: italic;
}
.v-textfield.v-readonly,
.v-textarea.v-readonly {
	background: transparent;
	color: #222;
	border: none;
}
.v-richtextarea {
	border: 1px solid #aaa;
	overflow: hidden;
}
.v-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton,
.v-richtextarea .gwt-RichTextToolbar .gwt-PushButton {
	float: left;
}
.v-richtextarea .gwt-RichTextToolbar {
	white-space: nowrap;
}
.v-richtextarea iframe {
	border: 0;
}
/* Disabled by default
.v-textarea-error,
.v-textfield-error,
.v-richtextarea-error iframe.gwt-RichTextArea {
	background: #FFE0E0;	
}
*/
/* Disabled by default
.v-textarea-required,
.v-textfield-required,
.v-richtextarea-required iframe.gwt-RichTextArea {
	background: #FFE0E0;	
}
*/
/* Safari focus glow fix */
.v-sa input:focus, 
.v-sa textarea:focus {
	outline-width: medium;
}

/* ./WebContent/VAADIN/themes/base/tree/tree.css */
.v-tree {
	text-align: left; /* Force default alignment */
	overflow: hidden;
}
.v-tree-node {
	background: transparent url(common/img/sprites.png) no-repeat 5px -37px;
}
.v-tree-node-expanded {
	background-position: -5px -10px;
}
div.v-tree-node-leaf {
	background: transparent;
}
.v-tree-node-caption {
	margin-left: 1em;
}
.v-tree-node span {
	cursor: pointer;
}
.v-tree-node-caption div {
	white-space: nowrap;
}
.v-tree-node-caption span,
.v-tree-node-caption .v-icon {
	vertical-align: middle;
}
.v-tree-node-selected span {
	background: #999;
	color: #fff;
}
.v-tree-node-children {
	padding-left: 1em;
}
/* ie6compatnode is hidden from non ie6 browsers, for ie6 
 * uses weird hack to sink all events properly 
 */
.v-tree-node-ie6compatnode {
	display: none;
}
/* IMPORTANT keep the offsetWidth of this element the same as the margin-left of v-tree-node-caption */
.v-ie6 .v-tree-node-ie6compatnode {
	display: inline;
	float: left;
	background: orange;
	margin: 0;
	width: 0.8em;
	height: 0.8em;
	padding: 0.1em;
	filter: alpha(opacity=0);
}
.v-ie6 .v-tree-node,
.v-ie6 .v-tree-node-children {
	clear: left;
}

/* ./WebContent/VAADIN/themes/base/window/window.css */
.v-window {
	background: #fff;
}
.v-window-outerheader {
	cursor: move;
	padding: 0.3em 1em;
	height: 1em;
}
.v-window-header {
	font-weight: bold;
}
/* A more specific selector to make sure padding isn't so easily overridden */
.div.v-window-header {
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	overflow: hidden;
	padding: 0;
}
.v-ie6 .v-window-header {
	width: 100%;
}
.v-window-header .v-icon {
	vertical-align: middle; /* This has to be 'middle', not 'bottom', to allow larger icons than 16px */
}
/* Partial fix for bug #1106 */
/* Target Firefox 2 (somehow this will force almost all window borders on top of a Flash object) */
.v-window-contents, x:-moz-any-link {
	overflow: hidden;
}
/* Target Firefox 3 (it doesn't need any trickery, so revert the previous) */
.v-window-contents, x:-moz-any-link, x:default {
	overflow: visible;
}
.v-window-footer {
	overflow: hidden;
	zoom: 1;
	height: 10px;
	position: relative;
}
.v-window-resizebox {
	width: 10px;
	height: 10px;
	cursor: se-resize;
	background: #ddd;
	overflow: hidden;
	position: absolute;
	right: 0;
}
.v-window div.v-window-footer-noresize {
	height: 0;
}
.v-window-resizebox-disabled {
	cursor: default;
	display: none;
}
.v-window-closebox {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: 1em;
	background: red;
	cursor: pointer;
	overflow: hidden;
}
.v-window-modalitycurtain {
	top: 0;
	left: 0;
	background: #999;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=50);
}
/* IE6 workaround for position:fixed; */
.v-ie6 .v-window-modalitycurtain { 
	position: absolute;
	top: expression(document.documentElement.scrollTop + "px"); 
}
/* min-width for IE6 */
.v-ie6 .v-window {
	width: 0; /*  */
}
/* Shadow for window */
.v-shadow-window {
	position: absolute;
}
.v-shadow-window .top-left {
    position: absolute; overflow: hidden;
    top: -10px;             left: -15px;
    width: 28px;         height: 28px;
    background: transparent url(window/img/shadow/top-left.png);
}
.v-shadow-window .top {
    position: absolute; overflow: hidden;
    top: -10px;             left: 13px;
    height: 28px;
    right: 13px;
    background: transparent url(window/img/shadow/top.png);
}
.v-shadow-window .top-right {
    position: absolute; overflow: hidden;
    top: -10px;             right: -15px;
    width: 28px;         height: 28px;
    background: transparent url(window/img/shadow/top-right.png);
}
.v-shadow-window .left {
    position: absolute; overflow: hidden;
    top: 18px;           left: -15px;
    width: 28px;
    bottom: 10px;
    background: transparent url(window/img/shadow/left.png);
}
.v-shadow-window .center {
    position: absolute; overflow: hidden;
    top: 18px;           left: 13px;
    bottom: 10px;        right: 13px;
    background: transparent url(window/img/shadow/center.png);
}
.v-shadow-window .right {
    position: absolute; overflow: hidden;
    top: 18px;           right: -15px;
    width: 28px;
    bottom: 10px;
    background: transparent url(window/img/shadow/right.png);
}
.v-shadow-window .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -18px;           left: -15px;
    width: 28px;          height: 28px;
    background: transparent url(window/img/shadow/bottom-left.png);
}
.v-shadow-window .bottom {
    position: absolute; overflow: hidden;
    bottom: -18px;           left: 13px;
    right: 13px;          height: 28px;
    background: transparent url(window/img/shadow/bottom.png);
}
.v-shadow-window .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -18px;           right: -15px;
    width: 28px;          height: 28px;
    background: transparent url(window/img/shadow/bottom-right.png);
}
/* For IE6 (no transparent png's, we use a blur filter) */
.v-ie6 .v-shadow-window * {
	display: none;
}
.v-ie6 .v-shadow-window {
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5) alpha(opacity=20);
	margin-top: 2px;
	margin-left: 2px;
}
