<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>TwinColSelectParentDisabled</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TwinColSelectParentDisabled</td></tr>
</thead><tbody>
<!--Tests with screen shots that OptionGroupBased Selects are disabled / enabled correctly when the parent is disabled / enabled.-->
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.select.OptionGroupBaseSelects?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>initial_state_parent_enabled</td>
</tr>
<!--disable parent-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectOptionGroupBaseSelects::/VVerticalLayout[0]/VVerticalLayout[0]/VHorizontalLayout[0]/VCheckBox[0]/domChild[0]</td>
	<td>7,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>parent_disabled</td>
</tr>
<!--enable parent-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectOptionGroupBaseSelects::/VVerticalLayout[0]/VVerticalLayout[0]/VHorizontalLayout[0]/VCheckBox[0]/domChild[0]</td>
	<td>7,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>parent_enabled</td>
</tr>
</tbody></table>
</body>
</html>