<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://192.168.2.75:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.select.TwinColSelectTest?restartApplication</td>
	<td></td>
</tr>
<!--Hide log-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item1</td>
	<td>27,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>27,6</td>
</tr>
<!--Remove component caption-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>25,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item1</td>
	<td>34,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>69,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>37,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>no-captions</td>
</tr>
<!--Add left caption-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>39,14</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>46,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>46,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item3</td>
	<td>27,4</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>left-caption</td>
</tr>
<!--Add right caption-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>37,19</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>27,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>61,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>29,11</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>dual-captions</td>
</tr>
<!--Hide left caption-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>27,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>46,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>77,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>18,11</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>right-caption</td>
</tr>
<!--Hide right caption-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>44,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>46,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>75,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>8,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>no-captions</td>
</tr>
<!--Show right caption-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>29,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>38,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>64,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>29,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>right-caption</td>
</tr>
<!--Hide right caption-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>35,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>42,15</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>45,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>75,3</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>no-captions</td>
</tr>
<!--Set width to fixed (500px)-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>37,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>36,0</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>15,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item6</td>
	<td>27,8</td>
</tr>
<!--Add left caption-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>7,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>49,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>50,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item3</td>
	<td>21,0</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>500px-left-caption</td>
</tr>
<!--Add right caption-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>53,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>47,2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>44,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item4</td>
	<td>46,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>500px-dual-captions</td>
</tr>
<!--Change the size of the parent layout to 500px to ensure cached updates work-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item1</td>
	<td>20,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>53,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>4,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item6</td>
	<td>27,15</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>500px-dual-captions</td>
</tr>
<!--Hide left caption-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>27,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>35,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>26,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>4,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>32,14</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>42,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>46,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>19,7</td>
</tr>
<!--Ensure height setting works correctly-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>21,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>23,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>32,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item4</td>
	<td>28,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>height-300px-no-captions</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>47,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>37,2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>55,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item1</td>
	<td>36,15</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>height-300px-left-caption</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::PID_Smenu#item0</td>
	<td>36,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>48,2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>44,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelectTest::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>29,12</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>height-300px-no-captions</td>
</tr>
</tbody></table>
</body>
</html>
