<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.select.TwinColSelects?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelects::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>7,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelects::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>4,8</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-error-required</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelects::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>2,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelects::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>0,2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelects::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>9,8</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-readonly</td>
</tr>
<!--Disable-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelects::PID_Scheckboxaction-Enabled/domChild[0]</td>
	<td>7,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectTwinColSelects::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>10,2</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled</td>
</tr>
</tbody></table>
</body>
</html>
