@mixin runo-accordion($primaryStyleName : v-accordion) {

.#{$primaryStyleName}-item-caption {
	height: 31px;
	background: #edf0f0 url(img/bg.png);
	color: #656d73;
	border: none;
	border-top: 1px solid #c8cccd;
}
.#{$primaryStyleName}-item-caption .v-caption {
	font-size: 15px;
	padding: 7px 0 4px 31px;
	background: transparent url(img/collapsed-icon.png) no-repeat 18px 55%;
}
.#{$primaryStyleName}-item-open .#{$primaryStyleName}-item-caption {
	color: #3b4b57;
	background: #d5dee2 url(img/selected-bg.png);
	border-bottom: 1px solid #b4b9ba;
	text-shadow: 0 1px 0 #fff;
}
.#{$primaryStyleName}-item-open .#{$primaryStyleName}-item-caption .v-caption {
	background-image: url(img/expanded-icon.png);
	background-position: 17px 55%;
}
.#{$primaryStyleName}-item-first .#{$primaryStyleName}-item-caption {
	border-top: none;
}
.#{$primaryStyleName}-item-caption .v-caption:hover {
	color: #3b4b57;
}

/* Light style */
.#{$primaryStyleName}-light .#{$primaryStyleName}-item-caption {
	height: 24px;
	padding: 3px 2px;
	background: transparent;
	border: none;
}
.#{$primaryStyleName}-light .#{$primaryStyleName}-item-caption .v-caption {
	padding: 4px 15px 4px 28px;
	font-size: 12px;
	line-height: 16px;
	height: 16px;
	font-weight: bold;
	border: 1px solid #c8cccd;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	background-position: 15px 50%;
}

}