/* Make item caption height an even number (so that the connector dots overlap nicely) */
.v-tree-connectors .v-tree-node-caption {
	padding-top: 1px;
}
.v-tree-connectors .v-tree-node {
	background: transparent url(img/connector-expand.png) no-repeat 2px -52px;
}
.v-tree-connectors .v-tree-node-expanded {
	background: transparent url(img/connector-collapse.png) no-repeat 2px -52px;
}
.v-tree-connectors .v-tree-node-last {
	background: transparent url(img/connector-expand-last.png) no-repeat 2px -52px;
}
.v-tree-connectors .v-tree-node-expanded.v-tree-node-last {
	background: transparent url(img/connector-collapse-last.png) no-repeat 2px -52px;
}
.v-tree-connectors .v-tree-node-leaf {
	background: transparent url(img/connector-leaf.png) repeat-y 2px 50%;
}
.v-tree-connectors .v-tree-node-leaf-last {
	background: transparent url(img/connector-leaf-last.png) repeat-y 2px 50%;
}
.v-tree-connectors .v-tree-node-children {
	background: transparent url(img/connector.png) repeat-y 2px 0;
}
.v-tree-connectors .v-tree-node-children-last {
	background: transparent;
}
.v-tree-connectors .v-tree-node-drag-top,
.v-tree-connectors .v-tree-node-expanded.v-tree-node-drag-top {
	background-position: 2px -53px;
}
.v-tree-connectors .v-tree-node-drag-top.v-tree-node-leaf {
	background-position: 2px 50%;
}

/* IE6 */
.v-ie6 .v-tree-connectors .v-tree-node {
	background: transparent url(img/connector-expand-ie6.png) no-repeat 2px -52px;
}
.v-ie6 .v-tree-connectors .v-tree-node-expanded {
	background: transparent url(img/connector-collapse-ie6.png) no-repeat 2px -52px;
}
.v-ie6 .v-tree-connectors .v-tree-node-last {
	background: transparent url(img/connector-expand-last-ie6.png) no-repeat 2px -52px;
}
.v-ie6 .v-tree-connectors .v-tree-node-last.v-tree-node-expanded {
	background: transparent url(img/connector-collapse-last-ie6.png) no-repeat 2px -52px;
}