@mixin base-tree($name : v-tree) {

// tree-default.css

.#{$name} {
	text-align: left; /* Force default alignment */
	overflow: hidden;
	padding: 1px 0;
	outline: none;
}
.#{$name}-node {
	background: transparent url(../common/img/sprites.png) no-repeat 5px -37px;
	padding: 1px 0;
}
.#{$name}-node-caption:focus {
	outline: none;
}
div.#{$name}-node-leaf {
	background: transparent;
}
.#{$name}-node-expanded {
	background: transparent url(../common/img/sprites.png) no-repeat -5px -10px;
}
.#{$name}-node-caption {
	margin-left: 1em;
}
.#{$name}-node span {
	cursor: pointer;
}
.#{$name}-node-caption div {
	white-space: nowrap;
}
.#{$name}-node-caption span,
.#{$name}-node-caption .v-icon {
	vertical-align: middle;
}
.#{$name}-node-selected span {
	background: #999;
	color: #fff;
}
.#{$name}-node-children {
	padding-left: 1em;
}

// Drag'n'drop styles

.#{$name} .#{$name}-node-drag-top {
	border-top: 2px solid #1d9dff;
	margin-top: -1px;
	padding-top: 0;
}
.#{$name} .#{$name}-node-drag-bottom {
	border-bottom: 2px solid #1d9dff;
	margin-bottom: -1px;
	padding-bottom: 0;
}
.#{$name} .#{$name}-node-drag-top:before,
.#{$name} .#{$name}-node-drag-bottom:after,
.#{$name} .#{$name}-node-caption-drag-center:after {
	display: block;
	
	position: absolute;
	width: 6px;
	height: 6px;
	margin-top: -4px;
	background: transparent url(../common/img/drag-slot-dot.png);
}
.#{$name} .#{$name}-node-drag-bottom:after {
	margin-top: -2px;
}
.#{$name} .#{$name}-node-caption-drag-center:after {
	margin-left: 14px;
}
.v-ff .#{$name} .#{$name}-node-caption-drag-center:after,
.v-ie .#{$name} .#{$name}-node-caption-drag-center:after {
	margin-top: -2px;
}
.#{$name} .#{$name}-node-drag-top {
	background-position: 5px -38px;
}
.#{$name} .#{$name}-node-drag-top.#{$name}-node-expanded {
	background-position: -5px -11px;
}
.#{$name} .#{$name}-node-caption-drag-center div {
	border: 2px solid #1d9dff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: -2px 2px -2px -2px;
	background-color: #bcdcff;
}
.#{$name} .#{$name}-node-caption-drag-center div {
	background-color: rgba(169,209,255,.6);
}
.#{$name} .#{$name}-node-caption-drag-center div,
.#{$name} .#{$name}-node-drag-top,
.#{$name} .#{$name}-node-drag-bottom {
	border-color: rgba(0,109,232,.6);
}

// tree-connectors.css

.#{$name}-connectors {
	// Make item caption height an even number (so that the connector dots overlap nicely)
	.#{$name}-node-caption {
		padding-top: 1px;
	}
	.#{$name}-node {
		background: transparent url(img/connector-expand.png) no-repeat 2px -52px;
	}
	.#{$name}-node-expanded {
		background: transparent url(img/connector-collapse.png) no-repeat 2px -52px;
	}
	.#{$name}-node-last {
		background: transparent url(img/connector-expand-last.png) no-repeat 2px -52px;
	}
	.#{$name}-node-expanded.#{$name}-node-last {
		background: transparent url(img/connector-collapse-last.png) no-repeat 2px -52px;
	}
	.#{$name}-node-leaf {
		background: transparent url(img/connector-leaf.png) repeat-y 2px 50%;
	}
	.#{$name}-node-leaf-last {
		background: transparent url(img/connector-leaf-last.png) repeat-y 2px 50%;
	}
	.#{$name}-node-children {
		background: transparent url(img/connector.png) repeat-y 2px 0;
	}
	.#{$name}-node-children-last {
		background: transparent;
	}
	.#{$name}-node-drag-top,
	.#{$name}-node-expanded.#{$name}-node-drag-top {
		background-position: 2px -53px;
	}
	.#{$name}-node-drag-top.#{$name}-node-leaf {
		background-position: 2px 50%;
	}
}

}