.v-tree {
	text-align: left; /* Force default alignment */
	overflow: hidden;
}
.v-tree-node {
	background: transparent url(../common/img/sprites.png) no-repeat 5px -37px;
}
.v-tree-node-expanded {
	background-position: -5px -10px;
}
div.v-tree-node-leaf {
	background: transparent;
}
.v-tree-node-caption {
	margin-left: 1em;
}
.v-tree-node span {
	cursor: pointer;
}
.v-tree-node-caption div {
	white-space: nowrap;
}
.v-tree-node-caption span,
.v-tree-node-caption .v-icon {
	vertical-align: middle;
}
.v-tree-node-selected span {
	background: #999;
	color: #fff;
}
.v-tree-node-children {
	padding-left: 1em;
}
/* ie6compatnode is hidden from non ie6 browsers, for ie6 
 * uses weird hack to sink all events properly 
 */
.v-tree-node-ie6compatnode {
	display: none;
}
/* IMPORTANT keep the offsetWidth of this element the same as the margin-left of v-tree-node-caption */
.v-ie6 .v-tree-node-ie6compatnode {
	display: inline;
	float: left;
	background: orange;
	margin: 0;
	width: 0.8em;
	height: 0.8em;
	padding: 0.1em;
	filter: alpha(opacity=0);
}
.v-ie6 .v-tree-node,
.v-ie6 .v-tree-node-children {
	clear: left;
}