<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;reindeer-tests&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
 </head> 
 <body>
  <vaadin-vertical-layout> 
   <vaadin-horizontal-layout _id="buttons" width-full></vaadin-horizontal-layout> 
   <vaadin-native-select _id="nativeSelect" empty-selection-allowed="false"> 
    <option item="Option 1">Foo</option>
    <option item="Option 2">Bar</option>
    <option item="Option 3">Baz</option>
    <option item="Option 4">Spam</option>
    <option item="Option 5">Eggs</option>
   </vaadin-native-select> 
  </vaadin-vertical-layout>  
 </body>
</html>