<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>moveFocusToTreeOnClick</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">moveFocusToTreeOnClick</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/FeatureBrowser/?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=FeatureBrowser::PID_SFeatureBrowser: Main Tree#n[0]/n[0]/n[2]</td>
	<td>57,11</td>
</tr>
<tr>
	<td>scroll</td>
	<td>vaadin=FeatureBrowser::/VSplitPanelHorizontal[0]/VSplitPanelVertical[0]/VVerticalLayout[0]/ChildComponentContainer[1]/VTabsheet[0]/VTabsheetPanel[0]/VCustomComponent[0]/VVerticalLayout[0]/ChildComponentContainer[1]/VHorizontalLayout[0]/ChildComponentContainer[1]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VDateFieldCalendar[0]/VCalendarPanel[0]#ms</td>
	<td>5148</td>
</tr>
<tr>
	<td>pause</td>
	<td>300</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=FeatureBrowser::/VSplitPanelHorizontal[0]/VSplitPanelVertical[0]/VVerticalLayout[0]/ChildComponentContainer[1]/VTabsheet[0]/VTabsheetPanel[0]/VCustomComponent[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VHorizontalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td>84,3</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=FeatureBrowser::/VSplitPanelHorizontal[0]/VSplitPanelVertical[0]/VVerticalLayout[0]/ChildComponentContainer[1]/VTabsheet[0]/VTabsheetPanel[0]/VCustomComponent[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VHorizontalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td>fooo</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=FeatureBrowser::PID_SFeatureBrowser: Main Tree#n[0]/n[0]/n[1]</td>
	<td>81,5</td>
</tr>
<!--fooo should now be shown in notification and in text field when coming back to basic value input view-->
<tr>
	<td>verifyTextPresent</td>
	<td>Received</td>
	<td></td>
</tr>
<tr>
	<td>verifyTextPresent</td>
	<td>fooo</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=FeatureBrowser::PID_SFeatureBrowser: Main Tree#n[0]/n[0]/n[2]</td>
	<td>84,11</td>
</tr>
<tr>
	<td>verifyValue</td>
	<td>vaadin=FeatureBrowser::/VSplitPanelHorizontal[0]/VSplitPanelVertical[0]/VVerticalLayout[0]/ChildComponentContainer[1]/VTabsheet[0]/VTabsheetPanel[0]/VCustomComponent[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VHorizontalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td>fooo</td>
</tr>

</tbody></table>
</body>
</html>
