/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/abspos-containing-block-initial-005a.htm */
.style { position:absolute; width:100px; height:100px;              background:yellow; border:10px solid black; }
