/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/abspos-containing-block-initial-009f.htm */
.style { position:absolute; width:50%; top:50px; left:50px; height:100%; margin:0; border:10px solid black; }
