/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/abspos-containing-block-initial-001.htm */

html { margin:10px; border:20px solid black; padding:30px; }
body { height:10000px; margin:0; }
div { position:absolute; width:100px; height:100px; }

