/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/abspos-containing-block-initial-005d.htm */
.style { position:fixed; width:100px; height:100px; display:table;              background:yellow; border:10px solid black; }
