/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/before-after-table-whitespace-001.htm */

.gen0:before {
  padding:1px;
}
.gen1:before {
  content: " ";
}
.gen2:before {
  content: attr(missing);
}
.gen3:before {
  content: url(missing-image.png);
}

div { border:1px solid green; margin:5px; }

