/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/before-after-dynamic-restyle-001.htm */

body:before {
  content:"Before";
  border:inherit;
}
.cl:after {
  display:block;
  content:"After";
}

