/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/before-after-dynamic-attr-001.htm */

body {
  font-family:sans-serif;
}
body:before {
  content:attr(my-attr);
}
body:after {
  content:attr(my-attr-2);
}

