/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/before-after-positioned-001.htm */

div { counter-reset:ctr; quotes:"\0022" "\0022" "\0022" "\0022"; }

.gen:before {
  content:counter(ctr) url(support/square-outline-32x32.png) open-quote "Before " attr(class);
  counter-increment:ctr;
}
.gen:after {
  content:counter(ctr) url(support/square-outline-32x32.png) "After " attr(class) close-quote;
  counter-increment:ctr;
}

.abs:before {
  position:absolute;
  left:0;
}
.abs:after {
  position:absolute;
  right:0;
}

.rel:before {
  position:relative;
  top:-10px;
}
.rel:after {
  position:relative;
  top:10px;
}

div { border:1px solid green; margin:5px; height:100px; }

