/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/block-in-inline-append-002.htm */

      #outermost { border: 2px solid; }
      #outer { border: 4px solid yellow; }
      #inner { border: 6px sold green; }
    
