/* Source: http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/html/tests/css3-modsel-149.html */

 address:empty { background: lime; }
 address { background: red; margin: 0; height: 1em; }
 .text { margin: -1em 0 0 0; }

