/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/first-line-inherit-003.htm */

      div, p { background: green; }
      div:first-line, p:first-line { background-color: red; }
      span.one { background: inherit; }
      span.two { background-color: inherit; }
    
