/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/first-letter-dynamic-001.htm */

  span:before { content: open-quote; }
  span:after { content: close-quote; }
  span { quotes: '"' '"'; }

