/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/first-letter-inherit-001.htm */

div { float: left; overflow: scroll; font-size: 50px; width: 3em; line-height: 10px }
div:first-letter { float: inherit; }

