/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/first-letter-quote-003.htm */

  div { color: black; }
  div:first-letter { color: green; }
  span:before { content: open-quote "This "; }
  span:after { content: close-quote; }
  span { quotes: '"' '"'; }
  
