/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/floats-wrap-top-below-bfc-003r.htm */


body { width: 400px; border: medium solid; }
span { display: block; overflow: hidden; width: 100px; height: 50px; background: aqua; }


