/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/floats-wrap-bfc-006.htm */


	body { font-size: 16px; }

	table { margin: 0; border-spacing: 0; }
	caption, td, th { padding: 0; vertical-align: top; text-align: left; }

	table table caption { background: yellow; }
	table table { background: purple; }

	
