/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/floats-wrap-top-below-inline-001l.htm */


body { width: 400px; border: medium solid; text-align: left; }
div { float: left; clear: left; }
span { display: inline-block; vertical-align: top; width: 200px; height: 50px; background: aqua; }


