/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/floats-wrap-top-below-inline-001r.htm */


body { width: 400px; border: medium solid; text-align: right; }
div { float: right; clear: right; }
span { display: inline-block; vertical-align: top; width: 200px; height: 50px; background: aqua; }


