/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/floats-wrap-top-below-bfc-001l.htm */


body { width: 400px; border: medium solid; }
div { float: left; clear: left; }
span { display: block; overflow: hidden; width: 200px; height: 50px; background: aqua; margin-right: auto; }


