/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/font-family-name-001.htm */

            body { font-size: 36px; }
            span#verify { font-family: CSSTest Verify; }
            p {
                font-family: CSSTest FamilyName, CSSTest Fallback;
            }
        
