/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/font-family-name-024.htm */

            body { font-size: 36px; }
            span#verify { font-family: CSSTest Verify; }
            div.test { font-family: CSSTest Fallback; }
            p {
            }
            p#test1 {
                font-family: caption, CSSTest Fallback;
            }
            p#test2 {
                font-family: icon, CSSTest Fallback;
            }
            p#test3 {
                font-family: menu, CSSTest Fallback;
            }
            p#test4 {
                font-family: message-box, CSSTest Fallback;
            }
            p#test5 {
                font-family: small-caption, CSSTest Fallback;
            }
            p#test6 {
                font-family: status-bar, CSSTest Fallback;
            }
        
