/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/font-family-name-023.htm */

            body { font-size: 36px; }
            span#verify { font-family: CSSTest Verify; }
            div.test { font-family: CSSTest Fallback; }
            p {
            }
            p#test1a {
                font-family: "small-caps 1in CSSTest FamilyName Funky", CSSTest Fallback;
            }
            p#test2 {
                font-family: x-large CSSTest FamilyName Funky, CSSTest Fallback;
            }
            p#test2a {
                font-family: "x-large CSSTest FamilyName Funky", CSSTest Fallback;
            }
            p#test3a {
                font-family: "12px CSSTest FamilyName Funky", CSSTest Fallback;
            }
        
