/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/inline-block-zorder-001.htm */

div { width: 2em; height: 1em; }
span { display:inline-block; vertical-align: top; width: 2em; height: 1em; background: green; }
div#after { margin-top:-1em; background: red; }

