/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/inline-block-height-002.htm */

div { display: inline-block; height: 5em; width:10em; vertical-align: baseline; background: green; color: white; }

