/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/inline-table-zorder-002.htm */

div { width: 2em; height: 2em; }
span { display:inline-table; vertical-align: top; width: 2em; height: 2em; }
span span { display: block; background: green; }
div#after { margin-top: -2em; background: red; }

