/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/inline-table-width-002a.htm */

body > div { width: 10em; }
body > div > div { display: inline-table; background: green; color: white; }
body > div > div > div { width: 20em; }

