/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/inline-block-width-001b.htm */

body > div { width: 10em; }
body > div > div { display: inline-block; background: green; color: white; width: 10em; }

