/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/quotes-036.htm */

  
     .party1 * { display: inline; }
     .party1 .a { quotes: "Isn"        "'"
                          "t"          "FAIL!"
                          "FAIL!"      " i"; }
     .party1 .b { quotes: ""           "FAIL!!" 
                          " wonderful" "!!!"
                          " to "       " work"
                          "see "       " [FAIL to]"
                          "C"          "quotes"
                          "S"          " "; }
     .party1 .c { quotes: none; }
     .party1 .d { quotes: "FAIL!"      "FAIL!"
                          "FAIL!"      "FAIL!"
                          ""           ""; }
     .test { margin-left: 2em; }
     .test .no-open:before { content: no-open-quote; }
     .test .open:before { content: open-quote; }
     .test .triple-open:before { content: open-quote open-quote open-quote; }
     .test .no-close:after { content: no-close-quote; }
     .test .triple-no-close:after { content: no-close-quote no-close-quote no-close-quote; }
     .test .close:after { content: close-quote; }
     .test .triple-close:after { content: close-quote close-quote close-quote; }
     .test .no-close-open:before { content: no-close-quote open-quote; }

     /* hr br */
     .test hr, .test br { display: inline; margin: 0; padding: 0;
       height: auto; width: auto; border: none; color: inherit;
       background: transparent; }
     .test br:before { content: "" }
     .test br:after { content: "" }
  
  
