/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/table-backgrounds-bs-table-001.htm */


	html, body { margin: 0; padding: 0; border: 0; font-size: 16px; }
	body { padding: 15px; }

	table { 
		margin: 0 3px 2px 4px; /* zero top to work around collapsing bug */
		border: transparent solid;
		border-width: 4px 2px 7px 3px;
		padding: 3px 7px 8px 6px;
		border-collapse: separate;
		border-spacing: 2px 3px;
	}

	td {
		border: transparent solid;
		border-width: 2px 1px 4px 3px;
		padding: 1px 2px 4px 3px;
		empty-cells: show;
	}

	div { height: 10px; width: 50px; }

	table.color { background-color: aqua; }

	table.imagetl, table.imagebr {
		background-image: url(support/repeatable-diagonal-gradient-with-ticks.png);
	}

	table.imagetl { background-position: top left; /* default */ }
	table.imagebr { background-position: bottom right; /* default */ }

	
