/* Source: http://test.csswg.org/suites/css2.1/20110323/html4/text-indent-intrinsic-002.htm */


body { font-size: 12px; }

body > div, body > pre {
	float: left; clear: left; margin: 1px; height: 2em;
	border: medium solid;
}

span {
    display: inline-block;
    height: 1em;
    width: 1em;
}


