<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>CommitInvalid</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">CommitInvalid</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.datefield.CommitInvalid?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_1</td>
	<td>2. Date. Field: 2009-04-01 Property: 2009-04-01</td>
</tr>
<!--change date, make integer invalid, commit-->
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td>2.4.2009</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_IF</td>
	<td>27,12</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_IF</td>
	<td>42f</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_commit/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_2</td>
	<td>4. Commit failed : Could not convert value to Integer</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VForm[0]/domChild[0]/domChild[2]/domChild[0]</td>
	<td>Could not convert value to Integer</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_1</td>
	<td>5. Date. Field: 2009-04-02 Property: 2009-04-01</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_0</td>
	<td>6. Integer: Field: 42f Property: 42</td>
</tr>
<!--set sane value for integer, invalid for date, commit-->
<tr>
	<td>drag</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_IF</td>
	<td></td>
</tr>
<tr>
	<td>drop</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VForm[0]/VFormLayout[0]/domChild[0]/domChild[1]/domChild[1]/domChild[0]</td>
	<td>68,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_IF</td>
	<td>-15,-2</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_IF</td>
	<td>22</td>
</tr>
<tr>
	<td>drag</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td></td>
</tr>
<tr>
	<td>drop</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VForm[0]/VFormLayout[0]/domChild[0]/domChild[1]/domChild[0]/domChild[1]</td>
	<td>7,18</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td>-5,2</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td>asdfgh</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_commit</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_2</td>
	<td>7. Commit failed : Date format not recognized</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_1</td>
	<td>8. Date. Field: null Property: 2009-04-01</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_0</td>
	<td>9. Integer: Field: 22 Property: 42</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VForm[0]/domChild[0]/domChild[2]/domChild[0]</td>
	<td>Date format not recognized</td>
</tr>
<!--null date field, commit-->
<tr>
	<td>drag</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td></td>
</tr>
<tr>
	<td>drop</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VForm[0]/VFormLayout[0]/domChild[0]/domChild[1]/domChild[0]/domChild[0]</td>
	<td>47,18</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td>-36,2</td>
</tr>
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_commit</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_2</td>
	<td>10. Commit succeeded</td>
</tr>
<tr>
	<td>verifyTextPresent</td>
	<td>11. Date. Field: null Property: null</td>
	<td></td>
</tr>
<tr>
	<td>verifyTextPresent</td>
	<td>12. Integer: Field: 22 Property: 22</td>
	<td></td>
</tr>
<!--bad date, validate, correct date, commit-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td>44,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td>44,7</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td>ddd</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_validate</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_2</td>
	<td>13. Validation failed:Date format not recognized</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_1</td>
	<td>14. Date. Field: null Property: null</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VForm[0]/domChild[0]/domChild[2]/domChild[0]</td>
	<td>Date format not recognized</td>
</tr>
<tr>
	<td>drag</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td></td>
</tr>
<tr>
	<td>drop</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VForm[0]/VFormLayout[0]/domChild[0]/domChild[1]/domChild[0]/domChild[1]</td>
	<td>3,19</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td>-9,3</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_DF#field</td>
	<td>7.1.2011</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_S_commit</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_2</td>
	<td>16. Commit succeeded</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_1</td>
	<td>17. Date. Field: 2011-01-07 Property: 2011-01-07</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCommitInvalid::PID_SLog_row_0</td>
	<td>18. Integer: Field: 22 Property: 22</td>
</tr>
</tbody></table>
</body>
</html>
