<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://artur-laptop.office.itmill.com:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.datefield.CustomDateFormats?restartApplication</td>
	<td></td>
</tr>
<!--fr_FR-->
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyyy/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MM yyyy/domChild[0]</td>
	<td>1 02 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>1 févr. 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>1 février 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sdd M yyyy/domChild[0]</td>
	<td>01 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sddd M yyyy/domChild[0]</td>
	<td>001 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M y/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yy/domChild[0]</td>
	<td>1 2 10</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyy/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyyy-/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy-/domChild[0]</td>
	<td>1 février 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy-/domChild[0]</td>
	<td>1 févr. 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_SddXMMXyy/domChild[0]</td>
	<td>01/02/10</td>
</tr>
<!--Test parsing-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>109,12</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>26 sept. 2010</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>15,8</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>26 septembre 2010</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[1]</td>
	<td>10,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]</td>
	<td>10,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[1]</td>
	<td>9,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]</td>
	<td>9,12</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>26 sept. 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>26 septembre 2010</td>
</tr>
<!--Parsing for fi_FI-->
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VNativeSelect[0]/domChild[0]</td>
	<td>label=fi_FI</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>109,12</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>10 maalis 1999</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>15,8</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>26 syyskuu 1980</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]/VVerticalLayout[0]/VGridLayout[0]/VLabel[11]</td>
	<td>10 maalis 1999</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]/VVerticalLayout[0]/VGridLayout[0]/VLabel[14]</td>
	<td>26 syyskuu 1980</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[1]</td>
	<td>10,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[1]</td>
	<td>10,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[1]</td>
	<td>9,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[1]</td>
	<td>9,12</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>10 maalis 1999</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>26 syyskuu 1980</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd. MMMM'ta 'yyyy/domChild[0]</td>
	<td>124,13</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd. MMMM'ta 'yyyy/domChild[0]</td>
	<td>10. tammikuuta 2011</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]/VVerticalLayout[0]/VGridLayout[0]/VLabel[35]</td>
	<td>10. tammikuuta 2011</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd. MMMM'ta 'yyyy/domChild[1]</td>
	<td>5,10</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::Root/VOverlay[0]/VCalendarPanel[0]/domChild[1]/domChild[0]/domChild[2]/domChild[0]</td>
	<td>tammikuu 2011</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]</td>
	<td>5,10</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd. MMMM'ta 'yyyy/domChild[0]</td>
	<td>10. tammikuuta 2011</td>
</tr>
<!--zh-->
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VNativeSelect[0]/domChild[0]</td>
	<td>label=zh</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyyy/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MM yyyy/domChild[0]</td>
	<td>1 02 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>1 二月 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>1 二月 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sdd M yyyy/domChild[0]</td>
	<td>01 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sddd M yyyy/domChild[0]</td>
	<td>001 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M y/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yy/domChild[0]</td>
	<td>1 2 10</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyy/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyyy-/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Syyyy'X'M'X'd'X'/domChild[0]</td>
	<td>2010年2月1日</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Syyyy-M-d/domChild[0]</td>
	<td>2010-2-1</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Syy-M-d/domChild[0]</td>
	<td>10-2-1</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VNativeSelect[0]/domChild[0]</td>
	<td>label=en_US</td>
</tr>
<!--en_US-->
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyyy/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MM yyyy/domChild[0]</td>
	<td>1 02 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>1 Feb 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>1 February 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sdd M yyyy/domChild[0]</td>
	<td>01 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sddd M yyyy/domChild[0]</td>
	<td>001 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M y/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yy/domChild[0]</td>
	<td>1 2 10</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyy/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyyy-/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_SMMMM dX yyyy/domChild[0]</td>
	<td>February 1, 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_SMMM dX yyyy/domChild[0]</td>
	<td>Feb 1, 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_SMXdXyy/domChild[0]</td>
	<td>2/1/10</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VNativeSelect[0]/domChild[0]</td>
	<td>label=en_GB</td>
</tr>
<!--en_GB-->
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyyy/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MM yyyy/domChild[0]</td>
	<td>1 02 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>1 Feb 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>1 February 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sdd M yyyy/domChild[0]</td>
	<td>01 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sddd M yyyy/domChild[0]</td>
	<td>001 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M y/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yy/domChild[0]</td>
	<td>1 2 10</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyy/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyyy-/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sdd MMMM yyyy/domChild[0]</td>
	<td>01 February 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sdd-MMM-yyyy/domChild[0]</td>
	<td>01-Feb-2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_SddXMMXyy/domChild[0]</td>
	<td>01/02/10</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VNativeSelect[0]/domChild[0]</td>
	<td>label=fi_FI</td>
</tr>
<!--fi_FI-->
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyyy/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MM yyyy/domChild[0]</td>
	<td>1 02 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMM yyyy/domChild[0]</td>
	<td>1 helmi 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd MMMM yyyy/domChild[0]</td>
	<td>1 helmikuu 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sdd M yyyy/domChild[0]</td>
	<td>01 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sddd M yyyy/domChild[0]</td>
	<td>001 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M y/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yy/domChild[0]</td>
	<td>1 2 10</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyy/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd M yyyy-/domChild[0]</td>
	<td>1 2 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd. MMMM'ta 'yyyy/domChild[0]</td>
	<td>1. helmikuuta 2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd.M.yyyy/domChild[0]</td>
	<td>1.2.2010</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldCustomDateFormats::PID_Sd.M.yyyy-/domChild[0]</td>
	<td>1.2.2010</td>
</tr>
<!---->
</tbody></table>
</body>
</html>
