<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.datefield.DateFieldRanges</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[2]/VPopupCalendar[0]#field</td>
	<td>37,13</td>
</tr>
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[2]/VPopupCalendar[0]#field</td>
	<td>1</td>
</tr>
<tr>
	<td>pressSpecialKey</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[2]/VPopupCalendar[0]#field</td>
	<td>shift 7</td>
</tr>
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[2]/VPopupCalendar[0]#field</td>
	<td>1</td>
</tr>
<tr>
	<td>pressSpecialKey</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[2]/VPopupCalendar[0]#field</td>
	<td>shift 7</td>
</tr>
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[2]/VPopupCalendar[0]#field</td>
	<td>1/1/15</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[3]/VPopupCalendar[0]#field</td>
	<td>35,7</td>
</tr>
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[3]/VPopupCalendar[0]#field</td>
	<td>12</td>
</tr>
<tr>
	<td>pressSpecialKey</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[3]/VPopupCalendar[0]#field</td>
	<td>shift 7</td>
</tr>
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[3]/VPopupCalendar[0]#field</td>
	<td>12</td>
</tr>
<tr>
	<td>pressSpecialKey</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[3]/VPopupCalendar[0]#field</td>
	<td>shift 7</td>
</tr>
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[3]/VPopupCalendar[0]#field</td>
	<td>12/12/14</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[0]/VHorizontalLayout[0]/Slot[1]/VPopupCalendar[0]#field</td>
	<td>40,10</td>
</tr>
<tr>
	<td>assertTextPresent</td>
	<td>December 2014</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[8]</td>
	<td>11,8</td>
</tr>
<tr>
	<td>assertTextPresent</td>
	<td>January 2015</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[7]</td>
	<td>13,10</td>
</tr>
<tr>
	<td>assertTextPresent</td>
	<td>January 2015</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[8]</td>
	<td>6,7</td>
</tr>
<tr>
	<td>assertTextPresent</td>
	<td>January 2015</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[6]</td>
	<td>15,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[5]</td>
	<td>8,8</td>
</tr>
<tr>
	<td>assertTextPresent</td>
	<td>December 2013</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::PID_SresoSelect/domChild[0]</td>
	<td>label=MONTH</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[8]</td>
	<td>13,11</td>
</tr>
<tr>
	<td>assertTextPresent</td>
	<td>January 2015</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[6]</td>
	<td>12,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[5]</td>
	<td>12,13</td>
</tr>
<tr>
	<td>assertTextPresent</td>
	<td>December 2013</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldRanges::PID_SresoSelect/domChild[0]</td>
	<td>label=YEAR</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[6]</td>
	<td>8,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[6]</td>
	<td>8,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>xpath=(//button[@type='button'])[6]</td>
	<td>8,12</td>
</tr>
<tr>
	<td>assertTextPresent</td>
	<td>2015</td>
	<td></td>
</tr>
</tbody></table>
</body>
</html>
