<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
    <td>open</td>
    <td>/run/com.vaadin.tests.components.datefield.InlineDateFieldTest?restartApplication</td>
    <td></td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_Smenu#item0</td>
    <td>29,7</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
    <td>51,9</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[1]/VMenuBar[0]#item4</td>
    <td>71,7</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
    <td>65,13</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_Smenu#item0</td>
    <td>31,2</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
    <td>33,9</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
    <td>79,6</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[2]/VMenuBar[0]#item5</td>
    <td>29,2</td>
</tr>
<tr>
    <td>assertText</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[0]/domChild[2]/domChild[0]</td>
    <td>December 2010</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[1]/domChild[0]/domChild[0]/domChild[1]/domChild[3]/domChild[1]/domChild[0]</td>
    <td>v-inline-datefield-calendarpanel-day-selected</td>
</tr>
<tr>
    <td>assertValue</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[2]/domChild[0]/domChild[0]/domChild[0]</td>
    <td>12</td>
</tr>
<tr>
    <td>assertValue</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[2]/domChild[0]/domChild[0]/domChild[2]</td>
    <td>00</td>
</tr>
<tr>
    <td>assertValue</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[2]/domChild[0]/domChild[0]/domChild[4]</td>
    <td>00</td>
</tr>
<tr>
    <td>assertValue</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/VCalendarPanel[0]#ampm</td>
    <td>PM</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_Smenu#item0</td>
    <td>39,13</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[0]/VMenuBar[0]#item3</td>
    <td>37,1</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
    <td>41,4</td>
</tr>
<tr>
    <td>select</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/VCalendarPanel[0]#ampm</td>
    <td>label=AM</td>
</tr>
<tr>
    <td>assertText</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_SLog/ChildComponentContainer[0]/VLabel[0]</td>
    <td>3. ValueChangeEvent, new value: Dec 12, 2010 00:00:00.000</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_Smenu#item0</td>
    <td>31,19</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
    <td>55,11</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[1]/VMenuBar[0]#item4</td>
    <td>57,5</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[2]/VMenuBar[0]#item3</td>
    <td>49,8</td>
</tr>
<tr>
    <td>assertText</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[0]/domChild[2]/domChild[0]</td>
    <td>January 2000</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[1]/domChild[0]/domChild[0]/domChild[1]/domChild[2]/domChild[1]/domChild[0]</td>
    <td>v-inline-datefield-calendarpanel-day-selected</td>
</tr>
<tr>
    <td>assertValue</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/VCalendarPanel[0]#h</td>
    <td>03</td>
</tr>
<tr>
    <td>assertValue</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/VCalendarPanel[0]#m</td>
    <td>04</td>
</tr>
<tr>
    <td>assertValue</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/VCalendarPanel[0]#s</td>
    <td>05</td>
</tr>
<tr>
    <td>assertValue</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/VCalendarPanel[0]#ampm</td>
    <td>AM</td>
</tr>
<tr>
    <td>select</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/VCalendarPanel[0]#s</td>
    <td>label=02</td>
</tr>
<tr>
    <td>assertText</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_SLog/ChildComponentContainer[0]/VLabel[0]</td>
    <td>6. ValueChangeEvent, new value: Jan 2, 2000 03:04:02.006</td>
</tr>
<tr>
    <td>assertValue</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/VCalendarPanel[0]#s</td>
    <td>02</td>
</tr>
</tbody></table>
</body>
</html>
