<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>TestSettingTimeOnInitiallyNullPopupDateField</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TestSettingTimeOnInitiallyNullPopupDateField</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.datefield.PopupDateFieldTest?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::PID_Smenu#item0</td>
	<td>32,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::PID_Smenu#item0</td>
	<td>32,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::PID_Smenu#item0</td>
	<td>32,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>31,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[1]/VMenuBar[0]#item5</td>
	<td>46,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>38,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::PID_Smenu#item0</td>
	<td>43,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>27,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>11,1</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::PID_Smenu#item0</td>
	<td>12,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
	<td>27,0</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>18,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[2]/VMenuBar[0]#item5</td>
	<td>30,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::PID_StestComponent#popupButton</td>
	<td>19,15</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[0]/VCalendarPanel[0]#h</td>
	<td>index=0</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[0]/VCalendarPanel[0]#m</td>
	<td>index=0</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[0]/VCalendarPanel[0]#s</td>
	<td>index=0</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[0]/VCalendarPanel[0]#ampm</td>
	<td>index=1</td>
</tr>
<tr>
	<td>pressSpecialKey</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::Root/VOverlay[0]/VCalendarPanel[0]#ampm</td>
	<td>[tab]</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldPopupDateFieldTest::PID_SLog_row_0</td>
	<td>*. ValueChangeEvent, new value: * DATE(D), DATE(YYYY) 12:00:00.000</td>
</tr>
</tbody></table>
</body>
</html>
