<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>TestDatefieldYear</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TestDatefieldYear</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.datefield.TestDatefieldYear?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldTestDatefieldYear::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPopupCalendar[0]/domChild[0]</td>
	<td>4/09</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldTestDatefieldYear::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPopupCalendar[0]/domChild[1]</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[3]/span</td>
	<td>April 2009</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[1]/button</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[2]/button</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[2]/button</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[2]/button</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[2]/button</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldTestDatefieldYear::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPopupCalendar[0]/domChild[0]</td>
	<td>12/07</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[3]/span</td>
	<td>December 2007</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[4]/button</td>
	<td>16,7</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[4]/button</td>
	<td>-287,-85</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[5]/button</td>
	<td>10,9</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsdatefieldTestDatefieldYear::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPopupCalendar[0]/domChild[0]</td>
	<td>2/09</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//table[@id='PID_VAADIN_POPUPCAL']/tbody/tr/td[3]/span</td>
	<td>February 2009</td>
</tr>
</tbody></table>
</body>
</html>
