* {
    font-size: 10pt;
    font-family: sans-serif;
}

.popup {
	font-weight: normal;
	position: absolute;
	z-index: 1000;
	background: white;
}
.popup .content {
	display: inline;
}
.popup .icon {
	vertical-align: middle;
}

.popup.hide {
	display: inline;
	border: none;
}
.popup.hide .border {
	display: inline;
	border: none;
}
.popup.hide .icon {
	display: inline;
	width: 16px;
	height: 16px;	
}
.popup.hide .content {
	display: none;
}

.inline {
    display: inline;
}

.pad {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
}

.bg {
    background-image: url('img/bg1.gif');
    background-repeat: repeat-x;        
}

.disabled {
    color: #999999;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.disabled .caption {
    color: #999999;
}
.disabled .border .caption {
    color: #999999;
}

.caption {
    font-weight: bold;
    color: black;
    clear: both;
}

.content {
    padding: 7px;
}

.capshift {
    position: relative;
    top: -10px;
    left: 3px;
    background-color: white;
}

.clickable {
    cursor: hand;
    cursor: pointer;
}
DIV.clickable.outset:hover {
    border: 1px solid #eeeeee;
}
DIV.clickable:hover .border {
    border: 1px solid #aaaaee;
}

.border {
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
}

.error .border {
    border-color: #ee6666;
}

.inset {
    border-top: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
}

.outset {
    border-bottom: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
}

/* COMPONENTS */


.link {
    border: 1px solid white;
}
.link .caption {
    color: blue;
}
.link .description {
    font-size: smaller;
    padding-left: 7px;
}
.link DIV.border {
    border: 1px solid white;
}
DIV.link.clickable:hover .border {
    background-image: url('img/bg1.gif');
    background-repeat: repeat-x;        
}


.tabs {
    padding-left: 0px !important;
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 3px;
}
.tab, .tab-on {
   border-right: 2px solid #eeeeee;
    border-bottom: none;
}
.tab-on {
    position: relative;
    top: 1px;
}
.tab .caption {
    background-image: url('img/bg1.gif');
    background-repeat: repeat-x;        
    border-bottom: none;
}
DIV.tab.clickable:hover .caption {
    background-image: url('img/bg1.gif');
    background-repeat: repeat-x;
}
.tab-on .caption {
    border-bottom: 1px solid white;
    border-bottom: none;
    background-color: white;
}

.node {
    border: 1px solid white;
}
.nodes {
    padding-left: 16px;
}
.node .caption {
    vertical-align: top;
    font-weight: normal;
}
DIV.node:hover{
    border: 1px solid #aaaaee;
    background-image: url('img/bg1.gif');
    background-repeat: repeat-x;        
}
DIV.node:hover .caption {
    color: blue;
}

.panel {
    background-image: url('img/bg3.jpg');
    background-repeat: no-repeat;        
}

DIV.textfield:hover .border {    
    border: 1px solid #aaaaee;
}
.textfield INPUT {
    border: none;    
}

.table TABLE {
    border-collapse: collapse;
    empty-cells: show;
    xborder: 1px solid #999999;
    width: 100%;
}
.table TD {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;    
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.table .odd {
    background-color: #f9f9f9;
}
.table .cheader {
   border-bottom-color: #999999;
    border-left: 1px solid #999999;
}
.table .rheader {
   text-align: right;
   border-right: 1px solid #999999;  
   border-left: none;
}
.table .empty {
   border-bottom-color: #999999;
   border-right-color: #999999;
}
.table .nav {
    border-top: 2px solid #eeeeee;
    text-align: center;
}
.table TR.clickable:hover {
    background-image: url('img/bg1.gif');
    background-repeat: repeat-x;        
}
.table TR.clickable:hover TD {
    border-bottom: 1px solid #9999ee;
}
.over .caption {
    color: #6666cc;
}