@mixin base-formlayout($name : v-formlayout) {

.#{$name}.v-has-width > table {
	width: 100%;
}
.#{$name}.v-has-height > table {
	height: 100%;
}
.#{$name}-cell .v-errorindicator {
	display: block;
}
.#{$name}-error-indicator {
	/* fix width so layout is not jumpy when error disappears */
	width: 12px;
}
.#{$name}-captioncell {
	text-align:right;
	white-space: nowrap;
}
.#{$name}-errorcell, .#{$name}-captioncell {
	width: 1px; /* Don't use any extra space */
}
.#{$name}-captioncell .v-caption {
	overflow: visible;
}
.#{$name}-spacing .#{$name}-row .#{$name}-captioncell, 
.#{$name}-spacing .#{$name}-row .#{$name}-contentcell,
.#{$name}-spacing .#{$name}-row .#{$name}-errorcell {
	padding-top: 6px;
}
.#{$name}-spacing .#{$name}-firstrow .#{$name}-captioncell, 
.#{$name}-spacing .#{$name}-firstrow .#{$name}-contentcell,
.#{$name}-spacing .#{$name}-firstrow .#{$name}-errorcell {
	padding-top: 0;
}
.#{$name}-margin-top .#{$name}-firstrow .#{$name}-captioncell, 
.#{$name}-margin-top .#{$name}-firstrow .#{$name}-contentcell,
.#{$name}-margin-top .#{$name}-firstrow .#{$name}-errorcell {
	padding-top: 12px;
}
.#{$name}-margin-bottom .#{$name}-lastrow .#{$name}-captioncell,
.#{$name}-margin-bottom .#{$name}-lastrow .#{$name}-contentcell,
.#{$name}-margin-bottom .#{$name}-lastrow .#{$name}-errorcell {
	padding-bottom: 12px;
}
.#{$name}-margin-left .#{$name}-captioncell {
	padding-left: 12px;
} 
.#{$name}-margin-right .#{$name}-contentcell {
	padding-right: 12px;
}
.#{$name}-captioncell .v-caption .v-required-field-indicator {
	float: none;
}

}