.v-formlayout-cell .v-errorindicator {
	display: block;
}
.v-formlayout-captioncell {
	text-align:right;
	white-space: nowrap;
}
.v-formlayout-captioncell .v-caption {
	overflow: visible;
}
.v-formlayout-spacing .v-formlayout-row .v-formlayout-captioncell, 
.v-formlayout-spacing .v-formlayout-row .v-formlayout-contentcell,
.v-formlayout-spacing .v-formlayout-row .v-formlayout-errorcell {
	padding-top: 1em;
}
.v-formlayout-spacing .v-formlayout-firstrow .v-formlayout-captioncell, 
.v-formlayout-spacing .v-formlayout-firstrow .v-formlayout-contentcell,
.v-formlayout-spacing .v-formlayout-firstrow .v-formlayout-errorcell {
	padding-top: 0;
}
.v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-captioncell, 
.v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-contentcell,
.v-formlayout-margin-top .v-formlayout-firstrow .v-formlayout-errorcell {
	padding-top: 2em;
}
.v-formlayout-margin-bottom .v-formlayout-lastrow .v-formlayout-captioncell,
.v-formlayout-margin-bottom .v-formlayout-lastrow .v-formlayout-contentcell,
.v-formlayout-margin-bottom .v-formlayout-lastrow .v-formlayout-errorcell {
	padding-bottom: 2em;
}
.v-formlayout-margin-left .v-formlayout-captioncell {
	padding-left: 2em;
} 
.v-formlayout-margin-right .v-formlayout-contentcell {
	padding-right: 2em;
}
.v-formlayout-captioncell .v-caption .v-required-field-indicator {
	float: none;
}