@mixin base-formlayout($primaryStyleName : v-formlayout) {

.#{$primaryStyleName}.v-has-width > table {
	width: 100%;
}
.#{$primaryStyleName}.v-has-height > table {
	height: 100%;
}
.#{$primaryStyleName}-cell .v-errorindicator {
	display: block;
}
.#{$primaryStyleName}-error-indicator {
	/* fix width so layout is not jumpy when error disappears */
	width: 12px;
}
.#{$primaryStyleName}-captioncell {
	text-align:right;
	white-space: nowrap;
}
.#{$primaryStyleName}-errorcell, .#{$primaryStyleName}-captioncell {
	width: 1px; /* Don't use any extra space */
}
.#{$primaryStyleName}-captioncell .v-caption {
	overflow: visible;
}
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-captioncell, 
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-contentcell,
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-errorcell {
	padding-top: 6px;
}
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-captioncell, 
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-contentcell,
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-errorcell {
	padding-top: 0;
}
.#{$primaryStyleName}-margin-top > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-captioncell, 
.#{$primaryStyleName}-margin-top > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-contentcell,
.#{$primaryStyleName}-margin-top > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-errorcell {
	padding-top: 12px;
}
.#{$primaryStyleName}-margin-bottom > tbody > .#{$primaryStyleName}-lastrow > .#{$primaryStyleName}-captioncell,
.#{$primaryStyleName}-margin-bottom > tbody > .#{$primaryStyleName}-lastrow > .#{$primaryStyleName}-contentcell,
.#{$primaryStyleName}-margin-bottom > tbody > .#{$primaryStyleName}-lastrow > .#{$primaryStyleName}-errorcell {
	padding-bottom: 12px;
}
.#{$primaryStyleName}-margin-left > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-captioncell {
	padding-left: 12px;
} 
.#{$primaryStyleName}-margin-right > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-contentcell {
	padding-right: 12px;
}
.#{$primaryStyleName}-captioncell .v-caption .v-required-field-indicator {
	float: none;
}

}