.i-link {
	white-space: nowrap;	
}
.i-link a {
	vertical-align: middle;
	text-decoration: none;
}
.i-link span {
	text-decoration: underline;
	vertical-align: middle;
}
.i-disabled a {
	cursor: default;
}
.i-link img {
	vertical-align: middle;
	border:none;
}