.v-link {
	white-space: nowrap;	
}
.v-link a {
	vertical-align: middle;
	text-decoration: none;
}
.v-link span {
	text-decoration: underline;
	vertical-align: middle;
}
.v-disabled a {
	cursor: default;
}
.v-link img {
	vertical-align: middle;
	border:none;
}