<html>
<head>
<link REL="stylesheet" TYPE="text/css" HREF="../style.css">
</head>

<body>
<div id="featurebrowser-mainlayout"
	style="width: 100%; height: 100%; position: absolute; top: 0pt; left: 0pt;"><img
	src="img/header.png" />
<div id="featurebrowser-features"
	style="top: 62px; width: 200px; height: 443px;">
	<div location="tree"></div>
</div>
<div id="featurebrowser-demo"
	style="overflow: auto; position: absolute; top: 62px; left: 215px; width: 863px; height: 399px;">
<table width="100%" height="100%" cellspacing="0" cellpadding="0"
	border="0">
	<tbody>
		<tr>
			<td valign="middle" align="center">
			<table>
				<tbody>
					<tr>
						<td id="featurebrowser-demo-td" style="text-align: left;">
						<div id="PID7" class="orderedlayout">
						<table class="orderedlayout layout">
							<tbody class="layout">
								<tr class="layout">
									<td class="layout">
									<div id="PID8" class="panel">
									<div class="panelborder">
									<div class="caption panelcaption">Welcome to the IT Mill
									Toolkit feature tour!</div>
									<div class="content">
									<div id="PID9" class="orderedlayout">
									<table class="orderedlayout layout">
										<tbody class="layout">
											<tr class="layout">
												<td class="layout">
												<div id="PID10" class="label">
												<div>
												<div
													xmlns="http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">This
												application lets you view and play with some features of IT
												Mill Toolkit. Use menu on the left to select component.<br />
												<br />
												Note the <b>Properties selection</b> on the top right
												corner. Click it open to access component properties and
												feel free to edit properties at any time.<br />
												<br />
												The area that you are now reading is the component demo
												area. Lower area from here contains component description,
												API documentation and optional code sample. Note that not
												all selections contain demo, only description and API
												documentation is shown.<br />
												<br />
												You may also change application's theme from below the menu.
												This example application is designed to work best with <em>Demo</em>
												theme, other themes are for demonstration purposes only.<br />
												<br />
												IT Mill Toolkit enables you to construct complex Web
												applications using plain Java, no knowledge of other Web
												technologies such as XML, HTML, DOM, JavaScript or browser
												differences is required.<br />
												<br />
												For more information, point your browser to <a target="_new"
													href="http://www.itmill.com">www.itmill.com</a>.</div>
												</div>
												</div>
												</td>
											</tr>
										</tbody>
									</table>
									</div>
									</div>
									</div>
									</div>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
<div id="featurebrowser-tabs"
	style="overflow: hidden; position: absolute; top: 478px; left: 215px; width: 863px; height: 77px;">
<div id="PID11" class="tabsheet">
<div class="tabs-container">
<table cellspacing="0" class="tabs">
	<tbody>
		<tr>
			<td class="tab-space"></td>
			<td class="tab-on">Description</td>
			<td class="tab-space"></td>
			<td class="tab clickable" style="-moz-user-select: none;">Properties</td>
			<td class="tab-space"></td>
			<td class="tab clickable" style="-moz-user-select: none;">Javadoc</td>
			<td class="tab-space"></td>
			<td class="tab clickable" style="-moz-user-select: none;">Code
			Sample</td>
			<td width="100%" class="tab-last"></td>
		</tr>
	</tbody>
</table>
</div>
<div class="tab-content"
	style="border-bottom: 0pt none; overflow: auto; height: 30px;">
<div id="PID12" class="orderedlayout">
<table class="orderedlayout layout">
	<tbody class="layout">
		<tr class="layout">
			<td class="layout">
			<div id="PID13" class="orderedlayout">
			<table class="orderedlayout layout">
				<tbody class="layout">
					<tr class="layout">
						<td class="layout">
						<div id="PID14" class="embedded"><img class="embedded"
							src="/demo/FeaturesApplication/APP/1/icon_intro.png" alt="" /></div>
						</td>
						<td class="layout">
						<div id="PID15" class="label">
						<div>
						<div xmlns="http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
						<h3>Welcome</h3>
						</div>
						</div>
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			</td>
		</tr>
		<tr class="layout">
			<td class="layout">
			<div id="PID16" class="label">
			<div>
			<div xmlns="http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">This
			area contains the selected component's description, list of
			properties, javadoc and optional code sample. Start your tour now by
			selecting features from the list on the left and remember to
			experiment with the <b>Properties panel</b> located at the top right
			corner area.<br />
			<br />
			IT Mill Toolkit version: 4.0.2<br />
			Browser: Mozilla/5.0 (Macintosh; U; Intel Mac OS X; en-US;
			rv:1.8.1.4) Gecko/20070515 Firefox/2.0.0.4</div>
			</div>
			</div>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>
</div>
<div id="featurebrowser-properties"
	style="overflow: hidden; position: absolute; top: 15px; left: 1103px; width: 0px; height: 540px;">
<div location="propertiesButton"></div>
<div id="PID19" style="display: none;" class="panel disabled" /></div>
<img
	src="/demo/features/RES/demo/featurebrowser/img/show_properties.png"
	id="featurebrowser-properties-toggler"
	style="left: 1083px; height: 92px;" />
<div id="featurebrowser-control"
	style="overflow: hidden; position: absolute; top: 505px; left: 0pt; width: 200px; height: 50px;">
<table width="100%" height="100%" border="0">
	<tbody>
		<tr>
			<td width="50%" valign="middle" align="center"
				id="featurebrowser-control-left">
			<div id="PID4" class="select"><input type="hidden" value="1" /><select>
				<option>-</option>
				<option value="1">demo</option>
				<option value="2">corporate</option>
				<option value="3">base</option>
			</select></div>
			</td>
			<td width="50%" valign="middle" align="center"
				id="featurebrowser-control-right">
			<div id="PID5" class="button-link button">
			<div class="link clickable" style="-moz-user-select: none;">
			<div>
			<div class="pad">
			<div class="caption">restart
			<div
				style="margin: 0px; padding: 0px; overflow: hidden; width: 0px; height: 0px;"><input
				type="button" /></div>
			</div>
			</div>
			</div>
			</div>
			</div>
			</td>
		</tr>
	</tbody>
</table>
</div>
<div id="featurebrowser-divider"
	style="overflow: hidden; position: absolute; top: 461px; left: 578px; width: 137px; height: 17px;" /></div>
</div>
</body>
</html>