<html>
<head>
<link REL="stylesheet" TYPE="text/css" HREF="../style.css">
</head>

<body>
<div id="featurebrowser-mainlayout" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"><img src="img/header.png" />

<div id="featurebrowser-features" style="top: 62px; width: 200px;">
	<div location="tree">puu</div>
</div>

<div id="featurebrowser-demo"
	style="overflow: auto; position: absolute; top: 62px; left: 215px; ">
<table width="100%" height="100%" cellspacing="0" cellpadding="0"
	border="0">
	<tbody>
		<tr>
			<td valign="middle" align="center">
			<table>
				<tbody>
					<tr>
						<td id="featurebrowser-demo-td" style="text-align: left;">

	<div location="demo">demo</div>

						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div id="featurebrowser-tabs" style="overflow: hidden; position: absolute; left: 215px;">	
		<div location="tabsheet">tabs</div>
</div>
	
<img id="featurebrowser-properties-toggler" src="img/show_properties.png" style=" top: 23px; position: absolute;"/>
	
<div id="featurebrowser-properties" style="overflow: hidden; position: absolute; top: 23px; width: 0px;">
	<div location="properties">properties</div>
</div>	
	
<div id="featurebrowser-control"
	style="overflow: hidden; position: absolute; bottom: 10px; left: 0pt; width: 200px; height: 50px;">
<table width="100%" height="100%" border="0">
	<tbody>
		<tr>
			<td width="50%" valign="middle" align="center"
				id="featurebrowser-control-left">			
<div location="themes">themes</div>
			</td>
			<td width="50%" valign="middle" align="center"
				id="featurebrowser-control-right">
<div location="restart">restart</div>
			</td>
		</tr>
	</tbody>
</table>
</div>

</div>

<div id="featurebrowser-divider"
	style="overflow: hidden; position: absolute; width: 137px; height: 17px;" />
</div>

<script type="text/javascript">

/** Recalculate feature browser main layout dimensions for all components */
recalcFeatureBrowserLayout = function() {

	// Then animations are needed, this will be reset to true
	var animationNeeded = false;

	// References to all elements
	var mainDiv = document.getElementById("featurebrowser-mainlayout"); 
	if (mainDiv == null) { alert("maindiv is null"); return;}
	var featuresDiv = document.getElementById("featurebrowser-features");
	var demoDiv = document.getElementById("featurebrowser-demo");
	var tabsDiv = document.getElementById("featurebrowser-tabs");
	var propertiesDiv = document.getElementById("featurebrowser-properties");
	var controlDiv = document.getElementById("featurebrowser-control");
	var dividerDiv = document.getElementById("featurebrowser-divider");

	// Logobar height
	var logoBarHeight = 62;

	// Get whole window contents size
	document.body.style.padding = 0;
	document.body.style.margin = 0;	
	document.body.style.position = "absolute";
	document.body.style.height = "100%";
	document.body.style.width = "100%";
	var width = document.body.offsetWidth;
	var height = document.body.offsetHeight;
	mainDiv.style.height = height + "px";
	mainDiv.style.width = width + "px";

	// Recalc features div dimensions
	var featuresWidth = 200;
	var controlHeight = 50;
	featuresDiv.style.top="" + logoBarHeight + "px";
	featuresDiv.style.width="" + featuresWidth + "px";
	featuresDiv.style.height="" + (height-controlHeight-logoBarHeight) + "px";

	// Recalc properties div dimensions
	if (typeof propertiesDiv.targetWidth == 'undefined') propertiesDiv.targetWidth = 0;
	var propWidth = Math.floor((propertiesDiv.offsetWidth + propertiesDiv.targetWidth)/2);
	if (Math.abs(propWidth - propertiesDiv.targetWidth) <= 1) propWidth = propertiesDiv.targetWidth;
	if (propWidth >width-featuresWidth) propWidth = width-featuresWidth; 
	if (propWidth < 0) propWidth = 0; 
	if ((propWidth+1) != (propertiesDiv.targetWidth+1)) animationNeeded=true;
	var centerWidth = width - propWidth - featuresWidth - 40;
	propertiesDiv.style.position="absolute";
	propertiesDiv.style.overflow="hidden";
	propertiesDiv.style.top="" + 23 + "px";
	propertiesDiv.style.left="" + (centerWidth + featuresWidth + 40) + "px";
	propertiesDiv.style.width=propWidth + "px";
	propertiesDiv.style.height="" + (height - 23) + "px";	
	var buttonDiv = document.getElementById("featurebrowser-properties-toggler");
	buttonDiv.style.left = "" + (centerWidth + featuresWidth - 20 + 40) + "px"
	if (propWidth == 0) { //buttonDiv.src = buttonDiv.showPng; 
	buttonDiv.style.height = "92px"; }
	if (propWidth == propertiesDiv.maxWidth) { //buttonDiv.src = buttonDiv.hidePng;
	 buttonDiv.style.height = "23px"; }
	buttonDiv.onclick  = function() {
		var propertiesDiv = document.getElementById("featurebrowser-properties");
		propertiesDiv.targetWidth = propertiesDiv.targetWidth == 0 ? 265 : 0;
		recalcFeatureBrowserLayout();
	};

	// Recalc divider div dimensions
	if (typeof dividerDiv.demoHeight == 'undefined') dividerDiv.demoHeight = Math.floor(height/2);
	if (dividerDiv.isActive) {
		dividerDiv.demoHeight = dividerDiv.mouseY-10 - logoBarHeight;
		if (dividerDiv.demoHeight < 0) dividerDiv.demoHeight = 0;
	} else {
		if (dividerDiv.demoHeight + logoBarHeight > height - 20) dividerDiv.demoHeight = height - 20 - logoBarHeight;
		if (dividerDiv.demoHeight < 0) dividerDiv.demoHeight = 0;
	}
	var dividerHeight = 17;
	dividerDiv.style.position="absolute";
	dividerDiv.style.overflow="hidden";
	dividerDiv.style.top="" + (dividerDiv.demoHeight + logoBarHeight)+ "px";
	dividerDiv.style.left="" + (15+featuresWidth+Math.round((centerWidth-137)/2)) +"px";
	dividerDiv.style.width="" + 137 + "px";
	dividerDiv.style.height="" + dividerHeight + "px";		
	
	// Recalc tabs div dimensions
	tabsDiv.style.position="absolute";
	tabsDiv.style.overflow="hidden";
	tabsDiv.style.top="" + (dividerDiv.demoHeight + dividerHeight + logoBarHeight) + "px";
	tabsDiv.style.left="" + (featuresWidth + 15) + "px";
	tabsDiv.style.width="" + centerWidth + "px";
	tabsDiv.style.height="" + (height - dividerDiv.demoHeight - dividerHeight - logoBarHeight) + "px";	
	updateTabsContentHeight();	

	// Recalc demo div dimensions
	demoDiv.style.position="absolute";
	demoDiv.style.overflow="auto";
	demoDiv.style.top="" + logoBarHeight + "px";
	demoDiv.style.left="" + (featuresWidth + 15) + "px";
	demoDiv.style.width="" + centerWidth + "px";
	demoDiv.style.height="" + dividerDiv.demoHeight + "px";	
	
	// Recalc control div dimensions
	// TODO, make floating
	controlDiv.style.position="absolute";
	controlDiv.style.overflow="hidden";
	controlDiv.style.top="" + (height - controlHeight) + "px";
	controlDiv.style.left="0";
	controlDiv.style.width="" + featuresWidth + "px";
	controlDiv.style.height="" + controlHeight + "px";	
	
	if (animationNeeded) {
		setTimeout("recalcFeatureBrowserLayout()",30);
	}
};

/** Recalculate tabs content width */
updateTabsContentHeight = function() {
	try {
		var tabsDiv = document.getElementById("featurebrowser-tabs");
		var tabsComponent = itmill.themes.Demo.prototype.elementByIndex(tabsDiv.childNodes,0);
		if (tabsComponent == null) return;
		var tabs = itmill.themes.Demo.prototype.elementByIndex(tabsComponent.childNodes,0);
		if (tabs == null) return;
		var content = itmill.themes.Demo.prototype.elementByIndex(tabsComponent.childNodes,1);
		if (content == null) return;
		content.style.height="" + (tabsDiv.offsetHeight - tabs.offsetHeight-13) + "px";
		content.style.borderBottom="0";
		content.style.overflow='auto';
		var iframe = content.getElementsByTagName("iframe").item(0);
		if (iframe != null) { 
			content.style.overflow='hidden';
			content.style.padding='0';	
			content.style.height="" + (tabsDiv.offsetHeight - tabs.offsetHeight) + "px";
			iframe.height=content.style.height;
			iframe.style.border='0';
		}
	} catch (e) {}
};

/** Helper method. Get element from node array by index */
elementByIndex = function(nodeArray, index) {
	if (typeof nodeArray == 'undefined' || nodeArray == null) return null;
	var i=0;
	while (index>=0 && i < nodeArray.length) {
		while(i < nodeArray.length && nodeArray[i].nodeType != Node.ELEMENT_NODE) i++;
		if (index == 0) return nodeArray[i];
		index--; i++;
	}
	return null;
}

dividerUpdate = function() {
	var dividerDiv = document.getElementById("featurebrowser-divider");
	var div = document.getElementById("featurebrowser-mainlayout");
	dividerDiv.isActive = true;
	div.onmouseup = function() {
		dividerDiv.isActive = false;
		div.onmouseup = null;
		div.onmousemove = null;
	}
	div.onmousemove = function(e) {
		dividerDiv.mouseY = typeof e != 'undefined' ? e.clientY : window.event.clientY;
		recalcFeatureBrowserLayout();
	}
	return false;
};

initFeatureBrowserLayout = function() {
	var dividerDiv = document.getElementById("featurebrowser-divider");
	if (dividerDiv == null) alert("no divider div");
	dividerDiv.isActive = false;
	dividerDiv.onmousedown = dividerUpdate;
	
	window.onresize=recalcFeatureBrowserLayout; 
	recalcFeatureBrowserLayout();
};

initFeatureBrowserLayout();

</script>

</body>
</html>