.i-tree {
	text-align: left /* Force default alignment */
}

.i-tree-node {
	background: transparent url(img/collapsed.png) no-repeat 2px 1px;
}
.i-tree-node-expanded {
	background: transparent url(img/expanded.png) no-repeat 2px 1px;
}
.i-tree-node-leaf {
	background-image: none;
}
.i-tree-node-caption {
	margin-left: 16px;
}
.i-tree-node span {
	padding: 0 2px;
	cursor: pointer;
	white-space: nowrap;
}
.i-tree-node-selected span {
	background: #5daee8;
	color: #fff;
	padding: 0 2px;
	cursor: pointer;
}
.i-tree-node-children {
	padding-left: 16px;
}
