.i-tree {
	text-align: left /* Force default alignment */
}

/* ie6compatnode is hidden from non ie6 browsers, for ie6 
 * uses weird hack to sink all events properly 
 */
.i-tree-node-ie6compatnode {
	display: none;
}

* html .i-tree-node-ie6compatnode {
	display: inline;
	float:left;
	background: orange;
	margin:0;
	width:14px;
	height:10px;
	padding:1px;
	filter: Alpha(opacity=0);
}
* html .i-tree-node {
	clear: both;
}

.i-tree-node {
	background: transparent url(img/collapsed.png) no-repeat 2px 1px;
}
.i-tree-node-expanded {
	background: transparent url(img/expanded.png) no-repeat 2px 1px;
}
.i-tree-node-leaf {
	background-image: none;
}
.i-tree-node-caption {
	margin-left: 16px;
}

.i-tree-node span {
	padding: 0 2px;
	cursor: pointer;
	white-space: nowrap;
}
.i-tree-node-selected span {
	background: #5daee8;
	color: #fff;
	padding: 0 2px;
	cursor: pointer;
}
.i-tree-node-children {
	padding-left: 16px;
}
