<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.select.NativeSelects?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[3]/VNativeSelect[0]/domChild[0]</td>
	<td>label=The second item</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[4]/VNativeSelect[0]/domChild[0]</td>
	<td>label=an item 1</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[7]/VNativeSelect[0]/domChild[0]</td>
	<td>label=The second item</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[8]/VNativeSelect[0]/domChild[0]</td>
	<td>label=an item 1</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-readwrite-noerror</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>7,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-readonly-noerror</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>31,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-readonly-error</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>3,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-readwrite-error</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::PID_Scheckboxaction-Enabled/domChild[0]</td>
	<td>32,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-readwrite-error</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>47,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-readwrite-noerror</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>31,11</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-readonly-noerror</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsselectNativeSelects::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>42,4</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-readonly-error</td>
</tr>
</tbody></table>
</body>
</html>
