@mixin base-accordion {

.v-accordion {
	position: relative;
	outline: none;
	overflow: visible;
	text-align: left; /* Force default alignment */
	font-size: 0;
}
.v-accordion-item {
	position: relative;
	display: inline-block;
 	width: 100%;
}
.v-accordion-item-caption {
	overflow: visible;
	white-space: nowrap;
	background: #eee;
	border-bottom: 1px solid #ddd;
}
.v-accordion-item-caption .v-caption {
	cursor: pointer;
	font-size: $font-size;
}
.v-accordion-item-open .v-accordion-item-caption .v-caption {
	cursor: default;
}
.v-accordion-item-content {
	position: absolute;
	width: 100%;
}

}