// Common styles for components
// About 40KB of CSS output

@mixin valo-common-stylenames {

	$v-scaling-factor--small: 0.8 !default;
	$v-scaling-factor--large: 1.2 !default;

	$v-unit-size--small: ceil($v-unit-size * $v-scaling-factor--small);
	$v-unit-size--large: ceil($v-unit-size * $v-scaling-factor--large);

	$v-font-size--small: ceil($v-font-size * $v-scaling-factor--small);
	$v-font-size--large: ceil($v-font-size * $v-scaling-factor--large);


	.v-button-primary {
	  @include valo-button-style($background-color: valo-selection-color());
	  padding: 0 round($v-unit-size/1.4);
	  font-weight: bold;
	}

	.v-button-friendly {
	  @include valo-button-style($background-color: #2c9720);
	}

	.v-button-danger {
	  @include valo-button-style($background-color: $v-error-indicator-color);
	}

	.v-button-borderless {
	  @include valo-button-borderless-style;
	}

	.v-button-link {
	  @include valo-button-borderless-style;
	  @include valo-link-style;
	}

	.v-button-small {
	  @include valo-button-style($unit-size: $v-unit-size--small);
	  font-size: $v-font-size--small;
	}

	.v-button-large {
	  @include valo-button-style($unit-size: $v-unit-size--large);
	  font-size: $v-font-size--large;
	}

	.v-button-icon-align-right {
		@include valo-button-icon-align-right-style;
	}

	.v-tabsheet-centered-tabs {
	  @include valo-tabsheet-centered-tabs;
	}

	.v-tabsheet-equal-width-tabs {
	  @include valo-tabsheet-equal-width-tabs($flex: false);
	}

	.v-tabsheet-icons-on-top {
	  @include valo-tabsheet-icons-on-top;
	}

	.v-panel-borderless {
	  @include valo-panel-borderless-style;
	}

	.v-formlayout.light {
	  @include valo-formlayout-light-style;
	}

	.v-textfield-borderless,
	.v-textarea-borderless {
	  @include valo-textfield-borderless-style;
	}

	.v-textfield-small {
	  @include valo-textfield-style($unit-size: $v-unit-size--small);
	  font-size: $v-font-size--small;
	}

	.v-textfield-large {
	  @include valo-textfield-style($unit-size: $v-unit-size--large);
	  font-size: $v-font-size--large;
	}

	@include valo-textfield-inline-icon($stylename: inline-icon);

	.v-textarea-small {
	  @include valo-textarea-style($unit-size: $v-unit-size--small);
	  font-size: $v-font-size--small;
	}

	.v-textarea-large {
	  @include valo-textarea-style($unit-size: $v-unit-size--large);
	  font-size: $v-font-size--large;
	}

	.v-filterselect-small {
	  @include valo-combobox-style($unit-size: $v-unit-size--small);
	  font-size: $v-font-size--small;
	}

	.v-filterselect-large {
	  @include valo-combobox-style($unit-size: $v-unit-size--large);
	  font-size: $v-font-size--large;
	}

	.v-datefield-small {
	  @include valo-datefield-style($unit-size: $v-unit-size--small);
	}

	.v-datefield-large {
	  @include valo-datefield-style($unit-size: $v-unit-size--large);
	}

	.v-checkbox-small {
	  @include valo-checkbox-style($unit-size: $v-unit-size--small);
	}

	.v-checkbox-large {
	  @include valo-checkbox-style($unit-size: $v-unit-size--large);
	}

	.v-label-spinner {
	  @include valo-spinner;
	}

	.v-panel-well {
	  @include valo-panel-well-style;
	}

	.v-panel-borderless {
	  @include valo-panel-borderless-style;
	}

	.v-csslayout-well {
	  @include valo-panel-well-style;
	  @include valo-panel-adjust-content-margins;
	}

	.v-csslayout-card {
	  @include valo-panel-style;
	  @include valo-panel-adjust-content-margins;
	}

	@include valo-splitpanel-small($stylename: small);

	@include valo-component-group;

	.wrapping {
    @include valo-horizontallayout--wrapping;
  }

}
