div.v-app {
	background-color: transparent;
}

.v-caption {
	font-weight: bold;
}

.v-tooltip {
	background-color: #fffcdd;
	border: 1px solid #b8b295;
	font-size: 11px;
	color: #222;
}
.v-tooltip-text {
	padding: 2px 4px;
}
.v-tooltip .v-errormessage {
	padding: 3px 4px;
	background: #ffecc6;
	color: #b74100;
	border: none;
	border-top: 1px solid #fff3dc;
}
.v-tooltip .v-errormessage h2 {
	font-size: 16px;
	font-weight: normal;
	color: #ab3101;
	margin: 2px 0 8px 0;
}
.v-tooltip .v-errormessage h3 {
	font-size: 13px;
	font-weight: bold;
	margin: 1px 0 4px 0;
}

.v-ie6 .v-view {
	border-top: none;
}