<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8068/" />
<title>LargeSelectionCausesNPE</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">LargeSelectionCausesNPE</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.table.LargeSelectionCausesNPE?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>8519-2</td>
	<td>92,9</td>
</tr>
<tr>
	<td>scroll</td>
	<td>vaadin=runcomvaadintestscomponentstableLargeSelectionCausesNPE::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VScrollTable[0]/domChild[1]</td>
	<td>5257</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>8519-262</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>8519-262</td>
	<td>61,-5248:shift</td>
</tr>
<tr>
	<td>scroll</td>
	<td>vaadin=runcomvaadintestscomponentstableLargeSelectionCausesNPE::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VVerticalLayout[0]/ChildComponentContainer[0]/VScrollTable[0]/domChild[1]</td>
	<td>0</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>8519-0</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>8519-button</td>
	<td>23,10</td>
</tr>
<tr>
	<td>assertText</td>
	<td>8519-0</td>
	<td>0-version2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>8519-button</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>8519-0</td>
	<td>0</td>
</tr>

</tbody></table>
</body>
</html>
