<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8888/" />
<title>TableItemDescriptionGeneratorTest</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TableItemDescriptionGeneratorTest</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/TableItemDescriptionGeneratorTest?restartApplication</td>
	<td></td>
</tr>
<!--All on-->
<!--Text tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Cell description item 1,Text</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--Button tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/FocusableScrollPanel[0]/VScrollTable$VScrollTableBody[0]/VScrollTable$VScrollTableBody$VScrollTableRow[1]/VButton[0]/domChild[0]/domChild[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Button 1 description</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--TextField tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/FocusableScrollPanel[0]/VScrollTable$VScrollTableBody[0]/VScrollTable$VScrollTableBody$VScrollTableRow[1]/VTextField[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Textfield's own description</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--Cell and row tooltips-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VCheckBox[0]/domChild[0]</td>
	<td>12,6</td>
</tr>
<!--Text tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Cell description item 1,Text</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--Button tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/FocusableScrollPanel[0]/VScrollTable$VScrollTableBody[0]/VScrollTable$VScrollTableBody$VScrollTableRow[1]/VButton[0]/domChild[0]/domChild[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Cell description item 1,Component</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--TextField tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/FocusableScrollPanel[0]/VScrollTable$VScrollTableBody[0]/VScrollTable$VScrollTableBody$VScrollTableRow[1]/VTextField[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Cell description item 1,Generated component</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--Row and Component tooltips-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VCheckBox[0]/domChild[0]</td>
	<td>7,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VCheckBox[0]/domChild[0]</td>
	<td>7,5</td>
</tr>
<!--Text tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Row description item 1</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--Button tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/FocusableScrollPanel[0]/VScrollTable$VScrollTableBody[0]/VScrollTable$VScrollTableBody$VScrollTableRow[1]/VButton[0]/domChild[0]/domChild[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Button 1 description</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--TextField tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/FocusableScrollPanel[0]/VScrollTable$VScrollTableBody[0]/VScrollTable$VScrollTableBody$VScrollTableRow[1]/VTextField[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Textfield's own description</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--Row tooltips-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VCheckBox[0]/domChild[0]</td>
	<td>7,8</td>
</tr>
<!--Text tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Row description item 1</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--Button tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/FocusableScrollPanel[0]/VScrollTable$VScrollTableBody[0]/VScrollTable$VScrollTableBody$VScrollTableRow[1]/VButton[0]/domChild[0]/domChild[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Row description item 1</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>
<!--TextField tooltip-->
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::PID_Stable/FocusableScrollPanel[0]/VScrollTable$VScrollTableBody[0]/VScrollTable$VScrollTableBody$VScrollTableRow[1]/VTextField[0]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]/FlowPanel[0]/domChild[1]</td>
	<td>Row description item 1</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/domChild[3]</td>
	<td>22,7</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPositionLeft</td>
	<td>vaadin=runTableItemDescriptionGeneratorTest::Root/VTooltip[0]</td>
	<td>-5000</td>
</tr>

</tbody></table>
</body>
</html>
