<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8068/" />
<title>TextChangeListenerLosesFocus</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TextChangeListenerLosesFocus</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.textfield.TextChangeListenerLosesFocus?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>focus</td>
	<td>test-textfield</td>
	<td></td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>test-textfield</td>
	<td>123</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>test-textfield</td>
	<td>Updated by TextChangeListener</td>
</tr>
<tr>
	<td>assertCSSClass</td>
	<td>test-textfield</td>
	<td>v-textfield-focus</td>
</tr>
<tr>
	<td>focus</td>
	<td>test-textarea</td>
	<td></td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>test-textarea</td>
	<td>123</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertValue</td>
	<td>test-textarea</td>
	<td>Updated by TextChangeListener</td>
</tr>
<tr>
	<td>assertCSSClass</td>
	<td>test-textarea</td>
	<td>v-textarea-focus</td>
</tr>

</tbody></table>
</body>
</html>
