.i-panel {
	border: 1px solid #29528a;
	padding: 5px;
	margin: 5px;
	background: #fff url(../img/top-bg.png) repeat-x top left;
}

.i-panel:before {
	display: block;
	height: 7px;
	overflow: hidden;
	background: transparent url(../img/top-right.png) no-repeat right top;
	content: url(../img/top-left.png);
	margin: -6px -6px 3px -6px;
}

.i-panel:after {
	display: block;
	height: 2px;
	overflow: hidden;
	background: transparent url(../img/bottom-right.png) no-repeat right top;
	content: url(../img/bottom-left.png);
	margin: 5px -6px -6px -6px;
}

.i-panel-caption {
	font-size: 1.1em;
	font-weight: bold;
	color: #1c3e6e;
	margin: 0 0 7px 0;
}



/* Strong style */
.i-panel-strong {
	background-image: url(../img/top-bg-strong.png);
}

.i-panel-strong:before {
	height: 28px;
	background-image: url(../img/top-right-strong.png);
	content: url(../img/top-left-strong.png);
}

.i-panel-strong .i-panel-caption {
	color: #fff;
	margin: -25px 0 12px 0;
	white-space: nowrap;
}

/* Strong style without caption */
.i-panel-strong.i-panel-nocaption {
	background-image: url(../img/top-bg.png);
}
.i-panel-strong.i-panel-nocaption:before {
	height: 7px;
	background-image: url(../img/top-right.png);
	content: url(../img/top-left.png);
}


/* Light style */
.i-panel-light {
	background-image: url(../img/top-bg-light.png);
	border-color: #b3c2d6;
	border-top-color: #2667a2;
	margin-top: 20px;
}

.i-panel-light:before {
	height: 6px;
	background-image: url(../img/top-right-light.png);
	content: url(../img/top-left-light.png);
}

.i-panel-light:after {
	background-image: url(../img/bottom-right-light.png);
	content: url(../img/bottom-left-light.png);
}

.i-panel-light .i-panel-caption {
	margin: -26px -5px 18px -5px;
	font-size: 1em;
	white-space: nowrap;
}

/* Light style without caption */
.i-panel-light.i-panel-nocaption {
	margin-top: 5px;
}





/* IE specific rules (different selectors for IE6 and IE7 */
* html .i-panel,
*+html .i-panel {
	background-position: 0 1px;
}

* html .i-panel .i-panel-caption,
*+html .i-panel .i-panel-caption {
	margin-top: 3px;
}

* html .i-panel-strong .i-panel-caption,
*+html .i-panel-strong .i-panel-caption {
	margin: 1px 0 10px 0;
}

* html .i-panel-light .i-panel-caption,
*+html .i-panel-light .i-panel-caption {
	margin-top: -23px;
	margin-bottom: 0;
	padding-bottom: 23px; /* Must specify enough space because of wierd clipping bug */
}