@mixin chameleon-table($primaryStyleName : v-table) {

.#{$primaryStyleName}-table {
	line-height: $line-height;
}

.#{$primaryStyleName}-header-wrap,
.#{$primaryStyleName}-header-drag {
	background: #c9c9c9 url(../../img/grad-light-top.png) repeat-x;
	height: 1.4em;
	line-height: normal;
	}

.#{$primaryStyleName}-caption-container,
.#{$primaryStyleName}-header-drag {
	padding-top: .2em;
	padding-right: 4px;
	}

.#{$primaryStyleName}-header-drag {
	padding-left: .3em;
	}

.#{$primaryStyleName}-resizer {
	background: transparent;
	border-right: 1px solid #b3b3b3;
	padding-left: 1px;
	height: 1.4em;
	}

/* Targets the same element as .#{$primaryStyleName}-resizer */
div.#{$primaryStyleName}-focus-slot-left {
	background: transparent;
	border-left: 2px solid #b3b3b3;
	border-right: none;
	padding-left: 0;
	padding-right: 1px;
	float: left;
	margin: 0;
	}

.#{$primaryStyleName}-row,
.#{$primaryStyleName}-row-odd {
	background: transparent;
	}

.#{$primaryStyleName}-generated-row {
    background: #c9c9c9;
    }

.#{$primaryStyleName} tr.v-selected {
	background-image: url(../../img/grad-light-top2.png);
	background-position: 0 -1px;
	}

div.#{$primaryStyleName}-focus-slot-right {
	background: transparent;
	border-right: 2px solid #b3b3b3;
	padding-left: 0;
	margin: 0;
	}

.#{$primaryStyleName}-column-selector {
	margin-top: -1.35em;
	}

.#{$primaryStyleName}-cell-content {
	border-right: none;
	padding-right: 7px;
	}
	
.#{$primaryStyleName}-caption-container .v-icon {
	vertical-align: middle;
	margin: -0.37em 2px 0 0;
	}

.#{$primaryStyleName}-header-drag .v-icon {
	vertical-align: middle;
	}

/* column selector */
.v-contextmenu .v-on,
.v-contextmenu .v-off {
	display: block;
	background: transparent url(../../icons/bullet.png) no-repeat 0 4px;
	padding-left: 12px;
	}

.v-contextmenu .v-off {
	background-image: none;
	color: #666;
	}

.v-contextmenu .gwt-MenuItem-selected .v-on {
	background-image: url(../../icons/bullet-white.png);
	}

.#{$primaryStyleName}-scrollposition {
	font-size: 11.7px;
	opacity: .85;
	filter: alpha(opacity=85);
	}

/*******************************************************************************
 * Small
 ******************************************************************************/
.#{$primaryStyleName}-small .#{$primaryStyleName}-caption-container,
.#{$primaryStyleName}-small .#{$primaryStyleName}-body {
	font-size: $chameleon-font-size-small;
	}

.#{$primaryStyleName}-small .#{$primaryStyleName}-resizer, 
.#{$primaryStyleName}-small .#{$primaryStyleName}-header-wrap {
	height: 1.2em;
	}

.#{$primaryStyleName}-small .#{$primaryStyleName}-column-selector {
	margin-top: -1.2em;
	}


/*******************************************************************************
 * Big
 ******************************************************************************/
.#{$primaryStyleName}-big .#{$primaryStyleName}-caption-container,
.#{$primaryStyleName}-big .#{$primaryStyleName}-body {
	font-size: $chameleon-font-size-big;
	}

.#{$primaryStyleName}-big .#{$primaryStyleName}-caption-container {
	padding-top: .3em;
	}

.#{$primaryStyleName}-big .#{$primaryStyleName}-resizer, 
.#{$primaryStyleName}-big .#{$primaryStyleName}-header-wrap {
	height: 1.8em;
	}

.#{$primaryStyleName}-big .#{$primaryStyleName}-column-selector {
	margin-top: -1.5em;
	}

/*******************************************************************************
 * Striped
 ******************************************************************************/
.#{$primaryStyleName}-striped .#{$primaryStyleName}-row-odd {
	background-color: #e6e6e6;
	}


/*******************************************************************************
 * Strong
 ******************************************************************************/
.#{$primaryStyleName}-strong .#{$primaryStyleName}-caption-container {
	font-weight: bold;
	}


/*******************************************************************************
 * Borderless
 ******************************************************************************/
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-header-wrap,
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-body {
	border: none;
	}

div.#{$primaryStyleName}-borderless .#{$primaryStyleName}-body {
	background: transparent;
	}

}