@mixin base-progressindicator($name : v-progressindicator) {

.#{$name} {
	width: 150px;
}
.#{$name}-wrapper {
	height: 7px;
	border: 1px solid #ddd;
}
.#{$name}-indicator {
	height: 7px;
	background: #ddd;
}
div.#{$name}-indeterminate {
	height: 20px;
	width: 20px;
	background: #fff url(../common/img/ajax-loader-medium.gif) no-repeat 50%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
/* Hide obsolete elements in indeterminate mode */
.#{$name}-indeterminate .#{$name}-wrapper,
.#{$name}-indeterminate .#{$name}-indicator,
.#{$name}-indeterminate-disabled .#{$name}-wrapper,
.#{$name}-indeterminate-disabled .#{$name}-indicator {
	display: none;
}
div.#{$name}-indeterminate-disabled {
	height: 20px;
	width: 20px;
	background: transparent;
}

}