.v-progressindicator {
	overflow: hidden; /* for IE6 */
	width: 150px;
}
.v-progressindicator-wrapper {
	overflow: hidden; /* for IE6 */
	height: 9px;
	border: 1px solid #ddd;
}
.v-progressindicator-disabled {
	height: 9px;
	overflow: hidden; /* for IE6 */
}
.v-progressindicator-indicator {
	height: 9px;
	overflow: hidden; /* for IE6 */
	background: #ddd;
}
.v-progressindicator-indeterminate {
	height: 16px;
	width: 16px;
	overflow: hidden; /* for IE6 */
}
/* Hide obsolete elements in indeterminate mode */
.v-progressindicator-indeterminate .v-progressindicator-wrapper,
.v-progressindicator-indeterminate .v-progressindicator-indicator,
.v-progressindicator-indeterminate-disabled .v-progressindicator-wrapper,
.v-progressindicator-indeterminate-disabled .v-progressindicator-indicator {
	display: none;
}
.v-progressindicator-indeterminate-disabled {
	height: 16px;
	width: 16px;
	overflow: hidden; /* for IE6 */
}