.v-progressindicator {
	width: 150px;
}
.v-progressindicator-wrapper {
	height: 7px;
	border: 1px solid #ddd;
}
.v-progressindicator-indicator {
	height: 7px;
	background: #ddd;
}
div.v-progressindicator-indeterminate {
	height: 20px;
	width: 20px;
	background: #fff url(../common/img/ajax-loader-medium.gif) no-repeat 50%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
/* Hide obsolete elements in indeterminate mode */
.v-progressindicator-indeterminate .v-progressindicator-wrapper,
.v-progressindicator-indeterminate .v-progressindicator-indicator,
.v-progressindicator-indeterminate-disabled .v-progressindicator-wrapper,
.v-progressindicator-indeterminate-disabled .v-progressindicator-indicator {
	display: none;
}
div.v-progressindicator-indeterminate-disabled {
	height: 20px;
	width: 20px;
	background: transparent;
}