.v-window {
	background: #fff;
}
.v-window-outerheader {
	cursor: move;
	padding: 0.3em 1em;
	height: 1em;
}
.v-window-header {
	font-weight: bold;
}
/* A more specific selector to make sure padding isn't so easily overridden */
div.v-window-header {
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	overflow: hidden;
	padding: 0;
}
.v-ie6 .v-window-header {
	width: 100%;
}
.v-window-header .v-icon {
	vertical-align: middle; /* This has to be 'middle', not 'bottom', to allow larger icons than 16px */
}
/* Partial fix for bug #1106 */
/* Target Firefox 2 (somehow this will force almost all window borders on top of a Flash object) */
.v-window-contents, x:-moz-any-link {
	overflow: hidden;
}
/* Target Firefox 3 (it doesn't need any trickery, so revert the previous) */
.v-window-contents, x:-moz-any-link, x:default {
	overflow: visible;
}
.v-window-contents > div {
	outline: none;
}
.v-window-footer {
	overflow: hidden;
	zoom: 1;
	height: 10px;
	position: relative;
}
.v-window-resizebox {
	width: 10px;
	height: 10px;
	cursor: se-resize;
	background: #ddd;
	overflow: hidden;
	position: absolute;
	right: 0;
}
.v-window div.v-window-footer-noresize {
	height: 0;
}
.v-window-resizebox-disabled {
	cursor: default;
	display: none;
}
.v-window-closebox {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: 1em;
	background: red;
	cursor: pointer;
	overflow: hidden;
}
.v-window-modalitycurtain {
	top: 0;
	left: 0;
	background: #999;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=50);
}
/* IE6 workaround for position:fixed; */
.v-ie6 .v-window-modalitycurtain { 
	position: absolute;
	top: expression(document.documentElement.scrollTop + "px"); 
}
/* min-width for IE6 */
.v-ie6 .v-window {
	width: 0; /*  */
}
/* Shadow for window */
.v-shadow-window {
	position: absolute;
}
.v-shadow-window .top-left {
    position: absolute; overflow: hidden;
    top: -10px;             left: -15px;
    width: 28px;         height: 28px;
    background: transparent url(img/shadow/top-left.png);
}
.v-shadow-window .top {
    position: absolute; overflow: hidden;
    top: -10px;             left: 13px;
    height: 28px;
    right: 13px;
    background: transparent url(img/shadow/top.png);
}
.v-shadow-window .top-right {
    position: absolute; overflow: hidden;
    top: -10px;             right: -15px;
    width: 28px;         height: 28px;
    background: transparent url(img/shadow/top-right.png);
}
.v-shadow-window .left {
    position: absolute; overflow: hidden;
    top: 18px;           left: -15px;
    width: 28px;
    bottom: 10px;
    background: transparent url(img/shadow/left.png);
}
.v-shadow-window .center {
    position: absolute; overflow: hidden;
    top: 18px;           left: 13px;
    bottom: 10px;        right: 13px;
    background: transparent url(img/shadow/center.png);
}
.v-shadow-window .right {
    position: absolute; overflow: hidden;
    top: 18px;           right: -15px;
    width: 28px;
    bottom: 10px;
    background: transparent url(img/shadow/right.png);
}
.v-shadow-window .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -18px;           left: -15px;
    width: 28px;          height: 28px;
    background: transparent url(img/shadow/bottom-left.png);
}
.v-shadow-window .bottom {
    position: absolute; overflow: hidden;
    bottom: -18px;           left: 13px;
    right: 13px;          height: 28px;
    background: transparent url(img/shadow/bottom.png);
}
.v-shadow-window .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -18px;           right: -15px;
    width: 28px;          height: 28px;
    background: transparent url(img/shadow/bottom-right.png);
}
/* For IE6 (no transparent png's, we use a blur filter) */
.v-ie6 .v-shadow-window * {
	display: none;
}
.v-ie6 .v-shadow-window {
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5) alpha(opacity=20);
	margin-top: 2px;
	margin-left: 2px;
}