.v-window {
	background: #fff;
}
.v-window-contents {
	padding: 1.6em 0 10px;
	margin: -1.6em 0 -10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.v-window.v-has-width > div.popupContent,
.v-window.v-has-width .v-window-wrap,
.v-window.v-has-width .v-window-contents,
.v-window.v-has-width .v-window-contents > div {
	width: 100%;
}

.v-window.v-has-height > div.popupContent,
.v-window.v-has-height .v-window-wrap,
.v-window.v-has-height .v-window-contents,
.v-window.v-has-height .v-window-contents > div {
	height: 100%;
}

.v-window-outerheader {
	padding: 0.3em 1em;
	height: 1.6em;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.v-window-outerheader,
.v-window-draggingCurtain {
 	cursor: move;	
}
.v-window-header {
	font-weight: bold;
}
/* A more specific selector to make sure padding isn't so easily overridden */
div.v-window-header {
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	overflow: hidden;
	padding: 0;
}
.v-window-header .v-icon {
	vertical-align: middle; /* This has to be 'middle', not 'bottom', to allow larger icons than 16px */
}
.v-window-contents > div {
	outline: none;
}
.v-window-footer {
	overflow: hidden;
	zoom: 1;
	height: 10px;
	position: relative;
	cursor: move;
}
.v-window-resizebox {
	width: 10px;
	height: 10px;
	background: #ddd;
	overflow: hidden;
	position: absolute;
	right: 0;
}

.v-window-resizebox,
.v-window-resizingCurtain {
	cursor: se-resize;
}

.v-window div.v-window-footer-noresize {
	height: 0;
}
.v-window-resizebox-disabled {
	cursor: default;
	display: none;
}
.v-window-closebox {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: 1em;
	background: red;
	cursor: pointer;
	overflow: hidden;
}
.v-window-modalitycurtain {
	top: 0;
	left: 0;
	background: #999;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=50);
}
/* Shadow for window */
.v-shadow-window {
	position: absolute;
}
.v-shadow-window .top-left {
    position: absolute; overflow: hidden;
    top: -10px;             left: -15px;
    width: 28px;         height: 28px;
    background: transparent url(img/shadow/top-left.png);
}
.v-shadow-window .top {
    position: absolute; overflow: hidden;
    top: -10px;             left: 13px;
    height: 28px;
    right: 13px;
    background: transparent url(img/shadow/top.png);
}
.v-shadow-window .top-right {
    position: absolute; overflow: hidden;
    top: -10px;             right: -15px;
    width: 28px;         height: 28px;
    background: transparent url(img/shadow/top-right.png);
}
.v-shadow-window .left {
    position: absolute; overflow: hidden;
    top: 18px;           left: -15px;
    width: 28px;
    bottom: 10px;
    background: transparent url(img/shadow/left.png);
}
.v-shadow-window .center {
    position: absolute; overflow: hidden;
    top: 18px;           left: 13px;
    bottom: 10px;        right: 13px;
    background: transparent url(img/shadow/center.png);
}
.v-shadow-window .right {
    position: absolute; overflow: hidden;
    top: 18px;           right: -15px;
    width: 28px;
    bottom: 10px;
    background: transparent url(img/shadow/right.png);
}
.v-shadow-window .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -18px;           left: -15px;
    width: 28px;          height: 28px;
    background: transparent url(img/shadow/bottom-left.png);
}
.v-shadow-window .bottom {
    position: absolute; overflow: hidden;
    bottom: -18px;           left: 13px;
    right: 13px;          height: 28px;
    background: transparent url(img/shadow/bottom.png);
}
.v-shadow-window .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -18px;           right: -15px;
    width: 28px;          height: 28px;
    background: transparent url(img/shadow/bottom-right.png);
}
