.v-shadow {
	position: absolute;
}

.v-shadow .top-left {
    position: absolute; overflow: hidden;
    top: -3px;             left: -4px;
    width: 8px;         height: 8px;
    background: transparent url(img/top-left.png);
}

.v-shadow .top {
    position: absolute; overflow: hidden;
    top: -3px;             left: 4px;
    height: 8px;           right: 4px;
    background: transparent url(img/top.png);
}

.v-shadow .top-right {
    position: absolute; overflow: hidden;
    top: -3px;             right: -4px;
    width: 8px;         height: 8px;
    background: transparent url(img/top-right.png);
}

.v-shadow .left {
    position: absolute; overflow: hidden;
    top: 5px;           left: -4px;
    width: 8px;
    bottom: 3px;
    background: transparent url(img/left.png);
}

.v-shadow .center {
    position: absolute; overflow: hidden;
    top: 5px;           left: 4px;
    bottom: 3px;        right: 4px;
    background: transparent url(img/center.png);
}

.v-shadow .right {
    position: absolute; overflow: hidden;
    top: 5px;           right: -4px;
    width: 8px;
    bottom: 3px;
    background: transparent url(img/right.png);
}

.v-shadow .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -5px;           left: -4px;
    width: 8px;          height: 8px;
    background: transparent url(img/bottom-left.png);
}

.v-shadow .bottom {
    position: absolute; overflow: hidden;
    bottom: -5px;           left: 4px;
    right: 4px;          height: 8px;
    background: transparent url(img/bottom.png);
}

.v-shadow .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -5px;           right: -4px;
    width: 8px;          height: 8px;
    background: transparent url(img/bottom-right.png);
} 