.v-captionwrapper {
	text-align: left; /* Force default alignment */
}
.v-caption {
	overflow: hidden;
	white-space: nowrap;
}
.v-errorindicator {
	float: left;
}
.v-caption .v-icon {
	float: left;
	padding-right: 2px;
	vertical-align: middle;
}
.v-caption .v-captiontext {
	float: left;
	overflow: hidden;
	vertical-align: middle;
}
.v-caption .v-required-field-indicator {
	float: left;
}

/* Fix IE6 "double-float-margin-bug" */
.v-ie6 .v-errorindicator,
.v-ie6 .v-icon,
.v-ie6 .v-captiontext,
.v-ie6 .v-required-field-indicator {
	display: inline;
}