/* body tag created by servlet */
.i-generated-body {
	background: #e9eced;
	width:100%;
	height:100%;
	border:0;
	margin:0;
	overflow:auto;
}
.i-app {
	background: #e9eced;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 13px;
	line-height: 18px;
	height: 100%;
}

.i-view {
	height: 100%;
	width: 100%;
	overflow: auto; 
	/* avoid scrollbars with margins in root layout */
	outline: none;
	margin-top:-1px;
	border-top:1px solid transparent;
}

.i-view:active, .i-view:focus { 
	outline: none;
}

.i-app input, 
.i-window input, 
.i-app select, 
.i-window select, 
.i-app textarea, 
.i-window textarea, 
.i-app button,
.i-window button {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
}

.i-app select,
.i-window select {
	padding: 0;
	margin: 0;
}

.i-disabled {
	opacity: 0.3;
	filter: Alpha(opacity=30);
}
.i-required-field-indicator {
	padding-left:2px;
	color: red;
}

/* Field modified & error */
input.i-modified,
.i-richtextarea.i-modified iframe.gwt-RichTextArea,
.i-checkbox.i-modified,
.i-modified .i-select-option,
.i-modified .i-textfield,
.i-modified .i-datefield-calendarpanel,
.i-modified .i-select-select,
.i-modified .i-select-twincol-selections,
.i-modified .i-select-twincol-options,
.i-modified .i-slider-base {
	background:transparent;
	background-color: #FFFFE0;
}

input.i-error,
.i-richtextarea.i-error iframe.gwt-RichTextArea,
.i-checkbox.i-error,
.i-error .i-select-option,
.i-error .i-textfield,
.i-error .i-datefield-calendarpanel,
.i-error .i-select-select,
.i-error .i-select-twincol-selections,
.i-error .i-select-twincol-options,
.i-error .i-slider-base {
	background:transparent;
	background-color: #FFE0E0;
}

/**
 * Context menu styles 
 */

.i-contextmenu {
	background: #e9eced url(../tabsheet/img/tab-bg.png);
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #f6f7f7;
	color: #464f52;
	font-size: 12px;
	line-height: 14px;
}

.i-contextmenu .gwt-MenuBar {
	border-right: 2px solid #c6cbcc;
	border-bottom: 2px solid #c6cbcc;
	border-top: 1px solid #d0d4d5;
	border-left: 1px solid #d0d4d5;
}

.i-contextmenu .gwt-MenuItem {
	padding: 2px 0;
	cursor: pointer;
	vertical-align: middle;
}

.i-contextmenu .gwt-MenuItem div {
	/*border: 1px solid #f6f7f7;*/
	padding: 1px 20px 1px 8px;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
}

.i-contextmenu .gwt-MenuItem-selected div {
	color: #fff;
	background: #5daee8;
}

.i-contextmenu table {
	border-collapse:collapse;
	margin:0;
	padding:0;
}
.i-contextmenu .gwt-MenuItem img {
	margin-right: 10px;
	vertical-align: middle;
}


/**
 * Link component styles 
 * (useless to move into a separate file)
 */

.i-link span {
	text-decoration: underline;
	cursor:pointer;
}

.i-label {
	overflow: hidden;
}

/* Loading indicator states */

.i-loading-indicator,
.i-loading-indicator-delay,
.i-loading-indicator-wait {
	width: 31px;
	height: 31px;
	background: transparent url(img/loading-indicator.gif);
}
.i-loading-indicator-delay {
	background: transparent url(img/loading-indicator-delay.gif);
}
.i-loading-indicator-wait {
	background: transparent url(img/loading-indicator-wait.gif);
}