/* body tag created by servlet */
.i-generated-body {
	background: #e9eced;
	width:100%;
	height:100%;
	border:0;
	margin:0;
	overflow:hidden;
}
.i-app {
	background: #e9eced;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 13px;
	line-height: 18px;
	height: 100%;
}

.i-view {
	height: 100%;
	width: 100%;
	overflow: auto; 
	/* avoid scrollbars with margins in root layout */
	outline: none;
	margin-top:-1px;
	border-top:1px solid transparent;
}

.i-view:active, .i-view:focus { 
	outline: none;
}

.i-app input, 
.i-window input, 
.i-app select, 
.i-window select, 
.i-app textarea, 
.i-window textarea, 
.i-app button,
.i-window button {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
}

.i-app select,
.i-window select {
	padding: 0;
	margin: 0;
}

.i-disabled {
	opacity: 0.3;
	filter: Alpha(opacity=30);
}
* html .i-disabled {
	zoom: 1;
}
*+html .i-disabled {
	zoom: 1;
}
.i-disabled .i-disabled {
	opacity: 1.0;
	filter: Alpha(opacity=100);
}
.i-required-field-indicator {
	padding-left:2px;
	color: red;
}

/* Field modified */
/* Disabled by default
input.i-modified,
.i-richtextarea.i-modified iframe.gwt-RichTextArea,
.i-checkbox.i-modified,
.i-modified .i-select-option,
.i-modified .i-textfield,
.i-modified .i-datefield-calendarpanel,
.i-modified .i-select-select,
.i-modified .i-select-twincol-selections,
.i-modified .i-select-twincol-options,
.i-modified .i-slider-base {
	background:transparent;
	background-color: #FFFFE0;
}
*/

/**
 * Custom tooltip
 */
.i-tooltip {
 	background-color: #fffcdd;
 	border: 1px solid #b8b295;
 	border-top-color: #d5d2c1;
 	border-left-color: #d5d2c1;
 	font-size: 11px;
 	line-height: 13px;
 	font-family: arial, helvetica, tahoma, verdana, sans-serif;
	color: #5d5444;
}

.i-tooltip-text {
	padding: 2px 4px;
	border: none;
	border-top: 1px solid #fffef5;
	border-bottom: 1px solid #fbf8d9;
	overflow: auto;
}

.i-tooltip .i-errormessage {
	padding: 3px 4px 3px 4px;
	background: #ffecc6;
	color: #b74100;
	border: none;
	border-top: 1px solid #fff3dc;
	border-bottom: 1px solid #ead7b1;
	overflow: auto;
 }

.i-tooltip .i-errormessage h2 {
	font-size: 16px;
	font-weight: normal;
	color: #ab3101;
	margin: 2px 0 8px 0;
}

.i-tooltip .i-errormessage h3 {
	font-size: 13px;
	font-weight: bold;
	margin: 1px 0 4px 0;
}

/**
 * Context menu styles 
 */

.i-contextmenu {
	background: #e9eced url(../tabsheet/img/tab-bg.png);
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #f6f7f7;
	color: #464f52;
	font-size: 12px;
	line-height: 14px;
}

.i-contextmenu .gwt-MenuBar {
	border-right: 1px solid #c6cbcc;
	border-bottom: 1px solid #c6cbcc;
	border-top: 1px solid #d0d4d5;
	border-left: 1px solid #d0d4d5;
}

.i-contextmenu .gwt-MenuItem {
	padding: 2px 0;
	cursor: pointer;
	vertical-align: middle;
}

.i-contextmenu .gwt-MenuItem div {
	/*border: 1px solid #f6f7f7;*/
	padding: 1px 20px 1px 8px;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
}

.i-contextmenu .gwt-MenuItem-selected div {
	color: #fff;
	background: #5daee8;
}

.i-contextmenu table {
	border-collapse:collapse;
	margin:0;
	padding:0;
}
.i-contextmenu .gwt-MenuItem img {
	margin-right: 10px;
	vertical-align: middle;
}


/**
 * Link component styles 
 * (useless to move into a separate file)
 */

.i-link span {
	text-decoration: underline;
	cursor:pointer;
}

/**
 * Label has tiny paddings to include contents margins.
 */
.i-label {
	padding-top:1px;
	padding-bottom: 1px;
}

/* Loading indicator states
 * Note: client side expects that loading indicator has a height. It depends on
 * this css property to ensure browsers have applied all required styles.
 */

.i-loading-indicator,
.i-loading-indicator-delay,
.i-loading-indicator-wait {
	width: 31px;
	height: 31px;
	background: transparent url(img/loading-indicator.gif);
}
.i-loading-indicator-delay {
	background: transparent url(img/loading-indicator-delay.gif);
}
.i-loading-indicator-wait {
	background: transparent url(img/loading-indicator-wait.gif);
}

/* debug dialog */

.i-debug-console {
	background:white;
	opacity: 0.85;	
	border: 1px solid black;
	font-family:sans-serif;
}
.i-debug-console-caption {
	background:black;
	border-bottom: 1px solid grey;
	color: white;
	font-weight: bold;
}
.i-debug-console-content {
	font-size:x-small;
	overflow: auto;
}
.i-debug-console-content input {
	font-size:xx-small;
}

