<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>MenuBarItemsCheckable</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">MenuBarItemsCheckable</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.menubar.MenuBarTest?restartApplication</td>
	<td></td>
</tr>
<!--Hide event log to be able to compare screenshots-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::PID_Smenu#item1</td>
	<td>30,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>27,3</td>
</tr>
<!--Make some items checkable-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::PID_Smenu#item0</td>
	<td>43,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>47,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[1]/VMenuBar[0]#item4</td>
	<td>48,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>90,11</td>
</tr>
<!--Show icons on some items-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::PID_Smenu#item0</td>
	<td>13,1</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>47,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>26,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[2]/VMenuBar[0]#item3</td>
	<td>39,7</td>
</tr>
<!--Set width to 100%-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::PID_Smenu#item0</td>
	<td>23,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>36,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>27,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>23,3</td>
</tr>
<!--Open sub menu 1-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::PID_StestComponent#item0</td>
	<td>51,10</td>
</tr>
<!--Open sub menu 1-1-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>51,10</td>
</tr>
<tr>
	<td>pause</td>
	<td>3000</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>submenu-1-1-checkable-items</td>
</tr>
<!--Select item-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>51,10</td>
</tr>
<!--Open sub menu 1-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::PID_StestComponent#item0</td>
	<td>51,10</td>
</tr>
<!--Open sub menu 1-1-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsmenubarMenuBarTest::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>51,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>submenu-1-1-checked-items</td>
</tr>

</tbody></table>
</body>
</html>
