<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.textfield.TextFieldsGeneric?restartApplication</td>
	<td></td>
</tr>
<!--Disable event log-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_Smenu#item1</td>
	<td>19,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>24,1</td>
</tr>
<!--Enter "s3cr3t" in the TextField-->
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_StestComponent</td>
	<td>s3cr3t</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>normal</td>
</tr>
<!--Change to secret-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_Smenu#item0</td>
	<td>38,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>37,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[1]/VMenuBar[0]#item7</td>
	<td>46,4</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>secret</td>
</tr>
<!--Change to normal-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_Smenu#item0</td>
	<td>41,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>36,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[1]/VMenuBar[0]#item7</td>
	<td>38,3</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>normal</td>
</tr>
<!--Change to secret-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_Smenu#item0</td>
	<td>38,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>37,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[1]/VMenuBar[0]#item7</td>
	<td>46,4</td>
</tr>
<!--ValueChangeListener-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_Smenu#item0</td>
	<td>38,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>30,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>62,12</td>
</tr>
<!--Enable and clear event log-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_Smenu#item1</td>
	<td>19,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>24,1</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_Smenu#item1</td>
	<td>19,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[0]/VMenuBar[0]#item1</td>
	<td>24,1</td>
</tr>
<!--Value -> text-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_Smenu#item0</td>
	<td>21,2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>24,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>37,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>37,4</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_SLog/ChildComponentContainer[0]/VLabel[0]</td>
	<td>1. ValueChangeEvent, new value: 'Test'</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_StestComponent</td>
	<td>Test</td>
</tr>
<!--Change to normal-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_Smenu#item0</td>
	<td>41,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>36,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::Root/VOverlay[1]/VMenuBar[0]#item7</td>
	<td>38,3</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldsGeneric::PID_StestComponent</td>
	<td>Test</td>
</tr>
<!---->

</tbody></table>
</body>
</html>
