<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8888/" />
<title>TextFields</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TextFields</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.textfield.TextFields?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFields::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>3,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFields::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>31,13</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>required-and-error</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFields::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>17,8</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>required-error-readonly</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFields::PID_Scheckboxaction-Enabled/domChild[0]</td>
	<td>16,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFields::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>32,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFields::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>23,4</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>readonly-disabled</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFields::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>30,11</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled</td>
</tr>
</tbody></table>
</body>
</html>
