<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>TextChangeEventsWithNonImmediateValueChange</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TextChangeEventsWithNonImmediateValueChange</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.textfield.TextChangeEventsWithNonImmediateValueChange?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextChangeEventsWithNonImmediateValueChange::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td>15,18</td>
</tr>
<tr>
	<td>keyPress</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextChangeEventsWithNonImmediateValueChange::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td>a</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>pressSpecialKey</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextChangeEventsWithNonImmediateValueChange::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td>enter</td>
</tr>
<tr>
	<td>keyPress</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextChangeEventsWithNonImmediateValueChange::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td>a</td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextChangeEventsWithNonImmediateValueChange::PID_SLog_row_2</td>
	<td>1. Text change event for Default, text content currently:'a' Cursor at index:1</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextChangeEventsWithNonImmediateValueChange::PID_SLog_row_1</td>
	<td>2. Value change:a</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextChangeEventsWithNonImmediateValueChange::PID_SLog_row_0</td>
	<td>3. Text change event for Default, text content currently:'aa' Cursor at index:2</td>
</tr>

</tbody></table>
</body>
</html>
