@import "googlemap/css/googlemap.css";

/* Entrycalendar styles */
.v-datefield-entrycalendar-hours {
	width: 240px;
	height: auto;
}
.v-datefield-entrycalendar-hours table {
	table-layout: fixed;
}
.v-datefield-entrycalendar-hours table tr {
	height: 1em;
}
.v-datefield-entrycalendar-row-even {
	cursor: pointer;
	background: #fff;
	height: 1em;
}
.v-datefield-entrycalendar-row-odd {
	cursor: pointer;
	background: #f6f7f7;
	height: 1em;
}
.v-datefield-entrycalendar-row-selected {
	color: #fff;
	background: #5daee8 url(img/calendar-time-selected.gif) no-repeat;
}
.v-datefield-calendarpanel td.v-datefield-entrycalendar-time {
	width: 55px;
	padding: 2px 0px;
	white-space: nowrap;
}
td.v-datefield-entrycalendar-time span {
	width: 47px;
	padding: 0px 4px;
	text-align: right;
	display: block;
}
td.v-datefield-entrycalendar-entry {
	overflow: hidden;
}
td.v-datefield-entrycalendar-entry span {
	display: block;
	overflow: hidden;
	padding: 2px;
	color: #fff;
	background-image: url(img/entry-topleft.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: left;
}
.v-datefield-calendarpanel td.v-datefield-entrycalendar-entry {
	background-color: #F24C1A;
	color: #fff;
	background-image: url(img/entry-bg.jpg);
	background-repeat: repeat-x;
	vertical-align: top;
	width: auto;
}

/* Reservr styles */
.v-datefield-entrycalendar-01 {
	
}
.v-datefield-entrycalendar-02 {
	
}
.v-datefield-entrycalendar-03 {
	
}
.v-datefield-entrycalendar-04 {
	
}
.v-datefield-entrycalendar-05 {
	
}
.v-datefield-entrycalendar-06 {
	
}
.v-datefield-entrycalendar-07 {
	
}
.v-datefield-entrycalendar-08 {
	
}
.v-datefield-entrycalendar-09 {
	
}
.v-datefield-entrycalendar-10 {
	
}
.v-datefield-entrycalendar-11 {
	
}
.v-datefield-entrycalendar-12 {
	
}
.v-datefield-entrycalendar-13 {
	
}
.v-datefield-entrycalendar-14 {
	
}
.v-datefield-entrycalendar-15 {
	
}
.v-datefield-entrycalendar-16 {
	
}
.v-datefield-entrycalendar-17 {
	
}
.v-datefield-entrycalendar-18 {
	
}
.v-datefield-entrycalendar-19 {
	
}
.v-datefield-entrycalendar-20 {
	
}
.v-datefield-entrycalendar-21 {
	
}
.v-datefield-entrycalendar-22 {
	
}
.v-datefield-entrycalendar-23 {
	
}
.v-datefield-entrycalendar-24 {
	
}
.v-datefield-entrycalendar-25 {
	
}
.v-datefield-entrycalendar-26 {
	
}
.v-datefield-entrycalendar-27 {
	
}
.v-datefield-entrycalendar-28 {
	
}
.v-datefield-entrycalendar-29 {
	
}

