@mixin reindeer-accordion($primaryStyleName : v-accordion) {

.#{$primaryStyleName} {
	border: 1px solid #bebebe;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.#{$primaryStyleName}-item {
	background-color: #fff;
}
.#{$primaryStyleName}-item-caption {
	height: 19px;
	background: #e4e4e4 repeat-x;
	background-image: url(../tabsheet/img/tabbar-bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	font-size: 11px;
	line-height: normal;
	border-top: 1px solid #bebebe;
	text-shadow: #fff 0 1px 0;
}
.#{$primaryStyleName}-item-caption .v-caption {
	font-size: 11px;
}

.#{$primaryStyleName}-item-caption .v-captiontext{
	vertical-align:baseline;	
}

.#{$primaryStyleName}-item-first .#{$primaryStyleName}-item-caption {
	border-top: none;
}
.#{$primaryStyleName}-item-caption .v-caption {
	padding: 3px 0 0 10px;
}
.#{$primaryStyleName}-item-open .#{$primaryStyleName}-item-caption {
	background-image: url(../tabsheet/img/tabbar-bg-sel.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	border-bottom: 1px solid #bbb;
}
.#{$primaryStyleName}-item-caption .v-icon {
	margin-top: -3px;
}
.v-ie & .#{$primaryStyleName}-item-caption .v-icon,
.v-ff & .#{$primaryStyleName}-item-caption .v-icon {
    margin-top: -6px;
}

/* Borderless style */
.#{$primaryStyleName}-borderless {
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

}