@mixin base-grid($primaryStyleName : v-grid) {
	@include base-escalator($primaryStyleName);

	.#{$primaryStyleName} {

		th {
			position: relative;
		}

		th.sort-asc:after {
			content: "\25B2" attr(sort-order);
			position: absolute;
			right: 5px;
		}

		th.sort-desc:after {
			content: "\25BC" attr(sort-order);
			position: absolute;
			right: 5px;
		}

	}
	
	.#{$primaryStyleName}-row-selected > td {
		background: lightblue;
	}
}
