@mixin valo-accordion ($primary-stylename: v-accordion) {
  .#{$primary-stylename} {
    @include valo-accordion-style;
  }

  .#{$primary-stylename}-item {
    @include valo-accordion-item-style;
  }

  .#{$primary-stylename}-item-caption {
    @include valo-accordion-item-caption-style;
  }

  .#{$primary-stylename}-item-content {
    @include valo-accordion-item-content-style;
  }
}



@mixin valo-accordion-style {
  @include valo-panel-style;
  $grad-style: valo-gradient-style($v-gradient);
  $grad-opacity: valo-gradient-opacity($v-gradient);
  @include valo-gradient($color: $v-background-color, $gradient: ($grad-style $grad-opacity/2));
  overflow: hidden;
}


@mixin valo-accordion-item-style {
  position: relative;
  overflow: hidden;

  @if $v-border-radius > 0 {
    $_br: $v-border-radius - first-number($v-border);

    &:first-child {
      border-radius: $_br $_br 0 0;

      .v-caption {
        border-radius: inherit;
      }
    }

    &:last-child {
      border-radius: 0 0 $_br $_br;

      .v-caption {
        border-radius: 0;
      }
    }
  }

  &:last-child:not([class*="item-open"]) .v-caption {
    border-bottom: none;
  }

  &[class*="item-open"] + [class*="item"] {
    border-top: valo-border($color: $v-panel-background-color, $strength: 0.7);
  }
}



@mixin valo-accordion-item-caption-style ($background-color: null) {
  .v-caption {
    @include valo-panel-caption-style($background-color: $background-color or $v-background-color);
    display: block;
    @if $background-color == null {
      background: transparent;
    }
    border-bottom-color: first-color(valo-border($color: $v-panel-background-color));
    cursor: pointer;
    @include user-select(none);;

    &:hover:before,
    &:active:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @if $v-hover-styles-enabled {
      &:hover:before {
        @include valo-button-hover-style;
        border: none;
      }
    }

    &:active:before {
      @include valo-button-active-style;
    }
  }
}


@mixin valo-accordion-item-content-style {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  @include box-shadow(valo-bevel-and-shadow($shadow: join(inset, $v-shadow), $shadow-opacity: $v-shadow-opacity/2));
  background-color: $v-panel-background-color;
  @include box-sizing(border-box);
  @include valo-panel-adjust-content-margins;
}
