@mixin valo-formlayout ($primary-stylename: v-formlayout, $include-additional-styles: contains($v-included-additional-styles, formlayout)) {

  @include valo-formlayout-spacing;
  @include valo-formlayout-margins;

  .#{$primary-stylename} > table {
    border-spacing: 0;
    position: relative;
    padding: 0 $v-layout-spacing-horizontal;
  }

  .#{$primary-stylename}.v-has-width > table,
  .#{$primary-stylename}.v-has-width .#{$primary-stylename}-contentcell {
    width: 100%;
  }

  .#{$primary-stylename}-error-indicator {
    width: round($v-unit-size/2);
  }

  .#{$primary-stylename}-captioncell {
    vertical-align: top;
    line-height: $v-unit-size - 1px;

    .v-caption {
      padding-bottom: 0;
    }

    .v-caption-h2,
    .v-caption-h3,
    .v-caption-h4 {
      height: 3em;
    }
  }

  .#{$primary-stylename}-contentcell {
    .v-checkbox,
    .v-radiobutton {
      font-weight: $v-font-weight + 100;
    }

    > .v-label-h2,
    > .v-label-h3,
    > .v-label-h4 {
      position: absolute;
      left: 0;
      margin-top: -0.5em;
      padding-bottom: 0.5em;
      border-bottom: valo-border($color: $v-app-background-color, $strength: 0.5);
    }
  }


  @if $include-additional-styles {
    .#{$primary-stylename}.light {
      @include valo-formlayout-light-style($primary-stylename);
    }
  }

}


@mixin valo-formlayout-margins ($primary-stylename: v-formlayout, $all: null, $top: $v-layout-margin-top, $right: $v-layout-margin-right, $bottom: $v-layout-margin-bottom, $left: $v-layout-margin-left) {
  @if $all != null {
    $top: $all;
    $right: $all;
    $bottom: $all;
    $left: $all;
  }

  .#{$primary-stylename}-margin-top > tbody > .#{$primary-stylename}-firstrow {
    > .#{$primary-stylename}-captioncell,
    > .#{$primary-stylename}-contentcell,
    > .#{$primary-stylename}-errorcell {
      padding-top: $top;
    }
  }

  .#{$primary-stylename}-margin-bottom > tbody > .#{$primary-stylename}-lastrow {
    > .#{$primary-stylename}-captioncell,
    > .#{$primary-stylename}-contentcell,
    > .#{$primary-stylename}-errorcell {
      padding-bottom: $bottom;
    }
  }

  .#{$primary-stylename}-margin-left > tbody > .#{$primary-stylename}-row > .#{$primary-stylename}-captioncell {
    padding-left: $left;
  }

  .#{$primary-stylename}-margin-right > tbody > .#{$primary-stylename}-row > .#{$primary-stylename}-contentcell {
    padding-right: $right;
  }
}


@mixin valo-formlayout-spacing ($primary-stylename: v-formlayout, $vertical: $v-layout-spacing-vertical) {
  .#{$primary-stylename}-spacing > tbody > .#{$primary-stylename}-row {
    > .#{$primary-stylename}-captioncell,
    > .#{$primary-stylename}-contentcell,
    > .#{$primary-stylename}-errorcell {
      padding-top: $vertical;
    }
  }
}





@mixin valo-formlayout-light-style ($primary-stylename: v-formlayout, $row-height: $v-unit-size) {
  > table {
    padding: 0;
  }

  > table > tbody > .#{$primary-stylename}-row {
    > .#{$primary-stylename}-captioncell,
    > .#{$primary-stylename}-contentcell,
    > .#{$primary-stylename}-errorcell {
      padding-top: 0;
      height: $row-height; // Effectively min-height
    }
  }

  > table > tbody > .#{$primary-stylename}-row td {
    border-bottom: valo-border($color: $v-app-background-color, $strength: 0.3);
  }

  > table > tbody > .#{$primary-stylename}-lastrow td {
    border-bottom: none;
  }

  > table > tbody > .#{$primary-stylename}-row > .#{$primary-stylename}-captioncell {
    color: valo-font-color($v-background-color, .5);
    text-align: right;
    padding-left: ceil($v-unit-size/3);
    line-height: $row-height;
  }

  .#{$primary-stylename}-contentcell {
    > .v-textfield,
    > .v-textarea,
    > .v-filterselect,
    > .v-datefield,
    > .v-filterselect-input,
    > .v-datefield-textfield {
      width: 100%;
    }

    > .v-textfield,
    > .v-textarea,
    > .v-filterselect input,
    > .v-datefield input,
    > .v-richtextarea {
      @include valo-textfield-style($unit-size: $row-height, $border-radius: 0, $border: null, $bevel: none, $shadow: none, $background-color: null);
      background: transparent;
      border: none;
      color: inherit;

      &:focus {
        box-shadow: none;
      }
    }

    > .v-textfield-prompt,
    > .v-textarea-prompt,
    > .v-filterselect-prompt input,
    > .v-datefield-prompt input {
      @include valo-textfield-prompt-style;
    }

    > .v-textarea,
    > .v-richtextarea {
      height: auto;
    }
  }

  .v-richtextarea {
    margin: round($v-unit-size/8) 0;
  }

  .v-filterselect-button,
  .v-datefield-button {
    border: none;

    &:active:after {
      display: none;
    }
  }

  .v-datefield-button {
    right: 0;
    left: auto;
  }

  .v-checkbox {
    margin-left: ceil($v-unit-size/6);
  }

  > table > tbody > .#{$primary-stylename}-row > .#{$primary-stylename}-contentcell {
    > .v-label-h2,
    > .v-label-h3,
    > .v-label-h4 {
      border-bottom: none;
    }

    > .v-label-h3,
    > .v-label-h4 {
      margin-top: 0;
    }
  }
}
