@import "../../base/escalator/escalator";

$primary-stylename: v-grid;
$grid-background-color: valo-table-background-color();
$grid-border: valo-border($color: $grid-background-color, $strength: 0.8);

/**
 *
 * 
 * @param {string} $primary-stylename (v-grid) -
 *
 * @group grid
 */ 
@mixin valo-grid($primary-stylename : v-grid) {

  @include base-escalator($primary-stylename);

  // TODO: check/set scrollbar height
  $scrollbar-size: 15px;

  // Base grid.
  .#{$primary-stylename} {
    th {
      position: relative;
    }

    th.sort-asc:after {
      content: "\f0dd" attr(sort-order);
      font-family: FontAwesome;
      float: right;
    }

    th.sort-desc:after {
      content: "\f0de" attr(sort-order);
      font-family: FontAwesome;
      float: right;
    }

    &:after {
      @include valo-gradient($v-background-color);
      
      content: "";
      width: 100%;
      height: $scrollbar-size;
      position: absolute;
      bottom: 0;

      border: $grid-border;
      border-top: none;

      @include box-sizing(border-box);
    }
  }

  .#{$primary-stylename}-row-selected > td {
    background: $v-selection-color;
  }

  // Empty area before horizontal scroll.


  // All but first column cells have left border.
  .#{$primary-stylename}-row {
    th, td {
      background: none;
      border: none;
      border-left: $grid-border;

      &:first-child {
        border-left: none; 
      }
    }
  }

  // Clear the float and change display value for all cells.
  .#{$primary-stylename}-cell {
    float: none;
    display: inline-block;

    &.frozen {
      @include box-shadow(2px 0 2px rgba(0,0,0,0.1));
    }
    &.#{$primary-stylename}-cell-active {
      @include box-shadow(inset 2px 2px 0px #77aeee, inset -2px -2px 0px #77aeee);
    }
  }

  // Main border, moved from .#{$primary-stylename} due to scroll div widths.
  .#{$primary-stylename}-tablewrapper {
    border: $grid-border;
    @include box-sizing(border-box);
  }

  // Grid header.
  .#{$primary-stylename}-header {
    @include valo-grid-header-style;
  }

  // Grid footer.
  .#{$primary-stylename}-footer {
    @include valo-grid-footer-style;
  }

  // Grid body.
  .#{$primary-stylename}-body {
    
    .#{$primary-stylename}-cell {
      line-height: 1;
      $vertical-padding: round(($v-table-row-height - $v-font-size)/2);
      padding: $vertical-padding $v-table-cell-padding-horizontal;
    }

    .#{$primary-stylename}-row {
      border-bottom: $grid-border;
      
      &:nth-child(odd) td {
        $bg-lightness: if(color-luminance($grid-background-color) < 10, 4%, -4%);
        background-color: scale-color($grid-background-color, $lightness: $bg-lightness);
      }

      &:nth-child(even) td {
        background-color: $grid-background-color;
      }

      &.#{$primary-stylename}-row-active td {
        @include valo-gradient($v-selection-color);
        color: $grid-background-color;
        border-color: adjust-color($v-selection-color, $lightness: -8%, $saturation: -8%);
      }
    }
  }
}

@mixin valo-grid-header-style {
  .#{$primary-stylename}-cell {
    @include valo-gradient($v-background-color);
    border-bottom: $grid-border;
  }

  th {
    font-weight: inherit;
    font-size: $v-table-header-font-size;
    $vertical-padding: round(($v-table-row-height - $v-table-header-font-size)/2);
    padding: $vertical-padding $v-table-cell-padding-horizontal $vertical-padding - $v-table-border-width;
    line-height: 1;
  }
}

@mixin valo-grid-footer-style {
  .#{$primary-stylename}-cell {
    @include valo-gradient($v-background-color);
    border-top: $grid-border;
  }

  td {
    font-weight: inherit;
    font-size: $v-table-header-font-size;
  }
}