/**
 *
 *
 * @param {string} $primary-stylename (v-select) - 
 *
 * @group nativeselect
 */
@mixin valo-nativeselect ($primary-stylename: v-select) {
  .#{$primary-stylename} select {
    @include valo-nativeselect-select-style;
  }

  .#{$primary-stylename}-select {
    display: block;

    + .v-textfield {
      width: auto !important;
      margin-top: round($v-unit-size/4);

      + .v-nativebutton {
        margin-top: round($v-unit-size/4);
        margin-left: round($v-unit-size/4);
      }
    }
  }
}



/**
 *
 *
 *
 * @group nativeselect
 */
@mixin valo-nativeselect-select-style {
  border: valo-border();
  @include valo-gradient;
  color: valo-font-color($v-background-color);

  &:focus {
    outline: none;
    @include valo-focus-style;
  }
}
