@mixin valo-optiongroup ($primary-stylename: v-optiongroup) {

  .v-radiobutton {
    :root & > input {
      &:checked ~ label:after {
        $size: ceil($v-unit-size/6);
        $offset: round($v-unit-size/6);
        width: $size;
        height: $size;
        top: $offset;
        left: $offset;
        background: $v-selection-color;
      }

      & ~ label:before,
      & ~ label:after {
        border-radius: 50%;
        content: "";
      }
    }
  }

  .v-select-optiongroup {

    .v-radiobutton,
    .v-checkbox {
      display: block;
      margin: round($v-unit-size/4) $v-font-size 0 0;

      &:first-child {
        margin-top: round($v-unit-size/6);
      }

      &:last-child {
        margin-bottom: round($v-unit-size/6);
      }
    }

    &.v-has-width label {
      white-space: normal;
    }

  }

}


@mixin valo-optiongroup-horizontal {
  white-space: nowrap;

  .v-radiobutton,
  .v-checkbox {
    display: inline-block;
  }

  &.v-has-width {
    white-space: normal;
    
    label {
      white-space: nowrap;
    }
  }
}
