$v-progressbar-border-radius: $v-border-radius !default;


@mixin v-valo-progressbar ($primary-stylename: v-progressbar) {
  
  .#{$primary-stylename}-wrapper {
    @include v-valo-progressbar-track-style;
  }

  .#{$primary-stylename}-indicator {
    @include v-valo-progressbar-indicator-style;
  }

}


@mixin v-valo-progressbar-track-style {
  border-radius: $v-progressbar-border-radius;
  height: round($v-unit-size/4);
  min-width: $v-unit-size * 2;
  @include v-valo-gradient($color: scale-color($v-app-background-color, $lightness: min($v-bevel-depth/-2, -10%), $saturation: $v-bevel-depth/-2), $style: linear-reverse);
  box-shadow: v-valo-textfield-box-shadow();
  @include box-sizing(border-box);
}


@mixin v-valo-progressbar-indicator-style {
  border-radius: $v-progressbar-border-radius;
  height: inherit;
  min-width: max($v-border-radius*2, 3px);
  @include v-valo-gradient($color: v-valo-selection-color());
  box-shadow: v-valo-button-box-shadow($background-color: v-valo-selection-color(), $bevel-depth: $v-bevel-depth/2);
  border: $v-button-border-width solid;
  border-color: v-valo-button-border-color($v-bevel-style, $v-bevel-depth/2, v-valo-selection-color());
  @include box-sizing(border-box);
}
