@mixin valo-splitpanel($primary-stylename : v-splitpanel) {
  // No need for parent selector
  @include valo-splitpanel-style($primary-stylename: $primary-stylename);
}




@mixin valo-splitpanel-global ($primary-stylename : v-splitpanel) {
  .#{$primary-stylename}-vertical,
  .#{$primary-stylename}-horizontal {
    overflow: hidden;
    white-space: nowrap;
  }

  .#{$primary-stylename}-hsplitter {
    z-index: 100;
    cursor: e-resize;
    cursor: col-resize;
  }

  .#{$primary-stylename}-vsplitter {
    z-index: 100;
    cursor: s-resize;
    cursor: row-resize;
  }

  // Element which acts as the active dragging area
  .#{$primary-stylename}-hsplitter,
  .#{$primary-stylename}-vsplitter {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    div {
      width: inherit;
      height: inherit;
      overflow: hidden;
      position: relative;
    }
  }

  .#{$primary-stylename}-hsplitter div,
  .#{$primary-stylename}-vsplitter div {
    &:before {
      @include box-sizing(border-box);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .v-disabled [class$="splitter"] div {
    cursor: default;

    &:before {
      display: none;
    }
  }

  // Allow undefined/auto height for horizontal split

  .#{$primary-stylename}-horizontal {
    .#{$primary-stylename}-second-container {
      position: static !important;
      display: inline-block;
      vertical-align: top;
    }

    .#{$primary-stylename}-first-container {
      display: inline-block;
      vertical-align: top;
    }
  }
}




@mixin valo-splitpanel-style(
    $primary-stylename : v-splitpanel,
    $splitter-size: max(1px, first-number($v-border)),
    $splitter-active-size: round($v-unit-size/3),
    $splitter-handle-visible: false,
    $splitter-shadow: none,
    $orientation: vertical horizontal
  ) {

  @if contains($orientation, horizontal) {
    .#{$primary-stylename}-hsplitter {
      width: $splitter-size;
    }
  }

  @if contains($orientation, vertical) {
    .#{$primary-stylename}-vsplitter {
      height: $splitter-size;
    }
  }

  $offset: round(($splitter-active-size - $splitter-size)/-2);

  @if contains($orientation, horizontal) {
    .#{$primary-stylename}-hsplitter:after {
      left: $offset;
      right: $offset;
    }
  }

  @if contains($orientation, vertical) {
    .#{$primary-stylename}-vsplitter:after {
      top: $offset;
      bottom: $offset;
    }
  }

  @if contains($orientation, horizontal) or contains($orientation, vertical) {
    .#{$primary-stylename}-hsplitter div,
    .#{$primary-stylename}-vsplitter div {
      &:before {
        @include valo-button-style($shadow: $splitter-shadow);
        height: auto;
        padding: 0;
        border-radius: 0;
      }
    }
  }

  @if contains($orientation, horizontal) {
    .#{$primary-stylename}-hsplitter div {
      &:before {
        $color: $v-background-color;
        @include valo-gradient($color: $color, $direction: to right);
      }
    }
  }

  @if $splitter-handle-visible {
    .#{$primary-stylename}-vsplitter div,
    .#{$primary-stylename}-hsplitter div {
      &:after {
        @include valo-splitpanel-splitter-handle-style;
      }
    }

    @if contains($orientation, horizontal) {
      .#{$primary-stylename}-hsplitter div {
        &:after {
          @include valo-splitpanel-splitter-handle-style($horizontal: true, $include-common: false);
        }
      }
    }
  }

  @if contains($orientation, horizontal) {
    &.#{$primary-stylename}-horizontal {
      .#{$primary-stylename}-second-container {
        margin-left: $splitter-size;
      }
    }
  }
}



@mixin valo-splitpanel-splitter-handle-style ($horizontal: false, $include-common: true) {
  @if $include-common {
    content: "";
    border: valo-border($strength: 0.6);
    $border-color: first-color(valo-border($strength: 1.2));
    border-top-color: $border-color;
    border-left-color: $border-color;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  @if $horizontal {
    width: 0;
    height: $v-unit-size;
    margin-left: first-number($v-border)*-1;
    margin-top: round(-$v-unit-size/2);
  } @else {
    width: $v-unit-size;
    height: 0;
    margin-left: round(-$v-unit-size/2);
    margin-top: first-number($v-border)*-1;
  }
}
