@mixin valo-treetable ($primary-stylename: v-treetable) {
  .v-table-cell-wrapper {
    //position: relative;
  }

  .#{$primary-stylename}-treespacer {
    display: inline-block;
    background: transparent;
    width: round($v-unit-size/2);
    //left: round($v-unit-size/-8);
    left: 0;
    position: absolute;
    text-align: right;

    &:before {
      
    }
  }

  .#{$primary-stylename}-node-closed:before {
    @include valo-tree-collapsed-icon-style;
  }

  .#{$primary-stylename}-node-open:before {
    @include valo-tree-expanded-icon-style($force: true);
  }
}