
<!-- Vaadin components are placed with divs that have matching
location tag -->

<table>
  <tr>
    <td><img src="icon_intro.png" /></td>
    <td width="80%"><b>This is an example application that uses custom layouts</b></td>
    <td align="right">
      <!-- login components -->
      <table align="right">
        <tr>
	  <td><div location="loginUser"></div></td>
          <td><div location="loginPassword"></div></td>
          <td><div style="width:100px;margin-top:1em" location="loginButton"></div></td>
        </tr>
      </table>
    </td>  
  </tr>
</table>

<table>
  <tr>
    <!-- menu component -->
    <td valign="top" width="150">
      <div location="menu"></div>
    </td>
    <!-- body component, updated by menu clicked event -->
    <td valign="top">
      <div location="body"></div>
    </td>
  </tr>
</table>
