$blue: #3bbfce;
$margin: 8px;
$chameleon-font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;

.content-navigation {
	border-color: $blue;
	$blue: #0000ff;
	color: $blue;
	color1: darken($blue);
	font-family: $chameleon-font-family;
}

.border {
	padding: $margin;
	margin: $margin;
	border-color: $blue;
}