
<h3>Welcome</h3>

<p>
IT Mill is a specialist in enterprise web user interface design and
technology. We offer a variety of products and services for enterprise
application user interface design, -analysis and -implementation. Our
flagship product is Vaadin - a server-side component framework for
Java EE. Vaadin enables creation of highly usable browser applications
in real Java.
</p>

<p>
Vaadin is a web user interface framework for developing high-quality
web applications for enterprise and professional use. By using
standard Java tools and the enterprise environment (Java EE -
formerly J2EE) we have created the most elegant and complete
architecture for developing user interfaces for web business
applications - for your benefit.
</p>