<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8888/" />
<title>RichTextAreaPreventsTextFieldAccess</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">RichTextAreaPreventsTextFieldAccess</td></tr>
</thead><tbody>
<tr>
    <td>open</td>
    <td>/run/com.vaadin.tests.components.richtextarea.RichTextAreaPreventsTextFieldAccess</td>
    <td></td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsrichtextareaRichTextAreaPreventsTextFieldAccess::PID_Sfield</td>
    <td>127,13</td>
</tr>
<tr>
    <td>type</td>
    <td>vaadin=runcomvaadintestscomponentsrichtextareaRichTextAreaPreventsTextFieldAccess::PID_Sfield</td>
    <td>aaa</td>
</tr>
<tr>
    <td>click</td>
    <td>vaadin=runcomvaadintestscomponentsrichtextareaRichTextAreaPreventsTextFieldAccess::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
    <td></td>
</tr>
<tr>
    <td>click</td>
    <td>vaadin=runcomvaadintestscomponentsrichtextareaRichTextAreaPreventsTextFieldAccess::/VWindow[0]/FocusableScrollPanel[0]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
    <td></td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsrichtextareaRichTextAreaPreventsTextFieldAccess::PID_Sfield</td>
    <td>99,9</td>
</tr>
<tr>
    <td>type</td>
    <td>vaadin=runcomvaadintestscomponentsrichtextareaRichTextAreaPreventsTextFieldAccess::PID_Sfield</td>
    <td>aaabbb</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsrichtextareaRichTextAreaPreventsTextFieldAccess::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/domChild[2]</td>
    <td>284,6</td>
</tr>
<tr>
    <td>verifyValue</td>
    <td>vaadin=runcomvaadintestscomponentsrichtextareaRichTextAreaPreventsTextFieldAccess::PID_Sfield</td>
    <td>aaabbb</td>
</tr>

</tbody></table>
</body>
</html>
