<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head profile="http://selenium-ide.openqa.org/profiles/test-case"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><link rel="selenium.base" href="" /><title>com.vaadin.tests.components.accordion.AccordionInactiveTabSize</title></head><body><table cellpadding="1" cellspacing="1" border="1"><thead><tr><td rowspan="1" colspan="3">com.vaadin.tests.components.accordion.AccordionInactiveTabSize</td></tr></thead><tbody><tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.accordion.AccordionInactiveTabSize?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsaccordionAccordionInactiveTabSize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VSplitPanelHorizontal[0]/VAccordion[0]/domChild[1]/domChild[0]/domChild[0]</td>
	<td>285,11</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>center-second-tab</td>
</tr>
<tr>
	<td>dragAndDrop</td>
	<td>vaadin=runcomvaadintestscomponentsaccordionAccordionInactiveTabSize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VSplitPanelHorizontal[0]/domChild[0]/domChild[1]/domChild[0]</td>
	<td>150,-36</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>splitter-right-second-tab</td>
</tr>
<tr>
	<td>dragAndDrop</td>
	<td>vaadin=runcomvaadintestscomponentsaccordionAccordionInactiveTabSize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VSplitPanelHorizontal[0]/domChild[0]/domChild[1]/domChild[0]</td>
	<td>-300,-36</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>splitter-left-second-tab</td>
</tr>

<!--back to original pos-->
<tr>
	<td>dragAndDrop</td>
	<td>vaadin=runcomvaadintestscomponentsaccordionAccordionInactiveTabSize::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VSplitPanelHorizontal[0]/domChild[0]/domChild[1]/domChild[0]</td>
	<td>150,-36</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>center-second-tab</td>
</tr>
</tbody></table></body></html>