<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://arturwin.office.itmill.com:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.loginform.LoginFormUIInLoginHandler?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>waitForElementPresent</td>
	<td>username</td>
	<td></td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>username</td>
	<td>abc</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>password</td>
	<td>def</td>
</tr>
<tr>
	<td>click</td>
	<td>//form[@id='loginf']/div[5]/div/span/span</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsloginformLoginFormUIInLoginHandler::/VVerticalLayout[0]/VVerticalLayout[0]/VLabel[0]</td>
	<td>UI.getCurrent().data: This UI</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsloginformLoginFormUIInLoginHandler::/VVerticalLayout[0]/VVerticalLayout[0]/VLabel[1]</td>
	<td>event.getSource().data: This UI</td>
</tr>

</tbody></table>
</body>
</html>
