.puma-icon #animal, .menu {
	background-image: url('/images/puma.png');
	font-size: 10px;
	font-color: blue;
	border: 1px solid;
}

.sea-slug-icon #animal, .menu {
	background-image: url('/images/sea-slug.png');
	font-size: 10px;
	font-color: blue;
	border: 1px solid;
}

.egret-icon #animal, .menu {
	background-image: url('/images/egret.png');
	font-size: 10px;
	font-color: blue;
	border: 1px solid;
}

.salamander-icon #animal, .menu {
	background-image: url('/images/salamander.png');
	font-size: 10px;
	font-color: blue;
	border: 1px solid;
}

.trueIf {
	border: 1px solid;
}

.falseIf {
	border: 1px solid;
}

.falseIfTrueElse {
	border: 1px solid;
}

.cube-icon {
	background-image: url('/images/cube.png');
}

.triangle-icon {
	background-image: url('/images/triangle.png');
}

.circle-icon {
	background-image: url('/images/circle.png');
}