.main {
	margin: 2px;
	border: 11px;
	border: 10px;
	border: 10px;
	color: hsl(0, 0%, 30%);
	color: hsl(25, 100%, 50%);
	color: rgb(36, 0, 0);
	color: rgb(240, 0, 0);
	color: #240000;
	color: #200;
	color: #f00000;
	color: #f00;
	color: hsl(33, 7%, 89%);
	color: hsl(33, 7%, 95%);
	color: rgb(1, 2, 3);
	percents: -20%;
	percents: 33.33%;
}
