.v-button {
	font-size: 12px;
}

.v-label {
	font-size: 12px;
}

.v-button {
	font-color: red;
}

.v-label {
	font-color: red;
}

.v-textfield {
	font-color: red;
}

.v-button {
	background-color: black;
}