.main {
	border: 1px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
}

.main .details {
	font-size: 14px;
	font-weight: bold;
}

.footer {
	border: 2px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.banner {
	border: 1px solid black;
	font-color: red;
}

.interpolation-test {
	font-size: 14px;
}

.header {
	width: 100%;
}

.main {
	width: 100%;
	height: 100%;
}

.footer {
	width: 100%;
}

@media print {
	.v-view {
		overflow: visible;
	}
}

font-family: arial;

font-size: 16px;

font-weight: bold;

.default .default-inner {
	color: green;
}

.custom .custom-inner {
	color: green;
}