.top-bar {
	color: red;
}

.top-bar .alt {
	color: blue;
}

.menu {
	background-color: red;
}

.menu a {
	color: blue;
}

.caption {
	padding: 10px;
}

.caption .text, .caption .header {
	color: green;
}

.footer {
	padding: 10px;
}

.footer .left, .footer .right {
	color: purple;
}

.footer .left a, .footer .right a {
	color: orange;
}

.main {
	color: red;
}

.main .second.third {
	color: blue;
}

.main .second.third .fourth {
	color: black;
}

.root .first-block .nested {
	order: first;
}

.root .last-block {
	order: last;
}