a {
	font-weight: bold;
	text-decoration: none;
}

a .sub {
	color: blue;
}

a:hover {
	text-decoration: underline;
}

body.firefox a {
	font-weight: normal;
}

#main {
	color: black;
}

#main a {
	font-weight: bold;
}

#main a:hover {
	color: red;
}

.mixin-parent:hover {
	color: blue;
}

.part.one, .part.two, .part .non-parent {
	color: blue;
}

.root .part.one, .root .part .non-parent, .root .part2.one, .root .part2 .non-parent {
	color: blue;
}

.root2 .part .one, .root2 .part .non-parent, .root2 .part2 .one, .root2 .part2 .non-parent {
	color: blue;
}

.drop-parent-reference {
	color: green;
}