a {
	font-weight: bold;
	text-decoration: none;
}

a .sub {
	color: blue;
}

a:hover {
	text-decoration: underline;
}

body.firefox a {
	font-weight: normal;
}

#main {
	color: black;
}

#main a {
	font-weight: bold;
}

#main a:hover {
	color: red;
}

.mixin-parent:hover {
	color: blue;
}

.part.one, .part.two {
	color: blue;
}