.animals .platypus-icon {
	background-image: url('/images/platypus.png');
}

.animals .rhinoceros-icon {
	background-image: url('/images/rhinoceros.png');
}

.animals .llama-icon {
	background-image: url('/images/llama.png');
}

.animals .duck-icon {
	background-image: url('/images/duck.png');
}

.animals .duck-icon {
	background-image: url('/images/duck.png');
}

.exotic-animals .platypus-icon {
	background-image: url('/images/platypus.png');
}

.exotic-animals .rhinoceros-icon {
	background-image: url('/images/rhinoceros.png');
}

.exotic-animals .llama-icon {
	background-image: url('/images/llama.png');
}

.ball {
	font-size: 12px;
}

.cube {
	font-size: 12px;
}