.floatedpanel {
	float: right;
}

.footer {
	width: 3in; 
	padding: 3px;
	margin: 0 auto;
	clear: both; 
	height: 40px; 
	background: #efefef; 
	white-space: normal;
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.brick {
	font-size: 14px;
	font-weight: bold;
	width: 100px; 
	height: 100px; 
	margin: 10px;
	padding: 10px;
	background: #1E2123; 
	color: #fff;
	float: left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
} 