<!-- 
	This customlayout uses inline styles and images as well. Notice that the
	URLs are relatice to the layout, which means you can open the layout offline
	in a WYSIWYG editor (or browser), and the images will work.
 -->

<table width="400px" align="center" cellspacing="10"
	style="color: #fff; padding: 20px; background: #31629E url(../sampler/sample-desc-bg.png) repeat-x">
	<tr>
		<td colspan="2">
		<h1 style="margin-top: 0;">Login</h1>
		<td>
	</tr>
	<tr>
		<td align="right">User&nbsp;name:</td>
		<td>
		<div location="username"></div>
		</td>
	</tr>
	<tr>
		<td align="right">Password:</td>
		<td>
		<div location="password"></div>
		</td>
	</tr>
	<tr>
		<td align="right" colspan="2">
		<div location="okbutton" style="padding: 10px;"></div>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding: 7px; background-color: #4172AE">
		<img align="absbottom" src="../../sampler/icons/icon_info.gif" /> This
		information is in the layout.
		<td>
	</tr>
</table>

