.split-panel-positioning-example .measured-from-left{
	background-image: url("images/measured-from-left.png");
	background-repeat: repeat-y;
	text-align: center;
	vertical-align: middle;
	-moz-opacity:.50; 
	filter:alpha(opacity=50); 
	opacity:.50; 
}
.split-panel-positioning-example .measured-from-right{
	background-image: url("images/measured-from-right.png");
	background-position: right;
	background-repeat: repeat-y;
	text-align: center;
	vertical-align: middle;
	-moz-opacity:.50; 
	filter:alpha(opacity=50); 
	opacity:.50; 
}
.split-panel-positioning-example .measured-from-top{
	background-image: url("images/measured-from-top.png");
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	-moz-opacity:.50; 
	filter:alpha(opacity=50); 
	opacity:.50; 
}
.split-panel-positioning-example .measured-from-bottom{
	background-image: url("images/measured-from-bottom.png");
	background-position: bottom;
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
	-moz-opacity:.50; 
	filter:alpha(opacity=50); 
	opacity:.50; 
}

.split-panel-positioning-example .v-select-optiongroup .v-select-option{
	display:inline;	
}