@mixin runo-label($primaryStyleName : v-label) {

.#{$primaryStyleName} h1,
.#{$primaryStyleName} h2,
.#{$primaryStyleName} h3,
.#{$primaryStyleName} h4,
.#{$primaryStyleName} h5,
.#{$primaryStyleName} h6 {
	color: #404749;
}

.#{$primaryStyleName}-h1,
.#{$primaryStyleName} h1 {
	margin: 0;
	padding: 8px 0 4px;
	font-size: 24px;
	line-height: normal;
	letter-spacing: -0.03em;
	font-weight: normal;
	text-shadow: 0 1px 1px #fff;
}

.#{$primaryStyleName}-h2,
.#{$primaryStyleName} h2 {
	color: #f14c1a;
	font-size: 18px;
	letter-spacing: -0.03em;
	font-weight: normal;
	padding: 13px 0 5px;
}

.#{$primaryStyleName}-h3,
.#{$primaryStyleName} h3 {
	font-size: 15px;
	letter-spacing: -0.03em;
	font-weight: normal;
	text-shadow: 0 1px 1px #fff;
}

.#{$primaryStyleName}-h4,
.#{$primaryStyleName} h4 {
	font-size: 13px;
	font-weight: normal;
	text-shadow: 0 1px 1px #fff;
	margin: 0;
	padding: 8px 0 4px;
}

.#{$primaryStyleName}-small {
	font-size: 11.31px;
	line-height: 1.4;
	color: #707679;
}

.#{$primaryStyleName} hr,
.#{$primaryStyleName}-hr {
	height: 2px;
	overflow: hidden;
	background: #ccd2d3;
	color: #ccd2d3; /* For IE */
	border: none;
	border-bottom: 1px solid #fff;
	margin: 0;
}
.#{$primaryStyleName}-hr {
	height: 1px;
}

.v-sa & .#{$primaryStyleName} hr,
.v-ie8 & .#{$primaryStyleName} hr {
	height: 1px;
}

}