.i-progressindicator {
	background: #dfe2e4 url(img/base.gif);
	height: 9px;
	border: 1px solid #b6bbbc;
	overflow: hidden; /* for IE6 */
}

.i-progressindicator div {
	background: #f7f9f9 url(img/progress.png);
	height: 9px;
	overflow: hidden; /* for IE6 */
}