<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.notification.Notifications?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>focus</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextArea[0]</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Error</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Humanized</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>human-hello-world</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Error</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>error-hello-world</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>pause</td>
	<td>500</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Warning</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>warning-hello-world</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Tray</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>tray-hello-world</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextArea[0]</td>
	<td>Hello world&lt;br/&gt;Second row&lt;br/&gt;Third row which is very, very much longer than the other two rows</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Humanized</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>human-three-rows</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Error</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>error-three-rows</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>pause</td>
	<td>500</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Warning</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>warning-three-rows</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Tray</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>tray-three-rows</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextArea[0]</td>
	<td>82,107</td>
</tr>
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextArea[0]</td>
	<td>A very long row that should cause the notification to wrap onto several lines. Still the notification box should only be as wide as needed. Adding even more text here so that the tray notification also wraps...</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Humanized</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>human-long-wrapped-row</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Error</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>error-long-wrapped-row</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>pause</td>
	<td>500</td>
	<td></td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Warning</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>warning-long-wrapped-row</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::Root/VNotification[0]</td>
	<td>0,0</td>
</tr>
<tr>
	<td>select</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VNativeSelect[0]/domChild[0]</td>
	<td>label=Tray</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnotificationNotifications::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>tray-long-wrapped-row</td>
</tr>
</tbody></table>
</body>
</html>
