<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.checkbox.CheckBoxes?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>31,8</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-error</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>38,13</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-error-required</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>7,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-error-required-readonly</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>6,4</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-required-readonly</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>8,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>enabled-readonly</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Enabled/domChild[0]</td>
	<td>8,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-readonly</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>12,4</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-required-readonly</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>10,11</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-error-required-readonly</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>6,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-error-readonly</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>9,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-error</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>9,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-error-required</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>10,3</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled-required</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscheckboxCheckBoxes::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>10,7</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>disabled</td>
</tr>
</tbody></table>
</body>
</html>
