<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://192.168.2.60:8080/" />
<title>PanelClickListenerRelativeCoordinates</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">PanelClickListenerRelativeCoordinates</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.panel.PanelClickListenerRelativeCoordinates?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>focus</td>
	<td>vaadin=runcomvaadintestscomponentspanelPanelClickListenerRelativeCoordinates::/VVerticalLayout[0]</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentspanelPanelClickListenerRelativeCoordinates::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/VVerticalLayout[0]</td>
	<td>287,6</td>
</tr>
<!-- Should really be 287, 25 but due to v-view border-top it is not always... Additional differences caused by targeting the click on the child element to make it behave like a real click (#4120)<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentspanelPanelClickListenerRelativeCoordinates::Root/VNotification[0]/HTML[0]/domChild[0]</td>
	<td>287, 25</td>
</tr>-->
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>click-287-25</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentspanelPanelClickListenerRelativeCoordinates::Root/VNotification[0]/HTML[0]/domChild[0]</td>
	<td>63,34</td>
</tr>
<!--click on caption-->
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentspanelPanelClickListenerRelativeCoordinates::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VPanel[0]/domChild[0]/domChild[0]/domChild[0]</td>
	<td>10,10</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<!-- Should really be 10,10 but due to v-view border-top it is not always... <tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentspanelPanelClickListenerRelativeCoordinates::Root/VNotification[0]/HTML[0]/domChild[0]</td>
	<td>10, 10</td>
</tr>-->
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>click-10-10</td>
</tr>
</tbody></table>
</body>
</html>
