.i-orderedlayout-margin-top {
	padding-top: 15px;
}
.i-orderedlayout-margin-right {
	padding-right: 18px;
}
.i-orderedlayout-margin-bottom {
	padding-bottom: 15px;
}
.i-orderedlayout-margin-left {
	padding-left: 18px;
}

.i-orderedlayout-vspacing {
	margin-top: 8px;
}
.i-orderedlayout-hspacing {
	padding-left: 8px;
}

.i-orderedlayout-w2 .i-caption * { 
	float:left; 
	display: block;
}
.i-orderedlayout-w-e {
	float:left; 	
}
	
.i-orderedlayout-w2 .i-caption:after, .i-orderedlayout-w2:after {
  	content: ".";
	display: block;
	height: 0;
    clear: both;
    visibility: hidden;
}
		
.i-orderedlayout-w2 .i-caption, .i-orderedlayout-w2 {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .i-orderedlayout-w2 .i-caption, * html .i-orderedlayout-w2 { height: 1%; }
.i-orderedlayout-w2 .i-caption, .i-orderedlayout-w2 { display: block; }
/* End hide from IE-mac */

/*
.i-errorindicator {
	background:transparent url(../icons/16/error.png) no-repeat scroll right top;
	height:16px;
	width:10px;
	margin-left: 3px;
}
*/