.v-orderedlayout-margin-top,
.v-horizontallayout-margin-top,
.v-verticallayout-margin-top {
	padding-top: 15px;
}
.v-orderedlayout-margin-right,
.v-horizontallayout-margin-right,
.v-verticallayout-margin-right {
	padding-right: 18px;
}
.v-orderedlayout-margin-bottom,
.v-horizontallayout-margin-bottom,
.v-verticallayout-margin-bottom {
	padding-bottom: 15px;
}
.v-orderedlayout-margin-left,
.v-horizontallayout-margin-left,
.v-verticallayout-margin-left {
	padding-left: 18px;
}
.v-orderedlayout-spacing-on,
.v-horizontallayout-spacing-on,
.v-verticallayout-spacing-on {
	padding-top: 8px;
	padding-left: 8px;
}