.i-orderedlayout-margin-top {
	padding-top: 15px;
}
.i-orderedlayout-margin-right {
	padding-right: 18px;
}
.i-orderedlayout-margin-bottom {
	padding-bottom: 15px;
}
.i-orderedlayout-margin-left {
	padding-left: 18px;
}

.i-orderedlayout-vspacing {
	margin-top: 8px;
}
.i-orderedlayout-hspacing {
	padding-left: 8px;
}