<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>DragAndDropDisable</title>
</head>	
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">DragAndDropDisable</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/DragAndDropDisable?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>drag</td>
	<td>vaadin=runDragAndDropDisable::PID_Scsslayout-2</td>
	<td>18,25</td>
</tr>
<tr>
	<td>drop</td>
	<td>vaadin=runDragAndDropDisable::PID_Scsslayout-1</td>
	<td>34,51</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runDragAndDropDisable::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[1]/VCheckBox[0]/domChild[0]</td>
	<td>7,4</td>
</tr>
<tr>
	<td>drag</td>
	<td>vaadin=runDragAndDropDisable::PID_Scsslayout-2</td>
	<td>20,32</td>
</tr>
<tr>
	<td>drop</td>
	<td>vaadin=runDragAndDropDisable::PID_Scsslayout-1</td>
	<td>37,59</td>
</tr>
<tr>
	<td>drag</td>
	<td>vaadin=runDragAndDropDisable::PID_Scsslayout-1/VLabel[0]</td>
	<td>59,10</td>
</tr>
<tr>
	<td>drop</td>
	<td>vaadin=runDragAndDropDisable::PID_Scsslayout-2</td>
	<td>68,15</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runDragAndDropDisable::PID_Scsslayout-1/VLabel[0]</td>
	<td>68,160</td>
</tr>
<tr>
	<td>drag</td>
	<td>vaadin=runDragAndDropDisable::/VVerticalLayout[0]/Slot[1]/VVerticalLayout[0]/Slot[4]/VScrollTable[0]/domChild[1]/domChild[0]/domChild[1]/domChild[0]/domChild[0]/domChild[0]/domChild[0]</td>
	<td>82,9</td>
</tr>
<tr>
	<td>drop</td>
	<td>vaadin=runDragAndDropDisable::PID_Scsslayout-1</td>
	<td>118,50</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td></td>
</tr>

</tbody></table>
</body>
</html>
