.v-menubar {
	color: #464f52;
	border-left: 1px solid #c6cbcc;
}
.v-menubar .v-menubar-menuitem {
	padding: 1px 10px;
	border: 1px solid #c6cbcc;
	border-left: none;
	height: 18px;
	line-height: 18x;
}
.v-menubar-menuitem-selected {
	color: #fff;
	background: #5daee8;
}
.v-menubar-submenu {
	background: #e9eced url(../tabsheet/img/tab-bg.png);
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 12px;
	line-height: 14px;
	border-right: 1px solid #c6cbcc;
	border-bottom: 1px solid #c6cbcc;
	border-top: 1px solid #d0d4d5;
	border-left: 1px solid #d0d4d5;
}
.v-menubar-submenu .v-menubar-menuitem {
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 16px;
	padding-left: 10px;
}
.v-menubar-submenu .v-menubar-menuitem-caption .v-icon { 
	vertical-align: middle;
}