@mixin chameleon-tree($primaryStyleName : v-tree) {

.#{$primaryStyleName}-node-caption {
	margin-left: 16px;
	}

.#{$primaryStyleName}-node span {
	padding: .1em .3em;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	}

.#{$primaryStyleName}-node-children {
	padding-left: 16px;
	}

.#{$primaryStyleName}-node-selected span {
	background-color: #333;
	}

.#{$primaryStyleName}-connectors .#{$primaryStyleName}-node-caption {
	padding-bottom: 1px;
	}

}