.v-formlayout-errorcell {
	width: 13px;
}
.v-formlayout-cell .v-errorindicator {
	width: 13px;
	height: 16px;
	background: transparent url(../common/icons/error.png) no-repeat 50%;
}
.v-ie6 .v-formlayout-cell .v-errorindicator {
	background-image: url(../common/icons/error-ie6.png);
}
.v-formlayout-captioncell {
	text-align: right;
	white-space: nowrap;
}
.v-formlayout-spacing > tbody > .v-formlayout-row > .v-formlayout-captioncell, 
.v-formlayout-spacing > tbody > .v-formlayout-row > .v-formlayout-contentcell,
.v-formlayout-spacing > tbody > .v-formlayout-row > .v-formlayout-errorcell {
	padding-top: 8px;
}
.v-formlayout-margin-top > tbody > .v-formlayout-firstrow > .v-formlayout-captioncell, 
.v-formlayout-margin-top > tbody > .v-formlayout-firstrow > .v-formlayout-contentcell,
.v-formlayout-margin-top > tbody > .v-formlayout-firstrow > .v-formlayout-errorcell {
	padding-top: 15px;
}
.v-formlayout-margin-bottom > tbody > .v-formlayout-lastrow > .v-formlayout-captioncell,
.v-formlayout-margin-bottom > tbody > .v-formlayout-lastrow > .v-formlayout-contentcell,
.v-formlayout-margin-bottom > tbody > .v-formlayout-lastrow > .v-formlayout-errorcell {
	padding-bottom: 15px;
}
.v-ie6 .v-formlayout-spacing .v-formlayout-row .v-formlayout-captioncell, 
.v-ie6 .v-formlayout-spacing .v-formlayout-row .v-formlayout-contentcell,
.v-ie6 .v-formlayout-spacing .v-formlayout-row .v-formlayout-errorcell {
	padding-top: expression(/v-formlayout-spacing/.test(this.parentNode.parentNode.parentNode.className) ? "8px" : "0px");
}
.v-ie6 .v-formlayout-margin-top .v-formlayout-row .v-formlayout-captioncell, 
.v-ie6 .v-formlayout-margin-top .v-formlayout-row .v-formlayout-contentcell,
.v-ie6 .v-formlayout-margin-top .v-formlayout-row .v-formlayout-errorcell {
	padding-top: expression((/v-formlayout-firstrow/.test(this.parentNode.className) && /v-formlayout-margin-top/.test(this.parentNode.parentNode.parentNode.className)) ? "15px" : (/v-formlayout-spacing/.test(this.parentNode.parentNode.parentNode.className) ? "8px" : "0px"));
}
.v-ie6 .v-formlayout-margin-bottom .v-formlayout-row .v-formlayout-captioncell,
.v-ie6 .v-formlayout-margin-bottom .v-formlayout-row .v-formlayout-contentcell,
.v-ie6 .v-formlayout-margin-bottom .v-formlayout-row .v-formlayout-errorcell {
	padding-bottom: expression((/v-formlayout-lastrow/.test(this.parentNode.className) && /v-formlayout-margin-bottom/.test(this.parentNode.parentNode.parentNode.className)) ? "15px" : "0px");
}
.v-formlayout-margin-left > tbody > .v-formlayout-row > .v-formlayout-captioncell {
	padding-left: 18px;
} 
.v-formlayout-margin-right > tbody > .v-formlayout-row > .v-formlayout-contentcell {
	padding-right: 18px;
}
.v-ie6 .v-formlayout-margin-left .v-formlayout-row .v-formlayout-captioncell {
	padding-left: expression(/v-formlayout-margin-left/.test(this.parentNode.parentNode.parentNode.className) ? "18px" : "0px");
}
.v-ie6 .v-formlayout-margin-right .v-formlayout-row .v-formlayout-contentcell {
	padding-right: expression(/v-formlayout-margin-right/.test(this.parentNode.parentNode.parentNode.className) ? "18px" : "0px");
}
/* form */
.v-form-errormessage {
	background: transparent url(../common/icons/error.png) no-repeat 3px 2px;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	min-height: 20px;
}
.v-ie6 .v-form-errormessage {
	height: 20px;
	background-image: url(../common/icons/error-ie6.png);
}
.v-form fieldset {
	border: none;
	border-top: 1px solid #babfc0;
}
.v-form-nocaption fieldset {
	border: none;
}
.v-form-nocaption legend {
	display: none;
}
.v-form legend {
	margin: 0 0 0 20px;
	padding: 0 5px;
	font-weight: bold;
	color: #222;
}
.black .v-form legend {
	color: #e3e6e8;
}