@mixin reindeer-formlayout($primaryStyleName : v-formlayout) {

.#{$primaryStyleName}-errorcell {
	width: 13px;
}
.#{$primaryStyleName}-cell .v-errorindicator {
	width: 13px;
	height: 16px;
	background: transparent url(../common/icons/error.png) no-repeat 50%;
}
.#{$primaryStyleName}-captioncell {
	text-align: right;
	white-space: nowrap;
}
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-captioncell, 
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-contentcell,
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-errorcell {
	padding-top: 8px;
}
.#{$primaryStyleName}-margin-top > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-captioncell, 
.#{$primaryStyleName}-margin-top > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-contentcell,
.#{$primaryStyleName}-margin-top > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-errorcell {
	padding-top: 15px;
}
.#{$primaryStyleName}-margin-bottom > tbody > .#{$primaryStyleName}-lastrow > .#{$primaryStyleName}-captioncell,
.#{$primaryStyleName}-margin-bottom > tbody > .#{$primaryStyleName}-lastrow > .#{$primaryStyleName}-contentcell,
.#{$primaryStyleName}-margin-bottom > tbody > .#{$primaryStyleName}-lastrow > .#{$primaryStyleName}-errorcell {
	padding-bottom: 15px;
}
.#{$primaryStyleName}-margin-left > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-captioncell {
	padding-left: 18px;
} 
.#{$primaryStyleName}-margin-right > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-contentcell {
	padding-right: 18px;
}
/* form */
.v-form-errormessage {
	background: transparent url(../common/icons/error.png) no-repeat 3px 2px;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	min-height: 20px;
}
.v-form fieldset {
	border: none;
	border-top: 1px solid #babfc0;
}
.v-form-nocaption fieldset {
	border: none;
}
.v-form-nocaption legend {
	display: none;
}
.v-form legend {
	margin: 0 0 0 20px;
	padding: 0 5px;
	font-weight: bold;
	color: #222;
}
.black .v-form legend {
	color: #e3e6e8;
}

}