<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>DisabledOptionGroupItems</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">DisabledOptionGroupItems</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.optiongroup.DisabledOptionGroupItems?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>initial</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsoptiongroupDisabledOptionGroupItems::PID_Sbuttonaction-Invert disabled items/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>inverted-disable-state</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsoptiongroupDisabledOptionGroupItems::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VOptionGroup[0]/domChild[2]/domChild[0]</td>
	<td>7,5</td>
</tr>
<!--Try to select disabled item - should not cause selection to change-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsoptiongroupDisabledOptionGroupItems::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VOptionGroup[0]/domChild[0]/domChild[0]</td>
	<td>7,5</td>
</tr>
<!--Ensure "Helsinki" is still selected-->
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentsoptiongroupDisabledOptionGroupItems::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VOptionGroup[0]/domChild[2]/domChild[0]</td>
	<td>on</td>
</tr>
</tbody></table>
</body>
</html>
