<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>DebugIdXss</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">DebugIdXss</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/DebugIdXss?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='runDebugIdXss-1129116651']/div/div[2]/div/div[2]/div/div/div/div[2]/div/div/span</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='&quot;']/span/span</td>
	<td></td>
</tr>
<!--Assert that no error occurred-->
<tr>
	<td>assertTextNotPresent</td>
	<td>Communication error</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[@id='&quot;']/span/span</td>
	<td>Aligned to right</td>
</tr>

</tbody></table>
</body>
</html>
