#HubTest_BasicConformance {
	width: 846px;
}
#OpenAjaxBanner.imageContainer {
	border:none;
	margin:0;
	padding:0;
}
.HubTestTitle {
	text-align:center;
}
.HubTestTitle {
	margin-bottom:.25em;
}
#LibraryName {
	font-size:1.2em;
	font-family:sans-serif;
	margin-top:2em;
	margin-bottom:1em;;
}
.HubTestResults {
	border-collapse:collapse;
	font-family:sans-serif;
}
.HubTestNumber,.HubTestLabel,.HubTestResult {
	padding-left:1em;
	padding-right:1em;
	padding-top:.3em;
	padding-bottom:.3em;
	vertical-align:top;
	border-width:3px;
	border-style:solid;
	border-color:black;
}
.HubTestNumber {
	color:darkgreen;
	font-weight:bold;
	font-size: 1.2em;
	width:10px;
}
.HubTestLabel {
	color:darkgreen;
	font-weight:bold;
	font-size: 1.2em;
	width:540px;
}
.HubTestResult {
	font-weight:bold;
	font-size: 1.2em;
	width: 300px;
}
