.i-select {

}
.i-select-option {

}

.i-select-optiongroup {

}

.i-select-optiongroup .i-select-option {
	display: block;
	white-space: nowrap;
}

.i-select-select {
	/*
	border: 1px solid #b6b6b6;
	border-bottom-color: #9d9d9d;
	border-top-color: #d6d6d6;
	border-left-color: #d6d6d6;
	*/
	display: block;
	font-size: 13px;
}

/* Twincol style */
.i-select-twincol {
	white-space: nowrap;
}
.i-select-twincol-options {
	float: left;
	font-size: 13px;
}
.i-select-twincol-selections {
	font-size: 13px;
	font-weight: bold;
}

.i-select-twincol-buttons {
	float: left;
	padding: 2px; /* does not work in first render in FF ? */
	text-align: center;
}

.i-select-twincol-buttons .i-select-twincol-deco {
	clear:both;
}

.i-select-twincol .i-textfield {
	display: block;
	float: left;
	clear: left;
}

.i-select-twincol .i-button {
	display: block;
	float: left;
}

.i-select-twincol-buttons .i-button {
	display: inline;
	float: none;
}