.all-the-properties {
	font-family: Arial, Helvetica, "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	position: absolute;
	overflow: hidden;
	outline: none;
	text-align: left;
	zoom: 1;
	white-space: nowrap;
	background: #123456;
	border-bottom: 1px solid #ffffff;
	filter: alpha(opacity = 30);
	cursor: pointer;
	overflow: auto;
	width: 100%;
	display: inline-block;
}

.lexical-value-test {
	margin: none;
	margin: 0px;
	margin: 0;
	margin: 0.5px;
	margin: 2px;
	margin: -0.5px;
	margin: -2px;
	margin: 10px 20px;
	margin: -10px 20px;
	margin: 20px -10px -20px 40px;
	margin-right: -0.5px;
}

.background-positioning {
	background-position: 0 0;
	background-position: left top;
	background-position: left 40px;
	background-position: 50px left;
	background-position: right -286px;
}

.user-select-rules {
	user-select: none;
	-ie-user-select: none;
}

.box-sizing-rules {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.user-select-and-box-sizing-combined {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ie-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

@media print {
	.v-generated-body {
		height: auto;
		min-height: 20cm;
		overflow: visible;
	}
}