@mixin chameleon-compound {

	// segment.css

	.v-horizontallayout-segment {
		.v-button {
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			border-left-width: 0;
			zoom: 1;
			overflow: visible;

			.v-button-wrap {
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				zoom: 1;
				}
			}
		
		.first {
			-webkit-border-top-left-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			border-left-width: 1px;

			.v-button-wrap {
				-webkit-border-top-left-radius: 2px;
				-webkit-border-bottom-left-radius: 2px;
				-moz-border-radius-topleft: 2px;
				-moz-border-radius-bottomleft: 2px;
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
				}
		
			}
		
		.last {
			-webkit-border-top-right-radius: 3px;
			-webkit-border-bottom-right-radius: 3px;
			-moz-border-radius-topright: 3px;
			-moz-border-radius-bottomright: 3px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		
			.v-button-wrap {
				-webkit-border-top-right-radius: 2px;
				-webkit-border-bottom-right-radius: 2px;
				-moz-border-radius-topright: 2px;
				-moz-border-radius-bottomright: 2px;
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
				}
			}
	}

	// sidebar-menu.css
	
	.sidebar-menu * {
		white-space: normal;
		}
	
	.sidebar-menu {
		.v-label {
			font-size: 11.05px;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 0.03em;
			padding: 1em .9em .3em;
			text-shadow: 0 1px 0 rgba(255,255,255,1);
			}
		
		.v-nativebutton {
			width: 100%;
			padding: .1em 1.1em;
			border: none;
			background: transparent;
			text-align: left;
			}
		
		.v-nativebutton:focus {
			outline: none;
			font-weight: bold;
			}
		
		.tab-selected,
		.selected {
			font-weight: bold;
			background-color: #333;
			background-image: url(../img/grad-light-top2.png);
			background-position: 0 -1px;
			color: #fff;
			}
		
		.tab-selected:focus,
		.selected:focus {
			outline: none;
			}
		
		.v-nativebutton::-moz-focus-inner {
			border: none;
			padding: 0;
			}
	}
	
	// toolbar.css
	
	.v-csslayout-toolbar {
		background: transparent url(../img/grad-light-top.png) repeat-x;
		border: 1px solid #b3b3b3;
		border-width: 1px 0;
	
		.v-csslayout-margin {
			margin: 3px .3em 2px;
			padding-bottom: 1px;
			overflow: hidden;
			}
		
		.v-button,
		.segment {
			margin-right: 2px;
			float: left;
			}
		
		.segment .v-button {
			margin-right: 0;
			}
		}

}