<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>Comboboxes</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Comboboxes</td></tr>
</thead><tbody>
<tr>
	<td>setSpeed</td>
	<td>200</td>
	<td>To avoid sporadic failures</td>
</tr>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.combobox.Comboboxes?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>initial</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VFilterSelect[0]/domChild[1]</td>
	<td>14,14</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>empty-open</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VFilterSelect[0]/domChild[1]</td>
	<td>14,11</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[3]/VFilterSelect[0]/domChild[1]</td>
	<td>10,9</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>undefined-wide-open</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[4]/VFilterSelect[0]/domChild[1]</td>
	<td>12,19</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>undefined-wide-select-wide-popup</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[3]/span</td>
	<td>163,4</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[3]/span</td>
	<td>163,4</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>undefined-wide-select-wide-popup-page-3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[5]/VFilterSelect[0]/domChild[1]</td>
	<td>5,11</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[6]/VFilterSelect[0]/domChild[1]</td>
	<td>9,9</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[7]/VFilterSelect[0]/domChild[1]</td>
	<td>13,10</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[8]/VFilterSelect[0]/domChild[1]</td>
	<td>11,12</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>fixed-select-wide-popup</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[3]/span</td>
	<td>184,2</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='VAADIN_COMBOBOX_OPTIONLIST']/div/div[3]/span</td>
	<td>184,2</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>fixed-select-wide-popup-page-3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[8]/VFilterSelect[0]/domChild[1]</td>
	<td>11,12</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<!--Open pagelength 0 combobox and capture-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[9]/VFilterSelect[0]/domChild[1]</td>
	<td>9,13</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>pagelength-0-popup-open</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<!--Start testing modes-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>23,5</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>readonly</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>35,3</td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>readonly-error</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>12,-8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>7,-8</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>readonly-required</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::PID_Scheckboxaction-Readonly/domChild[0]</td>
	<td>26,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::PID_Scheckboxaction-Required/domChild[0]</td>
	<td>3,-7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentscomboboxComboboxes::PID_Scheckboxaction-Error indicators/domChild[0]</td>
	<td>7,-8</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>error</td>
</tr>
</tbody></table>
</body>
</html>
