.itmtk .tree-menu .content, 
.itmtk .tree-menu .content .node, 
.itmtk .tree-menu .content .nodes, 
.itmtk .tree-menu .content .node IMG {
	background: none;
	border: 0;
}

#featurebrowser-divider {
	background-image: url(layout/img/tab_handle.png);
}

#featurebrowser-mainlayout
{
	background-image: url(layout/img/m_bg.png);
	background-repeat: no-repeat;
}

#featurebrowser-features {
	position: absolute;
	overflow: auto;
	left: 0;
}