<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">InlineDateFieldSecondValueChange</td></tr>
</thead><tbody>
<tr>
    <td>open</td>
    <td>/run/com.vaadin.tests.components.datefield.InlineDateFieldTest?restartApplication</td>
    <td></td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_Smenu#item0</td>
    <td>8,6</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
    <td>30,8</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
    <td>72,10</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
    <td>23,12</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_Smenu#item0</td>
    <td>42,7</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
    <td>46,10</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[1]/VMenuBar[0]#item4</td>
    <td>58,6</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
    <td>96,13</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_Smenu#item0</td>
    <td>29,13</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[0]/VMenuBar[0]#item3</td>
    <td>43,8</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
    <td>68,2</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[1]/domChild[0]/domChild[0]/domChild[1]/domChild[3]/domChild[3]/domChild[0]</td>
    <td>15,11</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_SLog_row_0</td>
    <td>325,15</td>
</tr>
<tr>
    <td>assertText</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_SLog_row_0</td>
    <td>3. ValueChangeEvent, new value: Dec 14, 2010 12:00:00.000</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[1]/domChild[0]/domChild[0]/domChild[1]/domChild[3]/domChild[2]/domChild[0]</td>
    <td>20,6</td>
</tr>
<tr>
    <td>assertText</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_SLog_row_0</td>
    <td>4. ValueChangeEvent, new value: Dec 13, 2010 12:00:00.000</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[0]/domChild[0]/domChild[0]</td>
    <td>11,13</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[1]/domChild[0]/domChild[0]/domChild[1]/domChild[3]/domChild[2]/domChild[0]</td>
    <td>18,12</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_SLog_row_0</td>
    <td>145,9</td>
</tr>
<tr>
    <td>assertText</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_SLog_row_0</td>
    <td>5. ValueChangeEvent, new value: Dec 14, 2009 12:00:00.000</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[0]/domChild[3]/domChild[0]</td>
    <td>11,5</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_StestComponent/domChild[0]/domChild[1]/domChild[1]/domChild[0]/domChild[0]/domChild[1]/domChild[3]/domChild[3]/domChild[0]</td>
    <td>20,9</td>
</tr>
<tr>
    <td>assertText</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldInlineDateFieldTest::PID_SLog_row_0</td>
    <td>6. ValueChangeEvent, new value: Jan 12, 2010 12:00:00.000</td>
</tr>

</tbody></table>
</body>
</html>
