<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.form.FormTest?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>person-default</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::PID_Smenu#item0</td>
	<td>29,0</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
	<td>49,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>54,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[2]/VMenuBar[0]#item1</td>
	<td>24,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>person-custom</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::PID_Smenu#item0</td>
	<td>29,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>35,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>74,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[2]/VMenuBar[0]#item1</td>
	<td>23,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>product-custom-formlayout</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::PID_Smenu#item0</td>
	<td>28,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
	<td>58,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>18,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>23,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>product-custom-gridlayout</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::PID_Smenu#item0</td>
	<td>40,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
	<td>41,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>59,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsformFormTest::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>64,11</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>product-custom-verticallayout</td>
</tr>

</tbody></table>
</body>
</html>
