@mixin chameleon-menubar($primaryStyleName : v-menubar) {

.#{$primaryStyleName} {
	padding: 0 .4em;
	background: #c9c9c9 url(../../img/grad-light-top.png) repeat-x;
	border: 1px solid #b3b3b3;
	border-width: 1px 0;
	}

.#{$primaryStyleName} .#{$primaryStyleName}-menuitem {
	padding: .2em .5em;
	line-height: normal;
	}

.#{$primaryStyleName}-submenu .#{$primaryStyleName}-menuitem {
	padding-right:1.5em;
	}

.#{$primaryStyleName}-submenu .#{$primaryStyleName}-submenu-indicator {
	margin-top: .1em;
	font-size: 11.7px;
	}

.#{$primaryStyleName}-submenu .#{$primaryStyleName}-menuitem-selected {
	background-image: url(../../img/grad-light-top2.png);
	background-position: 0 -1px;
	}
.#{$primaryStyleName}-popup {
	border-radius: 5px;
 }
}