.v-menubar {
	padding: 0 .4em;
	background: #c9c9c9 url(../../img/grad-light-top.png) repeat-x;
	border: 1px solid #b3b3b3;
	border-width: 1px 0;
	}

.v-ie6 .v-menubar {
	background-image: none;
	}

.v-menubar .v-menubar-menuitem {
	padding: .2em .5em;
	line-height: normal;
	}

.v-menubar-submenu .v-menubar-menuitem {
	padding-right:1.5em;
	}

.v-menubar-submenu .v-menubar-submenu-indicator {
	margin-top: .1em;
	}