/* Provide some extra whitespace for wrapped elements
   (these elements usually need the extra space, since 
   they aren't even handling their own caption) */
.i-captionwrapper {
	margin: 0.3em 0 0 0;
	text-align: left /* Force default alignment */
}

.i-errorindicator {
	width: 16px;
	height: 16px;
	padding-right:2px;
	display: block;
	float:left;
	background: transparent url(../icons/16/error.png) no-repeat;
	vertical-align: middle;
}

.i-caption .i-icon {
	padding-right:2px;
	vertical-align: middle;
}

.i-errormessage {
	padding: 7px;
	background-color: #FFE0E0;
	border: 1px solid #FFB0B0;
}