/* Provide some extra whitespace for wrapped elements
   (these elements usually need the extra space, since 
   they aren't even handling their own caption) */
.i-captionwrapper {
	margin: 0.3em 0 0 0;
	text-align: left /* Force default alignment */
}

.i-caption {
	overflow: hidden;
	white-space: nowrap;
}

.i-errorindicator {
	width: 12px;
	height: 16px;
	float: left;
	background: transparent url(../icons/16/error.png) no-repeat top right;
}

* html .i-errorindicator {
	background: transparent none;
	/* gif for transparency */
	background: transparent url(../icons/16/error.gif) no-repeat top right;
}
*+html .i-errorindicator {
	margin-left:-3px;
}
.i-caption .i-icon {
	padding-right: 2px;
	vertical-align: middle;
	float: left;
}
.i-caption .i-captiontext {
	float: left;
	overflow: hidden;
	vertical-align: middle;
}

.i-caption .i-required-field-indicator {
	float: left;
}
