@mixin base-panel($primaryStyleName : v-panel) {

.#{$primaryStyleName},
.#{$primaryStyleName}-caption,
.#{$primaryStyleName}-content,
.#{$primaryStyleName}-deco,
.#{$primaryStyleName}-light,
.#{$primaryStyleName}-caption-light,
.#{$primaryStyleName}-content-light,
.#{$primaryStyleName}-deco-light {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: left; /* Force default alignment */
}
.#{$primaryStyleName}-caption .v-errorindicator {
	float: none;
	display: inline;
}
.#{$primaryStyleName}-caption .v-icon {
	display: inline;
	vertical-align: middle;
}
.#{$primaryStyleName}-caption span {
	vertical-align: middle;
}
.#{$primaryStyleName}-caption {
	white-space: nowrap;
	overflow:hidden;
	font-weight: bold;
}
.#{$primaryStyleName}-nocaption {
	overflow: hidden;
}
.#{$primaryStyleName}-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.#{$primaryStyleName}.v-has-width > .#{$primaryStyleName}-content {
	width: 100%;
}
.#{$primaryStyleName}.v-has-height > .#{$primaryStyleName}-content {
	height: 100%;
}
.#{$primaryStyleName}-deco {
}

}