@mixin base-panel($name : v-panel) {

.#{$name},
.#{$name}-caption,
.#{$name}-content,
.#{$name}-deco,
.#{$name}-light,
.#{$name}-caption-light,
.#{$name}-content-light,
.#{$name}-deco-light {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: left; /* Force default alignment */
}
.#{$name}-caption .v-errorindicator {
	float: none;
	display: inline;
}
.#{$name}-caption .v-icon {
	display: inline;
	vertical-align: middle;
}
.#{$name}-caption span {
	vertical-align: middle;
	display: table-row;
}
.#{$name}-caption {
	white-space: nowrap;
	overflow:hidden;
	font-weight: bold;
}
.#{$name}-nocaption {
	overflow: hidden;
}
.#{$name}-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.#{$name}.v-has-width > .#{$name}-content {
	width: 100%;
}
.#{$name}.v-has-height > .#{$name}-content {
	height: 100%;
}
.#{$name}-deco {
}

}