<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.nativebutton.NativeButtonTest?restartApplication</td>
	<td></td>
</tr>
<!--  click listener-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_Smenu#item0</td>
	<td>37,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>28,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>35,8</td>
</tr>
<!--disable on click-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_Smenu#item0</td>
	<td>39,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
	<td>33,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>22,4</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_SLog_row_0</td>
	<td>1. Command: /Disable on click(true)</td>
</tr>
<!--click button-->
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_StestComponent</td>
	<td></td>
</tr>
<tr>
	<td>assertCSSClass</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_StestComponent</td>
	<td>v-disabled</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_SLog_row_0</td>
	<td>2. ClickEvent</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_StestComponent</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_SLog_row_0</td>
	<td>2. ClickEvent</td>
</tr>
<!--re-enable-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_Smenu#item0</td>
	<td>35,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>34,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>15,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_Smenu#item0</td>
	<td>43,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>37,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>33,6</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_SLog_row_0</td>
	<td>4. Command: /Enabled(true)</td>
</tr>
<tr>
	<td>assertNotCSSClass</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_StestComponent</td>
	<td>v-disabled</td>
</tr>
<!--no longer disable on click-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_Smenu#item0</td>
	<td>25,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::Root/VOverlay[0]/VMenuBar[0]#item4</td>
	<td>39,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>36,3</td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_StestComponent</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_SLog_row_0</td>
	<td>6. ClickEvent</td>
</tr>
<tr>
	<td>assertNotCSSClass</td>
	<td>vaadin=runcomvaadintestscomponentsnativebuttonNativeButtonTest::PID_StestComponent</td>
	<td>v-disabled</td>
</tr>
</tbody></table>
</body>
</html>
