<pre>
&lt;table width=&quot;100%&quot; height=&quot;100%&quot;&gt;
  &lt;tr height=&quot;100%&quot;&gt;
    &lt;td&gt;
      &lt;table align=&quot;center&quot;&gt;
        &lt;tr&gt;
          &lt;td align=&quot;right&quot;&gt;User&amp;nbsp;name:&lt;/td&gt;
          &lt;td&gt;&lt;div location=&quot;username&quot;&gt;&lt;/div&gt;&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
          &lt;td align=&quot;right&quot;&gt;Password:&lt;/td&gt;
          &lt;td&gt;&lt;div location=&quot;password&quot;&gt;&lt;/div&gt;&lt;/td&gt;
        &lt;/tr&gt;
      &lt;/table&gt;
    &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td align=&quot;right&quot; colspan=&quot;2&quot;&gt;&lt;div location=&quot;okbutton&quot;&gt;&lt;/div&gt;&lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;
</pre>