.v-gridlayout-gridexample .v-gridlayout-spacing-on {
	/* adjust spacing size */
	padding: 1px;
}

/* visualize the grid cells */
.v-gridlayout-gridexample div {
	background-color: #fff;
}

.v-gridlayout-gridexample div div div {
	background-color: #eee;
}