/****************************************************************************
 * sampler/layouts/styles.css
 *
 * Styles for the layout examples in Sampler.
 *
 ****************************************************************************/

/****************************************************************************
 * Layout alignment example
 ****************************************************************************/

.i-gridlayout-example-alignment {
	background: blue;
}

.i-gridlayout-example-alignment .i-gridlayout-margin {
    padding: 3px;
}

div.i-gridlayout-example-alignment > div.i-gridlayout-margin > div > div {
	padding: 3px;
    background: yellow;
}
