.content-navigation {
	border-color: #3bbfce;
	color: #0000ff;
}

.border {
	padding: 8px;
	margin: 8px;
	border-color: #3bbfce;
}

.body {
	background-image: url(../folder-test2/bg.png);
	background: transparent url(../folder-test2/img/loading-indicator.gif);
	background-image: url(http://abc/bg.png);
	background-image: url(/abc/bg.png);
}

.base {
	color: red;
}

.text {
	font-weight: bold;
}