<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://artur-laptop.office.itmill.com:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.textarea.TextAreaTest?restartApplication</td>
	<td></td>
</tr>
<!--ValueChangeListener-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::PID_Smenu#item0</td>
	<td>35,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>37,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>42,9</td>
</tr>
<!--Null representation-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::PID_Smenu#item0</td>
	<td>22,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>32,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>52,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>17,7</td>
</tr>
<!--Type null representation-->
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::PID_StestComponent</td>
	<td>This is empty</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]</td>
	<td>176,130</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::PID_SLog/ChildComponentContainer[0]/VLabel[0]</td>
	<td>2. ValueChangeEvent, new value: null</td>
</tr>
<!--Enter text-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::PID_StestComponent</td>
	<td>44,10</td>
</tr>
<tr>
	<td>enterCharacter</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::PID_StestComponent</td>
	<td>abc</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::PID_SLog/ChildComponentContainer[0]/VLabel[0]</td>
	<td>3. ValueChangeEvent, new value: 'abc'</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::PID_StestComponent</td>
	<td>74,14</td>
</tr>
<!--Type null representation-->
<tr>
	<td>type</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::PID_StestComponent</td>
	<td>This is empty</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]</td>
	<td>176,130</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstextareaTextAreaTest::PID_SLog/ChildComponentContainer[0]/VLabel[0]</td>
	<td>4. ValueChangeEvent, new value: null</td>
</tr>
</tbody></table>
</body>
</html>
