@import url(../default/styles.css);

/*****************************************************************************/
/* Ticket 1710                                                               */
/*****************************************************************************/

.i-orderedlayout-controls {
	overflow: auto;
	white-space : nowrap; 
}

.i-orderedlayout-tested-layout, .i-gridlayout-tested-layout, .i-expandllayout-tested-layout {
	background-color: #fff;
}
	
.i-panel-content-layout-testing-panel {
	background-color: #eee;	
}


/*****************************************************************************/
/* Ticket 1857                                                               */
/*****************************************************************************/

.i-table-cell-content-old {
	color: brown;
}

.i-table-cell-content-young {
	color: green;
}

/*****************************************************************************/
/* Ticket 1902                                                               */
/*****************************************************************************/

.i-orderedlayout-red-background {
	background: red;
	}
