@import url(../default/styles.css);

/*****************************************************************************/
/* Ticket 1710                                                               */
/*****************************************************************************/

.i-orderedlayout-tested-layout, .i-gridlayout-tested-layout, .i-expandllayout-tested-layout {
	background-color: #fff;
}
	
.i-panel-content-layout-testing-panel {
	background-color: #eee;	
}

.i-panel-content-testarea {
	background-color: #f4f4f4;	
}



	
/*****************************************************************************/
/* Ticket 1857                                                               */
/*****************************************************************************/

.i-table-cell-content-old {
	color: brown;
}

.i-table-cell-content-young {
	color: green;
}

/*****************************************************************************/
/* Ticket 1902                                                               */
/*****************************************************************************/

.i-orderedlayout-red-background {
	background: red;
	}
	
/*****************************************************************************/
/* Ticket 1921                                                               */
/*****************************************************************************/

.i-orderedlayout-red {
	background: red;
}

.i-orderedlayout-blue {
	background: blue;
}

/*****************************************************************************/
/* Ticket 1924                                                               */
/*****************************************************************************/

.i-label-red {
	background: red;
}
