.i-window {
	border: 1px solid #999;
}
.i-window-header {
	background: yellow;
	height:20px;
}

.i-window-footer {
	background: #0f0;
	height:0px;
}

.i-window-contents {
	background: #fff;
	overflow:auto;
}

.i-window-resizeBox {
	position:absolute;
	bottom:0;
	right:0;
	background: black;
	width: 5px;
	height: 5px;
	float:right;
}
