/*--------------------------
  Default (horizontal) styles
  --------------------------*/

.i-slider {
	border: 1px solid #d8dbdc;
	height: 2px;
	margin: 5px 0;
}

.i-slider-base {
	height: 1px;
	border-top: 1px solid #e5e8e8;
	background: #fff;
}
.i-slider-handle {
	background: #babfc0 url(img/handle-horizontal.png);
	width: 7px;
	height: 15px;
	margin-top: -5px;
	font-size: 0;
	cursor: pointer;
}
/* TODO
.i-slider-bigger {
	background: #dde4ef url(img/arrow-right.png);
	float: right;
	width: 14px;
	height: 14px;
	overflow: hidden;
	margin: 0 0 0 1px;
}

.i-slider-bigger:hover {
	background-image: url(img/arrow-right-over.png);
}

.i-slider-smaller {
	background: #dde4ef url(img/arrow-left.png);
	float: left;
	width: 14px;
	height: 14px;
	overflow: hidden;
	margin: 0 1px 0 0;
}

.i-slider-smaller:hover {
	background-image: url(img/arrow-left-over.png);
}
*/


/*-----------------
  Vertical styles 
  -----------------*/

.i-slider-vertical {
	width: 2px;
	height: auto;
	margin: 0 5px;
}
.i-slider-vertical .i-slider-base {
	width: 1px;
	border-left: 1px solid #e5e8e8;
	background: #fff;
}
.i-slider-vertical .i-slider-handle {
	background: #babfc0 url(img/handle-vertical.png);
	width: 14px;
	height: 7px;
	font-size: 0;
	cursor: pointer;
	margin-left: -7px;
}
.i-slider-vertical .i-slider-bigger {

}
.i-slider-vertical .i-slider-smaller {

}