.i-slider {
	border-top: 1px solid #cccfd0;
	border-bottom: 1px solid #cccfd0;
	margin: 5px 0;
}
.i-slider-base {
	/* changing the borders will require adjustments to ISlider.java */
	height: 2px;
	background: #f3f3f4;
	border-top: 1px solid #cbcdce;
	border-left: 1px solid #cccfd0;
	border-right: 1px solid #cccfd0;
}
.i-slider-handle {
	background: transparent url(img/handle-horizontal.png);
	width: 12px;
	height: 12px;
	margin-top: -5px;
	cursor: pointer;
}
.i-slider-handle:hover {
	background-position: left bottom;
}
.i-slider-scrollbar .i-slider-handle,
.i-slider-scrollbar.i-slider-vertical .i-slider-handle {
	background: #ffffff;
	border: 1px solid #cccfd0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.i-slider-vertical {
	width: 3px;
	margin: 0 5px;
	border: none;
	border-left: 1px solid #cccfd0;
	border-right: 1px solid #cccfd0;
}
.i-slider-vertical .i-slider-base {
	width: 2px;
	border-left: 1px solid #cbcdce;
	border-right: none;
	background: #f3f3f4;
	border-top: 1px solid #cccfd0;
	border-bottom: 1px solid #cccfd0;	
}
.i-slider-vertical .i-slider-handle {
	background: transparent url(img/handle-vertical.png);
	width: 12px;
	height: 12px;
	margin-left: -5px;
}
.i-slider-vertical .i-slider-handle:hover {
	background-position: left bottom;
}

/* Disabled by default
.i-slider-error .i-slider-base {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/* Disabled by default
.i-slider-required .i-slider-base {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/* IE specific styles */

.i-ie6 .i-slider,
.i-ie6 .i-slider-vertical {
	margin: 0;
}
.i-ie6 .i-slider .i-slider-handle {
	margin: -1px 0;
}
.i-ie6 .i-slider-vertical .i-slider-handle {
	margin: 0 -1px;
}