.v-app select,
.v-window select {
	padding: 1px;	
}

select {
	background-color: #fff;	
}

.v-ie6 select { 
	font-size: 1em;
}

.v-filterselect-button {
	width: 24px;
	height: 24px;
	background: transparent url(../common/buttons_sprites.png) no-repeat 0 0;
}

.v-filterselect-button:hover {
	background-position: 0px -24px;
}

.v-filterselect-suggestpopup {
	border: 1px solid #98C0F4;	
}

.v-filterselect-suggestmenu {
	min-height: 2px;	
}

.v-filterselect-prevpage,
.v-filterselect-prevpage-off,
.v-filterselect-nextpage,
.v-filterselect-nextpage-off {
	background-color: #fff;
}

.v-filterselect-prevpage span,
.v-filterselect-prevpage-off span,
.v-filterselect-nextpage span,
.v-filterselect-nextpage-off span {
	display: block;
	height: 8px;
	width: 16px;
	margin-left: auto;
	margin-right: auto;
	text-indent: -99999px;
}

.v-filterselect-prevpage span, .v-filterselect-nextpage span {
	background: transparent no-repeat 0 -4px;
  	background-image: url(/html/themes/classic/images/aui/icon_sprite.png);
}

.v-filterselect-nextpage span {
	background-position: -65px -4px;
}
.v-filterselect-suggestmenu .gwt-MenuItem span {
	display: block;
	width: 100%;
	height: 18px;
	border: 1px solid #fff;
	border-style: solid none;
	
}

.v-filterselect-suggestmenu .gwt-MenuItem-selected span {
	color: #000;
	background: #dfe8f6;
	border-color: #a3bae9;
}

.v-filterselect-suggestmenu .gwt-MenuItem .v-icon {
	float: left;
}

.v-select-twincol-buttons .v-button-wrap { 
	padding-left: 11px;
	padding-right: 11px;
}