<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8888/run/com.vaadin.tests.components.ui.IdOverrideTest?restartApplication" />
<title>IdOverrideTest</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">IdOverrideTest</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.ui.IdOverrideTest?restartApplication</td>
	<td></td>
</tr>
<!-- Ensure the default components are present with correct ids -->
<tr>
	<td>assertElementPresent</td>
	<td>default10179</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>set10179</td>
	<td></td>
</tr>
<!-- Remove id from the middle component -->
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsuiIdOverrideTest::PID_Stoggle/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>default10179</td>
	<td></td>
</tr>
<tr>
	<td>assertElementNotPresent</td>
	<td>set10179</td>
	<td></td>
</tr>
<!-- Re-add id to the middle component -->
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsuiIdOverrideTest::PID_Stoggle/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>default10179</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>set10179</td>
	<td></td>
</tr>
</tbody></table>
</body>
</html>