<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.ui.LazyInitUIs/normalPath?restartApplication#normalFragment</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsuiLazyInitUIs::/VVerticalLayout[0]/ChildComponentContainer[0]/VLabel[0]</td>
	<td>NormalUI<br />pathInfo: /com.vaadin.tests.components.ui.LazyInitUIs/normalPath<br />parameters: [*restartApplication*]<br />uri fragment: normalFragment</td>
</tr>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.ui.LazyInitUIs/lazyCreatePath?lazyCreate#lazyCreateFragment</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsuiLazyInitUIs::/VVerticalLayout[0]/ChildComponentContainer[0]/VLabel[0]</td>
	<td>LazyCreateUI<br />pathInfo: /com.vaadin.tests.components.ui.LazyInitUIs/lazyCreatePath<br />parameters: [*lazyCreate*]<br />uri fragment: lazyCreateFragment</td>
</tr>
<!--  The last part does not really test anything as EagerInit is not working -->
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.ui.LazyInitUIs/eagerPath/?eagerInit#eagerFragment</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentsuiLazyInitUIs::/VVerticalLayout[0]/ChildComponentContainer[0]/VLabel[0]</td>
	<td>EagerInitUI<br />pathInfo: /com.vaadin.tests.components.ui.LazyInitUIs/eagerPath/<br />parameters: [*eagerInit*]<br />uri fragment: eagerFragment</td>
</tr>
</tbody></table>
</body>
</html>
