<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>TreeTableExtraScrollbar</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">TreeTableExtraScrollbar</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.treetable.TreeTableExtraScrollbarWithChildren?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>button</td>
	<td></td>
</tr>
<tr>
    <td>pause</td>
    <td>300</td>
    <td></td>
</tr>
<!-- screenCapture should not have a horizontal scrollbar, and the columns should be the same width in body and headers -->
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>expanded</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>button</td>
	<td></td>
</tr>
<tr>
    <td>pause</td>
    <td>300</td>
    <td></td>
</tr>
<!-- screenCapture should not have a horizontal scrollbar, the columns should be back to original width in body and headers, and vertical scrollbar shouldn't have left an empty space -->
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>collapsed</td>
</tr>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.treetable.TreeTableExtraScrollbarWithChildren</td>
	<td></td>
</tr>
<tr>
    <td>pause</td>
    <td>300</td>
    <td></td>
</tr>
<!-- screenCapture should not have changed -->
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>refreshed</td>
</tr>
</tbody></table>
</body>
</html>
