.i-button {
	cursor: pointer;
	font-size: 13px;
}

.i-button img {
	display:inline;
}

.i-button-link {
	border: none;
	text-align: left;
	text-decoration: underline;
	background: none;
	padding: 0;
}
.i-button-link span {
	text-decoration: underline;
}

/* Disabled by default
.i-checkbox-error {
	background:transparent;
	background-color: #FFE0E0;
}
*/

/* Disabled by default
.i-checkbox-required {
	background:transparent;
	background-color: #FFE0E0;
}
*/