@mixin chameleon-panel($primaryStyleName : v-panel) {

.#{$primaryStyleName}-caption {
	background: #b9dcff;
	font-size: 15.6px;
	border: 1px solid #b3b3b3;
	border-bottom: none;
	padding: .2em .6em;
	}

.#{$primaryStyleName}-nocaption {
	padding: 0;
	height: 0;
	overflow: hidden;
	border-top: 1px solid #b3b3b3;
	}

.#{$primaryStyleName}-content {
	background: #fff;
	border: 1px solid #b3b3b3;
	border-top: none;
	border-bottom: none;
	}

.#{$primaryStyleName}-deco {
	height: 0;
	overflow: hidden;
	border-top: 1px solid #b3b3b3;
	}


/*******************************************************************************
 * Borderless
 ******************************************************************************/
div.#{$primaryStyleName}-caption-borderless {
	border: none;
	}

div.#{$primaryStyleName}-nocaption-borderless,
div.#{$primaryStyleName}-content-borderless,
div.#{$primaryStyleName}-deco-borderless {
	border: none;
	background: transparent;
	}


/*******************************************************************************
 * Light
 ******************************************************************************/
.#{$primaryStyleName}-light .#{$primaryStyleName}-caption-light {
	background: transparent;
	font-weight: normal;
	border-bottom: 1px solid #b3b3b3;
	}

div.#{$primaryStyleName}-content-light {
	background: transparent;
	}


/*******************************************************************************
 * Bubble
 ******************************************************************************/
.#{$primaryStyleName}-bubble .#{$primaryStyleName}-captionwrap {
	border: 1px solid #b3b3b3;
	border-bottom: none;
	background: #fff;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	padding: 1px 2px;
	overflow: hidden;
	}

.#{$primaryStyleName}-bubble .#{$primaryStyleName}-caption-bubble {
	border: none;
	background-image: url(../../img/grad-light-top.png);
	background-repeat: repeat-x;
	background-position: 0 -1px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 1px 0;
	font-size: 13px;
	line-height: 1.2;
	padding: .3em .6em;
	}

.#{$primaryStyleName}-nocaption-bubble {
	padding: 0;
	margin: 0;
	border: none;
	}

.#{$primaryStyleName}-deco-bubble {
	height: 2px;
	border: 1px solid #b3b3b3;
	border-top: none;
	background: #fff;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	}


/*******************************************************************************
 * Borderless Bubble
 ******************************************************************************/
div.#{$primaryStyleName}-borderless .#{$primaryStyleName}-captionwrap,
div.#{$primaryStyleName}-borderless .#{$primaryStyleName}-deco-bubble {
	border: none;
	padding: 0;
	background: transparent;
	}

div.#{$primaryStyleName}-borderless .#{$primaryStyleName}-content-bubble {
	background: transparent;
	}

}