/******************************************************************************
 * Sampler styles
 ******************************************************************************/
#sampler {
	background-color: white;
}
#sampler .i-orderedlayout-topbar {
	border-bottom: 1px solid #999;
}

#sampler .i-label-section {
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid black;
	line-height: 35px;
}
#sampler .i-label-subsection {
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	text-indent: 7px;
}

#sampler .i-button-screenshot {
	border: 3px solid #eeeeee;
	overflow: hidden;
}
#sampler .i-button-screenshot img {
	margin-top: -2px;
	margin-left: -3px;
}

#sampler tr.i-table-row-section {
	color: #333366;
	font-size: 18px;
	font-weight: bold;
}
#sampler tr.i-table-row-subsection {
	font-size: 16px;
	font-weight: bold;
}

#sampler .i-panel-content-light {
	border-top: 0px;
}

#sampler .feature-main {
	padding: 20px;
}
#sampler .feature-controls {
	margin-bottom: 20px;
}
#sampler .feature-controls .i-caption {
	font-weight: bold;
	font-size: 16px;
}
#sampler .feature-info {
	background-color: #999;
	color: white;
	padding: 20px;
	line-height: 20px;
}
#sampler .feature-info div.i-link a {
	color: white;
	line-height: 20px;
}
#sampler .feature-name {
	font-size: 22px;
	font-weight: bold;
	line-height: 35px;
}

#sampler .feature-info .i-caption {
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	margin-top: 10px;
}

.i-customcomponent-ModeSwitch .i-button {
	height: 28px;
	border: none;
	font-size: 6px;
}
.i-customcomponent-ModeSwitch .i-button-first-on {
	background: transparent url(left-on.gif) no-repeat;
}
.i-customcomponent-ModeSwitch .i-button-first {
	background: transparent url(left.gif) no-repeat;
}
.i-customcomponent-ModeSwitch .i-button-mid-on {
	background: transparent url(mid-on.gif) no-repeat;
}
.i-customcomponent-ModeSwitch .i-button-mid {
	background: transparent url(mid.gif) no-repeat;
}
.i-customcomponent-ModeSwitch .i-button-last-on {
	border: none;
	background: transparent url(right-on.gif) no-repeat right top;
}
.i-customcomponent-ModeSwitch .i-button-last {
	border: none;
	background: transparent url(right.gif) no-repeat right top;
}
