/******************************************************************************
 * Sampler styles
 ******************************************************************************/
.i-app-SamplerApplication {
	background-color: white;
}
.i-app-SamplerApplication .i-horizontallayout-topbar {
	border-bottom: 3px solid #ccc;
}
.i-app-SamplerApplication .i-horizontallayout-togglebar {
	border-bottom: 1px solid #eee;
	background: transparent url(grayfade.png) repeat-x;
}

.i-customcomponent-breadcrumbs .i-link a {
	text-decoration: none;
}
.i-customcomponent-breadcrumbs .i-link a:hover {
	text-decoration: underline;
}
.i-customcomponent-breadcrumbs .i-link-bold a {
	font-weight: bold;	
}

.i-app-SamplerApplication .i-horizontallayout-topbar .i-button-link span {
	text-decoration: none;
}
.i-app-SamplerApplication .i-horizontallayout-topbar .i-button-link:hover span {
	text-decoration: underline;
}

.i-app-SamplerApplication .i-label-section {
	font-size: 18px;
	font-weight: bold;
	border-bottom: 3px solid #eee;
	line-height: 35px;
	text-indent: 15px;
}
.i-app-SamplerApplication .i-label-subsection {
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	text-indent: 15px;
}
.i-app-SamplerApplication .i-button-screenshot {
	border: 3px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}
.i-app-SamplerApplication .i-button-screenshot:hover {
	border-color: #abc;
}
.i-app-SamplerApplication .i-button-screenshot img {
	margin-top: -2px;
	margin-left: -3px;
}

.i-app-SamplerApplication tr.i-table-row,
.i-app-SamplerApplication tr.i-table-row-odd {
	height: 50px;
}
.i-app-SamplerApplication tr.i-table-row-section {
	color: #333366;
	font-size: 18px;
	font-weight: bold;
}
.i-app-SamplerApplication tr.i-table-row-subsection {
	font-size: 16px;
	font-weight: bold;
}

.i-app-SamplerApplication .i-table-featuretable .i-table-body {
	border: transparent;	
}

.i-app-SamplerApplication .i-panel-content-light {
	border-top: 0px;
}

.i-app-SamplerApplication .i-panel-feature-main {
	background: transparent url(grayfade.png) repeat-x;
}
.i-app-SamplerApplication .i-caption-feature-controls {
	font-weight: bold;
	font-size: 16px;
	text-indent: 10px;
}
.i-app-SamplerApplication .feature-info {
	background-color: #999;
	color: white;
	line-height: 20px;
}
.i-app-SamplerApplication .feature-info div.i-link a {
	color: white;
	line-height: 20px;
}
.i-app-SamplerApplication .feature-info .i-panel-caption {
	color: #def;
	font-size: 22px;
	font-weight: bold;
	line-height: 25px;
}
.i-app-SamplerApplication .feature-info .i-panel-content {
	background: transparent url(finfofade.png) no-repeat 0px 5px;
}
.i-app-SamplerApplication .feature-info .i-caption {
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
}

.i-app-SamplerApplication .i-button-showcode {
	border-bottom: 1px solid #eee;
	padding-right: 10px;
}
.i-app-SamplerApplication .i-button-showcode span {
	float: right;
	text-decoration: none;
	font-style: italic;
}
.i-app-SamplerApplication .i-button-showcode:hover span {
	text-decoration: underline;
}
.i-app-SamplerApplication .i-panel-content-source {
	border: 1px solid #eee;
	border-top: none;
}

.i-customcomponent-ModeSwitch .i-button {
	height: 28px;
	border: none;
	font-size: 6px;
}
.i-customcomponent-ModeSwitch .i-button-first-on {
	background: transparent url(left-on.gif) no-repeat;
}
.i-customcomponent-ModeSwitch .i-button-first {
	background: transparent url(left.gif) no-repeat;
}
.i-customcomponent-ModeSwitch .i-button-mid-on {
	background: transparent url(mid-on.gif) no-repeat;
}
.i-customcomponent-ModeSwitch .i-button-mid {
	background: transparent url(mid.gif) no-repeat;
}
.i-customcomponent-ModeSwitch .i-button-last-on {
	border: none;
	background: transparent url(right-on.gif) no-repeat right top;
}
.i-customcomponent-ModeSwitch .i-button-last {
	border: none;
	background: transparent url(right.gif) no-repeat right top;
}
