
<h3>Support</h3>

<p>
IT Mill offers a service, one that is expert, flexible and reliable.
We cover the gamut of software development - we are technology
consultants, a turnkey systems providers, a support center for the
customer's internal product development.
</p>

<p>
We offer maintenance as well as additional development services for
all the software we build. However, it is one of our principles that
the customer should always be free to solicit competing bids for
further development and software maintenance.
</p>
