@mixin reindeer-popupview($primaryStyleName : v-popupview) {

.#{$primaryStyleName} {
	color: #1b699f;
}
.#{$primaryStyleName}:hover {
	color: #2483c4;
}
.#{$primaryStyleName}-popup {
	background: #fff;
	padding: 3px;
}

}