.v-button {
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
}
.v-button span {
	white-space: nowrap;
}
.v-checkbox input {
	vertical-align: middle;
}
.v-button img,
.v-checkbox img {
	display: inline;
	vertical-align: middle;
	margin-right: 3px;
}
.v-button span,
.v-checkbox label {
	vertical-align: middle;
}
.v-button-link {
	border: none;
	text-align: left;
	background: none;
	padding: 0;
}
/* Inset Safari focus outline a bit */
.v-sa .v-button-link:focus {
	outline-offset: -3px;
}
.v-button-link span {
	text-decoration: underline;
}
.v-checkbox {
	white-space: nowrap;	
}
.v-checkbox .v-errorindicator {
	float: none;
	display: inline;
	padding-left: 1em;
	background-position: left;
}
/* Fixes streched buttons in IE6 and IE7*/
.v-ie6 .v-button {
	width: 1px;
}
.v-ie6 .v-button,
.v-ie7 .v-button,
.v-ie8 .v-button {
	overflow: visible;
	padding-left: 1em;
	padding-right: 1em;
}
/* Error indicator on checkbox fix for IE6 */
.v-ie6 .v-checkbox * {
	float: left;
	display: inline; /* In effect, does nothing, since float:left forces block-rendering, but will fix "double-float-margin-bug" */
}
.v-ie6 .v-checkbox .v-errorindicator {
	background-position: right;
	display: inline;
	float: left;
	padding-left: 0; 
	padding-right: 0.4em;
}
/* Error indicator on checkbox fix for IE7 */
.v-ie7 .v-checkbox *,
.v-ie8 .v-checkbox * {
	float: left;
}
.v-ie7 .v-checkbox .v-errorindicator,
.v-ie8 .v-checkbox .v-errorindicator {
	background-position: right;
	float: left;
	padding-left: 0;
	padding-right: 0.7em;
}
/* Error indicator on button fix for IE */
.v-ie6 button .v-errorindicator,
.v-ie7 button .v-errorindicator,
.v-ie8 button .v-errorindicator {
	display: inline;
	padding-right: 0.5em;
}
/* Disabled by default
.v-checkbox-error {
	background: #ffe0e0;
}
*/
/* Disabled by default
.v-checkbox-required {
	background: #ffe0e0;
}
*/