@mixin runo-notification($primaryStyleName : v-Notification) {

.#{$primaryStyleName} {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #94a0a3;
	color: #ffffff;
	padding: 20px 45px;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	font-size: 15.6px;
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.3);
	margin: 10px;
}
.#{$primaryStyleName} h1,
.#{$primaryStyleName} p,
.#{$primaryStyleName}-error h1,
.#{$primaryStyleName}-error p,
.#{$primaryStyleName}-warning h1,
.#{$primaryStyleName}-warning p {
	display: inline;
	font-weight: normal;
	line-height: normal;
	margin: 0 10px 0 0;
}
.#{$primaryStyleName}-warning {
	background: #fff1e4;
	color: #dd3400;
	border: 2px solid #ffaa90;
	opacity: 1;
}
.#{$primaryStyleName}-error {
	background: #f13d13 url(img/close-error.png) no-repeat right 5px;
	padding-right: 50px;
}
.#{$primaryStyleName}-tray {
	background: #575e60;
	padding: 3px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	max-width: 17em;
}
.#{$primaryStyleName}-tray h1 {
	display: block;
	font-weight: bold;
	font-size: 11.7px;
	line-height: 1;
	background: #3b4245;
	padding: 2px 10px;
	margin: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.#{$primaryStyleName}-tray p {
	display: block;
	font-size: 10.4px;
	line-height: 1.2;
	margin: 4px 10px 5px 10px;
	color: #e4e7ea;
}
.#{$primaryStyleName}-system {
	background-color: #ff0a0a;
	font-size: 11.7px;
	padding: 14px 32px;
}

}