.v-Notification {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #94a0a3;
	color: #ffffff;
	padding: 20px 45px;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	font-size: 1.2em;
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.3);
	margin: 10px;
}
.v-Notification h1,
.v-Notification p,
.v-Notification-error h1,
.v-Notification-error p,
.v-Notification-warning h1,
.v-Notification-warning p {
	display: inline;
	font-weight: normal;
	line-height: normal;
	margin: 0 10px 0 0;
}
.v-Notification-warning {
	background: #fff1e4;
	color: #dd3400;
	border: 2px solid #ffaa90;
	opacity: 1;
}
.v-Notification-error {
	background: #f13d13 url(img/close-error.png) no-repeat right 5px;
	padding-right: 50px;
}
.v-Notification-tray {
	background: #575e60;
	padding: 3px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
	max-width: 17em;
}
.v-Notification-tray h1 {
	display: block;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 1;
	background: #3b4245;
	padding: 2px 10px;
	margin: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.v-Notification-tray p {
	display: block;
	font-size: 0.8em;
	line-height: 1.2;
	margin: 4px 10px 5px 10px;
	color: #e4e7ea;
}
.v-Notification-system {
	background-color: #ff0a0a;
	font-size: .9em;
	padding: 14px 32px;
}