@mixin chameleon-window($primaryStyleName : v-window) {

.#{$primaryStyleName} {
	 border-radius: 3px;
}
.#{$primaryStyleName}-closebox,
.#{$primaryStyleName}-restorebox,
.#{$primaryStyleName}-maximizebox {
	width: 14px;
	height: 15px;
	overflow: hidden;
	vertical-align: middle;
	margin: 0;
	top: .3em;
	z-index: 2;
	&:hover {
		background-position: 0 -25px;
	}
	&:active {
		background-position: 0 -50px;
	}
}
.#{$primaryStyleName}-closebox {
	text-indent: -50px;
	background: transparent url(../../img/close-btn.png) no-repeat;
	right: .4em;
}
.#{$primaryStyleName}-restorebox,
.#{$primaryStyleName}-maximizebox {
	right: 1.8em;
}

.#{$primaryStyleName}-restorebox {
	background: transparent url(../../img/restore.png) no-repeat;
}
.#{$primaryStyleName}-maximizebox {
	background: transparent url(../../img/maximize.png) no-repeat;
}


.#{$primaryStyleName} {
	background-image: none;
	}

.#{$primaryStyleName}-wrap {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-image: url(../../img/grad-light-top.png);
	background-repeat: repeat-x;
	}
.#{$primaryStyleName}-outerheader {
	padding: .2em 1.7em .5em 1.2em;
	height: auto;
	text-align: center;
	}

.#{$primaryStyleName}-header {
	font-weight: normal;
	}

.#{$primaryStyleName}-footer {
	height: 0;
	position: static;
	}

.#{$primaryStyleName}-resizebox {
	background: transparent url(../../img/resize.png) no-repeat;
	width: 14px;
	height: 14px;
	bottom: 0;
	}

}