@import url(../runo/styles.css);

/* DO NOT ADD GENERIC RULES LIKE .v-table IN THIS FILE */

/*****************************************************************************/
/* Ticket 1904                                                               */
/*****************************************************************************/

.v-orderedlayout-ticket1904 {
	background-color: red;
}

.v-orderedlayout-ticket1904-margin-top {
	padding-top: 20px;
}
.v-orderedlayout-ticket1904-margin-right {
	padding-right: 10px;
}
.v-orderedlayout-ticket1904-margin-bottom {
	padding-bottom: 40px;
}
.v-orderedlayout-ticket1904-margin-left {
	padding-left: 5px;
}

.v-orderedlayout-ticket1904-vspacing {
	margin-top: 20px;
}
.v-orderedlayout-ticket1904-hspacing {
	padding-left: 40px;
}
	
/*****************************************************************************/
/* Ticket 1710                                                               */
/*****************************************************************************/

.v-orderedlayout-tested-layout, .v-gridlayout-tested-layout, .v-expandllayout-tested-layout {
	background-color: #fff;
}
	
.v-panel-content-layout-testing-panel {
	background-color: #eee;	
}

.v-panel-content-testarea {
	background-color: #f4f4f4;	
}



	
/*****************************************************************************/
/* Ticket 1857                                                               */
/*****************************************************************************/

.v-table-cell-content-old {
	color: brown;
}

.v-table-cell-content-young {
	color: green;
}

/*****************************************************************************/
/* Ticket 1902                                                               */
/*****************************************************************************/

.v-orderedlayout-red-background {
	background: red;
	}
	
/*****************************************************************************/
/* Ticket 1921                                                               */
/*****************************************************************************/

.v-orderedlayout-red {
	background: red;
}

.v-orderedlayout-blue {
	background: blue;
}

/*****************************************************************************/
/* Ticket 1924                                                               */
/*****************************************************************************/

.v-label-red {
	background: red;
}

/**  #1953 */
.v-gridlayout-borders td,
.v-gridlayout-borders {
	border: 1px solid black;
	border-collapse: collapse;
}

.v-button-test-heading
 {
 	width: 100px;
 	height: 50px;	
 }
 
 .v-label-test-spacer
 {
 	width: 20px;
 	height: 48px;
 	background-color: black;
 }
 
 .v-label-test-cell
 {
 	width: 100px;
 	height: 48px;
 }
 
 .v-label-test-col-head
 {
 	width: 100px;
 	height: 48px;
 	background-color: navy;
 	text-align: center;
 }
 
 .v-button-test-page-change
 {
 	width: 100px;
 	height: 50px;
 }
/*****************************************************************************/
/* Ticket 124                                                               */
/*****************************************************************************/

.v-gridlayout-border td {
	border: 1px solid black;
}

/* #1919 */

.v-gridlayout-test .v-gridlayout-margin-top {
	padding-top: 100px;
}

.v-gridlayout-test .v-gridlayout-margin-left {
	padding-left: 5px;
}
.v-gridlayout-test .v-gridlayout-margin-right {
	padding-right: 50px;
}
.v-gridlayout-test .v-gridlayout-margin-bottom {
	padding-bottom: 0 px;
}

.v-gridlayout-test .v-gridlayout-margin-spacing {
	padding-left: 40px;
	padding-top: 40px;
}






/*****************************************************************************/
/* No ticket, just for general test cases                                    */
/*****************************************************************************/

.v-label-no-padding {
	padding: 0;
	background: lime;
}


/*****************************************************************************/
/* Table Cell Generator test
/*****************************************************************************/

.v-table-cell-content-red {
	background: red;
}

.v-table-cell-content-green {
	background: lightgreen;
}
	


/*****************************************************************************/
/* Ticket 2222                                                               */
/*****************************************************************************/
.v-orderedlayout-ticket2222 .v-orderedlayout-margin-top {
	padding-top: 100px;
}
.v-orderedlayout-ticket2222 .v-orderedlayout-margin-right {
	padding-right: 20px;
}
.v-orderedlayout-ticket2222 .v-orderedlayout-margin-bottom {
	padding-bottom: 30px;
}

.v-orderedlayout-ticket2222 .v-orderedlayout-margin-left {
	padding-left: 40px;
}

.v-orderedlayout-ticket2222 .v-orderedlayout-spacing-on {
	padding-top: 50px;
	padding-left: 60px;
}

.borders {
	border: 1px solid black;
}

.v-gridlayout-ticket2222 .v-gridlayout-margin-top {
	padding-top: 100px;
}
.v-gridlayout-ticket2222 .v-gridlayout-margin-right {
	padding-right: 20px;
}
.v-gridlayout-ticket2222 .v-gridlayout-margin-bottom {
	padding-bottom: 30px;
}

.v-gridlayout-ticket2222 .v-gridlayout-margin-left {
	padding-left: 40px;
}

.v-gridlayout-ticket2222 .v-gridlayout-spacing-on {
	padding-top: 50px;
	padding-left: 20px;
}

.ticket2231 {
	margin: 50px;
}

.ticket2231-border {
	border: 2em solid red;
}

/*****************************************************************************/
/* Ticket 2232                                                               */
/*****************************************************************************/

.v-gridlayout-t2232 .v-gridlayout-spacing-off {
	padding-top: 50px;
	padding-left: 20px;
}

.v-orderedlayout-t2232 .v-orderedlayout-spacing-off {
	padding-top: 25px;
	padding-left: 25px;
}

/*****************************************************************************/
/* Ticket 2273                                                               */
/*****************************************************************************/
.ticket2273-button {
  float: right;
}

/*****************************************************************************/
/* Ticket 4997
/*****************************************************************************/
.v-caption-ticket4997-red {
	color:red;
}

.v-caption-ticket4997-blue {
	color:blue;
}

.dispnone {
	display:none;
}

.redborder {
	border: 1px solid red;
}

/* #2434 */
.v-table-bordered .v-table-body td {	
	border-bottom: 1px solid red;
}

/* #2747 */
.v-button-nowraplink span {
   white-space: normal;
}

.cyan {
	background:cyan;	
}
   
.yellow {
	background:yellow;	
}
   
.green {
	background:green;	
}

.v-checkbox-wrap label {
   	white-space: normal;
}

.v-checkbox-large {
    font-size: 40px;
    line-height: normal;  
}


.redblueborders {
	border-right: 10px solid red;
	border-left: 10px solid blue;
}


/*****************************************************************************/
/* The reference screenshots all have a white background					 */
/*****************************************************************************/
.v-view { 
	background: #fff;
}

.styled-twincol-captions .v-select-twincol-caption-left {
	color: red; 
}
.styled-twincol-captions .v-select-twincol-caption-right {
	font-size: 30px;
	line-height: normal;
	color: blue;
}

