@mixin base-shadow($name : v-shadow) {

.#{$name} {
	position: absolute;
}

.#{$name} .top-left {
    position: absolute; overflow: hidden;
    top: -3px;             left: -5px;
    width: 10px;         height: 10px;
    background: transparent url(img/top-left.png);
}

.#{$name} .top {
    position: absolute; overflow: hidden;
    top: -3px;             left: 5px;
    height: 10px;           right: 5px;
    background: transparent url(img/top.png);
}

.#{$name} .top-right {
    position: absolute; overflow: hidden;
    top: -3px;             right: -5px;
    width: 10px;         height: 10px;
    background: transparent url(img/top-right.png);
}

.#{$name} .left {
    position: absolute; overflow: hidden;
    top: 7px;           left: -5px;
    width: 10px;
    bottom: 3px;
    background: transparent url(img/left.png);
}

.#{$name} .center {
    position: absolute; overflow: hidden;
    top: 7px;           left: 5px;
    bottom: 3px;        right: 5px;
    background: transparent url(img/center.png);
}

.#{$name} .right {
    position: absolute; overflow: hidden;
    top: 7px;           right: -5px;
    width: 10px;
    bottom: 3px;
    background: transparent url(img/right.png);
}

.#{$name} .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -7px;           left: -5px;
    width: 10px;          height: 10px;
    background: transparent url(img/bottom-left.png);
}

.#{$name} .bottom {
    position: absolute; overflow: hidden;
    bottom: -7px;           left: 5px;
    right: 5px;          height: 10px;
    background: transparent url(img/bottom.png);
}

.#{$name} .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -7px;           right: -5px;
    width: 10px;          height: 10px;
    background: transparent url(img/bottom-right.png);
}

}