@mixin base-shadow($primaryStyleName : v-shadow) {

.#{$primaryStyleName} {
	position: absolute;
	display: none;
	pointer-events: none;
	
	.v-ie8 & {
	  display: block;
	}
}

.#{$primaryStyleName} .top-left {
    position: absolute; overflow: hidden;
    top: -3px;             left: -5px;
    width: 10px;         height: 10px;
    background: transparent url(img/top-left.png);
}

.#{$primaryStyleName} .top {
    position: absolute; overflow: hidden;
    top: -3px;             left: 5px;
    height: 10px;           right: 5px;
    background: transparent url(img/top.png);
}

.#{$primaryStyleName} .top-right {
    position: absolute; overflow: hidden;
    top: -3px;             right: -5px;
    width: 10px;         height: 10px;
    background: transparent url(img/top-right.png);
}

.#{$primaryStyleName} .left {
    position: absolute; overflow: hidden;
    top: 7px;           left: -5px;
    width: 10px;
    bottom: 3px;
    background: transparent url(img/left.png);
}

.#{$primaryStyleName} .center {
    position: absolute; overflow: hidden;
    top: 7px;           left: 5px;
    bottom: 3px;        right: 5px;
    background: transparent url(img/center.png);
}

.#{$primaryStyleName} .right {
    position: absolute; overflow: hidden;
    top: 7px;           right: -5px;
    width: 10px;
    bottom: 3px;
    background: transparent url(img/right.png);
}

.#{$primaryStyleName} .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -7px;           left: -5px;
    width: 10px;          height: 10px;
    background: transparent url(img/bottom-left.png);
}

.#{$primaryStyleName} .bottom {
    position: absolute; overflow: hidden;
    bottom: -7px;           left: 5px;
    right: 5px;          height: 10px;
    background: transparent url(img/bottom.png);
}

.#{$primaryStyleName} .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -7px;           right: -5px;
    width: 10px;          height: 10px;
    background: transparent url(img/bottom-right.png);
}

}