/*------------
 * General vertical and horizontal sprites 
 * -----------*/
/** sprite: verticals; sprite-image: url(common/img/vertical-sprites.png); sprite-layout: vertical */
/** sprite: horizontals; sprite-image: url(common/img/horizontal-sprites.png); sprite-layout: horizontal */

/** sprite: black-verticals; sprite-image: url(common/img/black-vertical-sprites.png); sprite-layout: vertical; sprite-matte-color: #1e2022 */
/** sprite: black-horizontals; sprite-image: url(common/img/black-horizontal-sprites.png); sprite-layout: horizontal; sprite-matte-color: #1e2022 */

/*------------
 * Buttons 
 * -----------*/
/** sprite: buttons; sprite-image: url(button/img/button-sprites.png); sprite-layout: vertical */
/** sprite: black-buttons; sprite-image: url(button/img/black-button-sprites.png); sprite-layout: vertical */
