@mixin reindeer-button-small-style($primaryStyleName : v-button) {

.#{$primaryStyleName}-small:focus {
	background-image: url(img/small-left-focus.png); /** sprite-ref: buttons */
	}
	
.#{$primaryStyleName}-small:focus .#{$primaryStyleName}-wrap {
	background-image: url(img/small-right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
	}
	
.#{$primaryStyleName}-small:active,
.#{$primaryStyleName}-small.v-pressed {
	background-image: url(img/small-left-pressed.png); /** sprite-ref: buttons */
	}

.#{$primaryStyleName}-small:active .#{$primaryStyleName}-wrap,
.#{$primaryStyleName}-small.v-pressed .#{$primaryStyleName}-wrap {
	background-image: url(img/small-right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
	}

.#{$primaryStyleName}-small,
.v-disabled.#{$primaryStyleName}-small {
	background-image: url(img/small-left.png); /** sprite-ref: buttons */
	height: 20px;
	}
	
.#{$primaryStyleName}-small .#{$primaryStyleName}-wrap,
.v-disabled.#{$primaryStyleName}-small .#{$primaryStyleName}-wrap {
	background-image: url(img/small-right.png); /** sprite-ref: buttons; sprite-alignment: right */
	height: 19px;
	padding: 1px 14px 0 8px;
	}

.#{$primaryStyleName}-small .#{$primaryStyleName}-caption {
	font-weight: normal;
	}
	



/* Black style */

.black .#{$primaryStyleName}-small:focus {
	background-image: url(img/black/small-left-focus.png); /** sprite-ref: black-buttons */
	}
	
.black .#{$primaryStyleName}-small:focus .#{$primaryStyleName}-wrap {
	background-image: url(img/black/small-right-focus.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}
	
.black .#{$primaryStyleName}-small:active,
.black .#{$primaryStyleName}-small.v-pressed {
	background-image: url(img/black/small-left-pressed.png); /** sprite-ref: black-buttons */
	}
	
.black .#{$primaryStyleName}-small:active .#{$primaryStyleName}-wrap,
.black .#{$primaryStyleName}-small.v-pressed .#{$primaryStyleName}-wrap {
	background-image: url(img/black/small-right-pressed.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}

.black .#{$primaryStyleName}-small,
.black .v-disabled.#{$primaryStyleName}-small {
	background-image: url(img/black/small-left.png); /** sprite-ref: black-buttons */
	}
	
.black .#{$primaryStyleName}-small .#{$primaryStyleName}-wrap,
.black .v-disabled.#{$primaryStyleName}-small .#{$primaryStyleName}-wrap {
	background-image: url(img/black/small-right.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}

}