@mixin reindeer-button-link-style($primaryStyleName : v-button) {

.#{$primaryStyleName}.#{$primaryStyleName}-link,
.#{$primaryStyleName}.#{$primaryStyleName}-link:focus,
.#{$primaryStyleName}.#{$primaryStyleName}-link:active,
.#{$primaryStyleName}-link.v-pressed,
.v-disabled.#{$primaryStyleName}.#{$primaryStyleName}-link,
.#{$primaryStyleName}.#{$primaryStyleName}-link .#{$primaryStyleName}-wrap,
.#{$primaryStyleName}.#{$primaryStyleName}-link:focus .#{$primaryStyleName}-wrap,
.#{$primaryStyleName}.#{$primaryStyleName}-link:active .#{$primaryStyleName}-wrap,
.#{$primaryStyleName}-link.v-pressed .#{$primaryStyleName}-wrap,
.v-disabled.#{$primaryStyleName}.#{$primaryStyleName}-link .#{$primaryStyleName}-wrap {
	background: transparent;
	height: auto;
	padding: 0;
	cursor: pointer;
	line-height: inherit;
	}

.#{$primaryStyleName}.#{$primaryStyleName}-link.v-disabled,
.#{$primaryStyleName}.#{$primaryStyleName}-link.v-disabled .#{$primaryStyleName}-wrap {
	cursor: default;
	}
	
.#{$primaryStyleName}-link .#{$primaryStyleName}-caption {
	line-height: inherit;
	font-weight: normal;
	color: #1b699f;
	font-size: 12px;
	text-shadow: none;
	}
	
.#{$primaryStyleName}-link:focus .#{$primaryStyleName}-caption {
	outline: 1px dotted #1b699f;
	}

}