@mixin reindeer-button-primary-style($primaryStyleName : v-button) {

.#{$primaryStyleName}-primary:focus {
	background-image: url(img/primary-left-focus.png); /** sprite-ref: buttons */
	}
	
.#{$primaryStyleName}-primary:focus .#{$primaryStyleName}-wrap {
	background-image: url(img/primary-right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
	}
	
.#{$primaryStyleName}-primary:active,
.#{$primaryStyleName}-primary.v-pressed {
	background-image: url(img/primary-left-pressed.png); /** sprite-ref: buttons */
	}

.#{$primaryStyleName}-primary:active .#{$primaryStyleName}-wrap,
.#{$primaryStyleName}-primary.v-pressed .#{$primaryStyleName}-wrap {
	background-image: url(img/primary-right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
	}

.#{$primaryStyleName}-primary,
.v-disabled.#{$primaryStyleName}-primary {
	background-image: url(img/primary-left.png); /** sprite-ref: buttons */
	}
	
.#{$primaryStyleName}-primary .#{$primaryStyleName}-wrap,
.v-disabled.#{$primaryStyleName}-primary .#{$primaryStyleName}-wrap {
	background-image: url(img/primary-right.png); /** sprite-ref: buttons; sprite-alignment: right */
	}
	



/* Black style */


.black .#{$primaryStyleName}-primary:focus {
	background-image: url(img/black/primary-left-focus.png); /** sprite-ref: black-buttons */
	}
	
.black .#{$primaryStyleName}-primary:focus .#{$primaryStyleName}-wrap {
	background-image: url(img/black/primary-right-focus.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	color: #eaf4fb;
	}
	
.black .#{$primaryStyleName}-primary:active,
.black .#{$primaryStyleName}-primary.v-pressed {
	background-image: url(img/black/primary-left-pressed.png); /** sprite-ref: black-buttons */
	}
	
.black .#{$primaryStyleName}-primary:active .#{$primaryStyleName}-wrap,
.black .#{$primaryStyleName}-primary.v-pressed .#{$primaryStyleName}-wrap {
	background-image: url(img/black/primary-right-pressed.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}

.black .#{$primaryStyleName}-primary,
.black .v-disabled.#{$primaryStyleName}-primary {
	background-image: url(img/black/primary-left.png); /** sprite-ref: black-buttons */
	}
	
.black .#{$primaryStyleName}-primary .#{$primaryStyleName}-wrap,
.black .v-disabled.#{$primaryStyleName}-primary .#{$primaryStyleName}-wrap {
	background-image: url(img/black/primary-right.png); /** sprite-ref: black-buttons; sprite-alignment: right */
	}

}