@mixin chameleon-splitpanel($primaryStyleName : v-splitpanel) {

.#{$primaryStyleName}-hsplitter div,
.#{$primaryStyleName}-vsplitter div {
	background: transparent url(../../img/split-handle.png) no-repeat 2px 50%;
	margin: 0 -1px;
	width: 9px;
	}

.#{$primaryStyleName}-vsplitter div {
	background-position: 50% 2px;
	margin: -1px 0;
	width: auto;
	height: 9px;
	}

.#{$primaryStyleName}-hsplitter,
.#{$primaryStyleName}-hsplitter-locked {
	border-style: solid;
	border-width: 0 1px;
	border-color: #b0b0b0;
	width: 7px;
	background: #b3b3b3 url(../../img/grad-light-left.png) repeat-y;
	}

.#{$primaryStyleName}-vsplitter,
.#{$primaryStyleName}-vsplitter-locked {
	border-style: solid;
	border-width: 1px 0;
	border-color: #b0b0b0;
	height: 7px;
	background: #b3b3b3 url(../../img/grad-light-top.png) repeat-x;
	}

/*******************************************************************************
 * Small
 ******************************************************************************/
&.v-app .#{$primaryStyleName}-hsplitter-small,
&.v-app .#{$primaryStyleName}-hsplitter-small-locked {
	width: 1px;
	border: none;
	background-image: none;
	}

&.v-app .#{$primaryStyleName}-vsplitter-small,
&.v-app .#{$primaryStyleName}-vsplitter-small-locked {
	height: 1px;
	border: none;
	background-image: none;
	font-size: 1px;
	line-height: 1px;
	}

.#{$primaryStyleName}-hsplitter-small div {
	width: 7px;
	margin-left: -2px;
	background: transparent;
	}

.#{$primaryStyleName}-vsplitter-small div {
	height: 7px;
	margin-top: -2px;
	background: transparent;
	overflow: hidden;
	}

}