.v-panel {
	background: transparent url(img/top-left.png) no-repeat;
}
.v-panel-caption .v-errorindicator {
	padding-right: 20px;
	background: transparent url(../icons/16/error.png) no-repeat bottom center;
	
}
.v-panel-caption,
.v-panel-caption-light {
	font-size: 18px;
	line-height: normal;
	font-weight: normal;
	letter-spacing: -0.03em;
	color: #f14c1a;
	height: 18px;
	padding: 13px 18px 16px 8px;
	margin-left: 10px;
	background: transparent url(img/top-right.png) no-repeat right top;
	text-overflow: ellipsis;
}
.v-panel-nocaption {
	height: 9px;
	margin-left: 10px;
	background: transparent url(img/top-right.png) no-repeat right top;
}
.v-panel-content {
	border: 1px solid #babfc0;
	border-bottom: 1px solid #dee2e3;
	background-color: #fff;
}
.v-panel-deco {
	height: 9px;
	background: transparent url(img/bottom-right.png) repeat-x right top;
	margin-left: 9px;
}
.v-panel-deco:before {
	display: block;
	content: "";
	width: 9px;
	height: 9px;
	margin-left: -9px;
	background: transparent url(img/bottom-left.png) no-repeat;
}
/* Light panel style */
.v-panel-light,
.v-panel-caption-light {
	background: transparent;
}
.v-panel-caption-light {
	border-bottom: 1px solid #babfc0;
	margin: 0;
	padding-left: 18px;
}
.v-panel-nocaption-light {
	background: transparent;
	border: none;
	height: 0;
	margin: 0;
}
.v-panel-content-light {
	border: none;
	background: transparent;
}
.v-panel-deco-light {
	height: 0;
	overflow: hidden;
}
/* IE specific rules */
.v-ie8 .v-panel-content {
	border-bottom: 1px solid #babfc0;
}
.v-ie8 .v-panel-content-light {
	border-bottom: none;
}
.v-ie8 .v-panel-deco { 
	height: 0;
	overflow: hidden;
}