@mixin liferay-panel {

.v-panel {
	background: transparent url(top-left.png) no-repeat;
}

.v-panel-caption,
.v-panel-nocaption {
	text-shadow: 1px 1px #fff;
	font-size: 12px;
	color: #222;
	margin-left: 4px;
	background: transparent url(top-right.png) no-repeat right top;
	padding: 5px 5px 10px 2px;
	height: 12px;
}

.v-panel-caption .v-icon { 
	padding-right: 2px;
}

.v-panel-content {
	border: 1px solid #999;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

/* Light style Panel */

.v-panel-light {
	background: transparent;
}

.v-panel-caption-light,
.v-panel-nocaption-light {
	margin: 0;
	border: none;
	background: none;
}

.v-panel-caption-light {
	border-bottom: 1px solid #999;
}

.v-panel-nocaption-light {
	padding: 0;
	height: 0;
}

.v-panel-content-light {
	border: none;
}
.v-panel-content-light > div {
	background: transparent;
}

.v-panel-deco {
	height: 0;
	overflow: hidden;
}

/* IE specific rules */
.v-ie & .v-panel {
	background: transparent;
}
.v-ie & .v-panel-caption,
.v-ie & .v-panel-nocaption {
	border: 1px solid #999;
	border-bottom: none;
	background: #c0c2c5 url(/html/themes/classic/images/application/panel_header_bg.png) repeat-x 0 0;
	margin: 0;
	padding-left: 5px;
}

.v-ie & .v-panel-caption-light,
.v-ie & .v-panel-nocaption-light {
	border: none;
	background: transparent;
}

.v-ie & .v-panel-caption-light {
	border-bottom: 1px solid #999;
}

}