.i-accordion {
	position: relative;
	outline: none;
	overflow: hidden;
	text-align: left /* Force default alignment */
}

.i-accordion-item {
	position: relative; 
}

.i-accordion-item-caption {
	white-space: nowrap;
}

.i-accordion-item-caption .i-caption {
	cursor: pointer;
}

.i-accordion-item-open .i-accordion-item-caption .i-caption {
	cursor: default;
}

.i-accordion-item-content {
	position: absolute;
	overflow: auto;
	width: 100%;
}