.i-textfield {
	background: #fff url(img/bg.png) repeat-x;
	padding: 2px;
	border: 1px solid #b6b6b6;
	border-top-color: #9d9d9d;
	border-bottom-color: #d6d6d6;
	border-right-color: #d6d6d6;
	margin: 0;
	font-size: 13px;
	height: 18px;
}
.i-textarea {
	background: #fff url(img/bg.png) repeat-x;
	padding: 2px;
	border: 1px solid #b6b6b6;
	border-top-color: #9d9d9d;
	border-bottom-color: #d6d6d6;
	border-right-color: #d6d6d6;
	margin: 0;
	font-size: 13px;
}
.i-textfield-focus,
.i-textarea-focus {
	border-color: #5daee8;
}
input.i-textfield-prompt,
textarea.i-textarea-prompt {
	color: #999;
	font-style: normal;
}
.i-richtextarea {
	border: 1px solid #b6b6b6;
}
.i-richtextarea .gwt-RichTextArea {
	background: #fff url(img/bg.png) repeat-x;
}