<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>actions-on-table-background</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">actions-on-table-background</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.tree.Trees?restartApplication</td>
	<td></td>
</tr>
<!--Set tree height so we get empty space-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_Smenu#item0</td>
	<td>26,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>6,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>15,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[2]/VMenuBar[0]#item4</td>
	<td>9,11</td>
</tr>
<!--Add context menu item-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_Smenu#item0</td>
	<td>25,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>6,14</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[1]/VMenuBar[0]#item4</td>
	<td>60,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[2]/VMenuBar[0]#item1</td>
	<td>54,12</td>
</tr>
<!--Open context menu on empty space-->
<tr>
	<td>contextmenu</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_StestComponent</td>
	<td></td>
</tr>
<tr>
	<td>assertVisible</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VContextMenu[0]</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VContextMenu[0]#option0</td>
	<td>8,10</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_SLog_row_0</td>
	<td>2. Action No icon performed on null</td>
</tr>
<!--Open context menu on item-->
<tr>
	<td>contextmenu</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_StestComponent#n[1]</td>
	<td></td>
</tr>
<tr>
	<td>assertVisible</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VContextMenu[0]</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VContextMenu[0]#option0</td>
	<td>12,5</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_SLog_row_0</td>
	<td>3. Action No icon performed on Item 2</td>
</tr>
</tbody></table>
</body>
</html>
