.i-orderedlayout {
	overflow: hidden;
}

.i-orderedlayout-margin-top {
	padding-top: 15px;
}

.i-orderedlayout-margin-right {
	padding-right: 18px;
}

.i-orderedlayout-margin-bottom {
	padding-bottom: 15px;
}

.i-orderedlayout-margin-left {
	padding-left: 18px;
}

.i-orderedlayout-spacing-on {
	padding-top: 8px;
	padding-left: 8px;
}
/** This can be used to define spacing if spacing is off server side */
.i-orderedlayout-spacing-off {
	padding-top: 0;
	padding-left: 0;
}
