@mixin runo-shadow($primaryStyleName : v-shadow) {

.#{$primaryStyleName} {
	position: absolute;
}

.#{$primaryStyleName} .top-left {
    position: absolute; overflow: hidden;
    top: -3px;             left: -4px;
    width: 8px;         height: 8px;
    background: transparent url(img/top-left.png);
}

.#{$primaryStyleName} .top {
    position: absolute; overflow: hidden;
    top: -3px;             left: 4px;
    height: 8px;           right: 4px;
    background: transparent url(img/top.png);
}

.#{$primaryStyleName} .top-right {
    position: absolute; overflow: hidden;
    top: -3px;             right: -4px;
    width: 8px;         height: 8px;
    background: transparent url(img/top-right.png);
}

.#{$primaryStyleName} .left {
    position: absolute; overflow: hidden;
    top: 5px;           left: -4px;
    width: 8px;
    bottom: 3px;
    background: transparent url(img/left.png);
}

.#{$primaryStyleName} .center {
    position: absolute; overflow: hidden;
    top: 5px;           left: 4px;
    bottom: 3px;        right: 4px;
    background: transparent url(img/center.png);
}

.#{$primaryStyleName} .right {
    position: absolute; overflow: hidden;
    top: 5px;           right: -4px;
    width: 8px;
    bottom: 3px;
    background: transparent url(img/right.png);
}

.#{$primaryStyleName} .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -5px;           left: -4px;
    width: 8px;          height: 8px;
    background: transparent url(img/bottom-left.png);
}

.#{$primaryStyleName} .bottom {
    position: absolute; overflow: hidden;
    bottom: -5px;           left: 4px;
    right: 4px;          height: 8px;
    background: transparent url(img/bottom.png);
}

.#{$primaryStyleName} .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -5px;           right: -4px;
    width: 8px;          height: 8px;
    background: transparent url(img/bottom-right.png);
}

}