div.v-Notification {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-size: 100%;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.7);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.7);
	box-shadow: 0 2px 5px rgba(0,0,0,.7);
	}

.v-Notification p {
	line-height: 1.3;
	}

div.v-Notification-warning {
	background-color: #fffec8;
	color: #574734;
	border: 2px solid #fee3af;
	}

div.v-Notification-warning h1 {
	padding-left: 44px;
	background: transparent url(../../img/label-warning-icon-big.png) no-repeat 0 50%;
	}

div.v-Notification-error {
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.3);
	background: #c22f24 url(../../img/error-close.png) no-repeat right top;
	border: 2px solid #ca3030;
	}

div.v-Notification-error h1 {
	padding-left: 44px;
	background: transparent url(../../img/label-error-icon-big.png) no-repeat 0 50%;
	}

div.v-Notification-tray {
	color: #fff;
	margin: 0 5px 5px 0;
	background: #3b3b3b url(../../img/grad-light-top2.png) repeat-x;
	border: 1px solid #5b5b5b;
	padding: 0.8em 0.9em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	}

.v-ie6 .v-Notification-tray {
	background-image: none;
	}

.v-Notification-tray h1 {
	font-size: 14px;
	line-height: 18px;
	}

.v-Notification-tray p {
	font-size: 12px;
	font-weight: normal;
	}

div.v-Notification-system {
	color: #fff;
	border: none;
	background-color: #b40000;
	}