@import url(../default/styles.css);

.i-generated-body {
	/* full height layout does not need scrollable body; 
	avoids excess scrollbars if moving sub-window over the window area */
	overflow:hidden;
}

.i-form {
	border: 1px solid;
	margin: 10px;
	padding: 5px;
}

.i-orderedlayout-formroot td {
	vertical-align: top;
}
