.i-table {
	border: 1px solid #b6bbbc;
	overflow: hidden;
	text-align: left /* Force default alignment */
}

.i-table.table-inline {
	border-left: none;
	border-right: none;
	/*margin: -16px -18px 0 -18px;*/
}

.i-table-header-wrap {
	height: 36px;
	background: #e7edf3 url(img/header-bg.png) repeat-x;
	border-bottom: 1px solid #b6bbbc;
	overflow: hidden;
}

.i-table-header {
	height: 36px;
}

.i-table-header table,
.i-table-table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: 0;
}

.i-table-header td,
.i-table-table td {
	margin: 0;
	padding: 0;
	border: 0;
}

.i-table-header td {
	cursor: pointer;
}

.i-table-resizer {
	display: block;
	height: 36px;
	float: right;
	background: transparent url(img/resizer-bg.png) repeat-y 50% 50%;
	cursor: col-resize;
}

.i-table-caption-container {
	float: right;
	overflow: hidden;
	white-space: nowrap;
	color: #393a3c;
	font-size: 15px;
	padding-top: 9px;
	text-shadow: #ffffff 2px 2px 0;
}

.i-table-header-cell-asc .i-table-caption-container {
	background: transparent url(img/sort-asc.png) no-repeat right 80%;
}
.i-table-header-cell-desc .i-table-caption-container {
	background: transparent url(img/sort-desc.png) no-repeat right 80%;
}
.i-table-header-cell:hover,
.i-table-header-cell-asc:hover,
.i-table-header-cell-desc:hover {
	background: transparent url(img/header-bg-over.png) repeat-x;
}


.i-table-body {
	background: #fff;
}

.i-table-row-spacer {
	height: 10px;
	overflow: hidden; /* IE hack to allow < one line height divs */
}

.i-table-row,
.i-table-row-odd {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #fff;
	cursor: default;
}
.i-table-row-odd {
	background-color: #f6f7f7;
}
.i-table-row:hover,
.i-table-row-odd:hover {
	background-color: #edeeee;
}
.i-table .i-selected {
	background: #d5dde0;
	color: #456572;
}
.i-table-row td,
.i-table-row-odd td {
	padding: 3px 0;
}
.i-table-cell-content {
	white-space: nowrap;
	overflow: hidden;
	padding-left: 3px;
}



.i-table-column-selector {
	float: right;
	background: transparent url(img/colsel.png) no-repeat;
	margin: -36px 0 0 0;
	height: 36px;
	width: 15px;
	position: relative; /* hide this from IE, it works without it */
}

.i-table-focus-slot-left {
	border-left: 2px solid #b6bbbc;
	margin-right: -2px;
}
.i-table-focus-slot-right {
	border-right: 2px solid #b6bbbc;
	margin-left: -2px;
}

.i-table-header-drag {
	position: absolute;
	background: #e7edf3 url(img/header-bg.png) repeat-x;
	border: 1px solid #b6bbbc;
	padding: 4px;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-top: 20px;
	z-index: 20000;
}

.i-table-scrollposition {
	width: 160px;
	height: 39px;
	background: transparent url(img/scroll-position-bg.png);
}

.i-table-scrollposition span {
	display: block;
	margin-top: 8px;
	text-align: center;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	text-shadow: #ffffff 2px 2px 0;
}


/* rowe in column selector */
.i-on div {
	background-image: url('img/check.gif');
	background-repeat: no-repeat;
	background-position: 2px center;
	text-indent: 6px;
}
.i-off div {
	text-indent: 6px;
}


/* IE specific styles */
* html .i-table-scrollposition {
	background: transparent;
	/* We need multiple different filters because we cannot be sure of the context 
	   the browser is currently in (i.e. with ending slash or without). */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../ITMILL/widgetsets/com.itmill.toolkit.terminal.gwt.DefaultWidgetSet/default/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../ITMILL/widgetsets/com.itmill.toolkit.terminal.gwt.DefaultWidgetSet/default/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ITMILL/widgetsets/com.itmill.toolkit.terminal.gwt.DefaultWidgetSet/default/table/img/scroll-position-bg.png", sizingMethod="scale");
}