.i-datefield {
	white-space: nowrap;
}
.i-datefield-textfield {
	vertical-align: top;
}
.i-datefield-button {
	cursor: pointer;
}
.i-datefield-calendarpanel table {
	width: 100%;
}
.i-datefield-calendarpanel td {
	width: 14.2%;
	padding: 0;
	margin: 0;
}
.i-datefield-calendarpanel-header td {
	text-align: center;
}
.i-datefield-calendarpanel-month {
	text-align: center;
	white-space: nowrap;
}
.i-datefield-calendarpanel-day,
.i-datefield-calendarpanel-day-today {
	cursor: pointer;
}
.i-datefield-calendarpanel-day-today {
	border: 1px solid #ddd;
}
.i-disabled .i-datefield-calendarpanel-day,
.i-disabled .i-datefield-calendarpanel-day-today {
	cursor: default;
}
.i-datefield-calendarpanel-day-disabled {
	cursor: default;
	opacity: .5;
}
.i-datefield-calendarpanel-day-selected {
	cursor: default;
	background: #333;
	color: #fff;
}
.i-datefield-time {
	white-space: nowrap;
}
.i-datefield-time .i-label {
	display: inline;
}
/* Disabled by default
.i-datefield-error .i-textfield,
.i-datefield-error .i-datefield-calendarpanel {
	background: #ffe0e0;
}
*/

/* Disabled by default
.i-datefield-required .i-textfield,
.i-datefield-required .i-datefield-calendarpanel {
	background:transparent;
	background-color: #ffe0e0;
}
*/
/* IE somehow loses generic i-disabled alpha. See #1960 */
.i-ie6 .i-disabled .i-datefield-button,
.i-ie6 .i-disabled .i-datefield-textfield,
.i-ie7 .i-disabled .i-datefield-button,
.i-ie7 .i-disabled .i-datefield-textfield {
	filter: alpha(opacity=30);
}