
<h3>News</h3>

<p>
IT Mill was founded in 2000 to develop this new programming paradigm
that would support the creation of real user interfaces for real
application using real programming languages.
</p>

<p>
IT Mill has been offering high-quality expert services to support its
customers' software development from the start. This model has made it
possible for the company to grow and develop realistically and solely
on net income.
</p>

<p>
The development of company's proprietary MillstoneTM technology
started at the end of 2000 in cooperation with Tekes, the National
Technology Agency of Finland. The first new Millstone customer
applications were launched already in 2001.
</p>

<p>
Version 3.0 of the Millstone user interface library was published
using an open LGPL license in December 2002, making it possible to use
the library free of charge all around the world.
</p>

<p>
Until 2005 more than 50 % of IT Mill's turnover was derived from sales
of Millstone specialist services, with the rest coming from sales of
other software development services and outsourcing services.
</p>

<p>
In late 2006 IT Mill ensured funding of the new generation of
Millstone. IT Mill Toolkit was released in early 2007 and renamed
Vaadin in 2009.
</p>

