/* THIS IS HERE ONLY BECAUSE WE WANT TO DEFINE IT FIRST, TO MAKE IT EASY TO OVERRIDE */
.v-connector {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	display: inline-block;
	white-space: normal;
}

/* Actual AbsoluteLayout styles begin here */

.v-absolutelayout-wrapper {
	position: absolute;
	overflow: hidden;
}
.v-absolutelayout-margin, .v-absolutelayout-canvas {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.v-absolutelayout.v-has-height > div, .v-absolutelayout.v-has-height > div > div {
	height: 100%;
}
.v-absolutelayout.v-has-width > div, .v-absolutelayout.v-has-width > div > div {
	width: 100%;
}
