@mixin base-absolutelayout($name : v-absolutelayout) {

.#{$name}-wrapper {
	position: absolute;
	overflow: hidden;
}
.#{$name}-margin, .#{$name}-canvas {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.#{$name}.v-has-height > div, .#{$name}.v-has-height > div > div {
	height: 100%;
}
.#{$name}.v-has-width > div, .#{$name}.v-has-width > div > div {
	width: 100%;
}

}