@mixin base-caption($primaryStyleName : v-caption) {

.#{$primaryStyleName}wrapper {
	text-align: left; /* Force default alignment */
}
.#{$primaryStyleName} {
	overflow: hidden;
	white-space: nowrap;
	font-size: $font-size;
}
.v-errorindicator {
	display: inline-block;
}
.#{$primaryStyleName} .v-icon {
	display: inline-block;
	padding-right: 2px;
	vertical-align: middle;
}
.#{$primaryStyleName} .#{$primaryStyleName}text {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}
.#{$primaryStyleName} .v-required-field-indicator {
	display: inline-block;
}

}