<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8888/" />
<title>ButtonDisableEnableOnClick</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">ButtonDisableEnableOnClick</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.button.Buttons3?restartApplication</td>
	<td></td>
</tr>
<!--setDisableOnClick(true)-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_Smenu#item0</td>
	<td>17,12</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::Root/VOverlay[0]/VMenuBar[0]#item4</td>
	<td>19,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>24,8</td>
</tr>
<!--addClickListener where onClick() { button.setEnabled(true) }-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_Smenu#item0</td>
	<td>38,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>18,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>37,11</td>
</tr>
<!--click should not disable button-->
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_StestComponent/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>id=Log_row_0</td>
	<td>2. ClickEvent</td>
</tr>
<tr>
	<td>assertNotCSSClass</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_StestComponent</td>
	<td>v-disabled</td>
</tr>
<!--another click should not disable button-->
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_StestComponent/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>id=Log_row_0</td>
	<td>3. ClickEvent</td>
</tr>
<tr>
	<td>assertNotCSSClass</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_StestComponent</td>
	<td>v-disabled</td>
</tr>
<!--another click should not disable button-->
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_StestComponent/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>id=Log_row_0</td>
	<td>4. ClickEvent</td>
</tr>
<tr>
	<td>assertNotCSSClass</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_StestComponent</td>
	<td>v-disabled</td>
</tr>
<!--remove clickListener-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_Smenu#item0</td>
	<td>29,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::Root/VOverlay[0]/VMenuBar[0]#item3</td>
	<td>20,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>26,6</td>
</tr>
<!--click should now disable the button-->
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_StestComponent/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertCSSClass</td>
	<td>vaadin=runcomvaadintestscomponentsbuttonButtons3::PID_StestComponent</td>
	<td>v-disabled</td>
</tr>
</tbody></table>
</body>
</html>
