/**
 * Link component styles 
 * (useless to move into a separate file)
 */
.i-link a {
	font-size: 13px;
	line-height: 18px;
	color: #464f52;
	vertical-align: middle;
	text-decoration: none;
}

.i-link span {
	text-decoration: underline;
	vertical-align: middle;
}

.i-disabled a {
	cursor: pointer;
}

.i-link img {
	vertical-align: middle;
	border:none;
}
