/**
 * Link component styles 
 * (useless to move into a separate file)
 */
.i-link {
	white-space: nowrap;	
}

.i-link a {
	color: #464f52;
	vertical-align: middle;
	text-decoration: none;
}

.i-link span {
	text-decoration: underline;
	vertical-align: middle;
}

.i-disabled a {
	cursor: default;
}

.i-link img {
	vertical-align: middle;
	border:none;
}
