// TODO make fallbacks for IE 8 & 9

@-webkit-keyframes v-rotate-360 {
   to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes v-rotate-360 {
   to {-moz-transform: rotate(360deg);}
}
@-o-keyframes v-rotate-360 {
   to {-o-transform: rotate(360deg);}
}
@keyframes v-rotate-360 {
   to {transform: rotate(360deg);}
}


@mixin valo-spinner ($size: 24px, $thickness: 4px, $color: null, $speed: 500ms) {
  $color: $color or valo-focus-color();
  // Make size divisible by 2, so that the rotation won't jiggle
  $size: $size + $size%2;
  height: $size !important;
  width: $size !important;
  @include box-sizing(border-box);
  border: $thickness solid transparentize($color, .8);
  border-top-color: transparentize($color, .15);
  border-radius: 100%;
  @include animation(v-rotate-360 $speed infinite linear);
  pointer-events: none;
  @include transition(all ease-in-out 300ms);
}















@include keyframes(v-progress-start) {
  0% { width: 0%; }
  100% { width: 50%; }
}

@include keyframes(v-progress-delay) {
  0% { width: 50%; }
  100% { width: 90%; }
}

@include keyframes(v-progress-wait) {
  0% { width: 90%; }
  100% { width: 96%; }
}

@include keyframes(v-progress-wait-pulse) {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}


$v-loading-indicator-color: valo-focus-color() !default;
$v-loading-indicator-bar-height: ceil($v-unit-size/7) !default;

@mixin valo-loading-bar {
  
  .v-loading-indicator {
    position: fixed !important;
    z-index: 99999;
    left: 0;
    right: auto;
    top: 0;
    width: 50%;
    opacity: 1;
    height: $v-loading-indicator-bar-height;
    background-color: $v-loading-indicator-color;
    //@include linear-gradient(to right, rgba($v-loading-indicator-color,0) 0%, $v-loading-indicator-color 100%);
    pointer-events: none;
    
    @include transition(none);
    @include animation(v-progress-start 1000ms 200ms both);
    //@include animation-fill-mode(forwards);
    
    &[style*="none"] {
      // Chrome skips the transitions because it thinks the element is display: none;
      display: block !important;
      width: 100% !important;
      opacity: 0;
      @include animation(none);
      @include transition(opacity 500ms 300ms, width 300ms);
    }
  }
  
  .v-loading-indicator-delay {
    width: 90%;
    .v-ff & {
      width: 50%;
    }
    @include animation(v-progress-delay 3.8s forwards);
  }
  
  .v-loading-indicator-wait {
    width: 96%;
    .v-ff & {
      width: 90%;
    }
    @include animation(v-progress-wait 5s forwards, v-progress-wait-pulse 1s 4s infinite backwards);
  }
  
}