// Color functions are used to calculate default font color
@import "../util/color";



// A static text that is shown while the application JavaScript is loaded and started
$v-app-loading-text               : ""                                          !default;


// Base line height used for all widgets
$v-line-height                    : 1.55                                        !default;


$v-background-color               : hsl(210, 0%, 98%)                           !default;
$v-app-background-color           : $v-background-color                         !default;

$v-font-size                      : 16px                                        !default; // Should be specified in pixels
$v-font-weight                    : 300                                         !default; // Must be specified as a numeric value (i.e. not 'normal' or 'bold')
$v-font-color                     : valo-font-color($v-app-background-color)    !default;
$v-font-family                    : "Open Sans", sans-serif                     !default;

$v-caption-font-size              : round($v-font-size * 0.9)                   !default; // Should be a pixel value
$v-caption-font-weight            : max(400, $v-font-weight)                    !default;

$v-unit-size                      : round(2.3 * $v-font-size)                   !default; // Must be specified in pixels (suitable range 18-50)

$v-layout-margin-top              : round($v-unit-size)                         !default;
$v-layout-margin-right            : round($v-unit-size)                         !default;
$v-layout-margin-bottom           : round($v-unit-size)                         !default;
$v-layout-margin-left             : round($v-unit-size)                         !default;

$v-layout-spacing-vertical        : round($v-unit-size/3)                       !default;
$v-layout-spacing-horizontal      : round($v-unit-size/3)                       !default;

$v-border                         : 1px solid (v-shade 0.7)                     !default; // Size must be specified in pixels
$v-border-radius                  : 4px                                         !default; // Must be specified in pixels

$v-gradient                       : v-linear 8%                                 !default;

$v-bevel                          : inset 0 1px 0 v-tint, inset 0 -1px 0 v-shade !default;
$v-bevel-depth                    : 30%                                         !default;

$v-shadow                         : 0 2px 3px v-shade                           !default;
$v-shadow-opacity                 : 5%                                          !default;

$v-focus-color                    : valo-focus-color()                          !default;
$v-focus-style                    : 0 0 0 2px rgba($v-focus-color, .5)          !default;

$v-animations-enabled             : true                                        !default;
$v-hover-styles-enabled           : true                                        !default;

$v-disabled-opacity               : 0.5                                         !default;

$v-selection-color                : $v-focus-color                              !default;

$v-default-field-width            : $v-unit-size * 5                            !default;

$v-error-indicator-color          : #ed473b                                     !default;
$v-required-field-indicator-color : $v-error-indicator-color                    !default;
$v-friendly-color                 : #2c9720                                     !default;


$v-scaling-factor--tiny           : 0.75                                        !default;
$v-scaling-factor--small          : 0.85                                        !default;
$v-scaling-factor--large          : 1.2                                         !default;
$v-scaling-factor--huge           : 1.6                                         !default;

$v-unit-size--tiny                : round($v-unit-size * $v-scaling-factor--tiny)  !default;
$v-unit-size--small               : round($v-unit-size * $v-scaling-factor--small) !default;
$v-unit-size--large               : round($v-unit-size * $v-scaling-factor--large) !default;
$v-unit-size--huge                : round($v-unit-size * $v-scaling-factor--huge)  !default;

$v-font-size--tiny                : ceil($v-font-size * $v-scaling-factor--tiny)  !default;
$v-font-size--small               : ceil($v-font-size * $v-scaling-factor--small) !default;
$v-font-size--large               : ceil($v-font-size * $v-scaling-factor--large) !default;
$v-font-size--huge                : ceil($v-font-size * $v-scaling-factor--huge)  !default;



// List of components to include in the theme compilation. The list can be modified to make
// the compiled theme smaller by removing unused components from the list.
//
// @usage
// // Remove the Calendar component styles from the output
// $v-included-components: remove($v-included-components, calendar);
$v-included-components:
    absolutelayout,
    accordion,
    button,
    calendar,
    checkbox,
    colorpicker,
    combobox,
    csslayout,
    customcomponent,
    customlayout,
    datefield,
    dragwrapper,
    form,
    formlayout,
    grid,
    gridlayout,
    label,
    link,
    menubar,
    nativebutton,
    nativeselect,
    notification,
    optiongroup,
    orderedlayout,
    panel,
    popupview,
    progressbar,
    slider,
    splitpanel,
    table,
    tabsheet,
    textfield,
    textarea,
    richtextarea,
    tree,
    treetable,
    twincolselect,
    upload,
    window,
    valo-menu !default;


$v-included-additional-styles: $v-included-components !default;


// Checks if a given component is included in the compilation. Used by the collection mixins that
// include all components, like valo-components and valo-components.
// @param     $component-name {String} the name of the component to check
// @param     $is-included {list} (Optional) the list of components which is checked
// @return    {Boolean} true if the component is included in the compilation, false if not
@function v-is-included ($component-name, $is-included: $v-included-components) {
  @return contains($is-included, $component-name);
}



// A flag to note whether relative URL paths are relative to the currently parsed SCSS file or to the compilation root file.
// The Vaadin compiler parses URL paths differently than the regular Sass compiler (i.e. Vaadin modifies relative url paths).
// This boolean is used to flag which compiler is used, so that paths are correct for different resources.
// false == Ruby, true == Vaadin
$v-relative-paths: true !default;
