.i-table {
	overflow: hidden;
	text-align: left /* Force default alignment */
}

.i-table.table-inline .i-table-header-wrap {
	border-left: none;
	border-right: none;
	/*margin: -16px -18px 0 -18px;*/
}

.i-table-header-wrap {
	height: 36px;
	background: #e7edf3 url(img/header-bg.png) repeat-x;
	border: 1px solid #b6bbbc;
	border-bottom: none;
	overflow: hidden;
}

.i-table-header {
	height: 36px;
}

.i-table-header table,
.i-table-table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: 0;
}

.i-table-header td,
.i-table-table td {
	margin: 0;
	padding: 0;
	border: 0;
}

.i-table-header td {
	cursor: pointer;
}

.i-table-resizer {
	display: block;
	height: 36px;
	float: right;
	background: transparent url(img/resizer-bg.png) repeat-y 50% 50%;
	cursor: col-resize;
}

.i-table-caption-container {
	float: right;
	overflow: hidden;
	white-space: nowrap;
	color: #393a3c;
	font-size: 15px;
	padding-top: 9px;
	text-shadow: #ffffff 2px 2px 0;
}

.i-table-header-cell-asc .i-table-caption-container {
	background: transparent url(img/sort-asc.png) no-repeat right 80%;
}
.i-table-header-cell-desc .i-table-caption-container {
	background: transparent url(img/sort-desc.png) no-repeat right 80%;
}
.i-table-header-cell:hover,
.i-table-header-cell-asc:hover,
.i-table-header-cell-desc:hover {
	background: transparent url(img/header-bg-over.png) repeat-x;
}


.i-table-body {
	background: #fff;
	border: 1px solid #b6bbbc;
}

.i-table-row-spacer {
	height: 10px;
	overflow: hidden; /* IE hack to allow < one line height divs */
}

.i-table-row,
.i-table-row-odd {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #fff;
	cursor: default;
}
.i-table-row-odd {
	background-color: #f6f7f7;
}
.i-table-row:hover,
.i-table-row-odd:hover {
	background-color: #edeeee;
}
.i-table .i-selected {
	background: #57a7ed;
	color: #fff;
}
.i-table-row td,
.i-table-row-odd td {
	padding: 0;
}
.i-table-cell-content {
	white-space: nowrap;
	overflow: hidden;
	padding: 3px 0 3px 3px;
	margin-right: 5px;
	line-height: 23px;
}

/* Fix textfield size to correspond label size inside table */
.i-table-cell-content .i-textfield,
.i-table-cell-content .i-button {
	margin: -2px 0 -2px -3px;
}
.i-table-cell-content .i-textfield,
.i-table-cell-content .i-datefield {
	width: 97%; /* approximate */
}

/* ...but not for datefield textarea */
.i-table-cell-content .i-datefield .i-textfield {
	width: auto;
	
}
/* datefield button is too high for table cell */
.i-table-cell-content .i-datefield-button {
	height: 25px;
	margin: -2px 0;
}



.i-table-column-selector {
	float: right;
	background: transparent url(img/colsel.png) no-repeat;
	margin: -36px 0 0 0;
	height: 36px;
	width: 15px;
	position: relative; /* hide this from IE, it works without it */
}

* html .i-table-column-selector {
	position: static;
}

*+html .i-table-column-selector  {
	position: static;
}

.i-table-focus-slot-left {
	border-left: 2px solid #b6bbbc;
	margin-right: -2px;
}
.i-table-focus-slot-right {
	border-right: 2px solid #b6bbbc;
	margin-left: -2px;
}

.i-table-header-drag {
	position: absolute;
	background: #e7edf3 url(img/header-bg.png) repeat-x;
	border: 1px solid #b6bbbc;
	padding: 4px;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-top: 20px;
	z-index: 20000;
}

.i-table-scrollposition {
	width: 160px;
	height: 39px;
	background: transparent url(img/scroll-position-bg.png);
}

.i-table-scrollposition span {
	display: block;
	margin-top: 8px;
	text-align: center;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	text-shadow: #ffffff 2px 2px 0;
}


/* row in column selector */
.i-on div {
	background: transparent url(img/check.gif) no-repeat 2px 50%;
	text-indent: 6px;
}
.i-off div {
	text-indent: 6px;
}

.i-table .i-link {
	display: inline;
}

/* IE6 hack */
* html .i-table-scrollposition {
	background: transparent;
	/* 
	AlphaImageLoader uses src attribute relative to host page, not CSS
	We need multiple different filters because we cannot be sure how host page is served compared to theme resources
	TODO: This actually does not work as expected, since only the last filter is applied.
	 */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../ITMILL/themes/default/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../ITMILL/themes/default/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="ITMILL/themes/default/table/img/scroll-position-bg.png", sizingMethod="scale");
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/ITMILL/themes/default/table/img/scroll-position-bg.png", sizingMethod="scale");
}
