.i-tree-node {
	background-image: url(img/collapsed.png);
	background-repeat: no-repeat;
}
.i-tree-node-expanded {
	background-image: url(img/expanded.png);	
}
.i-tree-node-leaf {
	background-image: none;
}
.i-tree-node-caption {
	cursor: pointer;
	margin-left:18px;
}
.i-tree-node-selected span {
	background: #5daee8;
	color: #fff;
	padding: 0 2px;
}
.i-tree-node-children {
	padding-left: 18px;
}
