.i-tree .gwt-TreeItem {
	cursor: pointer;
}

.i-tree-node-selected > table > tbody > tr > td > .gwt-TreeItem {
	background: #5daee8;
	color: #fff;
	display: block;
	padding: 1px;
	margin: -1px -1px;
}
.i-tree-node-selected > table > tbody > tr > td > .gwt-TreeItem:before {
	display: block;
	float: left;
	content: url(../common/img/blank.gif);
	width: 1px;
	background: #5daee8;
	margin: 0 1px 0 -2px;
}
.i-tree-node-selected > table > tbody > tr > td > .gwt-TreeItem:after {
	display: block;
	float: right;
	content: url(../common/img/blank.gif);
	width: 1px;
	background: #5daee8;
	margin: 0 -2px 0 1px;
}