@import "../reindeer/styles.css";

/**
 * We need to remove the overflow from .v-view in order to make body scrollable
 */
.v-app,
.v-view {
	overflow: visible;
	height: auto;
}
.v-ie .v-app,
.v-ie .v-view {
	height: 100%;
}
body.v-generated-body {
	overflow: auto;
	position: relative;
}