.v-splitpanel-hsplitter,
.v-splitpanel-hsplitter-locked {
	width: 7px;
	background-repeat: repeat-y;
	background-image: url(img/hor-bg.png); /** sprite-ref: horizontals; sprite-alignment: repeat */
}
.v-splitpanel-hsplitter div {
	width: 7px;
	background: transparent;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(img/hor-handle.png); /** sprite-ref: horizontals; sprite-alignment: center */
}
.v-splitpanel-vsplitter,
.v-splitpanel-vsplitter-locked {
	height: 7px;
	background-repeat: repeat-x;
	background-image: url(img/ver-bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
}
.v-splitpanel-vsplitter div {
	height: 7px;
	background: transparent;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(img/ver-handle.png); /** sprite-ref: verticals; sprite-alignment: center */
}


/* Splitpanels on blue background */
.blue .v-splitpanel-hsplitter-small,
.blue .v-splitpanel-hsplitter-small-locked {
	background: #7c8a91;
}

/* Splitpanels on black background */
.black .v-splitpanel-hsplitter-small,
.black .v-splitpanel-hsplitter-small-locked {
	background: #4e5253;
}

/* Small style */
.v-splitpanel-hsplitter-small,
.v-splitpanel-hsplitter-small-locked,
.white .v-splitpanel-hsplitter-small,
.white .v-splitpanel-hsplitter-small-locked {
	width: 1px;
	background: #949698;
}
.v-splitpanel-vsplitter-small,
.v-splitpanel-vsplitter-small-locked,
.white .v-splitpanel-vsplitter-small,
.white .v-splitpanel-vsplitter-small-locked {
	height: 1px;
	background: #949698;
}
.v-splitpanel-hsplitter-small div {
	width: 5px;
	margin-left: -2px;
	background: transparent;
}
.v-splitpanel-vsplitter-small div {
	height: 5px;
	margin-top: -2px;
	background: transparent;
}