@mixin reindeer-tabsheet-minimal-style($name : v-tabsheet) {

/**
 * Tabsheet "minimal" style --------------
 */

/* Minimal tabsheet on blue background */
.blue .#{$name}-tabs-minimal .#{$name}-spacertd div,
.blue .#{$name}-tabs-minimal .#{$name}-tabitem,
.blue .#{$name}-tabs-minimal .#{$name}-tabitem-selected  {
	border-color: #7c8a91;
}
.blue .#{$name}-tabs-minimal .#{$name}-caption-close {
	color: #7c8a91;
}
.blue .#{$name}-tabs-minimal .#{$name}-caption-close:hover {
	color: #BCD3DE;
	background: #778d98;
}
.blue .#{$name}-tabs-minimal .#{$name}-caption-close:active {
	background: #4f6874;
}

/* Default & white styles */
.#{$name}-tabs-minimal .#{$name}-spacertd div,
.white .#{$name}-tabs-minimal .#{$name}-spacertd div {
	border-bottom: 1px solid #bfbfbf;
	height: auto;
	background: transparent;
}
.#{$name}-tabs-minimal .#{$name}-tabitemcell,
.#{$name}-tabs-minimal .#{$name}-spacertd {
	height: auto;
	background: transparent;
	padding-left: 0;
}
.#{$name}-tabs-minimal .#{$name}-tabitem,
.white .#{$name}-tabs-minimal .#{$name}-tabitem {
	border: none;
	border-bottom: 1px solid #bfbfbf;
	color: #4d748f;
	padding: 0;
	height: auto;
	background: transparent;
	text-shadow: none;
}
.#{$name}-tabs-minimal .#{$name}-tabitem .v-caption {
	padding: 5px 16px;
	height: auto;
	background: transparent;
}
.#{$name}-tabs-minimal .#{$name}-tabitemcell-selected {
	background: transparent;
}
.#{$name}-tabs-minimal .#{$name}-tabitem-selected,
.white .#{$name}-tabs-minimal .#{$name}-tabitem-selected {
	background: transparent;
	border: 1px solid #bfbfbf;
	border-bottom: none;
	color: #222;
}
.#{$name}-tabs-minimal .#{$name}-tabitem-selected .v-caption {
	background: transparent;
	padding: 4px 15px 6px 15px;
}
.#{$name}-tabs-minimal .#{$name}-tabitem .v-caption-closable,
.#{$name}-tabs-minimal .#{$name}-tabitem-selected .v-caption-closable {
	padding-right: 6px;
}
.#{$name}-content-minimal,
.white .#{$name}-content-minimal {
	border: none;
}
.#{$name}-content-minimal .#{$name}-tabsheetpanel {
	background: transparent;
}
.#{$name}-deco-minimal,
.white .#{$name}-deco-minimal {
	height: 0;
	border: none;
}
.#{$name}-tabcontainer-minimal .#{$name}-scroller {
	margin-top: -20px;
	height: 17px;
	padding: 0;
	border: none;
	background: transparent;
}
.#{$name}-tabcontainer-minimal .#{$name}-scroller button {
	margin-top: 0;
}
.#{$name}-tabs-minimal .#{$name}-caption-close,
.#{$name}-tabs-minimal .#{$name}-caption-close:hover,
.#{$name}-tabs-minimal .#{$name}-caption-close:active {
	text-indent: 0;
	background: transparent;
	margin-left: 3px;
	margin-right: -3px;
	padding: 0;
	color: #999;
	width: 14px;
	height: 14px;
	line-height: 14px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}
.#{$name}-tabs-minimal .#{$name}-caption-close {
	margin-top: 1px;
}
.v-ff .#{$name}-tabs-minimal .#{$name}-caption-close {
	margin-top: -15px;
}
.#{$name}-tabs-minimal .#{$name}-caption-close:hover,
.white .#{$name}-tabs-minimal .#{$name}-caption-close:hover {
	color: #fff;
	background: #aaa;
}
.#{$name}-tabs-minimal .#{$name}-caption-close:active,
.white .#{$name}-tabs-minimal .#{$name}-caption-close:active {
	background: #777;
}

/* Minimal tabsheet on black background */
.black .#{$name}-tabs-minimal .#{$name}-spacertd div,
.black .#{$name}-tabs-minimal .#{$name}-tabitem,
.black .#{$name}-tabs-minimal .#{$name}-tabitem-selected  {
	border-color: #3e4044;
	color: #6a7f89;
}
.black .#{$name}-tabs-minimal .#{$name}-tabitem-selected {
	color: #c9ccce;
}
.black .#{$name}-content-minimal,
.black .#{$name}-content-bar {
	color: #c9ccce;
	text-shadow: #000 0 0 1px;
}
.black .#{$name}-tabs-minimal .#{$name}-caption-close {
	color: #72787c;
}
.black .#{$name}-tabs-minimal .#{$name}-caption-close:hover {
	color: #1d2021;
	background: #4d5154;
}
.black .#{$name}-tabs-minimal .#{$name}-caption-close:active {
	background: #626669;
}

}