/* Tabsheet scroller styles */

.v-tabsheet-scroller {
	height: 31px;
	margin-top: -31px;
	padding: 0 3px 0 4px;
	border-right: 1px solid #c2c2c2;
	border-left: 1px solid #cfcfcf;
	position: relative;
	float: right;
	background: transparent url(img/framed/tab-bg.png) repeat-x left -1px;
	width: 36px;
}
.v-tabsheet-scroller button {
	margin-top: 7px;
}
.v-tabsheet-scrollerPrev,
.v-tabsheet-scrollerNext,
.v-tabsheet-scrollerPrev-disabled,
.v-tabsheet-scrollerNext-disabled {
	border: none;
	background: transparent;
	background-image: url(img/tab-prev.png); /** sprite-ref: verticals */
	width: 18px;
	height: 17px;
	overflow: hidden;
	cursor: default;
}
.v-tabsheet-scroller button::-moz-focus-inner {
	border: none;
}
.v-tabsheet-scrollerNext {
	background-image: url(img/tab-next.png); /** sprite-ref: verticals */
}
.v-tabsheet-scrollerPrev:active {
	background-image: url(img/tab-prev-pressed.png); /** sprite-ref: verticals */
}
.v-tabsheet-scrollerNext:active {
	background-image: url(img/tab-next-pressed.png); /** sprite-ref: verticals */
}
.v-tabsheet-scrollerPrev-disabled,
.v-tabsheet-scrollerPrev-disabled:active {
	background-image: url(img/tab-prev-disabled.png); /** sprite-ref: verticals */
	opacity: 1;
	filter: none;
}
.v-tabsheet-scrollerNext-disabled,
.v-tabsheet-scrollerNext-disabled:active {
	background-image: url(img/tab-next-disabled.png); /** sprite-ref: verticals; sprite-margin-bottom: 1px */
	opacity: 1;
	filter: none;
}