@mixin reindeer-tabsheet-small-style($primaryStyleName : v-tabsheet) {

/**
 * Tabsheet bar style ---------------
 */
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitemcell,
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-spacertd {
	height: 20px;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-spacertd {
	background: transparent;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitemcell {
	background-image: url(img/bar/tab-left.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitemcell-first {
	padding-left: 6px;
	background-image: url(img/bar/tab-first-left.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitem,
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-spacertd div {
	height: 20px;
	background-image: url(img/bar/tab-bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	margin: 0;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitem .v-caption {
	font-size: 11px;
	height: 18px;
	background-image: url(img/bar/tab-right.png); /** sprite-ref: verticals; sprite-alignment: right */
	padding: 2px 12px 0 10px;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitem .v-caption-closable,
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitem-selected .v-caption-closable {
	padding-right: 8px;
	padding-left: 14px;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-caption-close,
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-caption-close:hover,
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-caption-close:active {
	text-indent: 0;
	background: transparent;
	margin-left: 3px;
	margin-right: -3px;
	padding: 1px 0 0 1px;
	color: #3c3c3c;
	width: 13px;
	height: 13px;
	line-height: 12px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-caption-close {
	margin-top: 1px;
}
.v-ff & .#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-caption-close {
	margin-top: -14px;
}
.v-ie9 &, .v-ie10 & {
	.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-caption-close:only-child,
	.#{$primaryStyleName}-tabs-bar .v-captiontext:first-child + .#{$primaryStyleName}-caption-close {
    margin-top: -14px;
	}
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-caption-close:hover {
	background: #bfbfbf;
	-webkit-box-shadow: 0 1px 0 #fff;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-caption-close:active {
	background: #a9a9a9;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitem-selected .#{$primaryStyleName}-caption-close {
	color: #404142;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitem-selected .#{$primaryStyleName}-caption-close:hover {
	background: #5e666e;
	color: #fff;
	text-shadow: 0 -1px 0 #222;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitem-selected .#{$primaryStyleName}-caption-close:active {
	background: #404142;
}

.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitemcell-selected {
	background-image: url(img/bar/tab-left-sel.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitemcell-selected-first {
	background-image: url(img/bar/tab-first-left-sel.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitem-selected {
	background-image: url(img/bar/tab-bg-sel.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	color: #232930;
}
.#{$primaryStyleName}-tabs-bar .#{$primaryStyleName}-tabitem-selected .v-caption {
	background-image: url(img/bar/tab-right-sel.png); /** sprite-ref: verticals; sprite-alignment: right */
}
.#{$primaryStyleName}-tabcontainer-bar .#{$primaryStyleName}-scroller {
	margin-top: -20px;
	height: 19px;
	border-right: none;
	background-image: url(img/bar/tab-bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
}
.#{$primaryStyleName}-tabcontainer-bar .#{$primaryStyleName}-scroller button {
	margin-top: 1px;
}
.#{$primaryStyleName}-content-bar,
.white .#{$primaryStyleName}-content-bar {
	border: none;
}
.#{$primaryStyleName}-content-bar .#{$primaryStyleName}-tabsheetpanel {
	background: transparent;
}
.#{$primaryStyleName}-deco-bar,
.white .#{$primaryStyleName}-deco-bar {
	height: 0;
	border: none;
}
/* Content area font color specified with minimal style (reduces additional selectors) */

}