@mixin reindeer-tabsheet-scroller($primaryStyleName : v-tabsheet) {

/* Tabsheet scroller styles */

.#{$primaryStyleName}-scroller {
	height: 31px;
	margin-top: -31px;
	padding: 0 3px 0 4px;
	border-right: 1px solid #c2c2c2;
	border-left: 1px solid #cfcfcf;
	position: relative;
	float: right;
	background: transparent url(img/framed/tab-bg.png) repeat-x left -1px;
	width: 36px;
}
.#{$primaryStyleName}-scroller button {
	margin-top: 7px;
}
.#{$primaryStyleName}-scrollerPrev,
.#{$primaryStyleName}-scrollerNext,
.#{$primaryStyleName}-scrollerPrev-disabled,
.#{$primaryStyleName}-scrollerNext-disabled {
	border: none;
	background: transparent;
	background-image: url(img/tab-prev.png); /** sprite-ref: verticals */
	width: 18px;
	height: 17px;
	overflow: hidden;
}
.#{$primaryStyleName}-scroller button::-moz-focus-inner {
	border: none;
}
.#{$primaryStyleName}-scrollerNext {
	background-image: url(img/tab-next.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-scrollerPrev:active {
	background-image: url(img/tab-prev-pressed.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-scrollerNext:active {
	background-image: url(img/tab-next-pressed.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-scrollerPrev-disabled,
.#{$primaryStyleName}-scrollerPrev-disabled:active {
	background-image: url(img/tab-prev-disabled.png); /** sprite-ref: verticals */
	opacity: 1;
	filter: none;
}
.#{$primaryStyleName}-scrollerNext-disabled,
.#{$primaryStyleName}-scrollerNext-disabled:active {
	background-image: url(img/tab-next-disabled.png); /** sprite-ref: verticals; sprite-margin-bottom: 1px */
	opacity: 1;
	filter: none;
}

}