.v-tabsheet-spacertd div {
	border-color: #bfbfbf;
	border-left: none;
}
.v-tabsheet-tabitem {
	border: none;
	border-bottom: 1px solid #bfbfbf;
	color: #4d748f;
	padding: 0;
}
.v-tabsheet-tabitem .v-caption {
	padding: 5px 16px;
}
.v-tabsheet-tabitem-selected {
	border: 1px solid #bfbfbf;
	border-bottom: none;
	color: #222;
}
.v-tabsheet-tabitem-selected .v-caption {
	padding: 4px 15px 6px 15px;
}
.v-tabsheet-content {
	border: none;
}
.v-tabsheet-deco {
	height: 0;
}
.v-tabsheet-tabs .v-icon,
.v-tabsheet-tabs .v-captiontext,
.v-tabsheet-tabs .v-errorindicator {
	display: inline;
	float: none;
}
.v-sa .v-tabsheet-tabs .v-captiontext {
	display: inline-block;
}
.v-tabsheet-tabs .v-icon {
	width: 16px !important;
	height: 16px !important;
}
.v-tabsheet-tabs .v-errorindicator {
	display: inline-block;
	width: 13px;
	height: 16px;
	background: transparent url(../common/icons/error.png) no-repeat 50%;
}
.v-ff2 .v-tabsheet-tabs .v-icon,
.v-ff2 .v-tabsheet-tabs .v-errorindicator {
	display: -moz-inline-stack;
}
.v-ie6 .v-tabsheet-tabs .v-errorindicator {
	background-image: url(../common/icons/error-ie6.png);
}
.v-ie .v-tabsheet-tabs .v-errorindicator {
	zoom: 1;
	display: inline;
}
/* Tabsheet on blue background */
.blue .v-tabsheet-spacertd div,
.blue .v-tabsheet-tabitem,
.blue .v-tabsheet-tabitem-selected  {
	border-color: #7c8a91;
}