@mixin base-absolutelayout($primaryStyleName : v-absolutelayout) {

.#{$primaryStyleName}-wrapper {
	position: absolute;
	overflow: hidden;
}
.#{$primaryStyleName}-margin, .#{$primaryStyleName}-canvas {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.#{$primaryStyleName}.v-has-height > div, .#{$primaryStyleName}.v-has-height > div > div {
	height: 100%;
}
.#{$primaryStyleName}.v-has-width > div, .#{$primaryStyleName}.v-has-width > div > div {
	width: 100%;
}

}