<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.textfield.TextFieldEagerRepaint?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldEagerRepaint::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td>78,8</td>
</tr>
<tr>
	<td>focus</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldEagerRepaint::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>100</td>
	<td></td>
</tr>
<!-- <tr> -->
<!-- 	<td>typeKeys</td> -->
<!-- 	<td>abCDef</td> -->
<!-- 	<td></td> -->
<!-- </tr> -->
<tr>
	<td>keyPressNative</td>
	<td>65</td>
	<td></td>
</tr>
<tr>
	<td>keyPressNative</td>
	<td>66</td>
	<td></td>
</tr>
<tr>
	<td>keyDownNative</td>
	<td>16</td>
	<td></td>
</tr>
<tr>
	<td>keyPressNative</td>
	<td>67</td>
	<td></td>
</tr>
<tr>
	<td>keyPressNative</td>
	<td>68</td>
	<td></td>
</tr>
<tr>
	<td>keyUpNative</td>
	<td>16</td>
	<td></td>
</tr>
<tr>
	<td>keyPressNative</td>
	<td>69</td>
	<td></td>
</tr>
<tr>
	<td>keyPressNative</td>
	<td>70</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td></td>
	<td>500</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldEagerRepaint::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTextField[0]</td>
	<td>abef</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldEagerRepaint::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VTextField[0]</td>
	<td>73,15</td>
</tr>
<tr>
	<td>focus</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldEagerRepaint::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VTextField[0]</td>
	<td></td>
</tr>
<tr>
	<td>keyPressNative</td>
	<td>65</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td></td>
	<td>500</td>
</tr>
<tr>
	<td>assertElementWidth</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldEagerRepaint::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VTextField[0]</td>
	<td>150</td>
</tr>
<tr>
	<td>keyDownNative</td>
	<td>16</td>
	<td></td>
</tr>
<tr>
	<td>keyPressNative</td>
	<td>66</td>
	<td></td>
</tr>
<tr>
	<td>keyUpNative</td>
	<td>16</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td></td>
	<td>500</td>
</tr>
<tr>
	<td>assertElementWidth</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldEagerRepaint::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VTextField[0]</td>
	<td>100</td>
</tr>
<tr>
	<td>assertValue</td>
	<td>vaadin=runcomvaadintestscomponentstextfieldTextFieldEagerRepaint::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VTextField[0]</td>
	<td>aB</td>
</tr>
</tbody></table>
</body>
</html>
