@import "../base/base.scss";

@import "accordion/accordion.scss";
@import "button/button.scss";
@import "colorpicker/colorpicker.scss";

@import "common/common.scss";

@import "contextmenu/contextmenu.scss";
@import "datefield/datefield.scss";
@import "inlinedatefield/inlinedatefield.scss";
@import "formlayout/formlayout.scss";
@import "menubar/menubar.scss";
@import "notification/notification.scss";
@import "panel/panel.scss";
@import "popupview/popupview.scss";
@import "progressindicator/progressindicator.scss";
@import "select/select.scss";
@import "slider/slider.scss";
@import "splitpanel/splitpanel.scss";
@import "table/table.scss";
@import "tabsheet/tabsheet.scss";
@import "textfield/textfield.scss";
@import "tree/tree.scss";
@import "window/window.scss";
	
@mixin liferay {
	// TODO move?
	$font-size: 11px;
	@include base;
	// TODO @each
	@include liferay-accordion;
	@include liferay-button;
	@include liferay-colorpicker;
	
	@include liferay-common;
	@include liferay-contextmenu;
	@include liferay-datefield;
	@include liferay-inlinedatefield;
	@include liferay-formlayout;
	@include liferay-menubar;
	@include liferay-notification;
	@include liferay-panel;
	@include liferay-popupview;
	@include liferay-progressindicator(v-progressbar);
	/* For legacy ProgressIndicator component */
	@include liferay-progressindicator(v-progressindicator);
	@include liferay-select;
	@include liferay-slider;
	@include liferay-splitpanel;
	@include liferay-table;
	@include liferay-tabsheet;
	@include liferay-textfield;
	@include liferay-tree;
	@include liferay-window;
}
