.v-window {
	background: transparent;
}

.v-window-wrap {
	border: 1px solid #c8c9ca;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fff url(top-left.png) no-repeat;
}

.v-ie6 .v-window-wrap,
.v-ie7 .v-window-wrap {
	background-position: 1px 1px;
}

.v-ie6 .v-window-wrap {
	border-bottom: none;
}

.v-ie6 .v-window-footer {
	border-bottom: 1px solid #c8c9ca;
	margin-top: -1px;
	padding-top: 1px;
}

.v-window-outerheader {
	height: 16px;
	margin-left: 9px;
	padding: 10px 40px 12px 2px;
	background: transparent url(top-right.png) no-repeat right top;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.v-window-header {
	color: #000;
	font-size: 12px;
	text-shadow: 1px 1px #fff;	
}

.v-window-contents {
	padding: 0 5px 0 5px;
}

.v-window-footer {
	height: 5px;
	overflow: visible;
}

.v-window div.v-window-footer-noresize {
	height: 5px;
}

.v-window-closebox {
	background: url(closebutton_sprites.png) no-repeat scroll 0 0 transparent;
	position: absolute;
	width: 24px;
	height: 24px;
	right: 9px;
	top: 8px;
}

.v-window-closebox:hover {
	background-position: 0 -24px;	
}

.v-window-closebox:active {
	background-position: 0 -48px;	
}

.v-window-resizebox {
	background: transparent url(/html/themes/classic/images/aui/icon_sprite.png) no-repeat scroll -69px -229px;
	width: 10px;
	height: 10px;
	bottom: 0;	
}