@mixin liferay-window {

.v-window {
	background: transparent;
}

.v-window-wrap {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fff url(top-left.png) no-repeat;
}

.v-window-outerheader {
	height: 38px;
	margin-left: 9px;
	padding: 10px 40px 12px 2px;
	background: transparent url(top-right.png) no-repeat right top;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.v-window-header {
	color: #000;
	font-size: 12px;
	text-shadow: 1px 1px #fff;	
}

.v-window-contents {
	padding: 0 5px 0 5px;
}

.v-window-footer {
	height: 5px;
	overflow: visible;
}

.v-window div.v-window-footer-noresize {
	height: 5px;
}

.v-window-restorebox,
.v-window-maximizebox,
.v-window-closebox {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 8px;
	&:hover {
		background-position: 0 -24px;	
	}
	&:active {
		background-position: 0 -48px;
	}	
	
}
.v-window-closebox {
	right: 9px;
	background: url(closebutton_sprites.png) no-repeat scroll 0 0 transparent;
}

.v-window-restorebox,
.v-window-maximizebox {
	right: 36px;
}
.v-window-restorebox {
	background: url(restore_sprites.png) no-repeat scroll 0 0 transparent;
}
.v-window-maximizebox {
	background: url(maximize_sprites.png) no-repeat scroll 0 0 transparent;
}

.v-window-resizebox {
	background: transparent url(/html/themes/classic/images/aui/icon_sprite.png) no-repeat scroll -69px -229px;
	width: 10px;
	height: 10px;
	bottom: 0;	
}

}