.v-Notification {
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 100%;
	background: #c8ccd0;
	font-weight: bold;
}
.v-Notification p {
	line-height: 1.3;
}
.v-Notification-warning {
	background: #fdf3b5;
	color: #ca9a61;
	border: 3px solid #fee3af;
}
.v-Notification-error {
	background: #b40000 url(img/error-close.png) no-repeat right top;
	border: 3px solid #ca3030;
}
.v-Notification-tray {
	margin: 0 5px 5px 0;
	background: #3b3c3e;
	border: 2px solid #585b5c;
	padding: 0.8em 0.9em;
}
.v-Notification-tray h1 {
	font-size: 14px;
	line-height: 18px;
}
.v-Notification-tray p {
	font-size: 12px;
	font-weight: normal;
}
.v-Notification-system {
	background-color: #b40000;
}