@mixin reindeer-notification($primaryStyleName : v-Notification) {

.#{$primaryStyleName} {
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 16px;
	background: #c8ccd0;
	font-weight: bold;
}

.v-ie9 &, .v-ie10 & {
	.#{$primaryStyleName} H1 {
	/* Fix for #6793 */
	font-weight: bold;
	}
}
	
.#{$primaryStyleName} p {
	line-height: 1.3;
}
.#{$primaryStyleName}-warning {
	background: #fdf3b5;
	color: #ca9a61;
	border: 3px solid #fee3af;
}
.#{$primaryStyleName}-error {
	background: #b40000 url(img/error-close.png) no-repeat right top;
	border: 3px solid #ca3030;
}
.#{$primaryStyleName}-tray {
	margin: 0 5px 5px 0;
	background: #3b3c3e;
	border: 2px solid #585b5c;
	padding: 0.8em 0.9em;
}
.#{$primaryStyleName}-tray h1 {
	font-size: 14px;
	line-height: 18px;
}
.#{$primaryStyleName}-tray p {
	font-size: 12px;
	font-weight: normal;
}
.#{$primaryStyleName}-system {
	background-color: #b40000;
}

}