<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8070" />
<title>WindowClickEvents</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">WindowClickEvents</td></tr>
</thead><tbody>
<tr>
	<td>setSpeed</td>
	<td>200</td>
	<td>To avoid random failures</td>
</tr>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.window.WindowClickEvents?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentswindowWindowClickEvents::/VVerticalLayout[0]/VLabel[0]</td>
	<td>150,5</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentswindowWindowClickEvents::PID_SLog_row_1</td>
	<td>1. Click using left on Main window layout</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentswindowWindowClickEvents::PID_SLog_row_0</td>
	<td>2. Click using left on Main window</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentswindowWindowClickEvents::/VWindow[0]/FocusableScrollPanel[0]/VVerticalLayout[0]</td>
	<td>188,16</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentswindowWindowClickEvents::PID_SLog_row_1</td>
	<td>3. Click using left on Sub window layout</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentswindowWindowClickEvents::PID_SLog_row_0</td>
	<td>4. Click using left on Sub window</td>
</tr>
<!--Clicking on the button should not produce a window click event-->
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentswindowWindowClickEvents::/VWindow[0]/FocusableScrollPanel[0]/VVerticalLayout[0]/ChildComponentContainer[1]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentswindowWindowClickEvents::PID_SLog_row_0</td>
	<td>5. Click on button</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentswindowWindowClickEvents::PID_SLog_row_2</td>
	<td>3. Click using left on Sub window layout</td>
</tr>
<tr>
	<td>assertText</td>
	<td>vaadin=runcomvaadintestscomponentswindowWindowClickEvents::PID_SLog_row_1</td>
	<td>4. Click using left on Sub window</td>
</tr>

</tbody></table>
</body>
</html>
