@mixin base-csslayout($primaryStyleName : v-csslayout) {

.#{$primaryStyleName} {
	overflow: hidden;
}
/* More specific selector to override 'v-connector' */
div.#{$primaryStyleName} {
	display: block;
}
.#{$primaryStyleName}-margin, .#{$primaryStyleName}-container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.v-has-width > .#{$primaryStyleName}-margin,
.v-has-width > .#{$primaryStyleName}-margin > .#{$primaryStyleName}-container {
	width: 100%;
}
.v-has-height > .#{$primaryStyleName}-margin,
.v-has-height > .#{$primaryStyleName}-margin > .#{$primaryStyleName}-container {
	height: 100%;
}
.#{$primaryStyleName}-margin-top {
	padding-top: 12px;	
}
.#{$primaryStyleName}-margin-bottom {
	padding-bottom: 12px;	
}
.#{$primaryStyleName}-margin-left {
	padding-left: 12px;	
}
.#{$primaryStyleName}-margin-right {
	padding-right: 12px;	
}

}