.v-Notification {
	background: #999;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	padding: 1em;
	max-width:85%;
	
}
.v-Notification h1,
.v-Notification p,
.v-Notification-error h1,
.v-Notification-error p,
.v-Notification-warning h1,
.v-Notification-warning p {
	display: inline;
	margin: 0 0.5em 0 0;
}
.v-Notification-warning {
	background: orange;
}
.v-Notification-error {
	background: red;
}
.v-Notification-tray h1 {
	display: block;
}
.v-Notification-tray p {
	display: block;
}
.v-Notification-system {
	background-color: red;
	opacity: .7;
	filter: alpha(opacity=70);
}
.v-Notification-system h1 {
	display: block;
	margin: 0;
}
