@mixin base-notification($primaryStyleName : v-Notification) {

.#{$primaryStyleName} {
	background: #999;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	padding: 1em;
	max-width:85%;
	
}
.#{$primaryStyleName} h1,
.#{$primaryStyleName} p,
.#{$primaryStyleName}-error h1,
.#{$primaryStyleName}-error p,
.#{$primaryStyleName}-warning h1,
.#{$primaryStyleName}-warning p {
	display: inline;
	margin: 0 0.5em 0 0;
}
.#{$primaryStyleName}-warning {
	background: orange;
}
.#{$primaryStyleName}-error {
	background: red;
}
.#{$primaryStyleName}-tray h1 {
	display: block;
}
.#{$primaryStyleName}-tray p {
	display: block;
}
.#{$primaryStyleName}-system {
	background-color: red;
	opacity: .7;
	filter: alpha(opacity=70);
}
.#{$primaryStyleName}-system h1 {
	display: block;
	margin: 0;
}

}