@mixin reindeer-tree($name : v-tree) {

.#{$name}-node {
	background: transparent url(img/arrows.png) no-repeat 6px -10px;
}
.#{$name}-node-expanded {
	background-position: -7px 5px;
}
.#{$name}-node-caption {
	margin-left: 16px;
	padding-bottom: 1px;
}
.#{$name}-node span {
	padding: 1px 2px;
	display: inline-block;
}
.#{$name}-node-selected span {
	background: #4d749f repeat-x;
	background-image: url(../common/img/sel-bg.png); /* sprite-ref: verticals; sprite-alignment: repeat */
	color: #fff;
	padding: 1px 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-shadow: #2b425a 0 1px 0;
	display: inline-block;
}
.#{$name}-node-children {
	padding-left: 16px;
}
.#{$name}-node-caption.#{$name}-node-focused span{
	padding-left: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.#{$name}-node-focused span{
	border: 1px dotted black;	
}
/***************************************
 * Drag'n'drop styles
 ***************************************/
.#{$name} .#{$name}-node-drag-top {
	background-position: 6px -11px;
}
.#{$name} .#{$name}-node-drag-top.#{$name}-node-expanded {
	background-position: -7px 4px;
}
.#{$name}-connectors .#{$name}-node-drag-top,
.#{$name}-connectors .#{$name}-node-expanded.#{$name}-node-drag-top {
	background-position: 2px -53px;
}
.#{$name}-connectors .#{$name}-node-drag-top.#{$name}-node-leaf {
	background-position: 2px 50%;
}

}