.v-select {
	text-align: left;
}
.v-select-optiongroup .v-select-option {
	display: block;
	white-space: nowrap;
}
.v-ie .v-select-optiongroup .v-select-option {
	zoom: 1;
}
.v-select-select {
	display: block;
}
.v-select-twincol {
	white-space: nowrap;
}
.v-select-twincol-options {
	float: left;
}
.v-select-twincol-caption-left {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
}
.v-select-twincol-selections {
	font-weight: bold;
}
.v-select-twincol-caption-right {
	float: right;
	overflow: hidden;
	text-overflow: ellipsis;
}
.v-select-twincol-buttons {
	float: left;
	text-align: center;
}
.v-select-twincol-buttons .v-select-twincol-deco {
	clear: both;
}
.v-select-twincol .v-textfield {
	display: block;
	float: left;
	clear: left;
}
.v-select-twincol .v-button {
	float: left;
}
.v-select-twincol-buttons .v-button {
	float: none;
}
.v-filterselect {
	white-space: nowrap;
	text-align: left;
}
.v-filterselect .v-icon {
	float: left;
}
.v-app .v-filterselect-input,
.v-window .v-filterselect-input,
.v-popupview-popup .v-filterselect-input {
	float: left;
	-webkit-border-radius: 0px;
}
.v-filterselect-prompt .v-filterselect-input {
	color: #999;
	font-style: italic;
}
.v-filterselect-button {
	float: right;
	cursor: pointer;
	width: 1em;
	height: 1em;
	background: transparent url(../common/img/sprites.png) no-repeat -5px -8px;
}
.v-filterselect.v-readonly .v-filterselect-button {
	display: none;
}
.v-filterselect.v-readonly,
.v-filterselect.v-readonly .v-filterselect-input {
	background: transparent;
}
.v-filterselect-suggestpopup {
	background: #fff;
	border: 1px solid #eee;
}
.v-filterselect-suggestmenu table {
	border-collapse: collapse;
	border: none;
}
.v-filterselect-suggestmenu .gwt-MenuItem {
	white-space: nowrap;
}
.v-filterselect-suggestmenu .gwt-MenuItem .v-icon {
	margin-right: 3px;
	vertical-align: middle;
}
.v-filterselect-suggestmenu .gwt-MenuItem span {
	vertical-align: middle;
}
.v-filterselect-suggestmenu .gwt-MenuItem-selected {
	background: #333;
	color: #fff;
}
.v-filterselect-nextpage,
.v-filterselect-nextpage-off,
.v-filterselect-prevpage-off,
.v-filterselect-prevpage {
	width: 100%;
	background: #aaa;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
.v-filterselect-nextpage-off,
.v-filterselect-prevpage-off {
	color: #666;
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: default;
}
.v-filterselect-nextpage-off span,
.v-filterselect-prevpage-off span {
	cursor: default;
}
.v-filterselect-status {
	white-space: nowrap;
	text-align: center;
}

/* Error styles (disabled by default)

.v-filterselect-error .v-filterselect-input,
.v-select-error .v-select-option,
.v-select-error .v-select-select,
.v-select-error .v-select-twincol-selections,
.v-select-error .v-select-twincol-options {
	background: #ffaaaa;
}
*/

/*  Required field styles (disabled by default)
   
.v-filterselect-error .v-filterselect-input,
.v-select-required .v-select-option,
.v-select-required .v-select-select,
.v-select-required .v-select-twincol-selections,
.v-select-required .v-select-twincol-options {
	background: #ffaaaa;
}
*/