.i-accordion {
	outline: none;
	overflow: hidden;
	text-align: left /* Force default alignment */
}

.i-accordion-item-caption {
	height: 31px;
	overflow: hidden;
	white-space: nowrap;
	background: #edf0f0 url(../tabsheet/img/tab-bg.png);
	font-size: 15px;
	color: #656d73;
	border-top: 1px solid #c8cccd;
}

.i-accordion-item-caption .i-caption {
	padding: 7px 0 6px 18px;
	cursor: pointer;
}

.i-accordion-item-open .i-accordion-item-caption {
	color: #3b4b57;
	background: #d5dee2 url(img/selected-bg.png);
	border-top-color: #cbd7de;
	border-bottom-color: #bfc9d4;
	text-shadow: #fafafa 1px 1px 0;
	border-bottom: 1px solid #c8cccd;
}

.i-accordion-item-open .i-accordion-item-caption .i-caption {
	cursor: default;
}

.i-accordion-item-content {
}