<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <display-name>IT Mill Toolkit</display-name>
  <description>
     IT Mill Toolkit examples
  </description>

 <servlet>
    <servlet-name>TestForNativeWindowing</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.tests.TestForNativeWindowing</param-value>
    </init-param>
  </servlet>
  
<servlet>
        <servlet-name>iWork</servlet-name>
        <servlet-class>com.itmill.toolkit.terminal.web.ApplicationServlet</servlet-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>com.itmill.iwork.IWork</param-value>
        </init-param>
        <init-param>
      <param-name>widgetset</param-name>
      <param-value>com.itmill.iwork.gwt.WidgetSet</param-value>
    </init-param>	    	
    </servlet>
    
    <!--
<servlet>
    <servlet-name>iWork</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.iwork.IWork</param-value>
    </init-param>
  </servlet>
  -->
  
<servlet>
    <servlet-name>TestSplitPanel</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.tests.TestSplitPanel</param-value>
    </init-param>
  </servlet>
  
<servlet>
    <servlet-name>FeatureBrowser</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.featurebrowser.FeatureBrowser</param-value>
    </init-param>
  </servlet>
  
 <servlet>
    <servlet-name>TestBench</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.tests.TestBench</param-value>
    </init-param>
  </servlet>
  
   <servlet>
    <servlet-name>RandomLayoutStress</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.tests.RandomLayoutStress</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>Reservr</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.reservation.ReservationApplication</param-value>
    </init-param>
    <init-param>
      <param-name>widgetset</param-name>
      <param-value>com.itmill.toolkit.demo.reservation.gwt.ReservationWidgetSet</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>CalendarDemo</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.reservation.CalendarDemo</param-value>
    </init-param>
    <init-param>
      <param-name>widgetset</param-name>
      <param-value>com.itmill.toolkit.demo.reservation.gwt.ReservationWidgetSet</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>SelectDemo</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.SelectDemo</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>BufferedComponents</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.BufferedComponents</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>TableDemo</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.TableDemo</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>CustomLayoutDemo</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.CustomLayoutDemo</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>LayoutDemo</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.LayoutDemo</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>FilterSelect</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.FilterSelect</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>FeaturesApplication</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.tests.featurebrowser.FeaturesApplication</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>Parameters</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.Parameters</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>UpgradingSample</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.UpgradingSample</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>QueryContainerDemo</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.QueryContainerDemo</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>TreeFilesystemContainer</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.TreeFilesystemContainer</param-value>
    </init-param>
    <!-- Set this property if demo cannot access context base directory
      because of Application Server or Servlet Container security constraints-->
    <!--
    <init-param>
      <param-name>sampleDirectory</param-name>
      <param-value>/mySampleDirectory</param-value>
    </init-param>
    -->								
  </servlet>

  <servlet>
    <servlet-name>TreeFilesystem</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.TreeFilesystem</param-value>
    </init-param>
    <!-- Set this property if demo cannot access context base directory
      because of Application Server or Servlet Container security constraints-->
    <!--
    <init-param>
      <param-name>sampleDirectory</param-name>
      <param-value>/mySampleDirectory</param-value>
    </init-param>
    -->
  </servlet>

  <servlet>
    <servlet-name>ModalWindow</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.ModalWindow</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.HelloWorld</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>Calc</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.Calc</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>KeyboardShortcut</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.KeyboardShortcut</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>CustomGwtComponentDemo</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.CustomGwtComponentDemo</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>ColorPickerApplication</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.colorpicker.ColorPickerApplication</param-value>
    </init-param>
    <init-param>
      <param-name>widgetset</param-name>
      <param-value>com.itmill.toolkit.demo.colorpicker.gwt.ColorPickerWidgetSet</param-value>
    </init-param>
  </servlet>
 
   <servlet>
    <servlet-name>CachingDemo</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.CachingDemo</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>NotificationDemo</servlet-name>
    <servlet-class>com.itmill.toolkit.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>com.itmill.toolkit.demo.NotificationDemo</param-value>
    </init-param>
  </servlet>
  
  
        <servlet-mapping>
    <servlet-name>TestForNativeWindowing</servlet-name>
    <url-pattern>/TestForNativeWindowing/*</url-pattern>
  </servlet-mapping>
  
  
       <servlet-mapping>
    <servlet-name>iWork</servlet-name>
    <url-pattern>/iWork/*</url-pattern>
  </servlet-mapping>
  
     <servlet-mapping>
    <servlet-name>TestSplitPanel</servlet-name>
    <url-pattern>/TestSplitPanel/*</url-pattern>
  </servlet-mapping>
  
     <servlet-mapping>
    <servlet-name>RandomLayoutStress</servlet-name>
    <url-pattern>/RandomLayoutStress/*</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>TestBench</servlet-name>
    <url-pattern>/TestBench/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Reservr</servlet-name>
    <url-pattern>/Reservr/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CalendarDemo</servlet-name>
    <url-pattern>/CalendarDemo/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SelectDemo</servlet-name>
    <url-pattern>/SelectDemo/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BufferedComponents</servlet-name>
    <url-pattern>/BufferedComponents/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TableDemo</servlet-name>
    <url-pattern>/TableDemo/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CustomLayoutDemo</servlet-name>
    <url-pattern>/CustomLayoutDemo/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LayoutDemo</servlet-name>
    <url-pattern>/LayoutDemo/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FilterSelect</servlet-name>
    <url-pattern>/FilterSelect/*</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>FeatureBrowser</servlet-name>
    <url-pattern>/FeatureBrowser/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FeaturesApplication</servlet-name>
    <url-pattern>/FeaturesApplication/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Parameters</servlet-name>
    <url-pattern>/Parameters/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UpgradingSample</servlet-name>
    <url-pattern>/UpgradingSample/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>QueryContainerDemo</servlet-name>
    <url-pattern>/QueryContainerDemo/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>TreeFilesystemContainer</servlet-name>
    <url-pattern>/TreeFilesystemContainer/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TreeFilesystem</servlet-name>
    <url-pattern>/TreeFilesystem/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ModalWindow</servlet-name>
    <url-pattern>/ModalWindow/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Calc</servlet-name>
    <url-pattern>/Calc/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>KeyboardShortcut</servlet-name>
    <url-pattern>/KeyboardShortcut/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CustomGwtComponentDemo</servlet-name>
    <url-pattern>/customgwt/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ColorPickerApplication</servlet-name>
    <url-pattern>/colorpicker/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CachingDemo</servlet-name>
    <url-pattern>/CachingDemo/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>NotificationDemo</servlet-name>
    <url-pattern>/NotificationDemo/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>

</web-app>
