$font-size: 13px !default;
$line-height: 18px !default;


// Override Base Grid variables
$v-grid-border: 1px solid #b6bbbc !default;
$v-grid-cell-vertical-border: 1px solid #d4d4d4 !default;
$v-grid-cell-vertical-border: none !default;
$v-grid-cell-horizontal-border: none !default;
$v-grid-cell-focused-border: 1px solid #57a7ed !default;
$v-grid-row-height: 26px !default;
$v-grid-header-row-height: 36px !default;
$v-grid-row-background-color: #fff !default;
$v-grid-row-stripe-background-color:#eff0f1 !default;
$v-grid-row-selected-background-color: #57a7ed !default;
$v-grid-header-font-size: 15px !default;
$v-grid-header-background-color: #e7e9ea !default;


@import "../base/base.scss";

@import "absolutelayout/absolutelayout.scss";
@import "accordion/accordion.scss";
@import "button/button.scss";
@import "caption/caption.scss";
@import "colorpicker/colorpicker.scss";
@import "common/common.scss";
@import "datefield/datefield.scss";
@import "inlinedatefield/inlinedatefield.scss";
@import "formlayout/formlayout.scss";
@import "grid/grid.scss";
@import "gridlayout/gridlayout.scss";
@import "label/label.scss";
@import "link/link.scss";
@import "menubar/menubar.scss";
@import "notification/notification.scss";
@import "orderedlayout/orderedlayout.scss";
@import "panel/panel.scss";
@import "popupview/popupview.scss";
@import "progressindicator/progressindicator.scss";
@import "select/select.scss";
@import "shadow/shadow.scss";
@import "slider/slider.scss";
@import "splitpanel/splitpanel.scss";
@import "table/table.scss";
@import "tabsheet/tabsheet.scss";
@import "textfield/textfield.scss";
@import "tree/tree.scss";
@import "window/window.scss";

.v-generated-body {
	background: #e9eced;
}

@mixin runo {
	// TODO move?
	@include base;
	// TODO each
	@include runo-absolutelayout;
	@include runo-accordion;
	@include runo-button;
	@include runo-caption;
	@include runo-colorpicker;

	@include runo-common;

	@include runo-datefield;
	@include runo-inline-datefield;
	@include runo-formlayout;
	@include runo-grid;
	@include runo-gridlayout;
	@include runo-label;
	@include runo-link;
	@include runo-menubar;
	@include runo-notification;
	@include runo-orderedlayout;
	@include runo-panel;
	@include runo-popupview;

	@include runo-progressindicator(v-progressbar);
	/* For legacy ProgressIndicator component */
	@include runo-progressindicator(v-progressindicator);

	@include runo-select;
	@include runo-shadow;
	@include runo-slider;
	@include runo-splitpanel;
	@include runo-table;
	@include runo-tabsheet;
	@include runo-textfield;
	@include runo-tree;
	@include runo-window;
}
