.v-progressindicator-wrapper {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #eee url(../../img/grad-dark-bottom.png) repeat-x left bottom;
	overflow: visible;
	font-size: 1px;
	line-height: 1px;
	}

.v-progressindicator-indicator {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #c9c9c9 url(../../img/grad-light-top.png) repeat-x 0 -10px;
	margin: -1px;
	height: 7px;
	border: 1px solid #b3b3b3;
	}

.v-ie6 .v-progressindicator-wrapper,
.v-ie6 .v-progressindicator-indicator {
	background-image: none;
	}


/*******************************************************************************
 * Small
 ******************************************************************************/
.v-progressindicator-small {
	width: 110px;
	}

.v-progressindicator-small .v-progressindicator-wrapper,
.v-progressindicator-small .v-progressindicator-indicator {
	height: 2px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	}


/*******************************************************************************
 * Big
 ******************************************************************************/
.v-progressindicator-big {
	width: 250px;
	}

.v-progressindicator-big .v-progressindicator-wrapper,
.v-progressindicator-big .v-progressindicator-indicator {
	height: 14px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	}


/*******************************************************************************
 * Indeterminates
 ******************************************************************************/
.v-progressindicator-indeterminate.v-progressindicator-big {
	width: 42px;
	height: 42px;
	background: #fff url(../../../base/common/img/ajax-loader-big.gif) no-repeat 50%;
	}

.v-progressindicator-indeterminate.v-disabled {
	display: none;
	}

.v-progressindicator-indeterminate.v-progressindicator-bar {
	display: block;
	width: 150px;
	height: 9px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	}

.v-progressindicator-indeterminate.bar.v-progressindicator-small {
	width: 110px;
	height: 4px;
	}

.v-progressindicator-indeterminate.bar.v-progressindicator-big {
	width: 200px;
	height: 16px;
	}

.v-progressindicator-indeterminate.bar .v-progressindicator-wrapper {
	display: block;
	background: #fff url(../../img/indeterminate-progress.gif);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
	}

.v-progressindicator-indeterminate.bar .v-progressindicator-indicator {
	display: block;
	background: transparent url(../../img/grad-light-top.png) repeat-x;
	border: none;
	margin: 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
	}

.v-progressindicator-indeterminate.bar.v-progressindicator-small .v-progressindicator-indicator {
	background: transparent;
	}

.v-progressindicator-indeterminate.bar.v-disabled .v-progressindicator-indicator {
	background: #fff;
	}