@mixin chameleon-progressindicator($primaryStyleName : v-progressindicator) {

.#{$primaryStyleName}-wrapper {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #eee url(../../img/grad-dark-bottom.png) repeat-x left bottom;
	overflow: visible;
	font-size: 1px;
	line-height: 1px;
	}

.#{$primaryStyleName}-indicator {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: #c9c9c9 url(../../img/grad-light-top.png) repeat-x 0 -10px;
	margin: -1px;
	height: 7px;
	border: 1px solid #b3b3b3;
	}


/*******************************************************************************
 * Small
 ******************************************************************************/
.#{$primaryStyleName}-small {
	width: 110px;
	}

.#{$primaryStyleName}-small .#{$primaryStyleName}-wrapper,
.#{$primaryStyleName}-small .#{$primaryStyleName}-indicator {
	height: 2px;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	}


/*******************************************************************************
 * Big
 ******************************************************************************/
.#{$primaryStyleName}-big {
	width: 250px;
	}

.#{$primaryStyleName}-big .#{$primaryStyleName}-wrapper,
.#{$primaryStyleName}-big .#{$primaryStyleName}-indicator {
	height: 14px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	}


/*******************************************************************************
 * Indeterminates
 ******************************************************************************/
.#{$primaryStyleName}-indeterminate.#{$primaryStyleName}-big {
	width: 42px;
	height: 42px;
	background: #fff url(../../../base/common/img/ajax-loader-big.gif) no-repeat 50%;
	}

.#{$primaryStyleName}-indeterminate.v-disabled {
	display: none;
	}

.#{$primaryStyleName}-indeterminate.#{$primaryStyleName}-bar {
	display: block;
	width: 150px;
	height: 9px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	}

.#{$primaryStyleName}-indeterminate.bar.#{$primaryStyleName}-small {
	width: 110px;
	height: 4px;
	}

.#{$primaryStyleName}-indeterminate.bar.#{$primaryStyleName}-big {
	width: 200px;
	height: 16px;
	}

.#{$primaryStyleName}-indeterminate.bar .#{$primaryStyleName}-wrapper {
	display: block;
	background: #fff url(../../img/indeterminate-progress.gif);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
	}

.#{$primaryStyleName}-indeterminate.bar .#{$primaryStyleName}-indicator {
	display: block;
	background: transparent url(../../img/grad-light-top.png) repeat-x;
	border: none;
	margin: 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
	}

.#{$primaryStyleName}-indeterminate.bar.#{$primaryStyleName}-small .#{$primaryStyleName}-indicator {
	background: transparent;
	}

.#{$primaryStyleName}-indeterminate.bar.v-disabled .#{$primaryStyleName}-indicator {
	background: #fff;
	}

}