@mixin runo-formlayout($primaryStyleName : v-formlayout) {

.#{$primaryStyleName}-cell .v-errorindicator {
	width: 10px;
	height: 16px;
	background: transparent url(../icons/16/error.png) no-repeat top right;
}
.#{$primaryStyleName}-captioncell {
	text-align:right;
	white-space: nowrap;
}
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-captioncell, 
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-contentcell,
.#{$primaryStyleName}-spacing > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-errorcell {
	padding-top: 8px;
}
.#{$primaryStyleName}-margin-top > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-captioncell, 
.#{$primaryStyleName}-margin-top > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-contentcell,
.#{$primaryStyleName}-margin-top > tbody > .#{$primaryStyleName}-firstrow > .#{$primaryStyleName}-errorcell {
	padding-top: 15px;
}
.#{$primaryStyleName}-margin-bottom > tbody > .#{$primaryStyleName}-lastrow > .#{$primaryStyleName}-captioncell,
.#{$primaryStyleName}-margin-bottom > tbody > .#{$primaryStyleName}-lastrow > .#{$primaryStyleName}-contentcell,
.#{$primaryStyleName}-margin-bottom > tbody > .#{$primaryStyleName}-lastrow > .#{$primaryStyleName}-errorcell {
	padding-bottom: 15px;
}
.#{$primaryStyleName}-margin-left > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-captioncell {
	padding-left: 18px;
} 
.#{$primaryStyleName}-margin-right > tbody > .#{$primaryStyleName}-row > .#{$primaryStyleName}-contentcell {
	padding-right: 18px;
}
/* form */
.v-form-errormessage {
	background: transparent url(../icons/16/error.png) no-repeat top left;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	min-height: 20px;
}
.v-form fieldset {
	border: none;
	border-top: 1px solid #babfc0;
}
.v-form-nocaption fieldset {
	border: none;
}
.v-form-nocaption legend {
	display: none;
}
.v-form legend {
	margin: 0;
	padding: 0 4px 0.3em 4px;
	font-weight: bold;
	color: #464f52;
}

}