<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8068/" />
<title>ColumnReorderingWithManyColumns</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">ColumnReorderingWithManyColumns</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/ColumnReorderingWithManyColumns?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>drag</td>
	<td>//div[@id='runColumnReorderingWithManyColumns-1629303536']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[1]/div[1]/div/table/tbody/tr/td[1]/div[3]</td>
	<td>10,10</td>
</tr>
<tr>
	<td>mouseMoveAt</td>
	<td>//div[@id='runColumnReorderingWithManyColumns-1629303536']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[1]/div[1]/div/table/tbody/tr/td[11]/div[3]</td>
	<td>10,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>drop</td>
	<td>//div[@id='runColumnReorderingWithManyColumns-1629303536']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[1]/div[1]/div/table/tbody/tr/td[11]/div[3]</td>
	<td>10,10</td>
</tr>

</tbody></table>
</body>
</html>
