<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.table.Tables?restartApplication</td>
	<td></td>
</tr>
<!--hide log-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item1</td>
	<td>39,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>23,9</td>
</tr>
<!--width: 100%-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>35,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>54,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>21,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>44,4</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>100pct-no-scrollbar</td>
</tr>
<!--parent width: 300px-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item1</td>
	<td>22,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>48,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>7,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item6</td>
	<td>43,7</td>
</tr>
<!--scroll right-->
<tr>
	<td>pause</td>
	<td>300</td>
	<td></td>
</tr>
<tr>
	<td>scrollLeft</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_StestComponent/domChild[1]</td>
	<td>200</td>
</tr>
<tr>
	<td>pause</td>
	<td>300</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>300px-scrolled-right</td>
</tr>
<!--parent width: 100%-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item1</td>
	<td>22,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>48,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>7,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>43,7</td>
</tr>
<!--  Should really be the same image as before, avoiding constant IE fails using a different image (#6147)-->
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>100pct-no-scrollbar-2</td>
</tr>
</tbody></table>
</body>
</html>
