<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>ViewPortCalculation</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">ViewPortCalculation</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.table.ViewPortCalculation?restartApplication</td>
	<td></td>
</tr>
<tr>
	<td>doubleClickAt</td>
	<td>//div[@id='runcomvaadintestscomponentstableViewPortCalculation-956851709']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[2]/div[1]/table/tbody/tr[2]/td[3]/div</td>
	<td>25,7</td>
</tr>
<tr>
	<td>assertCSSClass</td>
	<td>//div[@id='runcomvaadintestscomponentstableViewPortCalculation-956851709']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[2]/div[1]/table/tbody/tr[2]</td>
	<td>v-table-focus</td>
</tr>
<tr>
	<td>doubleClickAt</td>
	<td>//div[@id='runcomvaadintestscomponentstableViewPortCalculation-956851709']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[2]/div[1]/table/tbody/tr[7]/td[3]/div</td>
	<td>22,7</td>
</tr>
<tr>
	<td>assertCSSClass</td>
	<td>//div[@id='runcomvaadintestscomponentstableViewPortCalculation-956851709']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[2]/div[1]/table/tbody/tr[7]</td>
	<td>v-table-focus</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='runcomvaadintestscomponentstableViewPortCalculation-956851709']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[2]/div[1]/table/tbody/tr[3]/td[3]/div</td>
	<td>15,9</td>
</tr>
<tr>
	<td>assertCSSClass</td>
	<td>//div[@id='runcomvaadintestscomponentstableViewPortCalculation-956851709']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[2]/div[1]/table/tbody/tr[3]</td>
	<td>v-table-focus</td>
</tr>
<tr>
	<td>doubleClickAt</td>
	<td>//div[@id='runcomvaadintestscomponentstableViewPortCalculation-956851709']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[2]/div[1]/table/tbody/tr[10]/td[3]</td>
	<td>23,7</td>
</tr>
<tr>
	<td>assertCSSClass</td>
	<td>//div[@id='runcomvaadintestscomponentstableViewPortCalculation-956851709']/div/div[2]/div/div[2]/div/div/div/div[1]/div/div/div[2]/div[1]/table/tbody/tr[10]</td>
	<td>v-table-focus</td>
</tr>
</tbody></table>
</body>
</html>