@mixin liferay-select {

$select-button-width : 24px;
$select-button-negative-width : -24px;

&.v-app select,
.v-window select {
	padding: 1px;	
}

select {
	background-color: #fff;	
}
.v-filterselect {
	padding-right: $select-button-width; /* Space for the button */
}
.v-filterselect-button {
	width: $select-button-width;
	margin-right: $select-button-negative-width;
	height: 24px;
	background: transparent url(../common/buttons_sprites.png) no-repeat 0 0;
}

.v-filterselect-button:hover {
	background-position: 0px -24px;
}

.v-filterselect-suggestpopup {
	border: 1px solid #98C0F4;	
}

.v-filterselect-suggestmenu {
	min-height: 2px;	
}

.v-filterselect-prevpage,
.v-filterselect-prevpage-off,
.v-filterselect-nextpage,
.v-filterselect-nextpage-off {
	background-color: #fff;
}

.v-filterselect-prevpage span,
.v-filterselect-prevpage-off span,
.v-filterselect-nextpage span,
.v-filterselect-nextpage-off span {
	display: block;
	height: 8px;
	width: 16px;
	margin-left: auto;
	margin-right: auto;
	text-indent: -99999px;
}

.v-filterselect-prevpage span, .v-filterselect-nextpage span {
	background: transparent no-repeat 0 -4px;
  	background-image: url(/html/themes/classic/images/aui/icon_sprite.png);
}

.v-filterselect-nextpage span {
	background-position: -65px -4px;
}
.v-filterselect-suggestmenu .gwt-MenuItem span {
	height: 18px;
}

.v-filterselect-suggestmenu .gwt-MenuItem {
	border: 1px solid transparent;
	&.gwt-MenuItem-selected {
		background-color: #dfe8f6;
		border: 1px solid #333;
		color: #000;
	}
}

.v-filterselect-suggestmenu .gwt-MenuItem .v-icon {
	float: left;
}

.v-select-twincol-buttons .v-button-wrap { 
	padding-left: 11px;
	padding-right: 11px;
}

}