.i-progressindicator {
	overflow: hidden; /* for IE6 */
	width: 150px;
}
.i-progressindicator-wrapper {
	overflow: hidden; /* for IE6 */
	height: 9px;
	border: 1px solid #ddd;
}
.i-progressindicator-disabled {
	height: 9px;
	overflow: hidden; /* for IE6 */
}
.i-progressindicator-indicator {
	height: 9px;
	overflow: hidden; /* for IE6 */
	background: #ddd;
}
.i-progressindicator-indeterminate {
	height: 16px;
	width: 16px;
	overflow: hidden; /* for IE6 */
}
/* Hide obsolete elements in indeterminate mode */
.i-progressindicator-indeterminate .i-progressindicator-wrapper,
.i-progressindicator-indeterminate .i-progressindicator-indicator,
.i-progressindicator-indeterminate-disabled .i-progressindicator-wrapper,
.i-progressindicator-indeterminate-disabled .i-progressindicator-indicator {
	display: none;
}
.i-progressindicator-indeterminate-disabled {
	height: 16px;
	width: 16px;
	overflow: hidden; /* for IE6 */
}