
.i-Notification {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #999999;
	color: #ffffff;
	padding: 0.3em;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.i-Notification H1,
.i-Notification p,
.i-Notification.error H1,
.i-Notification.error p,
.i-Notification.warning H1,
.i-Notification.warning p {
	display: inline;
	padding: 0.1em;
}
.i-Notification.tray H1,
.i-Notification.tray p {
	display: block;
	font-size: 1em;
	line-height: 0.5em;
}

.i-Notification.warning {
	background: #f14c1a;
}

.i-Notification.error {
	background-color: #ff0a0a;
	background-image: url(img/notification-error.png);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 30px;
}
.i-Notification.tray {

}
