@mixin runo-table($primaryStyleName : v-table) {

.#{$primaryStyleName}-header-wrap {
	height: 36px;
	border: 1px solid #b6bbbc;
	border-bottom: none;
	background: #e7e9ea url(img/header-bg.png) repeat-x;
}
.#{$primaryStyleName}-header {
	height: 36px;
}
.#{$primaryStyleName}-footer-wrap {
	border-color: #b6bbbc;
	background: #e7e9ea url(img/header-bg.png) repeat-x;
}
.#{$primaryStyleName}-footer td {
	border-right-color: #e8eaec;
	padding-top: 3px;
	padding-bottom: 3px;
}
.#{$primaryStyleName}-resizer {
	height: 36px;
	width: 4px;
	background: transparent url(img/resizer-bg.png) repeat-y 100% 50%;
}
.#{$primaryStyleName}-caption-container {
	color: #393a3c;
	font-size: 15px;
	padding: 9px 2px 9px 0;
	text-shadow: #ffffff 0 1px 0;
	margin-left: 4px;
}
.#{$primaryStyleName}-sort-indicator {
	width: 0;
	height: 36px;
}
.#{$primaryStyleName}-header-cell-asc .#{$primaryStyleName}-sort-indicator {
	background: transparent url(img/sort-asc.png) no-repeat right 50%;
	width: 20px;
	height: 36px;
}
.#{$primaryStyleName}-header-cell-desc .#{$primaryStyleName}-sort-indicator {
	background: transparent url(img/sort-desc.png) no-repeat right 50%;
	width: 20px;
	height: 36px;
}
.#{$primaryStyleName}-header-cell:hover,
.#{$primaryStyleName}-header-cell-asc:hover,
.#{$primaryStyleName}-header-cell-desc:hover {
	background: transparent url(img/header-bg-over.png) repeat-x;
}
.#{$primaryStyleName}-body {
	background: #fff;
	border: 1px solid #b6bbbc;
}
tr.#{$primaryStyleName}-row:hover,
tr.#{$primaryStyleName}-row-odd:hover {
	background-color: #edeeee;
}
.#{$primaryStyleName}-row,
.#{$primaryStyleName}-body-noselection .#{$primaryStyleName}-row:hover {
	background-color: #fff;
}
.#{$primaryStyleName}-row-odd,
.#{$primaryStyleName}-body-noselection .#{$primaryStyleName}-row-odd:hover {
	background-color: #f6f7f7;
}
.#{$primaryStyleName}-generated-row {
    color: #393a3c;
    font-size: 15px;
    padding: 9px 2px 9px 0;
    text-shadow: #ffffff 0 1px 0;
    background: #e7e9ea;
}
.#{$primaryStyleName} tr.v-selected {
	background: #57a7ed;
	color: #fff;
}
.#{$primaryStyleName}-cell-content {
	padding: 0 6px 0 4px;
	border-right: none;
}
.#{$primaryStyleName}-cell-wrapper {
	white-space: nowrap;
	overflow: hidden;
	line-height: 23px;
	/* Do not specify horizontal padding here */
	padding: 3px 0 0 0;
}
/* Fix textfield size to correspond label size inside table */
.#{$primaryStyleName}-cell-content .v-textfield,
.#{$primaryStyleName}-cell-content .v-button {
	margin: -3px 0 0 0;
}
.#{$primaryStyleName}-cell-content .v-textfield,
.#{$primaryStyleName}-cell-content .v-datefield {
	width: 97%; /* approximate */
}
/* ...but not for datefield textarea */
.#{$primaryStyleName}-cell-content .v-datefield .v-textfield {
	width: auto;
	
}
/* datefield button is too high for table cell */
.#{$primaryStyleName}-cell-content .v-datefield-button {
	height: 25px;
	margin: -3px 0 0 0;
}
.#{$primaryStyleName}-column-selector {
	background: transparent url(img/colsel.png) no-repeat;
	margin: -36px 0 0 0;
	height: 36px;
	width: 15px;
}
.#{$primaryStyleName}-focus-slot-left {
	border-color: #b6bbbc;
	margin-bottom: -36px;
	width: auto;
	border-right: none;
}
.#{$primaryStyleName}-focus-slot-right {
	border-color: #b6bbbc;
}
.#{$primaryStyleName}-header-drag {
	background: #e7edf3 url(img/header-bg.png) repeat-x;
	border: 1px solid #b6bbbc;
	padding: 4px;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	margin-top: 20px;
}
.#{$primaryStyleName}-scrollposition {
	width: 160px;
	height: 39px;
	background: transparent url(img/scroll-position-bg.png);
	border: none;
}
.#{$primaryStyleName}-scrollposition span {
	display: block;
	margin-top: 8px;
	text-align: center;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 15px;
	text-shadow: #ffffff 2px 2px 0;
}
/* row in column selector */
.v-on div {
	background: transparent url(img/check.gif) no-repeat 2px 50%;
	text-indent: 6px;
}
.v-off div {
	text-indent: 6px;
}
.#{$primaryStyleName} .v-link {
	display: inline;
}

/* Borderless style */
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-header-wrap,
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-body {
	border: none;
}
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-header-wrap {
	border-bottom: 1px solid #b6bbbc;
}
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-body {
	background: transparent;
}
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-row,
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-row-odd,
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-body-noselection .#{$primaryStyleName}-row:hover,
.#{$primaryStyleName}-borderless .#{$primaryStyleName}-body-noselection .#{$primaryStyleName}-row-odd:hover {
	background-color: transparent;
}


/* Small style */
.#{$primaryStyleName}-small .#{$primaryStyleName}-header-wrap,
.#{$primaryStyleName}-small .#{$primaryStyleName}-header {
	height: 22px;
}
.#{$primaryStyleName}-small .#{$primaryStyleName}-sort-indicator,
.#{$primaryStyleName}-small .#{$primaryStyleName}-header-cell-asc .#{$primaryStyleName}-sort-indicator,
.#{$primaryStyleName}-small .#{$primaryStyleName}-header-cell-desc .#{$primaryStyleName}-sort-indicator {
	height: 22px;
}
.#{$primaryStyleName}-small .#{$primaryStyleName}-caption-container {
	font-size: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.#{$primaryStyleName}-small .#{$primaryStyleName}-column-selector {
	margin-top: -21px;
	height: 21px;
}
.#{$primaryStyleName}-small .#{$primaryStyleName}-body {
	font-size: 12px;
}
.#{$primaryStyleName}-small .#{$primaryStyleName}-cell-wrapper {
	line-height: 18px;
	padding: 2px 0;
}

}