.i-progressindicator {
	background: #dfe2e4 url(img/base.gif);
	overflow: hidden; /* for IE6 */
	width: 150px;
}
.i-progressindicator-wrapper {
	border: 1px solid #b6bbbc;
	overflow: hidden; /* for IE6 */
	height: 9px;
}
.i-progressindicator-disabled {
	background: #dfe2e4 url(img/disabled.gif);
	height: 9px;
	border: 1px solid #b6bbbc;
	overflow: hidden; /* for IE6 */
}

.i-progressindicator-indicator {
	background: #f7f9f9 url(img/progress.png);
	height: 9px;
	overflow: hidden; /* for IE6 */
}

.i-progressindicator-indeterminate {
	background: #dfe2e4 url(../common/img/ajax-loader-medium.gif);
	height: 16px;
	width: 16px;
	overflow: hidden; /* for IE6 */
}

/* Hide obsolete elements in indeterminate mode */
.i-progressindicator-indeterminate .i-progressindicator-wrapper,
.i-progressindicator-indeterminate .i-progressindicator-indicator,
.i-progressindicator-indeterminate-disabled .i-progressindicator-wrapper,
.i-progressindicator-indeterminate-disabled .i-progressindicator-indicator {
	display: none;
}

.i-progressindicator-indeterminate-disabled {
	background: #dfe2e4 url(../common/img/blank.gif);
	height: 16px;
	width: 16px;
	overflow: hidden; /* for IE6 */
}