.v-accordion {
	position: relative;
	outline: none;
	overflow: hidden;
	text-align: left /* Force default alignment */
}
.v-accordion-item {
	position: relative;
	zoom: 1;
}
.v-accordion-item-caption {
	overflow: hidden;
	white-space: nowrap;
	background: #eee;
	border-bottom: 1px solid #ddd;
}
.v-accordion-item-caption .v-caption {
	cursor: pointer;
}
.v-accordion-item-open .v-accordion-item-caption .v-caption {
	cursor: default;
}
.v-accordion-item-content {
	position: absolute;
	overflow: auto;
	width: 100%;
}