@mixin base-accordion {

.v-accordion {
	position: relative;
	outline: none;
	overflow: hidden;
	text-align: left; /* Force default alignment */
}
.v-accordion-item {
	position: relative;
	zoom: 1;
}
.v-accordion-item-caption {
	overflow: hidden;
	white-space: nowrap;
	background: #eee;
	border-bottom: 1px solid #ddd;
}
.v-accordion-item-caption .v-caption {
	cursor: pointer;
}
.v-accordion-item-open .v-accordion-item-caption .v-caption {
	cursor: default;
}
.v-accordion-item-content {
	position: absolute;
	width: 100%;
}

/*
 * In IE8 and IE9 we need to do magic things to avoid scrollbars since it does not completely
 * support the HTML5 doctype. Changing the contained element to a block element will not add
 * magical bottom paddings to the contained element and cause scrollbars.
 */
.v-ie8, .v-ie9 {
    .v-accordion .v-accordion-item-content > .v-widget {
        display: block;
    }
}

}