@import url(../reindeer/legacy-styles.css);

.v-app {
	background: #fff;
	}


/** Customized phase colors*/


/**
 * Green 
 */

/* For month view */
.v-calendar .v-calendar-event-color1 {
	color: #4f8324;
	}
.v-calendar .v-calendar-event-color1-all-day {
	background-color: #61c114;
	}

/* For week/day view */
.v-calendar .v-calendar-event-color1 .v-calendar-event-caption {
	color: #4f8324;
	}
.v-calendar .v-calendar-event-color1 .v-calendar-event-content {
	border-color: #61c114;
	background-color: #daff70;
	}


/**
 * Blue 
 */

/* For month view */
.v-calendar .v-calendar-event-color2 {
	color: #1c4b8b;
	}
.v-calendar .v-calendar-event-color2-all-day {
	background-color: #0a56bc;
	}

/* For week/day view */
.v-calendar .v-calendar-event-color2 .v-calendar-event-caption {
	color: #1c4b8b;
	}
.v-calendar .v-calendar-event-color2 .v-calendar-event-content {
	border-color: #0a56bc;
	background-color: #529bff;
	}


/**
 * Red 
 */

/* For month view */
.v-calendar .v-calendar-event-color3 {
	color: #831d1d;
	}
.v-calendar .v-calendar-event-color3-all-day {
	background-color: #bd1a1a;
	}

/* For week/day view */
.v-calendar .v-calendar-event-color3 .v-calendar-event-caption {
	color: #831d1d;
	}
.v-calendar .v-calendar-event-color3 .v-calendar-event-content {
	border-color: #bd1a1a;
	background-color: #ff9d9d;
	}


/**
 * Orange 
 */

/* For month view */
.v-calendar .v-calendar-event-color4 {
	color: #8b5923;
	}
.v-calendar .v-calendar-event-color4-all-day {
	background-color: #cd6a00;
	}

/* For week/day view */
.v-calendar .v-calendar-event-color4 .v-calendar-event-caption {
	color: #8b5923;
	}
.v-calendar .v-calendar-event-color4 .v-calendar-event-content {
	border-color: #cd6a00;
	background-color: #faa345;
	}

/**
 * Hide time in captions
 */
.v-calendar-event-hide-time .v-calendar-event-caption>span,
.v-calendar-event-hide-time .v-calendar-event-caption>br {
    display: none;
}