<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>RemoveTabs</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">RemoveTabs</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.tabsheet.RemoveTabs</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>verifyTextPresent</td>
	<td>Tab 1<br /><br /><br /><br />Tab 2<br /><br /><br /><br />Tab 3<br /><br /><br /><br />Tab 4<br /><br /><br /><br />Tab 5<br /><br /><br /><br /><br /><br />This is the contents of tab 1<br /><br /><br /><br /><br /><br /><br /><br />close first tab<br /><br /><br />close last tab<br /><br /><br />Close current tab<br /><br /><br />reorder</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetRemoveTabs::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>verifyTextPresent</td>
	<td>Tab 2<br /><br /><br /><br />Tab 3<br /><br /><br /><br />Tab 4<br /><br /><br /><br />Tab 5<br /><br /><br /><br /><br /><br />This is the contents of tab 2<br /><br /><br /><br /><br /><br /><br /><br />close first tab<br /><br /><br />close last tab<br /><br /><br />Close current tab<br /><br /><br />reorder</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetRemoveTabs::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTabsheet[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[2]/domChild[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetRemoveTabs::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[3]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>verifyTextPresent</td>
	<td>Tab 2<br /><br /><br /><br />Tab 3<br /><br /><br /><br />Tab 5<br /><br /><br /><br /><br /><br />This is the contents of tab 2<br /><br /><br /><br /><br /><br /><br /><br />close first tab<br /><br /><br />close last tab<br /><br /><br />Close current tab<br /><br /><br />reorder</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetRemoveTabs::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[4]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>verifyTextPresent</td>
	<td>Tab 5<br /><br /><br /><br />Tab 3<br /><br /><br /><br />Tab 2<br /><br /><br /><br /><br /><br />This is the contents of tab 5<br /><br /><br /><br /><br /><br /><br /><br />close first tab<br /><br /><br />close last tab<br /><br /><br />Close current tab<br /><br /><br />reorder</td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetRemoveTabs::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[2]/VButton[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>click</td>
	<td>vaadin=runcomvaadintestscomponentstabsheetRemoveTabs::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VTabsheet[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[1]/domChild[0]/domChild[0]/domChild[0]</td>
	<td></td>
</tr>
<tr>
	<td>waitForVaadin</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>verifyTextPresent</td>
	<td>Tab 5<br /><br /><br /><br />Tab 3<br /><br /><br /><br /><br /><br />This is the contents of tab 5<br /><br />This is the contents of tab 3<br /><br /><br /><br /><br /><br /><br /><br />close first tab<br /><br /><br />close last tab<br /><br /><br />Close current tab<br /><br /><br />reorder</td>
	<td></td>
</tr>

</tbody></table>
</body>
</html>
