/* Debug styles */
.uidl {
	position: absolute;
	z-index: 1001;
	text-indent: 18px;
	background-color: white;
	background-image: url('img/debug.gif');
	background-repeat: no-repeat;
	background-position: 1 1;
	font-weight: normal;
	white-space: nowrap;
}
.minimized {
	overflow: hidden;
	width: 18px;
	height: 18px;
	z-index: 1000;
}

/* General styles */

* {
    background-color: ThreeDFace;
    font-family: sans-serif;
    Xfont-size: 10pt;
    font-weight: normal;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.border {
    background-color: ButtonFace;
    border-width: 1px;
    border-style: solid;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;    
}

.outset {
	border: 1px solid ButtonFace;
}
/* DISABLED */
.disabled {
    color: GrayText;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.disabled .caption {
    color: GrayText;
}
.disabled .border .caption {
    color: GrayText;
}
INPUT, SELECT, SELECT OPTION, TEXTAREA {
	background-color: ThreeDHighlight;
}
.disabled INPUT, .disabled SELECT, .disabled SELECT OPTION {
	background-color: ThreeDFace;
}

/* CAPTION */
.caption {
    color: ButtonText;
}
.caption .icon {
	width: 1em;
	height: 1em;	
	vertical-align: middle;
	padding-right: 5px;
}

.clickable {
    cursor: hand;
    cursor: pointer;
}

.over {
	border: 1px solid ThreeDDarkShadow;
}
.over .caption {
 	color: ActiveCaption;
}

.selected {
	font-weight: bold;
	background: #aaaaaa;
}

.content {
    padding: 7px;
}

/* TOOLTIP */
IMG.overlay {
	position: absolute;
	z-index: 5;
}
.popup {
	position: absolute;
	z-index: 99999;
	overflow: hidden;
}
.popup.hide {
	display: none;
}
.popup .border {
	border: 1px solid InfoText;
	background-color: InfoBackground;
}
.popup .caption {
	text-align: left;
}
.popup * {
	white-space: nowrap;
	color: InfoText;
	background-color: InfoBackground;
}
.popup .error {
	font-size: 0.9em;
}

/* COMPONENTS */

/* Button */
.button .border {
	height: 1.2em;
	overflow: hidden;
	padding: 0.2em 0.4em 0.2em 0.4em;
	text-align: center;
}

.button-link .caption {
	color: ActiveCaption;
	font-style: italic;
}
.button-link .over {
	border: none;
}
.button-link .over .caption {
	text-decoration: underline;
}

/* DateField */
.datefield .btn {
	background-color: ButtonFace;
	margin-right: 3px;
}

/* Link */
.link .caption {
	color: ActiveCaption;
	font-style: italic;
}
.link .over {
	border: none;
}
.link .over .caption {
	text-decoration: underline;
}
.link .description {
	font-size: 0.8em;
	text-indent: 1.5em;
}

/* Panel */
.panelcaption {
	padding: 0.2em 0.4em 0.2em 0.4em;
}
.panel .panelcaption {
	border-bottom: 2px groove ButtonShadow;
	color: CaptionText;
	background-color: ActiveCaption;
}
.panel-light .borderlight {
	border: 2px groove ThreeDHighlight;
}

/* Select */
.select-optiongroup INPUT.option {
	background-color: ThreeDFace;
}
.select-optiongroup DIV.newitem {
	margin-left: 1.2em;
	margin-top: 0.3em;
}

/* TabSheet */
.tabsheet .tabs {
	margin-top: 0.5em;
}
.tabsheet .tabs .tab .caption, .tabsheet .tabs .tab-on .caption {
	margin-left: 1px;
	margin-right: 1px;
	padding: 0.2em 0.4em 0.1em 0.4em;
}
.tabsheet .tabs .tab .border {
	border-bottom: 1px solid ThreeDHighlight;
}
.tabsheet .tabs .tab-on .border {
	border-bottom: 1px solid ThreeDFace;
}
.tabsheet .tabs .over {
	border: none;
}
.tabsheet .tabs .over .border {
	border-bottom: 1px solid ThreeDFace;
}


/* TextField */
.textfield {
	margin-top: 0.05em;
}
.textfield .border {
	border: none;
}
.textfield INPUT {
	font-size: 1em;
	padding: 0.12em 0.4em 0.12em 0.4em;
}
