/** 0sprite: verticals; sprite-image: url(../common/img/vertical-sprites.png); sprite-layout: vertical */

/** 1sprite: verticals; sprite-image: url(../common/img/vertical-sprites.png); sprite-layout: vertical */

/** 2sprite: verticals; sprite-image: url(../common/img/vertical-sprites.png); sprite-layout: vertical */

.v-button:focus {
	background-image: url(img/left-focus.png);/** sprite-ref: buttons */
	outline: none;
}

.v-button:focus .v-button-wrap {
	background-image: url(img/right-focus.png);/** sprite-ref: buttons; sprite-alignment: right */
	outline: none;
}