.main {
	margin: 2px;
	border: 11px;
	border: 10px;
	border: 10px;
	color: hsl(0, 0%, 30%);
	color: hsl(25, 100%, 50%);
	color: rgb(36, 0, 0);
	color: rgb(240, 0, 0);
	color: #200;
	color: #240000;
	color: #f00;
	color: #f00000;
}
