@import url(../default/styles.css);

/* Reservr styles */
.v-app-ReservationApplication {
	background-color: #E9ECED;
	background-image: url(bmw.jpg);
	background-repeat: no-repeat;
	background-position: top right;
}

.v-app-ReservationApplication .v-label-logo {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	padding-left: 13px;
	padding-bottom: 10px;
	color: #F14C1A;
	font-size: 22px;
	letter-spacing: -0.03em;
}
.v-app-ReservationApplication .v-label-slogan {
	color: black;
	padding-left: 15px;
	padding-bottom: 10px;
	font-style: italic;	
}

.v-caption {
	color: #F14C1A;
	font-size: 16px;
}


.v-label-arrow {
	line-height: 160px;
	font-family: Times New Roman;
	color: #F14C1A;
	font-size: 65px;
	margin: 0 20px 0 12px;
}

.v-button-important-link {
	border: 0px;
	text-align: left;
	text-decoration: none;
	background: none;
	font-weight: bold;
}

.v-app-ReservationApplication .v-button-selected-link {
	border: 0px;
	text-align: left;
	text-decoration: none;
	background: #5daee8;
	font-weight: bold;
	color: #fff;
}
