<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>runo_theme_test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">runo_theme_test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/ThemeTestUI?restartApplication&amp;theme=runo</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>labels</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[2]/div/div/div</td>
	<td>31,8</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>buttons</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[3]/div/div/div</td>
	<td>27,1</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>embedded</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[4]/div/div</td>
	<td>33,24</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>dates</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='datefield0']/button</td>
	<td>11,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>dates-first-popup</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='datefield1']/button</td>
	<td>14,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>dates-second-popup</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='datefield2']/button</td>
	<td>9,16</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>dates-third-popup</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='datefield3']/button</td>
	<td>9,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>dates-fourth-popup</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[5]/div/div/div</td>
	<td>35,2</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>textfields</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[6]/div/div/div</td>
	<td>27,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>selects</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='select0']/div</td>
	<td>9,11</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>selects-first-open</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='select1']/div</td>
	<td>10,13</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>selects-second-open</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='select6']/div</td>
	<td>7,13</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>selects-third-open</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='select7']/div</td>
	<td>7,12</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>selects-fourth-open</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='select8']/div</td>
	<td>9,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[7]/div/div/div</td>
	<td>20,3</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>sliders</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[8]/div/div/div</td>
	<td>18,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runThemeTestUI::/VVerticalLayout[0]</td>
	<td>518,136</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>uploads</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[9]/div/div/div</td>
	<td>18,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>forms</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[10]/div/div</td>
	<td>22,25</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>tables</td>
</tr>
<tr>
	<td>contextMenuAt</td>
	<td>//div[@id='table0']/div[2]/div[1]/table/tbody/tr[2]/td[1]/div</td>
	<td>0,0</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>tables-contextmenu</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='table0']/div[1]/div[2]</td>
	<td>12,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>tables-collapsemenu</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[11]/div/div/div</td>
	<td>28,3</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>trees</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[12]/div/div</td>
	<td>52,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>treetable</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[13]/div/div</td>
	<td>23,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>layouts</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[14]/div/div/div</td>
	<td>24,1</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>tabsheets</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[15]/div/div/div</td>
	<td>24,9</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>accordions</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[16]/div/div/div</td>
	<td>15,0</td>
</tr>
<!--Window and Notification screenshots-->
<tr>
	<td>click</td>
	<td>//div[@id='windButton0']/span</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>subwindow-default</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runThemeTestUI::/VWindow[0]/domChild[0]/domChild[0]/domChild[3]</td>
	<td>9,8</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='windButton1']/span/span</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>subwindow-light</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runThemeTestUI::/VWindow[0]/domChild[0]/domChild[0]/domChild[3]</td>
	<td>11,6</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='windButton2']/span/span</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>subwindow-black</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runThemeTestUI::/VWindow[0]/domChild[0]/domChild[0]/domChild[3]</td>
	<td>8,5</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='windButton3']/span/span</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>subwindow-dialog</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runThemeTestUI::/VWindow[0]/domChild[0]/domChild[0]/domChild[3]</td>
	<td>9,6</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='windButton4']/span/span</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>subwindow-opaque</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runThemeTestUI::/VWindow[0]/domChild[0]/domChild[0]/domChild[3]</td>
	<td>10,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>//div[@id='testsampler']/div[1]/table/tbody/tr/td[17]/div/div</td>
	<td>46,8</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='notifButt0']/span/span</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>notification-humanized</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runThemeTestUI::Root/VNotification[0]</td>
	<td>214,15</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='notifButt1']/span/span</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>notification-warning</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runThemeTestUI::Root/VNotification[0]</td>
	<td>172,13</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='notifButt2']/span/span</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>notification-error</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runThemeTestUI::Root/VNotification[0]</td>
	<td>318,11</td>
</tr>
<tr>
	<td>click</td>
	<td>//div[@id='notifButt3']/span/span</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>notification-tray</td>
</tr>
<tr>
	<td>closeNotification</td>
	<td>vaadin=runThemeTestUI::Root/VNotification[0]</td>
	<td>66,9</td>
</tr>
</tbody></table>
</body>
</html>
