.v-tabsheet-content {
	border: none;
}

.v-tabsheet-deco {
	background: transparent;
}

.v-tabsheet-tabitem {
	border: none;
}

.v-tabsheet-tabitem .v-caption {
	height: 14px;
	padding: 3px 10px;
}

.v-tabsheet-tabitem .v-captiontext {
	color: #336699;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}

.v-tabsheet-tabitem-selected .v-caption {
	background: none repeat scroll 0 0 #333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.v-tabsheet-tabitem-selected .v-captiontext {
	color: #fff;
	text-decoration: none;
	text-shadow: -1px -1px #000;
}

.v-tabsheet-tabitem-selected {
	position: relative;
}

.v-tabsheet-tabitem-selected:after {
	border: 10px solid;
	border-bottom-width: 0;
	border-color: #333 transparent transparent;
	bottom: -6px;
	content: '-';
	display: block;
	height: 0;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	text-indent: -9999px;
	width: 0;
}

.v-tabsheet-tabs {
	height: 35px;
}

.v-tabsheet-tabcontainer,
.v-tabsheet-tabs {
	overflow: visible !important;
}

.v-tabsheet-tabitemcell-first .v-tabsheet-tabitem {
	border-left: 1px solid #c8c9ca;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.v-tabsheet-tabitemcell, .v-tabsheet-spacertd {
	vertical-align: top;
}

.v-tabsheet-spacertd div {
	height: 28px;
	border: 1px solid #c8c9ca;
	border-left: none;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	padding: 0;
}

.v-tabsheet-tabitem {
	height: 20px;
	border-top: 1px solid #c8c9ca;
	border-bottom: 1px solid #c8c9ca;
	padding: 4px;
}

.v-tabsheet-scroller {
	float: right;
	width: 33px;
	height: 28px;
	margin-top: -35px;
	background-color: #eef0f2;
	border: 1px solid #c8c9ca;
	border-left: none;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	position: relative;
}
	
.v-tabsheet-scroller button {
	padding: 0;
	margin-top: 6px;
	width: 16px;
	height: 16px;
	border: none;
	background: transparent;	
}

.v-tabsheet-scroller .v-tabsheet-scrollerPrev,
.v-tabsheet-scroller .v-tabsheet-scrollerPrev-disabled {
	background: transparent url(/html/themes/classic/images/aui/icon_sprite.png) no-repeat -80px -192px;
}

.v-tabsheet-scroller .v-tabsheet-scrollerNext,
.v-tabsheet-scroller .v-tabsheet-scrollerNext-disabled {
	background: transparent url(/html/themes/classic/images/aui/icon_sprite.png) no-repeat -48px -192px;
}

.v-tabsheet-scrollerPrev-disabled,
.v-tabsheet-scrollerNext-disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.v-tabsheet-caption-close {
	background: transparent url(close.png) no-repeat right top;
	-background-image: url(close-ie6.png);
	cursor: default;
	float: right;
	margin: 3px -1px 0;
	overflow: hidden;
	text-indent: -999px;
	width: 13px;
	height: 9px;
}