.test{
	.middle{
 		.error {
  			border: 1px #f00;
  			background-color: #fdd;
		}
	}

 	.seriousError {
  		@extend .error;
  		border-width: 3px;
	}
}

.test1{
 	.error1 {
  		border: 1px #f00;
  		background-color: #fdd;
	}
	.middle1{
 		.seriousError1 {
  			@extend .error1;
  			border-width: 3px;
		}
	}
}