.root {
  // selector not starting with a dot etc. inside a block or a mixin
  
  // pseudo
  input:focus {
    background-color: #d5e6fd;
  }
  // simple property
  input: focus;
  // nested properties
  input: {
    focus: c;
  }
  // simple property
  a:b;
}
