$list : .v-button, .v-panel, .v-label;

$basics : remove($list, .v-panel);

@each $component in $basics{
	.#{$component} {
		font-size: 12px;
	}
}

$items : append($basics, .v-textfield);

@each $component in $items{
	.#{$component} {
		font-color: red;
	}
}

$contains : contains($items, .v-button);

@if($contains){
	.v-button {
		background-color: black;
	}
}
