@mixin my-mixin  {
    .foobar {
        @content;
     }
}

@include my-mixin {
   color: red;
}

@include my-mixin {
   background-color: blue;
}

@mixin apply-to-ie6-only {
  * html {
    @content;
  }
}
@include apply-to-ie6-only {
  #logo {
    background-image: url(/logo.gif);
  }
}
@include apply-to-ie6-only {
  .link {
    color: blue;
  }
}

@mixin mixin-multi-contents  {
    .foobar {
        @content;
        @content;
     }
}

@include mixin-multi-contents {
   color: red;
}