@mixin test2 ($p1, $p2) {
	-webkit-test: $p1 $p2;
 	-moz-test: $p1 $p2;
}
@mixin test3 ($p1, $p2, $p3) {
	-webkit-test: $p1 $p2 $p3;
 	-moz-test: $p1 $p2 $p3;
}
@include test2(foo, bar);
@include test3(foo, bar, zoo);