$very_light: 98%;
$light: 90%;

$hue1: 110;
$saturation1: 50%;
$very_light1: hsl($hue1, $saturation1, $very_light); 
$light1: hsl($hue1, $saturation1, $light); 

$color: rgb(0, 255, 13);
.v-window-footer {
    background: linear-gradient(bottom, $very_light1, $light1);
    abc: rgba($color, .85);
}


