$var: null;
$var: "Non-null" !default;

$var2: null;
$var2: "Also non-null" !default;
$var2: "Null content" !default;

$list-of-nulls: null null;
$list-of-nulls: "Non-null" !default; 

$mixed-list: null "Not null" null;
$mixed-list: "null" !default;

.test {
    first: $var;
    second: $var2;
    hidden: $list-of-nulls;
    third: $mixed-list;
}