<v-grid width='100%' height='100%' selection-mode='multi' editable='false'>
<table>
	<colgroup>
		<col />
		<col />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th>Description</th>
			<th>Milestone</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Issue #0</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #1</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #2</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #3</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #4</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #5</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #6</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #7</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #8</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #9</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #10</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #11</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #12</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #13</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #14</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #15</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #16</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #17</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #18</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
		<tr>
			<td>Issue #19</td>
			<td>1.0</td>
			<td>New</td>
		</tr>
	</tbody>
</table>
</v-grid>
