<v-grid caption="Double click to edit" width="100%" height="100%"
	editable selection-mode="none">
<table>
	<colgroup>
		<col property-id="index" editable=false width="50" expand=0>
		<col property-id="name" expand=2>
		<col property-id="progress" expand=2>
		<col property-id="weight" editable=false expand=4>
	</colgroup>
	<thead>
		<tr>
			<th>##
			<th>Name
			<th>Progress
			<th>Weight
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>00
			<td>Marc Addams
			<td>0.42
			<td>[SparkLine]
		</tr>
		<tr>
			<td>01
			<td>Kenny Black
			<td>0.72
			<td>[SparkLine]
		</tr>
		<tr>
			<td>02
			<td>Sarah McGoff
			<td>0.12
			<td>[SparkLine]
		</tr>
		<tr>
			<td>03
			<td>Jos Jones
			<td>0.62
			<td>[SparkLine]
		</tr>
		<tr>
			<td>04
			<td>Jane Fielding
			<td>0.92
			<td>[SparkLine]
		</tr>
		<tr>
			<td>05
			<td>Marc Einstein
			<td>0.05
			<td>[SparkLine]
		</tr>
		<tr>
			<td>06
			<td>Lenny McGoff
			<td>0.40
			<td>[SparkLine]
		</tr>
		<tr>
			<td>07
			<td>Peter Adams
			<td>0.85
			<td>[SparkLine]
		</tr>
		<tr>
			<td>08
			<td>Tony Stark
			<td>0.22
			<td>[SparkLine]
		</tr>
		<tr>
			<td>09
			<td>Nathan Fillion
			<td>0.15
			<td>[SparkLine]
		</tr>
	</tbody>
</table>
</v-grid>