@import "accordion/accordion.scss";
@import "button/button.scss";
@import "colorpicker/colorpicker.scss";
@import "label/label.scss";
@import "menubar/menubar.scss";
@import "notification/notification.scss";
@import "panel/panel.scss";
@import "popupview/popupview.scss";
@import "progressindicator/progressindicator.scss";
@import "slider/slider.scss";
@import "splitpanel/splitpanel.scss";
@import "table/table.scss";
@import "textfield/textfield.scss";
// datefield and selects must be after textfield
@import "datefield/datefield.scss";
@import "inlinedatefield/inlinedatefield.scss";
@import "selects/selects.scss";
@import "tabsheet/tabsheet.scss";
@import "tree/tree.scss";
@import "window/window.scss";

@mixin chameleon-components {

	@include chameleon-accordion;
	@include chameleon-button;
	@include chameleon-colorpicker;
	@include chameleon-label;
	@include chameleon-menubar;
	@include chameleon-notification;
	@include chameleon-panel;
	@include chameleon-popupview;
	
	@include chameleon-progressindicator(v-progressbar);
	/* For legacy ProgressIndicator component */
	@include chameleon-progressindicator(v-progressindicator);
	
	@include chameleon-slider;
	@include chameleon-splitpanel;
	@include chameleon-table;
	@include chameleon-textfield;
	
	// datefield and selects must be after textfield
	@include chameleon-datefield;
	@include chameleon-inline-datefield;
	
	@include chameleon-selects;
	@include chameleon-tabsheet;
	@include chameleon-tree;
	@include chameleon-window;

}