.v-menubar table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.v-menubar .menuitem {
	cursor: default;
	vertical-align: middle;
	white-space: nowrap;
}
.v-menubar .menuitem * {
	vertical-align: middle;
}
.v-menubar-submenu {
	background: #fff;
}
.v-menubar-submenu table {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.v-menubar-submenu table td {
	white-space: nowrap;
	padding: 0;
	margin: 0;
}
.v-menubar .menuitem-selected,
.v-menubar-submenu .menuitem-selected {
	background: #333;
	color: #fff;
}
.v-menubar-submenu .menuitem { 
	cursor: default;
	vertical-align: middle;
	white-space: nowrap;
}
.v-menubar-submenu .menuitem * { 
	vertical-align: middle;
}
.v-menubar .v-menubar-submenu-indicator {
	display: none;
}
.v-menubar-submenu .v-menubar-submenu-indicator {
	margin-left: 1em;
	float: right;
	height: 100%;
	font-size: 0.9em;
}