.v-menubar table {
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.v-menubar table {
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.v-menubar .menuitem {
	cursor: default;
}
.v-menubar-submenu {
	background: #fff;
}
.v-menubar-submenu table {
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.v-menubar-submenu table td {
	white-space: nowrap;
	padding: 0;
	margin: 0;
}
.v-menubar .menuitem-selected,
.v-menubar-submenu .menuitem-selected {
	background: #333;
	color: #fff;
}
.v-menubar-submenu .menuitem { 
	cursor: default;
}