@mixin base-menubar($name : v-menubar) {

.#{$name} {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}
.#{$name} .#{$name}-menuitem {
	cursor: default;
	vertical-align: middle;
	white-space: nowrap;
	display: inline;
	display: inline-block;
	zoom: 1;
}
.#{$name} .#{$name}-menuitem-caption .v-icon {
	vertical-align: middle;
	white-space: nowrap;
}
.#{$name}-submenu {
	background: #fff;
}
.#{$name}-menuitem-selected {
	background: #333;
	color: #fff;
}
.#{$name}-submenu .#{$name}-menuitem { 
	cursor: default;
	display: block;
	position: relative;
	padding-right: 1.5em;
}
.#{$name}-submenu .#{$name}-menuitem-caption {
	display: block;
}
.#{$name}-submenu .#{$name}-menuitem *,
.#{$name}-submenu .#{$name}-menuitem-caption * {
	white-space: nowrap;
}
.#{$name}-submenu-indicator {
	display: none;
	/* Arial has the most coverage for geometric entity characters */
	font-family: arial, helvetica, sans-serif;
}
.#{$name}-submenu .#{$name}-submenu-indicator {
	display: block;
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	font-size: 0.9em;
}
.#{$name}-menuitem-disabled,
.#{$name} span.#{$name}-menuitem-disabled:hover,
.#{$name} span.#{$name}-menuitem-disabled:focus,
.#{$name} span.#{$name}-menuitem-disabled:active {
	color: #999;
}
.#{$name}-more-menuitem {
	/* Arial has the most coverage for geometric entity characters */
	font-family: arial, helvetica, sans-serif;
}
.#{$name}-separator {
	overflow: hidden;
}
.#{$name}-separator span {
	display: block;
	text-indent: -9999px;
	font-size: 1px;
	line-height: 1px;
	border-top: 1px solid #ddd;
	margin: 3px 0 2px;
	overflow: hidden;
}
.#{$name} .v-icon,
.#{$name}-submenu .v-icon {
	margin-right: 3px;
}

.#{$name}:focus,
.#{$name}-popup:focus,
.#{$name}-popup .popupContent:focus,
.#{$name}-popup .popupContent .#{$name}-submenu:focus{
	outline: none;	
}
/* Checkboxes for checkable/checked menu items */
/* Checked/unchecked requires combined style selected-(un)checked for IE6 */
.#{$name}-submenu-check-column .#{$name}-menuitem {
	padding-left: 6px;
}
.#{$name}-submenu-check-column .#{$name}-menuitem-caption {
	padding-left: 18px;
}
.#{$name}-submenu .#{$name}-menuitem-checked .#{$name}-menuitem-caption { 
	background: transparent url(img/check.gif) no-repeat left;
}

}
