@mixin base-dragwrapper($name : v-ddwrapper) {

.#{$name} {
	padding: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}
[draggable=true] {
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.v-ie .#{$name} a.drag-start {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
    left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	/* Some color needed to make it draggable */
	background-color:cyan;
	filter: alpha(opacity=0);
}
.#{$name}-over {
	border: 2px solid #1d9dff;
	background-color: #bcdcff;
	padding: 0;
}
.#{$name}-over {
	background-color: rgba(169,209,255,.6);
}
.no-box-drag-hints .#{$name}-over {
	border: none;
	background-color: transparent;
	padding: 2px;
}
.v-app .#{$name}-over-top,
.v-window .#{$name}-over-top,
.v-popupview-popup .#{$name}-over-top {
	border: none;
	border-top: 2px solid #1d9dff;
	background-color: transparent;
	padding: 2px;
	padding-top: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.v-app .#{$name}-over-bottom,
.v-window .#{$name}-over-bottom,
.v-popupview-popup .#{$name}-over-bottom {
	border: none;
	border-bottom: 2px solid #1d9dff;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.v-app .#{$name}-over-left,
.v-window .#{$name}-over-left,
.v-popupview-popup .#{$name}-over-left {
	border: none;
	border-left: 2px solid #1d9dff;
	background-color: transparent;
	padding: 2px;
	padding-left: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.v-app .#{$name}-over-right,
.v-window .#{$name}-over-right,
.v-popupview-popup .#{$name}-over-right {
	border: none;
	border-right: 2px solid #1d9dff;
	background-color: transparent;
	padding: 2px;
	padding-right: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.#{$name},
.#{$name}-over,
.v-app .#{$name}-over-top,
.v-window .#{$name}-over-top,
.v-popupview-popup .#{$name}-over-top,
.v-app .#{$name}-over-bottom,
.v-window .#{$name}-over-bottom,
.v-popupview-popup .#{$name}-over-bottom,
.v-app .#{$name}-over-left,
.v-window .#{$name}-over-left,
.v-popupview-popup .#{$name}-over-left,
.v-app .#{$name}-over-right,
.v-window .#{$name}-over-right,
.v-popupview-popup .#{$name}-over-right {
	border-color: rgba(0,109,232,.6);
}

.#{$name}-over-top:before,
.#{$name}-over-bottom:after,
.#{$name}-over-left:before,
.#{$name}-over-right:before {
	display: block;
	
	position: absolute;
	width: 6px;
	height: 6px;
	margin-top: -4px;
	margin-left: -2px;
	background: transparent url(../common/img/drag-slot-dot.png) no-repeat;
}
.#{$name}-over-bottom:after {
	margin-top: -2px;
}
.#{$name}-over-left:before,
.#{$name}-over-right:before {
	background-position: 0 -6px;
	margin-top: -2px;
	margin-left: -4px;
}
.#{$name}-over-right:before {
	position: relative;
	margin-bottom: -4px;
	margin-right: -4px;
	margin-left: 0;
	width: auto;
	background-position: 100% -6px;
}

.no-horizontal-drag-hints .#{$name}-over-left {
	padding-left: 2px;
	border-left: none;
}
.no-horizontal-drag-hints .#{$name}-over-right {
	padding-right: 2px;
	border-right: none;
}
.no-vertical-drag-hints .#{$name}-over-top {
	padding-top: 2px;
	border-top: none;
}
.no-vertical-drag-hints .#{$name}-over-bottom {
	padding-bottom: 2px;
	border-bottom: none;
}
.no-horizontal-drag-hints .#{$name}-over-left:before,
.no-horizontal-drag-hints .#{$name}-over-right:before,
.no-vertical-drag-hints .#{$name}-over-top:before,
.no-vertical-drag-hints .#{$name}-over-bottom:after {
	display: none;
}

}