/* Automatically compiled css file from subdirectories. */

/* ./WebContent/ITMILL/themes/base/absolutelayout/absolutelayout.css */
.i-absolutelayout-wrapper {
	position: absolute;
	overflow: hidden;
}

/* ./WebContent/ITMILL/themes/base/accordion/accordion.css */
.i-accordion {
	position: relative;
	outline: none;
	overflow: hidden;
	text-align: left /* Force default alignment */
}
.i-accordion-item {
	position: relative;
}
.i-accordion-item-caption {
	overflow: hidden;
	white-space: nowrap;
	background: #eee;
	border-bottom: 1px solid #ddd;
}
.i-accordion-item-caption .i-caption {
	cursor: pointer;
}
.i-accordion-item-open .i-accordion-item-caption .i-caption {
	cursor: default;
}
.i-accordion-item-content {
	position: absolute;
	overflow: auto;
	width: 100%;
}

/* ./WebContent/ITMILL/themes/base/button/button.css */
.i-button {
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
}
.i-button span {
	white-space: nowrap;
}
.i-checkbox input {
	vertical-align: middle;
}
.i-button img,
.i-checkbox img {
	display: inline;
	vertical-align: middle;
	margin-right: 3px;
}
.i-button span,
.i-checkbox label {
	vertical-align: middle;
}
.i-button-link {
	border: none;
	text-align: left;
	background: none;
	padding: 0;
}
/* Inset Safari focus outline a bit */
.i-sa .i-button-link:focus {
	outline-offset: -3px;
}
.i-button-link span {
	text-decoration: underline;
}
.i-checkbox {
	white-space: nowrap;	
}
.i-checkbox .i-errorindicator {
	float: none;
	display: inline;
	padding-left: 1em;
	background-position: left;
}
/* Fixes streched buttons in IE6 and IE7*/
.i-ie6 .i-button {
	width: 1px;
}
.i-ie6 .i-button,
.i-ie7 .i-button,
.i-ie8 .i-button {
	overflow: visible;
	padding-left: 1em;
	padding-right: 1em;
}
/* Error indicator on checkbox fix for IE6 */
.i-ie6 .i-checkbox * {
	float: left;
	display: inline; /* In effect, does nothing, since float:left forces block-rendering, but will fix "double-float-margin-bug" */
}
.i-ie6 .i-checkbox .i-errorindicator {
	background-position: right;
	display: inline;
	float: left;
	padding-left: 0; 
	padding-right: 0.4em;
}
/* Error indicator on checkbox fix for IE7 */
.i-ie7 .i-checkbox *,
.i-ie8 .i-checkbox * {
	float: left;
}
.i-ie7 .i-checkbox .i-errorindicator,
.i-ie8 .i-checkbox .i-errorindicator {
	background-position: right;
	float: left;
	padding-left: 0;
	padding-right: 0.7em;
}
/* Error indicator on button fix for IE */
.i-ie6 button .i-errorindicator,
.i-ie7 button .i-errorindicator,
.i-ie8 button .i-errorindicator {
	display: inline;
	padding-right: 0.5em;
}
/* Disabled by default
.i-checkbox-error {
	background: #ffe0e0;
}
*/
/* Disabled by default
.i-checkbox-required {
	background: #ffe0e0;
}
*/

/* ./WebContent/ITMILL/themes/base/caption/caption.css */
.i-captionwrapper {
	text-align: left; /* Force default alignment */
}
.i-caption {
	overflow: hidden;
	white-space: nowrap;
}
.i-errorindicator {
	float: left;
}
.i-caption .i-icon {
	float: left;
	padding-right: 2px;
	vertical-align: middle;
}
.i-caption .i-captiontext {
	float: left;
	overflow: hidden;
	vertical-align: middle;
}
.i-caption .i-required-field-indicator {
	float: left;
}

/* Fix IE6 "double-float-margin-bug" */
.i-ie6 .i-errorindicator,
.i-ie6 .i-icon,
.i-ie6 .i-captiontext,
.i-ie6 .i-required-field-indicator {
	display: inline;
}

/* ./WebContent/ITMILL/themes/base/common/common.css */
/* References the BODY tag generated by Vaadin application servlet */
.i-generated-body {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	overflow: hidden;
}
.i-app {
	height: 100%;
}
.i-app-loading {
	/* You can use this to provide indication for the user that the application is loading. */
	/* It is applied to the same element as .i-app */
}
.i-view {
	height: 100%;
	width: 100%;
	overflow: auto;
	/* avoid scrollbars with margins in root layout */
	outline: none;
	margin-top: -1px;
	border-top: 1px solid transparent;
	position: relative;
}
/**
 * Try to handle printing somehow. Reasonable printing support 
 * needs application specific planning and CSS tuning.
 */
@media print {
	.i-generated-body {
		height: auto;
		min-height: 20cm;
		overflow: visible;
	}
	.i-app {
		height: auto;
		min-height: 20cm;
	}
	.i-view {
		overflow: visible;
	}
	.i-gridlayout {
		overflow: visible !important;
	}
}
.i-view:active,
.i-view:focus {
	outline: none;
}
.i-app select,
.i-window select {
	margin: 0;
}
.i-disabled {
	opacity: .3;
	filter: alpha(opacity=30);
	cursor: default;
}
.i-disabled * {
	cursor: default;
}
* html .i-disabled {
	zoom: 1;
}
*+html .i-disabled {
	zoom: 1;
}
.i-disabled .i-disabled {
	opacity: 1;
}
.i-required-field-indicator {
	padding-left: 2px;
	color: red;
}

/* Field modified */ /* Disabled by default
.i-modified,
.i-richtextarea.i-modified iframe.gwt-RichTextArea,
.i-checkbox.i-modified,
.i-modified .i-select-option,
.i-modified .i-textfield,
.i-modified .i-datefield-calendarpanel,
.i-modified .i-select-select,
.i-modified .i-select-twincol-selections,
.i-modified .i-select-twincol-options,
.i-modified .i-slider-base {
	background: #ffffe0;
}
*/
.i-tooltip {
	cursor: default;
	background: #fff;
}
.i-tooltip-text {
	overflow: auto;
}
.i-tooltip .i-errormessage {
	overflow: auto;
}
.i-contextmenu {
	background: #fff;
}
.i-contextmenu .gwt-MenuItem {
	cursor: pointer;
	vertical-align: middle;
	padding: 0;
	border: 0;
	margin: 0;
}
.i-contextmenu .gwt-MenuItem div {
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
}
.i-contextmenu .gwt-MenuItem-selected div {
	background: #aaa;
	color: #fff;
}
.i-contextmenu table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}
.i-contextmenu .gwt-MenuItem img {
	margin-right: 1em;
	vertical-align: middle;
}
/* Label has tiny paddings to include possible content margins */
.i-label {
	padding-top: 1px;
	padding-bottom: 1px;
}
/* A label with undefined width is always considered to be on one line */
.i-label-undef-w {
	white-space: nowrap;
}
/* Loading indicator states
 * Note: client side expects that loading indicator has a height. It depends on
 * this css property to ensure browsers have applied all required styles.
 */
.i-loading-indicator,
.i-loading-indicator-delay,
.i-loading-indicator-wait {
	height: 16px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 30000;
}
/* Debug dialog */
.i-debug-console {
	background: #fff;
	opacity: .9;
	border: 1px solid #000;
	font-family: sans-serif;
}
.i-debug-console-caption {
	background: #000;
	border-bottom: 1px solid grey;
	color: white;
	font-weight: bold;
}
.i-debug-console-content {
	font-size: x-small;
	overflow: auto;
}
.i-debug-console-content input {
	font-size: xx-small;
}
/* Debug style */
.i-app .invalidlayout,
.i-app .invalidlayout * {
	background: #f99 !important;
}
/* Fix for Liferay, issue #2384 */
.i-app input[type="text"],
.i-app input[type="password"],
.i-app input[type="reset"],
.i-app select,
.i-app textarea {
	padding: 2px;
}

/* ./WebContent/ITMILL/themes/base/customcomponent/customcomponent.css */
.i-customcomponent {
	overflow: hidden;
}

/* ./WebContent/ITMILL/themes/base/customlayout/customlayout.css */
.i-customlayout {
	overflow: hidden;
}

/* ./WebContent/ITMILL/themes/base/datefield/datefield.css */
.i-datefield {
	white-space: nowrap;
}
.i-datefield-textfield {
	vertical-align: top;
}
.i-datefield-button {
	cursor: pointer;
}
.i-datefield-calendarpanel table {
	width: 100%;
}
.i-datefield-calendarpanel td {
	width: 14.2%;
	padding: 0;
	margin: 0;
}
.i-datefield-calendarpanel-header td {
	text-align: center;
}
.i-datefield-calendarpanel-month {
	text-align: center;
	white-space: nowrap;
}
.i-datefield-calendarpanel-day,
.i-datefield-calendarpanel-day-today {
	cursor: pointer;
}
.i-datefield-calendarpanel-day-today {
	border: 1px solid #ddd;
}
.i-disabled .i-datefield-calendarpanel-day,
.i-disabled .i-datefield-calendarpanel-day-today {
	cursor: default;
}
.i-datefield-calendarpanel-day-disabled {
	cursor: default;
	opacity: .5;
}
.i-datefield-calendarpanel-day-selected {
	cursor: default;
	background: #333;
	color: #fff;
}
.i-datefield-time {
	white-space: nowrap;
}
.i-datefield-time .i-label {
	display: inline;
}
/* Disabled by default
.i-datefield-error .i-textfield,
.i-datefield-error .i-datefield-calendarpanel {
	background: #ffe0e0;
}
*/

/* Disabled by default
.i-datefield-required .i-textfield,
.i-datefield-required .i-datefield-calendarpanel {
	background:transparent;
	background-color: #ffe0e0;
}
*/
/* IE somehow loses generic i-disabled alpha. See #1960 */
.i-ie6 .i-disabled .i-datefield-button,
.i-ie6 .i-disabled .i-datefield-textfield,
.i-ie7 .i-disabled .i-datefield-button,
.i-ie7 .i-disabled .i-datefield-textfield {
	filter: alpha(opacity=30);
}

/* ./WebContent/ITMILL/themes/base/formlayout/formlayout.css */
.i-formlayout-cell .i-errorindicator {
	display: block;
}
.i-formlayout-captioncell {
	text-align:right;
	white-space: nowrap;
}
.i-formlayout-captioncell .i-caption {
	overflow: visible;
}
.i-formlayout-spacing .i-formlayout-row .i-formlayout-captioncell, 
.i-formlayout-spacing .i-formlayout-row .i-formlayout-contentcell,
.i-formlayout-spacing .i-formlayout-row .i-formlayout-errorcell {
	padding-top: 1em;
}
.i-formlayout-spacing .i-formlayout-firstrow .i-formlayout-captioncell, 
.i-formlayout-spacing .i-formlayout-firstrow .i-formlayout-contentcell,
.i-formlayout-spacing .i-formlayout-firstrow .i-formlayout-errorcell {
	padding-top: 0;
}
.i-formlayout-margin-top .i-formlayout-firstrow .i-formlayout-captioncell, 
.i-formlayout-margin-top .i-formlayout-firstrow .i-formlayout-contentcell,
.i-formlayout-margin-top .i-formlayout-firstrow .i-formlayout-errorcell {
	padding-top: 2em;
}
.i-formlayout-margin-bottom .i-formlayout-lastrow .i-formlayout-captioncell,
.i-formlayout-margin-bottom .i-formlayout-lastrow .i-formlayout-contentcell,
.i-formlayout-margin-bottom .i-formlayout-lastrow .i-formlayout-errorcell {
	padding-bottom: 2em;
}
.i-formlayout-margin-left .i-formlayout-captioncell {
	padding-left: 2em;
} 
.i-formlayout-margin-right .i-formlayout-contentcell {
	padding-right: 2em;
}
.i-formlayout-captioncell .i-caption .i-required-field-indicator {
	float: none;
}

/* ./WebContent/ITMILL/themes/base/gridlayout/gridlayout.css */
.i-gridlayout-margin-top {
	padding-top: 2em;
}
.i-gridlayout-margin-bottom {
	padding-bottom: 2em;
}
.i-gridlayout-margin-left {
	padding-left: 2em;
} 
.i-gridlayout-margin-right {
	padding-right: 2em;
}
.i-gridlayout-spacing-on {
	padding-left: 1em;
	padding-top: 1em;
	overflow: hidden;
}
.i-gridlayout-spacing,
.i-gridlayout-spacing-off {
	padding-left: 0;
	padding-top: 0;
}
.i-gridlayout-spacing-off {
	overflow: hidden;
}
/* Ensure that resizing gridlayout works in IE */
.i-ie6 .i-gridlayout,
.i-ie7 .i-gridlayout {
	overflow: hidden;
}

/* ./WebContent/ITMILL/themes/base/link/link.css */
.i-link {
	white-space: nowrap;	
}
.i-link a {
	vertical-align: middle;
	text-decoration: none;
}
.i-link span {
	text-decoration: underline;
	vertical-align: middle;
}
.i-disabled a {
	cursor: default;
}
.i-link img {
	vertical-align: middle;
	border:none;
}

/* ./WebContent/ITMILL/themes/base/menubar/menubar.css */
.i-menubar table {
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.i-menubar table {
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.i-menubar .menuitem {
	cursor : default;
}
.i-menubar-submenu {
	background: #fff;
}
.i-menubar-submenu table {
	white-space: nowrap;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.i-menubar-submenu table td {
	white-space: nowrap;
	padding: 0;
	margin: 0;
}
.i-menubar .menuitem-selected,
.i-menubar-submenu .menuitem-selected {
	background: #333;
	color: #fff;
}
.i-menubar-submenu .menuitem { 
	cursor: default;
}

/* ./WebContent/ITMILL/themes/base/notification/notification.css */
.i-Notification {
	background: #999;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	padding: 1em;
}
.i-Notification h1,
.i-Notification p,
.i-Notification.error h1,
.i-Notification.error p,
.i-Notification.warning h1,
.i-Notification.warning p {
	display: inline;
	white-space: nowrap;
	margin: 0 0.5em 0 0;
}
.i-Notification.warning {
	background: orange;
}
.i-Notification.error {
	background: red;
}
.i-Notification.tray h1 {
	display: block;
}
.i-Notification.tray p {
	display: block;
}
.i-Notification.system {
	background-color: red;
	opacity: .7;
	filter: alpha(opacity=70);
}
.i-Notification.system h1 {
	display: block;
	margin: 0;
}
.i-Notification.system p {
	white-space: nowrap;
}

/* ./WebContent/ITMILL/themes/base/orderedlayout/orderedlayout.css */
.i-orderedlayout-margin-top,
.i-horizontallayout-margin-top,
.i-verticallayout-margin-top {
	padding-top: 2em;
}
.i-orderedlayout-margin-right,
.i-horizontallayout-margin-right,
.i-verticallayout-margin-right {
	padding-right: 2em;
}
.i-orderedlayout-margin-bottom,
.i-horizontallayout-margin-bottom,
.i-verticallayout-margin-bottom {
	padding-bottom: 2em;
}
.i-orderedlayout-margin-left,
.i-horizontallayout-margin-left,
.i-verticallayout-margin-left {
	padding-left: 2em;
}
.i-orderedlayout-spacing-on,
.i-horizontallayout-spacing-on,
.i-verticallayout-spacing-on {
	padding-top: 1em;
	padding-left: 1em;
}
/* This can be used to define spacing if spacing is off server side */
.i-orderedlayout-spacing-off,
.i-horizontallayout-spacing-off,
.i-verticallayout-spacing-off {
	padding-top: 0;
	padding-left: 0;
}
/* To make sure IE don't expand elements larger than they should */
.i-ie6 .i-orderedlayout,
.i-ie6 .i-horizontallayout,
.i-ie6 .i-verticallayout,
.i-ie7 .i-orderedlayout,
.i-ie7 .i-horizontallayout,
.i-ie7 .i-verticallayout {
	overflow: hidden;
}

/* ./WebContent/ITMILL/themes/base/panel/panel.css */
.i-panel,
.i-panel-caption,
.i-panel-content,
.i-panel-deco,
.i-panel-light,
.i-panel-caption-light,
.i-panel-content-light,
.i-panel-deco-light {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: left /* Force default alignment */
}
.i-panel-caption .i-errorindicator {
	float: none;
	display: inline;
}
.i-panel-caption .i-icon {
	display: inline;
	vertical-align: middle;
}
.i-panel-caption span {
	vertical-align: middle;
}
.i-panel-caption {
	white-space: nowrap;
	overflow:hidden;
	font-weight: bold;
}
.i-panel-nocaption {
	overflow: hidden;
}
.i-panel-content {
	overflow: auto;
}
.i-panel-deco {
}

/* ./WebContent/ITMILL/themes/base/popupview/popupview.css */
.i-popupview {
	cursor: pointer;
	width: 5px;
	height: 5px;
	background: #aaa;
}
.i-popupview-popup {
	overflow: auto;
}

/* ./WebContent/ITMILL/themes/base/progressindicator/progressindicator.css */
.i-progressindicator {
	overflow: hidden; /* for IE6 */
	width: 150px;
}
.i-progressindicator-wrapper {
	overflow: hidden; /* for IE6 */
	height: 9px;
	border: 1px solid #ddd;
}
.i-progressindicator-disabled {
	height: 9px;
	overflow: hidden; /* for IE6 */
}
.i-progressindicator-indicator {
	height: 9px;
	overflow: hidden; /* for IE6 */
	background: #ddd;
}
.i-progressindicator-indeterminate {
	height: 16px;
	width: 16px;
	overflow: hidden; /* for IE6 */
}
/* Hide obsolete elements in indeterminate mode */
.i-progressindicator-indeterminate .i-progressindicator-wrapper,
.i-progressindicator-indeterminate .i-progressindicator-indicator,
.i-progressindicator-indeterminate-disabled .i-progressindicator-wrapper,
.i-progressindicator-indeterminate-disabled .i-progressindicator-indicator {
	display: none;
}
.i-progressindicator-indeterminate-disabled {
	height: 16px;
	width: 16px;
	overflow: hidden; /* for IE6 */
}

/* ./WebContent/ITMILL/themes/base/select/select.css */
.i-select {
	text-align: left;
}
.i-select-optiongroup .i-select-option {
	display: block;
	white-space: nowrap;
}
.i-ie .i-select-optiongroup .i-select-option {
	zoom: 1;
}
.i-select-select {
	display: block;
}
.i-select-twincol {
	white-space: nowrap;
}
.i-select-twincol-options {
	float: left;
}
.i-select-twincol-selections {
	font-weight: bold;
}
.i-select-twincol-buttons {
	float: left;
	text-align: center;
}
.i-select-twincol-buttons .i-select-twincol-deco {
	clear: both;
}
.i-select-twincol .i-textfield {
	display: block;
	float: left;
	clear: left;
}
.i-select-twincol .i-button {
	display: block;
	float: left;
}
.i-select-twincol-buttons .i-button {
	display: inline;
	float: none;
}
.i-filterselect {
	white-space: nowrap;
	text-align: left;
}
.i-filterselect .i-icon {
	float: left;
}
.i-app .i-filterselect-input,
.i-window .i-filterselect-input,
.i-popupview-popup .i-filterselect-input {
	float: left;
}
.i-filterselect-prompt .i-filterselect-input {
	color: #999;
	font-style: italic;
}
.i-filterselect-button {
	float: right;
	cursor: pointer;
}
.i-filterselect.i-readonly .i-filterselect-button {
	display: none;
}
.i-filterselect-suggestpopup {
	background: #fff;
	border: 1px solid #eee;
}
.i-filterselect-suggestmenu table {
	border-collapse: collapse;
	border: none;
}
.i-filterselect-suggestmenu .gwt-MenuItem {
	white-space: nowrap;
}
.i-filterselect-suggestmenu .gwt-MenuItem .i-icon {
	margin-right: 3px;
	vertical-align: middle;
}
.i-filterselect-suggestmenu .gwt-MenuItem span {
	vertical-align: middle;
}
.i-filterselect-suggestmenu .gwt-MenuItem-selected {
	background: #333;
	color: #fff;
}
.i-filterselect-nextpage,
.i-filterselect-nextpage-off,
.i-filterselect-prevpage-off,
.i-filterselect-prevpage {
	width: 100%;
	background: #aaa;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
.i-filterselect-nextpage-off,
.i-filterselect-prevpage-off {
	color: #666;
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: default;
}
.i-filterselect-nextpage-off span,
.i-filterselect-prevpage-off span {
	cursor: default;
}
.i-filterselect-status {
	white-space: nowrap;
	text-align: center;
}

/* Error styles (disabled by default)

.i-filterselect-error .i-filterselect-input,
.i-select-error .i-select-option,
.i-select-error .i-select-select,
.i-select-error .i-select-twincol-selections,
.i-select-error .i-select-twincol-options {
	background: #ffaaaa;
}
*/

/*  Required field styles (disabled by default)
   
.i-filterselect-error .i-filterselect-input,
.i-select-required .i-select-option,
.i-select-required .i-select-select,
.i-select-required .i-select-twincol-selections,
.i-select-required .i-select-twincol-options {
	background: #ffaaaa;
}
*/

/* ./WebContent/ITMILL/themes/base/shadow/shadow.css */
.i-shadow {
	position: absolute;
}

.i-shadow .top-left {
    position: absolute; overflow: hidden;
    top: -3px;             left: -5px;
    width: 10px;         height: 10px;
    background: transparent url(../base/shadow/img/top-left.png);
}

.i-shadow .top {
    position: absolute; overflow: hidden;
    top: -3px;             left: 5px;
    height: 10px;           right: 5px;
    background: transparent url(../base/shadow/img/top.png);
}

.i-shadow .top-right {
    position: absolute; overflow: hidden;
    top: -3px;             right: -5px;
    width: 10px;         height: 10px;
    background: transparent url(../base/shadow/img/top-right.png);
}

.i-shadow .left {
    position: absolute; overflow: hidden;
    top: 7px;           left: -5px;
    width: 10px;
    bottom: 3px;
    background: transparent url(../base/shadow/img/left.png);
}

.i-shadow .center {
    position: absolute; overflow: hidden;
    top: 7px;           left: 5px;
    bottom: 3px;        right: 5px;
    background: transparent url(../base/shadow/img/center.png);
}

.i-shadow .right {
    position: absolute; overflow: hidden;
    top: 7px;           right: -5px;
    width: 10px;
    bottom: 3px;
    background: transparent url(../base/shadow/img/right.png);
}

.i-shadow .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -7px;           left: -5px;
    width: 10px;          height: 10px;
    background: transparent url(../base/shadow/img/bottom-left.png);
}

.i-shadow .bottom {
    position: absolute; overflow: hidden;
    bottom: -7px;           left: 5px;
    right: 5px;          height: 10px;
    background: transparent url(../base/shadow/img/bottom.png);
}

.i-shadow .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -7px;           right: -5px;
    width: 10px;          height: 10px;
    background: transparent url(../base/shadow/img/bottom-right.png);
}





/* For IE6 (no transparent png's, we use a blur filter) */

.i-ie6 .i-shadow * {
	display: none;
}

.i-ie6 .i-shadow {
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2) alpha(opacity=20);
	margin-top: -3px;
	margin-left: -4px;
}  

/* ./WebContent/ITMILL/themes/base/slider/slider.css */
.i-slider {
	margin: 5px 0;
}
.i-slider-base {
	/* changing the borders will require adjustments to ISlider.java */
	height: 2px;
	border-top: 1px solid #ddd;
	background: #eee;
	border-left: 1px solid #ddd;
	border-right: 1px solid #eee;
	
}
.i-slider-handle {
	background: #aaa;
	width: 12px;
	height: 12px;
	margin-top: -5px;
	font-size: 0;
	cursor: pointer;
}

.i-slider-vertical {
	width: 2px;
	height: auto;
	margin: 0 5px;
	border: none;
	border-left: 1px solid #cccfd0;
	border-right: 1px solid #cccfd0;
}
.i-slider-vertical .i-slider-base {
	width: 2px;
	border-bottom: 1px solid #eee;
	border-right: none;
}
.i-slider-vertical .i-slider-handle {
	width: 12px;
	height: 12px;
	font-size: 0;
	cursor: pointer;
	margin-left: -5px;
}

/* Disabled by default
.i-slider-error .i-slider-base {
	background: #FFE0E0;
}
*/
/* Disabled by default
.i-slider-required .i-slider-base {
	background: #FFE0E0;
}
*/

/* IE specific styles */
.i-ie6 .i-slider,
.i-ie6 .i-slider-vertical {
	margin: 0;
}
.i-ie6 .i-slider .i-slider-handle {
	margin: -1px 0;
}
.i-ie6 .i-slider-vertical .i-slider-handle {
	margin: 0 -1px;
}

/* ./WebContent/ITMILL/themes/base/splitpanel/splitpanel.css */
.i-splitpanel-horizontal,
.i-splitpanel-vertical {
	overflow: hidden;
}
.i-splitpanel-horizontal .i-splitpanel-hsplitter {
	width: 6px;
	font-size: 1px; /* for IE6 */
}
.i-splitpanel-horizontal .i-splitpanel-hsplitter div {
	width: 6px;
	font-size: 1px; /* for IE6 */
	position: absolute;
	top: 0;
	bottom: 0;
	background: #ddd;
	cursor: e-resize;
}
.i-splitpanel-vertical .i-splitpanel-vsplitter {
	height: 6px;
	font-size: 1px; /* for IE6 */
}
.i-splitpanel-vertical .i-splitpanel-vsplitter div {
	height: 6px;
	font-size: 1px; /* for IE6 */
	background: #ddd;
	cursor: n-resize;
}
/* IE specific styles */
.i-ie6 .i-splitpanel-horizontal .i-splitpanel-hsplitter div {
	height: 99%;
}

/* ./WebContent/ITMILL/themes/base/table/table.css */
/* Table theme building instructions
 * 
 * Toolkit scroll table is very complex widget with dozens of features. These 
 * features set some limitations for theme builder. To keep things working, it
 * is safest to try to just override values used in default theme and comfort to
 * these instructions.
 * 
 * Borders in table header and in table body need to be same width
 * - specify vertical borders on .i-table-header-wrap and .i-table-body
 *
 * Table cells in body:
 *  - padding/border for cells is to be defined for td elements (class name: .i-table-cell-content)
 *  - in default theme there are no borders, but they should work. Just set border-right or border-bottom
 *  - no padding or border is allowed for div inside cells (class name: .i-table-cell-wrapper) element
 *  - background is allowed for both elements
 *
 * Table headers:
 *  - table cells in header contain .i-table-resizer and 
 *	  .i-table-caption-container div elements, which are both floated to right
 *  - to align header caption to body content resizer width + .i-table-caption-container
 *    padding right should be equal to content cells padding-right and border-right.
 *  - Possible cell border in header must be themed into column resizer.
 *
 */
.i-table {
	overflow: hidden;
	text-align: left; /* Force default alignment */
}
.i-table-header-wrap {
	overflow: hidden;
	border: 1px solid #aaa;
	border-bottom: none;
	background: #efefef;
}
.i-table-header table,
.i-table-table {
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
}
.i-table-header td {
	padding: 0;
}
.i-table-header-cell,
.i-table-header-cell-asc,
.i-table-header-cell-desc {
	cursor: pointer;
}
.i-table-resizer {
	display: block;
	height: 1.2em;
	float: right;
	background: #aaa;
	cursor: col-resize;
	width: 1px;
	overflow: hidden;
}
.i-table-caption-container {
	float: right;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 6px;
}
.i-table-header-cell-asc .i-table-caption-container {
	background: transparent url(../base/common/img/sprites.png) no-repeat right 6px;
}
.i-table-header-cell-desc .i-table-caption-container {
	background: transparent url(../base/common/img/sprites.png) no-repeat right -10px;
}
.i-table-body {
	border: 1px solid #aaa;
}
.i-table-row-spacer {
	height: 10px;
	overflow: hidden; /* IE hack to allow < one line height divs */
}
.i-table-row,
.i-table-row-odd {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: default;
}
.i-table .i-selected {
	background: #999;
	color: #fff;
}
.i-table-cell-content {
	white-space: nowrap;
	overflow: hidden;
	padding: 0 6px;
	border-right: 1px solid #aaa;
}
.i-table-cell-wrapper {
	/* Do not specify any margins, paddings or borders here */
	white-space: nowrap;
	overflow: hidden;
}
.i-table-column-selector {
	float: right;
	background: transparent url(../base/common/img/sprites.png) no-repeat 4px -37px;
	margin: -1.2em 0 0 0;
	height: 1.2em;
	width: 14px;
	position: relative; /* hide this from IE, it works without it */
	cursor: pointer;
}
.i-ie6 .i-table-column-selector,
.i-ie7 .i-table-column-selector {
	position: static;
}
.i-table-focus-slot-left {
	border-left: 2px solid #999;
	margin-right: -2px;
}
.i-table-focus-slot-right {
	border-right: 2px solid #999;
	margin-left: -2px;
}
.i-table-header-drag {
	position: absolute;
	background: #efefef;
	border: 1px solid #eee;
	opacity: 0.9;
	filter: alpha(opacity=90);
	margin-top: 20px;
	z-index: 30000;
}
.i-table-scrollposition {
	width: 160px;
	background: #eee;
	border: 1px solid #aaa;
}
.i-table-scrollposition span {
	display: block;
	text-align: center;
}
/* row in column selector */
.i-on div {
	
}
.i-off div {
	color: #ddd;
}

/* ./WebContent/ITMILL/themes/base/tabsheet/tabsheet.css */
.i-tabsheet,
.i-tabsheet-content,
.i-tabsheet-deco {
	outline: none; /* Prevent selection outline which might break layouts or cause scrollbars */
	text-align: left /* Force default alignment */
}
.i-tabsheet-tabs {
	empty-cells: hide;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	overflow:hidden;
}
.i-tabsheet-tabitemcell,
.i-tabsheet-spacertd {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
.i-tabsheet-spacertd {
	width: 100%;
}
.i-tabsheet-spacertd div {
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	height: 1em;
	padding: 0.2em 0;
}
.i-tabsheet-hidetabs .i-tabsheet-tabcontainer {
	display: none;
}
.i-tabsheet-scroller {
	white-space: nowrap;
	text-align: right;
	margin-top: -1em;
}
.i-tabsheet-scrollerPrev,
.i-tabsheet-scrollerNext,
.i-tabsheet-scrollerPrev-disabled,
.i-tabsheet-scrollerNext-disabled {
	border: 1px solid #aaa;
	background: #fff;
	width: 12px;
	height: 1em;
	cursor: pointer;
}
.i-tabsheet-scrollerPrev-disabled,
.i-tabsheet-scrollerNext-disabled {
	opacity: 0.5;
	cursor: default;
}
.i-tabsheet-tabs .i-caption,
.i-tabsheet-tabs .i-caption span {
	white-space: nowrap;
}
.i-tabsheet-tabitem {
	border: 1px solid #aaa;
	border-right: none;
	cursor: pointer;
	padding: 0.2em 0.5em;
}
.i-tabsheet-tabitem-selected {
	cursor: default;
	border-bottom-color: #fff;
}
.i-tabsheet-content {
	border: 1px solid #aaa;
	/* Vertical borders are not supported, use i-tabsheet-tabcontainer and i-tabsheet-deco to present these borders */
	border-top: none;
	border-bottom: none;
	position: relative;
}
.i-tabsheet-deco {
	height: 1px;
	background: #aaa;
	overflow: hidden;
}
.i-tabsheet-hidetabs .i-tabsheet-content {
	border: none;
}
.i-tabsheet-hidetabs .i-tabsheet-deco {
	height: 0;
}

/* ./WebContent/ITMILL/themes/base/textfield/textfield.css */
.i-textfield {
	text-align: left /* Force default alignment */
}
.i-textarea {
}
.i-textfield-focus,
.i-textarea-focus {
}
input.i-textfield-prompt,
textarea.i-textarea-prompt {
	color: #999;
	font-style: italic;
}
.i-textfield.i-readonly,
.i-textarea.i-readonly {
	background: transparent;
	color: #222;
	border: none;
}
.i-richtextarea {
	border: 1px solid #aaa;
	overflow: hidden;
}
.i-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton,
.i-richtextarea .gwt-RichTextToolbar .gwt-PushButton {
	float: left;
}
.i-richtextarea .gwt-RichTextToolbar {
	white-space: nowrap;
}
.i-richtextarea iframe {
	border: 0;
}
/* Disabled by default
.i-textarea-error,
.i-textfield-error,
.i-richtextarea-error iframe.gwt-RichTextArea {
	background: #FFE0E0;	
}
*/
/* Disabled by default
.i-textarea-required,
.i-textfield-required,
.i-richtextarea-required iframe.gwt-RichTextArea {
	background: #FFE0E0;	
}
*/
/* Safari focus glow fix */
.i-sa input:focus, 
.i-sa textarea:focus {
	outline-width: medium;
}

/* ./WebContent/ITMILL/themes/base/tree/tree.css */
.i-tree {
	text-align: left /* Force default alignment */
}
.i-tree-node {
	background: transparent url(../base/common/img/sprites.png) no-repeat 5px -37px;
}
.i-tree-node-expanded {
	background-position: -5px -10px;
}
div.i-tree-node-leaf {
	background: none;
}
.i-tree-node-caption {
	margin-left: 1em;
}
.i-tree-node span {
	cursor: pointer;
	white-space: nowrap;
}
.i-tree-node-selected span {
	background: #999;
	color: #fff;
}
.i-tree-node-children {
	padding-left: 1em;
}
/* ie6compatnode is hidden from non ie6 browsers, for ie6 
 * uses weird hack to sink all events properly 
 */
.i-tree-node-ie6compatnode {
	display: none;
}
/* IMPORTANT keep the offsetWidth of this element the same as the margin-left of i-tree-node-caption */
.i-ie6 .i-tree-node-ie6compatnode {
	display: inline;
	float: left;
	background: orange;
	margin: 0;
	width: 0.8em;
	height: 0.8em;
	padding: 0.1em;
	filter: alpha(opacity=0);
}
.i-ie6 .i-tree-node,
.i-ie6 .i-tree-node-children {
	clear: left;
}

/* ./WebContent/ITMILL/themes/base/window/window.css */
.i-window {
	background: #fff;
}
.i-window-outerheader {
	cursor: move;
	padding: 0.3em 1em;
	height: 1em;
}
.i-window-header {
	font-weight: bold;
}
/* A more specific selector to make sure padding isn't so easily overridden */
div.i-window-header {
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	overflow: hidden;
	padding: 0;
}
.i-ie6 .i-window-header {
	width: 100%;
}
.i-window-header .i-icon {
	vertical-align: middle; /* This has to be 'middle', not 'bottom', to allow larger icons than 16px */
}
/* Partial fix for bug #1106 */
/* Target Firefox 2 (somehow this will force almost all window borders on top of a Flash object) */
.i-window-contents, x:-moz-any-link {
	overflow: hidden;
}
/* Target Firefox 3 (it doesn't need any trickery, so revert the previous) */
.i-window-contents, x:-moz-any-link, x:default {
	overflow: visible;
}
.i-window-footer {
	overflow: hidden;
}
.i-window-resizebox {
	display: inline; /* fix IE6 double float margin bug */
	float: right;
	width: 10px;
	height: 10px;
	cursor: se-resize;
	background: #ddd;
	overflow: hidden;
}
.i-window-resizebox-disabled {
	cursor: default;
	display: none;
}
.i-window-closebox {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: 1em;
	background: red;
	cursor: pointer;
	overflow: hidden;
}
.i-window-modalitycurtain {
	top: 0;
	left: 0;
	background: #999;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=50);
}
/* IE6 workaround for position:fixed; */
.i-ie6 .i-window-modalitycurtain { 
	position: absolute;
	top: expression(document.documentElement.scrollTop + "px"); 
}
/* min-width for IE6 */
.i-ie6 .i-window {
	width: 0; /*  */
}
/* Shadow for window */
.i-shadow-window {
	position: absolute;
}
.i-shadow-window .top-left {
    position: absolute; overflow: hidden;
    top: -10px;             left: -15px;
    width: 28px;         height: 28px;
    background: transparent url(../base/window/img/shadow/top-left.png);
}
.i-shadow-window .top {
    position: absolute; overflow: hidden;
    top: -10px;             left: 13px;
    height: 28px;
    right: 13px;
    background: transparent url(../base/window/img/shadow/top.png);
}
.i-shadow-window .top-right {
    position: absolute; overflow: hidden;
    top: -10px;             right: -15px;
    width: 28px;         height: 28px;
    background: transparent url(../base/window/img/shadow/top-right.png);
}
.i-shadow-window .left {
    position: absolute; overflow: hidden;
    top: 18px;           left: -15px;
    width: 28px;
    bottom: 10px;
    background: transparent url(../base/window/img/shadow/left.png);
}
.i-shadow-window .center {
    position: absolute; overflow: hidden;
    top: 18px;           left: 13px;
    bottom: 10px;        right: 13px;
    background: transparent url(../base/window/img/shadow/center.png);
}
.i-shadow-window .right {
    position: absolute; overflow: hidden;
    top: 18px;           right: -15px;
    width: 28px;
    bottom: 10px;
    background: transparent url(../base/window/img/shadow/right.png);
}
.i-shadow-window .bottom-left {
    position: absolute; overflow: hidden;
    bottom: -18px;           left: -15px;
    width: 28px;          height: 28px;
    background: transparent url(../base/window/img/shadow/bottom-left.png);
}
.i-shadow-window .bottom {
    position: absolute; overflow: hidden;
    bottom: -18px;           left: 13px;
    right: 13px;          height: 28px;
    background: transparent url(../base/window/img/shadow/bottom.png);
}
.i-shadow-window .bottom-right {
    position: absolute; overflow: hidden;
    bottom: -18px;           right: -15px;
    width: 28px;          height: 28px;
    background: transparent url(../base/window/img/shadow/bottom-right.png);
}
/* For IE6 (no transparent png's, we use a blur filter) */
.i-ie6 .i-shadow-window * {
	display: none;
}
.i-ie6 .i-shadow-window {
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5) alpha(opacity=20);
	margin-top: 2px;
	margin-left: 2px;
}
/* Automatically compiled css file from subdirectories. */

/* ./WebContent/ITMILL/themes/reindeer/button/button.css */
/** sprite: buttons; sprite-image: url(button/img/buttons.png); sprite-layout: vertical */

/* We serve simpler buttons for IE6, since it doesn't support the adjacent 
 * sibling selector (+) that is needed to position .i-icon properly.
 */
div > .i-button,
.i-ie7 .i-button {
	height: 26px;
	padding: 0 0 0 6px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(button/img/left.png); /** sprite-ref: buttons */
	border: none;
	cursor: default;
}
div > .i-button span,
.i-ie7 .i-button span {
	display: inline-block;
	height: 22px;
	padding: 4px 15px 0 9px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(button/img/right.png);  /** sprite-ref: buttons; sprite-alignment: right */
	text-shadow: #fff 0 1px 0;
	font-weight: bold;
	font-size: 11px;
	line-height: 16px;
	float: none;
}
.i-sa .i-button span {
	height: 21px;
	padding-top: 5px;
}
.i-button:focus {
	background-image: url(button/img/left-focus.png); /** sprite-ref: buttons */
	outline: none;
}
.i-button:focus span {
	background-image: url(button/img/right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
	outline: none;
}
.i-button:active,
.i-ie7 .i-button.i-pressed {
	background-image: url(button/img/left-pressed.png); /** sprite-ref: buttons */
	outline: none;
}
.i-button:active span,
.i-ie7 .i-button.i-pressed span {
	background-image: url(button/img/right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
	outline: none;
}
.i-ie7 .i-button.i-pressed span {
	position: relative;
}
/* FF3 & FF2 */
.i-button::-moz-focus-inner {
	border: none;
	padding: 0;
}
.i-ff2 .i-button span {
	display: -moz-inline-box;
}
/* IE7 */
.i-ie7 .i-button.i-pressed .i-icon {
	position: relative;
	z-index: 2;
}
/* Opera */
.i-op .i-button:active span {
	margin-top: -1px;
	margin-left: -1px;
}
/* Modifications for buttons with icons */
div > .i-button .i-icon,
.i-ie7 .i-button .i-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	position: relative;
	margin: 0 3px 0 0;
}
.i-ff2 .i-button .i-icon {
	display: block;
	float: left;
	margin-top: 4px;
}
.i-ff2 .i-button-link .i-icon {
	margin: 0;
}
.i-button .i-icon + span,
.i-button .i-icon + .i-errorindicator + span {
	margin-left: -19px;
	padding-left: 19px;
}
.i-ie7 .i-button .i-icon + span,
.i-ie7 .i-button .i-icon + .i-errorindicator + span {
	margin-left: -23px;
	padding-left: 23px;
}
/* Buttons with error indicator */
div > .i-button .i-errorindicator,
.i-ie7 .i-button .i-errorindicator {
	display: inline;
	position: absolute;
	width: 5px;
	height: 26px;
	background: transparent url(../default/icons/16/error.png) no-repeat 50%;
	overflow: hidden;
}
.i-ie6 .i-button .i-errorindicator {
	position: absolute;
	width: 5px;
	height: 18px;
	background: transparent url(../default/icons/16/error.gif) no-repeat 50%;
	overflow: hidden;
	margin-left: -10px;
}
/* Link style buttons */
.i-button.i-button-link,
.i-ie7 .i-button-link.i-pressed {
	background: transparent;
	height: auto;
	padding: 0;
	cursor: pointer;
}
.i-button.i-button-link span,
.i-ie7 .i-button-link.i-pressed span {
	background: transparent;
	height: auto;
	padding: 0;
	display: inline;
	font-weight: normal;
	color: #1b699f;
}
.i-button.i-button-link .i-icon + span {
	margin: 0;
	padding: 0;
}
.i-button-link:focus {
	outline: 1px dotted #1b699f;
}
/**
 * Default action button style --------------------------
 */
div > .i-button-primary,
.i-ie7 .i-button-primary {
	background-image: url(button/img/primary-left.png); /** sprite-ref: buttons */
}
div > .i-button-primary span,
.i-ie7 .i-button-primary span {
	background-image: url(button/img/primary-right.png); /** sprite-ref: buttons; sprite-alignment: right */
}
.i-button-primary:focus {
	background-image: url(button/img/primary-left-focus.png); /** sprite-ref: buttons */
}
.i-button-primary:focus span {
	background-image: url(button/img/primary-right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
}
.i-button-primary:active,
.i-ie7 .i-button-primary.i-pressed {
	background-image: url(button/img/primary-left-pressed.png); /** sprite-ref: buttons */
}
.i-button-primary:active span,
.i-ie7 .i-button-primary.i-pressed span {
	background-image: url(button/img/primary-right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
}
/* 
 * Small-style --------------------------
 */
div > .i-button-small,
.i-ie7 .i-button-small {
	background-image: url(button/img/small-left.png); /** sprite-ref: buttons */
	height: 20px;
}
div > .i-button-small span,
.i-ie7 .i-button-small span {
	background-image: url(button/img/small-right.png); /** sprite-ref: buttons; sprite-alignment: right */
	height: 19px;
	padding: 1px 11px 0 5px;
	font-weight: normal;
}
.i-sa .i-button-small span {
	height: 18px;
	padding-top: 2px;
}
.i-button-small:focus {
	background-image: url(button/img/small-left-focus.png); /** sprite-ref: buttons */
}
.i-button-small:focus span {
	background-image: url(button/img/small-right-focus.png); /** sprite-ref: buttons; sprite-alignment: right */
}
.i-button-small:active,
.i-ie7 .i-button-small.i-pressed {
	background-image: url(button/img/small-left-pressed.png); /** sprite-ref: buttons */
}
.i-button-small:active span,
.i-ie7 .i-button-small.i-pressed span {
	background-image: url(button/img/small-right-pressed.png); /** sprite-ref: buttons; sprite-alignment: right */
}

/**
 * IE6 buttons --------------------------
 */
.i-ie6 .i-button {
	border: 1px solid #b3b3b3;
	border-bottom-color: #9a9a9a;
	background: transparent url(button/img/right.png) no-repeat 0 -1px;
	padding: 3px 15px 2px 15px;
	font-weight: bold;
	font-size: 11px;
	line-height: 16px;
	height: 16px;
	outline: none;
}
.i-ie6 .i-button-primary {
	background-image: url(button/img/primary-right.png);
}
.i-ie6 .i-button-small {
	font-weight: normal;
	padding: 1px 11px 0 11px;
	height: 12px;
	line-height: normal;
	background-image: url(button/img/small-right.png);
}
.i-ie6 .i-button.i-pressed {
	background: transparent url(button/img/right-pressed.png) no-repeat 0 -1px;
}

/* ./WebContent/ITMILL/themes/reindeer/common/common.css */
.i-generated-body,
.i-app {
	background: #f5f5f5;
}
/* Global font styles */
.i-app,
.i-window,
.i-popupview-popup,
.i-tooltip,
.i-app input,
.i-app select,
.i-app button,
.i-app textarea,
.i-window input,
.i-window select,
.i-window button,
.i-window textarea,
.i-popupview-popup input,
.i-popupview-popup select,
.i-popupview-popup button,
.i-popupview-popup textarea {
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	line-height: normal;
	color: #222;
}
/* Fonts for Safari, exchange Helvetica for Arial */
.i-sa .i-app,
.i-sa .i-window,
.i-sa .i-popupview-popup,
.i-sa .i-tooltip,
.i-sa .i-app input,
.i-sa .i-app select,
.i-sa .i-app button,
.i-sa .i-app textarea,
.i-sa .i-window input,
.i-sa .i-window select,
.i-sa .i-window button,
.i-sa .i-window textarea,
.i-sa .i-popupview-popup input,
.i-sa .i-popupview-popup select,
.i-sa .i-popupview-popup button,
.i-sa .i-popupview-popup textarea {
	font-family: Helvetica, Arial, "Lucida Grande", Geneva, Tahoma, Verdana, sans-serif;
}

/* ./WebContent/ITMILL/themes/reindeer/label/label.css */
.i-label {
	line-height: 18px;
}
.i-label-h1,
.i-label-h2,
.i-caption-h1,
.i-caption-h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #44698b;
}
.i-ie6 .i-label-h1 {
	font-size: 1px;
	line-height: normal;
}
.i-label-h2,
.i-caption-h2 {
	font-size: 16px;
	line-height: 22px;
}
.i-label-light {
	font-size: 11px;
	line-height: 13px;
	color: #707070;
}

/* ./WebContent/ITMILL/themes/reindeer/layouts/layouts.css */
.i-orderedlayout-margin-top,
.i-horizontallayout-margin-top,
.i-verticallayout-margin-top {
	padding-top: 18px;
}
.i-orderedlayout-margin-right,
.i-horizontallayout-margin-right,
.i-verticallayout-margin-right {
	padding-right: 18px;
}
.i-orderedlayout-margin-bottom,
.i-horizontallayout-margin-bottom,
.i-verticallayout-margin-bottom {
	padding-bottom: 18px;
}
.i-orderedlayout-margin-left,
.i-horizontallayout-margin-left,
.i-verticallayout-margin-left {
	padding-left: 18px;
}
.i-orderedlayout-spacing-on,
.i-horizontallayout-spacing-on,
.i-verticallayout-spacing-on {
	padding-top: 7px;
	padding-left: 6px;
}

/* ./WebContent/ITMILL/themes/reindeer/panel/panel.css */
.i-panel-caption,
.i-panel-nocaption {
	border-bottom: 1px solid #dcdcdc;
	line-height: 16px; /* accommodate minimum icon size */
}
.i-sa .i-panel-caption,
.i-sa .i-panel-nocaption,
.i-ff3 .i-panel-caption,
.i-ff3 .i-panel-nocaption {
	border-bottom-color: rgba(0,0,0,.1);
}
.i-panel-caption {
	padding-bottom: 2px;
}
.i-panel-content {
	border: 1px solid #dcdcdc;
	border-bottom: none;
	border-top: none;
	background: #fff;
}
.i-sa .i-panel-content,
.i-ff3 .i-panel-content {
	border-color: rgba(0,0,0,.1);
}
.i-panel-deco {
	height: 1px;
	border-top: 1px solid #bebebe;
	background: #e2e2e2;
	overflow: hidden;
}
.i-sa .i-panel-deco,
.i-ff3 .i-panel-deco {
	border-top-color: rgba(0,0,0,.1);
	background: rgba(0,0,0,.08);
}

/* ./WebContent/ITMILL/themes/reindeer/tabsheet/tabsheet.css */
.i-tabsheet-spacertd div {
	border-color: #bfbfbf;
	border-left: none;
}
.i-tabsheet-tabitem {
	border: none;
	border-bottom: 1px solid #bfbfbf;
	padding: 5px 16px;
	color: #4d748f;
}
.i-tabsheet-tabitem-selected {
	border: 1px solid #bfbfbf;
	border-bottom: none;
	color: #222;
	padding: 4px 15px 6px 15px;
}
.i-tabsheet-content {
	border: none;
}
.i-tabsheet-deco {
	height: 0;
}
