.v-gridlayout-margin-top {
	padding-top: 2em;
}
.v-gridlayout-margin-bottom {
	padding-bottom: 2em;
}
.v-gridlayout-margin-left {
	padding-left: 2em;
} 
.v-gridlayout-margin-right {
	padding-right: 2em;
}
.v-gridlayout-spacing-on {
	padding-left: 1em;
	padding-top: 1em;
	overflow: hidden;
}
.v-gridlayout-spacing,
.v-gridlayout-spacing-off {
	padding-left: 0;
	padding-top: 0;
}
.v-gridlayout-spacing-off {
	overflow: hidden;
}
/* Ensure that resizing gridlayout works in IE */
.v-ie6 .v-gridlayout,
.v-ie7 .v-gridlayout {
	overflow: hidden;
}