.v-view {
	height: 100%;
	width: 100%;
	overflow: auto;
	outline: none;
	margin-top: -1px;
	border-top: 1px solid transparent;
	position: relative;
}

@media print {
	.v-generated-body {
		height: auto;
		min-height: 20cm;
		overflow: visible;
	}
	.v-app {
		height: auto;
		min-height: 20cm;
	}
	.v-view {
		overflow: visible;
	}
	.v-gridlayout {
		overflow: visible !important;
	}
}