@mixin runo-gridlayout($primaryStyleName : v-gridlayout) {

.#{$primaryStyleName}-margin-top {
	padding-top: 15px;
}
.#{$primaryStyleName}-margin-bottom {
	padding-bottom: 15px;
}
.#{$primaryStyleName}-margin-left {
	padding-left: 18px;
} 
.#{$primaryStyleName}-margin-right {
	padding-right: 18px;
}
.#{$primaryStyleName}-spacing-on {
	padding-left: 8px;
	padding-top: 8px;
}

}