.i-tree {
	text-align: left /* Force default alignment */
}
.i-tree-node {
	background: transparent url(../common/img/sprites.png) no-repeat 5px -37px;
}
.i-tree-node-expanded {
	background-position: -5px -10px;
}
div.i-tree-node-leaf {
	background: none;
}
.i-tree-node-caption {
	margin-left: 1em;
}
.i-tree-node span {
	cursor: pointer;
	white-space: nowrap;
}
.i-tree-node-selected span {
	background: #999;
	color: #fff;
}
.i-tree-node-children {
	padding-left: 1em;
}
/* ie6compatnode is hidden from non ie6 browsers, for ie6 
 * uses weird hack to sink all events properly 
 */
.i-tree-node-ie6compatnode {
	display: none;
}
/* IMPORTANT keep the offsetWidth of this element the same as the margin-left of i-tree-node-caption */
.i-ie6 .i-tree-node-ie6compatnode {
	display: inline;
	float: left;
	background: orange;
	margin: 0;
	width: 0.8em;
	height: 0.8em;
	padding: 0.1em;
	filter: alpha(opacity=0);
}
.i-ie6 .i-tree-node,
.i-ie6 .i-tree-node-children {
	clear: left;
}