@mixin base-gridlayout($primaryStyleName : v-gridlayout) {

.#{$primaryStyleName} {
	position: relative;
}
.#{$primaryStyleName}-slot {
	position: absolute;
}
.#{$primaryStyleName}-margin-top {
	padding-top: 12px;
}
.#{$primaryStyleName}-margin-bottom {
	padding-bottom: 12px;
}
.#{$primaryStyleName}-margin-left {
	padding-left: 12px;
} 
.#{$primaryStyleName}-margin-right {
	padding-right: 12px;
}
.#{$primaryStyleName}-spacing-on {
	padding-left: 6px;
	padding-top: 6px;
	overflow: hidden;
}
.#{$primaryStyleName}-spacing,
.#{$primaryStyleName}-spacing-off {
	padding-left: 0;
	padding-top: 0;
}
.#{$primaryStyleName}-spacing-off {
	overflow: hidden;
}

}