.v-treetable-treespacer {
    display: inline-block;
    background: transparent;
    height: 10px;
    /* defines the amount of indent per level */
    width: 18px;
    position: absolute;
    left: 0;
    top: 5px;
}

.v-treetable-node-closed {
    background: url(../treetable/img/arrow-right.png) right top no-repeat;
}

.v-ie6 .v-treetable-node-closed {
	background-image: url(../treetable/img/arrow-right.gif); 
} 

.v-treetable-node-open {
    background: url(../treetable/img/arrow-down.png) right top no-repeat;
}

.v-ie6 .v-treetable-node-open {
	background-image: url(../treetable/img/arrow-down.gif); 
} 

.v-treetable .v-checkbox {
	display: inline-block;
	padding-bottom: 4px;
}

.v-treetable .v-table-row .v-table-cell-content,
.v-treetable .v-table-row-odd .v-table-cell-content {
    position: relative;
    z-index: 10;
}

.v-treetable .v-table-cell-wrapper {
	position: relative;
}

.v-treetable .v-table-body .v-table-table .v-table-row-animating {
	zoom:1;
	z-index:1;
}

.v-treetable .v-table-body .v-table-table .v-table-row-animating,
.v-treetable .v-table-body .v-table-table .v-table-row-animating .v-table-cell-content {
    background:transparent;
}

.v-treetable-animation-clone {
	border-spacing: 0;
	zoom:1;
}

div.v-treetable-animation-clone-wrapper {
	position: absolute;
    z-index: 2;
    background-color:#fff;
}

div.v-treetable-animation-clone-wrapper table.v-treetable-animation-clone {
    background-color:#fff;
}

div table.v-treetable-animation-clone tr.v-table-row,
div table.v-treetable-animation-clone tr.v-table-row-odd,
div table.v-treetable-animation-clone tr.v-table-row td.v-table-cell-content,
div table.v-treetable-animation-clone tr.v-table-row-odd td.v-table-cell-content {
	visibility: visible;
}
