@mixin base-widget($primaryStyleName : v-widget) {

.#{$primaryStyleName} {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	display: inline-block;
	white-space: normal;
	vertical-align: bottom;
	font-size: $font-size;
	line-height: $line-height;
}
}