@mixin reindeer-panel($primaryStyleName : v-panel) {

.blue .#{$primaryStyleName}-caption,
.blue .#{$primaryStyleName}-nocaption,
.blue .#{$primaryStyleName}-content {
	border-color: #a8bcc5;
}
.#{$primaryStyleName}-caption,
.#{$primaryStyleName}-nocaption,
.white .#{$primaryStyleName}-caption,
.white .#{$primaryStyleName}-nocaption {
	border-bottom: 1px solid #e5e5e5;
	line-height: 16px; /* accommodate minimum icon size */
}

.v-webkit &, 
.v-gecko &, 
.v-ie9 &, 
.v-ie10 & {
	.#{$primaryStyleName}-caption,
	.#{$primaryStyleName}-nocaption {
		border-bottom-color: rgba(0,0,0,.08);
	}
	.#{$primaryStyleName}-content {
		border-top-color: rgba(0,0,0,.07);
	}
	.#{$primaryStyleName}-deco {
		border-top-color: rgba(0,0,0,.1);
		background: rgba(0,0,0,.08);
	}
}

.#{$primaryStyleName}-caption {
	padding-bottom: 2px;
}
.#{$primaryStyleName}-content,
.white .#{$primaryStyleName}-content {
	background: #fff;
	border: 1px solid #dcdcdc;
	border-bottom: none;
	border-top: none;
}

.blue .#{$primaryStyleName}-deco {
	border-color: #92a3ac;
	background: #adc2cd;
}
.#{$primaryStyleName}-deco,
.white .#{$primaryStyleName}-deco {
	height: 1px;
	border-top: 1px solid #bebebe;
	background: #e2e2e2;
	overflow: hidden;
}
.#{$primaryStyleName}-caption .v-errorindicator {
	height: 16px;
	width: 13px;
	background: url(../common/icons/error.png) no-repeat 50%;
	display: inline;
	display: inline-block;
	vertical-align: middle;
}

/* Light style */
.#{$primaryStyleName}-light .#{$primaryStyleName}-caption-light,
.#{$primaryStyleName}-light .#{$primaryStyleName}-nocaption-light {
	border: none;
}
.#{$primaryStyleName}-light .#{$primaryStyleName}-content-light {
	border: none;
	background: transparent;
}
.#{$primaryStyleName}-light .#{$primaryStyleName}-deco-light {
	height: 0;
	border: none;
}

}