<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.table.Tables?restartApplication</td>
	<td></td>
</tr>
<!--Remove all rows-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>29,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>40,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>53,9</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>4,6</td>
</tr>
<!--Add generated column-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>34,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item8</td>
	<td>40,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item4</td>
	<td>97,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>55,6</td>
</tr>
<!--Screenshot of initial state-->
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>1-no-rows-small</td>
</tr>
<!--Add a row to make the row height increase-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>23,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>26,1</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>68,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item1</td>
	<td>18,13</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>2-one-row-big</td>
</tr>
<!--Remove the row - height should be retained-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>28,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>34,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item1</td>
	<td>62,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item0</td>
	<td>25,4</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>3-no-rows-big</td>
</tr>

</tbody></table>
</body>
</html>
