<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
    <td>open</td>
    <td>/run/com.vaadin.tests.components.table.TableColumnWidthsAndExpandRatios?restartApplication</td>
    <td></td>
</tr>
<tr>
    <td>screenCapture</td>
    <td></td>
    <td>initial-all-columns-undefined</td>
</tr>
<!--Resize column 1 making it defined size-->
<tr>
    <td>dragAndDrop</td>
    <td>vaadin=runcomvaadintestscomponentstableTableColumnWidthsAndExpandRatios::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VScrollTable[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]</td>
    <td>-300,0</td>
</tr>
<!--Resize column 2 making it defined size-->
<tr>
    <td>dragAndDrop</td>
    <td>vaadin=runcomvaadintestscomponentstableTableColumnWidthsAndExpandRatios::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VScrollTable[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[1]/domChild[0]</td>
    <td>-300,0</td>
</tr>
<!--Resize column 3 making it defined size-->
<tr>
    <td>dragAndDrop</td>
    <td>vaadin=runcomvaadintestscomponentstableTableColumnWidthsAndExpandRatios::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[0]/VScrollTable[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[2]/domChild[0]</td>
    <td>-300,0</td>
</tr>
<tr>
    <td>screenCapture</td>
    <td></td>
    <td>columns-defined-width</td>
</tr>
<!--Reset column 1 width-->
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentstableTableColumnWidthsAndExpandRatios::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VHorizontalLayout[0]/ChildComponentContainer[0]/VNativeButton[0]</td>
    <td>114,4</td>
</tr>
<tr>
    <td>screenCapture</td>
    <td></td>
    <td>column1-undefined</td>
</tr>
<!--Reset column2 width-->
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentstableTableColumnWidthsAndExpandRatios::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VHorizontalLayout[0]/ChildComponentContainer[1]/VNativeButton[0]</td>
    <td>98,13</td>
</tr>
<tr>
    <td>screenCapture</td>
    <td></td>
    <td>column2-undefined</td>
</tr>
<!--Reset column 3 width-->
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentstableTableColumnWidthsAndExpandRatios::/VVerticalLayout[0]/ChildComponentContainer[1]/VVerticalLayout[0]/ChildComponentContainer[1]/VHorizontalLayout[0]/ChildComponentContainer[2]/VNativeButton[0]</td>
    <td>40,10</td>
</tr>
<tr>
    <td>screenCapture</td>
    <td></td>
    <td>columns-undefined-width</td>
</tr>

</tbody></table>
</body>
</html>
