<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.table.Tables?restartApplication</td>
	<td></td>
</tr>
<!--Hide log to allow screenshots to be consistent-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item1</td>
	<td>23,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>58,13</td>
</tr>
<!--width 700px-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>44,2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item2</td>
	<td>41,5</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>36,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item8</td>
	<td>53,17</td>
</tr>
<!--2 properties-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>31,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item5</td>
	<td>36,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item0</td>
	<td>86,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>22,7</td>
</tr>
<!--add 100% wide button-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>27,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item8</td>
	<td>37,8</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item4</td>
	<td>77,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>45,10</td>
</tr>
<!--Ensure button is resized with column-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_StestComponent/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[2]/domChild[0]</td>
	<td>1,11</td>
</tr>
<tr>
	<td>dragAndDrop</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_StestComponent/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[2]/domChild[0]</td>
	<td>-100,0</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>button-100%-after-column-resize</td>
</tr>
<!--Add undefined wide label-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>45,21</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item8</td>
	<td>30,2</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item4</td>
	<td>109,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item3</td>
	<td>71,10</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>button-and-label</td>
</tr>
<!--Reload to relayout (this shouldn't be necessary)-->
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.table.Tables</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>button-and-label-after-reload</td>
</tr>
<!--Align generated button right (should not make a difference)-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>17,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item9</td>
	<td>48,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item2</td>
	<td>39,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>53,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[3]/VMenuBar[0]#item2</td>
	<td>16,6</td>
</tr>
<!--Align generated label right (should make a difference)-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_Smenu#item0</td>
	<td>17,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[0]/VMenuBar[0]#item9</td>
	<td>48,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[1]/VMenuBar[0]#item3</td>
	<td>39,10</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>53,13</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::Root/VOverlay[3]/VMenuBar[0]#item2</td>
	<td>16,6</td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>label-aligned-right</td>
</tr>
<!--Resize right aligned column with undef wide Label-->
<tr>
	<td>dragAndDrop</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_StestComponent/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[3]/domChild[0]</td>
	<td>-20,0</td>
</tr>
<tr>
	<td>dragAndDrop</td>
	<td>vaadin=runcomvaadintestscomponentstableTables::PID_StestComponent/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[0]/domChild[3]/domChild[0]</td>
	<td>20,0</td>
</tr>
<!--Should match after resizing back and forth-->
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>label-aligned-right</td>
</tr>

</tbody></table>
</body>
</html>
