<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/run/com.vaadin.tests.components.tree.Trees?restartApplication</td>
	<td></td>
</tr>
<!--Hide event log-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_Smenu#item1</td>
	<td>19,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[0]/VMenuBar[0]#item0</td>
	<td>32,7</td>
</tr>
<!--Simple context menu-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_Smenu#item0</td>
	<td>28,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>57,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[1]/VMenuBar[0]#item4</td>
	<td>68,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[2]/VMenuBar[0]#item1</td>
	<td>69,7</td>
</tr>
<tr>
	<td>contextMenuAt</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_StestComponent#n[1]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>contextmenu-noicon</td>
</tr>
<!--Two actions, without and with icon-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_Smenu#item0</td>
	<td>42,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>52,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[1]/VMenuBar[0]#item4</td>
	<td>53,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[2]/VMenuBar[0]#item2</td>
	<td>31,4</td>
</tr>
<tr>
	<td>contextMenuAt</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_StestComponent#n[1]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>caption-only-and-has-icon</td>
</tr>
<!--Large icon-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_Smenu#item0</td>
	<td>42,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>52,6</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[1]/VMenuBar[0]#item4</td>
	<td>53,3</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[2]/VMenuBar[0]#item3</td>
	<td>31,4</td>
</tr>
<tr>
	<td>contextMenuAt</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_StestComponent#n[1]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>large-icon</td>
</tr>
<!--Simple context menu again to ensure it is properly updated (icons removed)-->
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_Smenu#item0</td>
	<td>28,7</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[0]/VMenuBar[0]#item6</td>
	<td>57,11</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[1]/VMenuBar[0]#item4</td>
	<td>68,4</td>
</tr>
<tr>
	<td>mouseClick</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::Root/VOverlay[2]/VMenuBar[0]#item1</td>
	<td>69,7</td>
</tr>
<tr>
	<td>contextMenuAt</td>
	<td>vaadin=runcomvaadintestscomponentstreeTrees::PID_StestComponent#n[1]</td>
	<td></td>
</tr>
<tr>
	<td>screenCapture</td>
	<td></td>
	<td>contextmenu-noicon</td>
</tr>
</tbody></table>
</body>
</html>
