@mixin reindeer-link($primaryStyleName : v-link) {

.#{$primaryStyleName} a:link span {
	color: #1b699f;
}
.#{$primaryStyleName} a:visited span {
	color: #5c7485;
}
.#{$primaryStyleName} a:hover span {
	color: #2483c4;
}

}