@mixin base-loginform($name : v-loginform) {

.#{$name} {
	height: 140px;
	width: 200px;
}

.v-app-loginpage .v-button,
.v-app-loginpage .v-button {
	float: left; /* Force minimum width for button */
}

}