<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://localhost:8888/" />
<title>New Test</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">New Test</td></tr>
</thead><tbody>
<tr>
    <td>open</td>
    <td>/run/com.vaadin.tests.components.datefield.DateFieldPrimaryStyleNames?restartApplication</td>
    <td></td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VDateFieldCalendar[0]</td>
    <td>my-inline-datefield</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VDateFieldCalendar[0]</td>
    <td>my-inline-datefield-day</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VDateFieldCalendar[0]/VCalendarPanel[0]/domChild[1]/domChild[0]</td>
    <td>my-inline-datefield-calendarpanel-header</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VDateFieldCalendar[0]/VCalendarPanel[0]/domChild[1]/domChild[1]/domChild[0]</td>
    <td>my-inline-datefield-calendarpanel-body</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]</td>
    <td>my-datefield</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]</td>
    <td>my-datefield-popupcalendar</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]</td>
    <td>my-datefield-day</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]/domChild[0]</td>
    <td>my-datefield-textfield</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]/domChild[1]</td>
    <td>my-datefield-button</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]#popupButton</td>
    <td>13,0</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//body/div[2]/div[last()]</td>
    <td>my-datefield-popup</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//body/div[2]/div[last()]</td>
    <td>my-datefield-day</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']</td>
    <td>my-datefield-calendarpanel</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]</td>
    <td>my-datefield-calendarpanel-header</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]/td[1]</td>
    <td>my-datefield-calendarpanel-prevyear</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]/td[2]</td>
    <td>my-datefield-calendarpanel-prevmonth</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]/td[3]</td>
    <td>my-datefield-calendarpanel-month</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]/td[4]</td>
    <td>my-datefield-calendarpanel-nextmonth</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]/td[5]</td>
    <td>my-datefield-calendarpanel-nextyear</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[2]/td[1]</td>
    <td>my-datefield-calendarpanel-body</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[2]/td[1]/table/tbody/tr[1]</td>
    <td>my-datefield-calendarpanel-weekdays</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]#popupButton</td>
    <td>13,0</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[2]/VButton[0]</td>
    <td>5,5</td>
</tr>
<tr>
    <td>assertNotCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VDateFieldCalendar[0]</td>
    <td>my-inline-datefield</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VDateFieldCalendar[0]</td>
    <td>my-second-inline-datefield</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VDateFieldCalendar[0]</td>
    <td>my-second-inline-datefield-day</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VDateFieldCalendar[0]/VCalendarPanel[0]/domChild[1]/domChild[0]</td>
    <td>my-second-inline-datefield-calendarpanel-header</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VDateFieldCalendar[0]/VCalendarPanel[0]/domChild[1]/domChild[1]/domChild[0]</td>
    <td>my-second-inline-datefield-calendarpanel-body</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]</td>
    <td>my-second-datefield</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]</td>
    <td>my-second-datefield-popupcalendar</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]</td>
    <td>my-second-datefield-day</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]/domChild[0]</td>
    <td>my-second-datefield-textfield</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]/domChild[1]</td>
    <td>my-second-datefield-button</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]#popupButton</td>
    <td>13,0</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//body/div[2]/div[last()]</td>
    <td>my-second-datefield-popup</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//body/div[2]/div[last()]</td>
    <td>my-second-datefield-day</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']</td>
    <td>my-second-datefield-calendarpanel</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]</td>
    <td>my-second-datefield-calendarpanel-header</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]/td[1]</td>
    <td>my-second-datefield-calendarpanel-prevyear</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]/td[2]</td>
    <td>my-second-datefield-calendarpanel-prevmonth</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]/td[3]</td>
    <td>my-second-datefield-calendarpanel-month</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]/td[4]</td>
    <td>my-second-datefield-calendarpanel-nextmonth</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[1]/td[5]</td>
    <td>my-second-datefield-calendarpanel-nextyear</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[2]/td[1]</td>
    <td>my-second-datefield-calendarpanel-body</td>
</tr>
<tr>
    <td>assertCSSClass</td>
    <td>//*[@id='PID_VAADIN_POPUPCAL']/tbody/tr[2]/td[1]/table/tbody/tr[1]</td>
    <td>my-second-datefield-calendarpanel-weekdays</td>
</tr>
<tr>
    <td>mouseClick</td>
    <td>vaadin=runcomvaadintestscomponentsdatefieldDateFieldPrimaryStyleNames::/VVerticalLayout[0]/VOrderedLayout$Slot[1]/VVerticalLayout[0]/VOrderedLayout$Slot[0]/VPopupCalendar[0]#popupButton</td>
    <td>13,0</td>
</tr>
</tbody></table>
</body>
</html>
