@mixin runo-progressindicator($primaryStyleName : v-progressindicator) {

.#{$primaryStyleName}-wrapper {
	background: #dfe2e4 url(img/base.gif) repeat-x;
	border: 1px solid #b6bbbc;
}
.v-disabled .#{$primaryStyleName}-wrapper {
	background-image: url(img/disabled.gif);
}
.#{$primaryStyleName}-indicator {
	background: #f7f9f9 url(img/progress.png);
}
.#{$primaryStyleName}-indicator {
	background: #f7f9f9 url(img/progress.png);
}
.#{$primaryStyleName}-indeterminate {
	background: #fff url(../../base/common/img/ajax-loader-medium.gif) no-repeat 50%;
}
.#{$primaryStyleName}-indeterminate-disabled {
	background: #dfe2e4;
}

// Static style

.#{$primaryStyleName}-static .#{$primaryStyleName}-wrapper {
  background: #dfe2e4 url(img/base-static.gif) repeat-x;
}

}
