@mixin liferay-datefield($primaryStyleName : v-datefield) {

.#{$primaryStyleName}-popup {
	padding: 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.#{$primaryStyleName}-calendarpanel-header {
	height: 28px;	
}

.#{$primaryStyleName}-calendarpanel:focus {
	outline: none;	
}

.#{$primaryStyleName}-calendarpanel-body {
	text-align: right;
	vertical-align: top;
}

.#{$primaryStyleName}-popupcalendar .#{$primaryStyleName}-button {
	background: transparent url(../common/buttons_sprites.png) no-repeat 0 -48px;
	width: 24px;
	height: 24px;
	border: none;
}

.#{$primaryStyleName}-popupcalendar .#{$primaryStyleName}-button:hover {
	background-position: 0px -72px;
}

.#{$primaryStyleName}-popupcalendar .#{$primaryStyleName}-button:focus {
	background-position: 0px -96px;
}

.#{$primaryStyleName}-month .#{$primaryStyleName}-calendarpanel-month,
.#{$primaryStyleName}-day .#{$primaryStyleName}-calendarpanel-month,
.#{$primaryStyleName}-full .#{$primaryStyleName}-calendarpanel-month {
	width: 124px;
}

.#{$primaryStyleName}-year .#{$primaryStyleName}-calendarpanel-month {
	width: 35px;
}

.#{$primaryStyleName}-calendarpanel-month {
	background: transparent url(datefield_sprites.png) repeat-x 0 -112px;
	font-weight: bold;
}

span.#{$primaryStyleName}-calendarpanel-month {
	display: block;
	text-align: center;
	background: transparent;
	overflow: hidden;
	padding: 1px 3px 0;
}

.#{$primaryStyleName}-calendarpanel-prevyear,
.#{$primaryStyleName}-calendarpanel-nextyear {
	width: 22px;	
}
	
.#{$primaryStyleName}-calendarpanel-prevyear button,
.#{$primaryStyleName}-calendarpanel-prevmonth button,
.#{$primaryStyleName}-calendarpanel-nextmonth button,
.#{$primaryStyleName}-calendarpanel-nextyear button {
	width: 22px;
	height: 28px;
	border: none;
	background: transparent;
	background-repeat: no-repeat;
	background-image: url(datefield_sprites.png);
  	background-position: 0 0;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
	outline: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.v-ie & .#{$primaryStyleName}-calendarpanel-prevyear button,
.v-ie & .#{$primaryStyleName}-calendarpanel-nextyear button,
.v-ie & .#{$primaryStyleName}-calendarpanel-prevmonth button,
.v-ie & .#{$primaryStyleName}-calendarpanel-nextmonth button {
	text-indent: 0;
	font-size: 1px;
}

.#{$primaryStyleName}-calendarpanel-prevmonth button {
	background-position: 0 -56px;
}

.#{$primaryStyleName}-calendarpanel-prevmonth {
	background: transparent url(datefield_sprites.png) repeat-x 0 -112px;
}

.#{$primaryStyleName}-calendarpanel-nextyear button {
	background-position: 0 -28px;
	width: 100%;
	min-width: 22px;
}

.#{$primaryStyleName}-calendarpanel-nextmonth button {
	background-position: 0 -84px;
}

.#{$primaryStyleName}-calendarpanel-nextmonth {
	background: transparent url(datefield_sprites.png) repeat-x 0 -112px;
}

.#{$primaryStyleName}-calendarpanel-prevyear button {
	width: 100%;
	min-width: 22px;
}

.#{$primaryStyleName}-calendarpanel-day {
	display: block;
	width: 22px;
	margin: 0 0 3px 3px;
	text-align: center;
	background: #d4d4d4 url(/html/themes/classic/images/application/state_default_bg.png) repeat-x 0 0;
	border-color: #c8c9ca #9e9e9e #9e9e9e #c8c9ca;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.#{$primaryStyleName}-calendarpanel-day-today {
	font-weight: bold;
}

.#{$primaryStyleName}-calendarpanel-day-selected {
	background: #b5b5b5 url(/html/themes/classic/images/application/state_active_bg.png) repeat-x 0 0;
	color: #000;
	border-color: #555;
}

.#{$primaryStyleName}-calendarpanel-day-focused {
	outline: 1px dotted #555;
}


.#{$primaryStyleName}-calendarpanel-weekdays {
	text-align: center;
}

.#{$primaryStyleName}-calendarpanel-weekdays strong {
	font-weight: normal;
}

.#{$primaryStyleName}-calendarpanel-weeknumber {
	display: block;
	border: none;
	padding: 2px 0 2px 0;
	margin: 0;
	font-size: 9.9px;
}

.#{$primaryStyleName}-calendarpanel-body table {
	margin: 0 auto;
	width: 200px;	
}

}