.v-menubar {
	height: 23px;
	background: #323336 repeat-x;
	background-image: url(img/bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	color: #d1d3d6;
	text-shadow: rgba(0,0,0,.9) 0 1px 0;
	padding: 0 8px;
}
.v-menubar .v-menubar-menuitem {
	padding: 3px 8px;
	height: 17px;
	line-height: 16px;
}
.v-menubar .v-menubar-menuitem:hover {
	color: #fff;
}
.v-menubar-submenu {
	background: #f8f8f9;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	overflow: hidden;
	padding: 4px 0;
}
.v-menubar-submenu .v-menubar-menuitem {
	padding: 1px 26px 1px 10px;
	line-height: 16px;
}
.v-menubar-submenu .v-menubar-menuitem-caption * { 
	vertical-align: middle;
}
.v-menubar .v-menubar-menuitem-selected,
.v-menubar-submenu .v-menubar-menuitem-selected {
	background: #4d749f repeat-x;
	background-image: url(../common/img/sel-bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	color: #fff;
	text-shadow: 0 1px 0 #3b5a7a;
}
.v-menubar .v-menubar-menuitem-selected {
	background-image: url(img/menu-sel-bg.png); /** sprite-ref: verticals; sprite-alignment: repeat; sprite-margin-bottom: 1px  */
}
.v-menubar-submenu .v-menubar-submenu-indicator {
	background: transparent url(img/submenu-icon.png) no-repeat right 70%;
	width: 26px;
	height: 16px;
	text-indent: -9999px;
}
.v-menubar-submenu .v-menubar-menuitem-selected .v-menubar-submenu-indicator {
	background-image: url(img/submenu-icon-hover.png);
}

/* Checkboxes for checkable/checked menu items */
.v-menubar-submenu-check-column .v-menubar-menuitem {
	padding-left: 6px;
}
.v-menubar-submenu-check-column .v-menubar-menuitem-caption {
	padding-left: 18px;
}
.v-menubar-submenu .v-menubar-menuitem-checked .v-menubar-menuitem-caption { 
	background: transparent url(img/checked.png) no-repeat left;
}
.v-menubar-submenu .v-menubar-menuitem-unchecked .v-menubar-menuitem-caption {
	background: transparent url(img/unchecked.png) no-repeat left;
}
.v-menubar-submenu .v-menubar-menuitem-selected-checked .v-menubar-menuitem-caption { 
	background: transparent url(img/checked-selected.png) no-repeat left;
}
.v-menubar-submenu .v-menubar-menuitem-selected-unchecked .v-menubar-menuitem-caption {
	background: transparent url(img/unchecked-selected.png) no-repeat left;
}
