.v-tree-node {
	background: transparent url(img/collapsed.png) no-repeat 2px 1px;
}
.v-tree-node-expanded {
	background: transparent url(img/expanded.png) no-repeat 2px 1px;
}
.v-tree-node-caption {
	margin-left: 18px;
}
.v-tree-node-caption .v-icon {
	margin: 0 2px 0 -2px;
}
.v-tree-node-caption span {
	padding: 0 1px;
}
.v-tree-node-selected span {
	background: #57a7ed;
	color: #fff;
	padding: 1px 2px 0;
	display: inline-block;
	zoom: 1;
	margin: -1px -1px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}
.v-tree-node-children {
	padding-left: 16px;
}
/* IMPORTANT keep the offsetWidth (width + padding) of this element the same as the margin-left of v-tree-node-caption */
.v-ie6 .v-tree-node-ie6compatnode {
	width: 14px;
	height: 10px;
	padding: 1px;
}
.v-tree{
	outline:none;	
}
.v-tree-node-caption.v-tree-node-focused span{
	padding-left: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.v-tree-node-focused span{
	border: 1px dotted black;	
}
.v-ie6 .v-tree-node-ie6compatnode.v-tree-node-focused{
	padding-left: 0px;
}
/***************************************
 * Drag'n'drop styles
 ***************************************/
.v-tree .v-tree-node-drag-top,
.v-tree .v-tree-node-drag-top.v-tree-node-expanded {
	background-position: 2px 0;
}