@mixin chameleon-selects($primaryStyleName : v-filterselect) {

$select-button-width : 16px;
$select-button-negative-width : -16px;

.#{$primaryStyleName} {
	overflow: hidden;
	padding-right: $select-button-width; /* Space for the button */
	}

&.v-app input.#{$primaryStyleName}-input {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	line-height: normal;
	}

&.v-app input.#{$primaryStyleName}-input[type=text] {
	padding: 0;
	}

.#{$primaryStyleName}-focus .#{$primaryStyleName}-input,
.#{$primaryStyleName} .#{$primaryStyleName}-input:focus {
	outline: none;
	}

.#{$primaryStyleName}-big.#{$primaryStyleName}-search {
	padding-left: 22px;
	}

.#{$primaryStyleName}-button {
	width: $select-button-width;
	margin-right: $select-button-negative-width;
	height: 1.2em;
	background-position: -5px -11px;
	opacity: .4;
	}

.#{$primaryStyleName}-button:hover {
	opacity: .7;
	}

.#{$primaryStyleName}-button:active {
	opacity: 1;
	}

.#{$primaryStyleName}-small .#{$primaryStyleName}-button {
	height: 0.95em;
	background-position: -5px -12px;
	}

.#{$primaryStyleName}-suggestpopup {
	margin-top: .4em;
	}
.#{$primaryStyleName}-suggestmenu tr {
    line-height:1.4em;
}	

&.v-app .#{$primaryStyleName}-suggestpopup-small td {
	font-size: $chameleon-font-size-small;
	}

&.v-app .#{$primaryStyleName}-suggestpopup-big td {
	font-size: 14.3px;
	}

.#{$primaryStyleName}-big .#{$primaryStyleName}-button {
	height: 1.4em;
	background-position: -5px -9px;
	}

.#{$primaryStyleName}-search .#{$primaryStyleName}-button {
	width: 0;
	overflow: hidden;
	}

.#{$primaryStyleName}-prompt .#{$primaryStyleName}-input {
	font-style: normal;
	}

.#{$primaryStyleName}-prevpage-off,
.#{$primaryStyleName}-nextpage-off,
.#{$primaryStyleName}-prevpage,
.#{$primaryStyleName}-nextpage {
	border-style: solid;
	border-width: 1px 0;
	border-color: #b3b3b3;
	background: #c9c9c9 url(../../img/grad-light-top.png) repeat-x;
	height: 12px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	}

.#{$primaryStyleName}-prevpage:active,
.#{$primaryStyleName}-nextpage:active {
	// TODO check - was missing a part of the rule
	background-image: #c9c9c9 url(../../img/grad-dark-bottom2.png);
	background-position: left bottom;
	}

.#{$primaryStyleName}-prevpage-off span,
.#{$primaryStyleName}-nextpage-off span,
.#{$primaryStyleName}-prevpage span,
.#{$primaryStyleName}-nextpage span {
	display: block;
	text-indent: -9999px;
	height: 12px;
	background: transparent url(../../../base/common/img/sprites.png) no-repeat 50% 3px;
	}

.#{$primaryStyleName}-nextpage-off span,
.#{$primaryStyleName}-nextpage span {
	background-position: 50% -12px;
	}

.#{$primaryStyleName}-status {
	font-size: 11.05px;
	margin: 1px 0 -3px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	}

.#{$primaryStyleName}-suggestmenu .gwt-menuItem-selected {
	background-image: url(../../img/grad-light-top2.png);
	background-position: 0 -1px;
	}

.#{$primaryStyleName}-suggestpopup-small .#{$primaryStyleName}-status {
	font-size: 10.4px;
	}

.#{$primaryStyleName}-suggestpopup-big .#{$primaryStyleName}-status {
	font-size: 11.7px;
	}

.v-select-small .v-select-select {
	font-size: 10.4px;
	}

.v-select-big .v-select-select {
	font-size: $chameleon-font-size-big;
	}


/*******************************************************************************
 * Non-editable combobox (i.e. themable select)
 ******************************************************************************/
.#{$primaryStyleName}-select-button {
	background: #c9c9c9 url(../../img/grad-light-top.png) repeat-x;
	position: relative;
	padding: .3em .5em;
	}

.#{$primaryStyleName}-select-button .#{$primaryStyleName}-input {
	display: block;
	width: 100% !important;
	user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	}

.#{$primaryStyleName}-select-button .#{$primaryStyleName}-button {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	background-position: 100% -8px;
	}

}