#itmill-ajax-window {
	background: #e9eced;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 13px;
	line-height: 18px;
	height: 100%;
}

.i-view {
	height: 100%;	
}

#itmill-ajax-window input, 
#itmill-ajax-window select, 
#itmill-ajax-window textarea, 
#itmill-ajax-window button {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
}

#itmill-ajax-window select {
	padding: 0;
	margin: 0;
}

.i-disabled {
	opacity: 0.3;
	filter: Alpha(opacity=30);
}



/**
 * Context menu styles 
 */

.i-contextmenu {
	background: #e9eced;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #f6f7f7;
	color: #464f52;
	font-size: 12px;
	line-height: 18px;
}

.i-contextmenu .gwt-MenuBar {
	border-right: 1px solid #d0d4d5;
	border-bottom: 2px solid #d0d4d5;
	border-top: 1px solid #d0d4d5;
	border-left: 2px solid #d0d4d5;
}

.i-contextmenu .gwt-MenuItem {
	border-bottom: 1px solid #e6e9e9; 
	padding:1px;
	cursor: pointer;
	vertical-align: middle;
}

.i-contextmenu .gwt-MenuItem div {
	border: 1px solid #f6f7f7;
	padding: 2px 20px 2px 5px;
	cursor: pointer;
	vertical-align: middle;
}

.i-contextmenu .gwt-MenuItem-selected {
	background: #e6e9e9;
}
.i-contextmenu .gwt-MenuItem-selected div {
	border: 1px solid #b6bbbc;
}

.i-contextmenu table {
	border-collapse:collapse;
	margin:0;
	padding:0;
}
.i-contextmenu .gwt-MenuItem img {
	margin-right: 10px;
	vertical-align: middle;
}

/* Provide some extra whitespace for wrapped elements
   (these elements usually need the extra space, since 
   they aren't even handling their own caption) */
.i-captionwrapper {
	margin: 0.3em 0 0 0;
}


/* Layout margin values */

.i-layoutmargin-top {
	margin-top: 15px;
}
.i-layoutmargin-bottom {
	margin-bottom: 15px;
}
.i-layoutmargin-left {
	margin-left: 18px;
}
.i-layoutmargin-right {
	margin-right: 18px;
}