#itmill-ajax-window {
	background: #e9eced;
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
	font-size: 13px;
	line-height: 18px;
	height: 100%;
}
/* body tag created by servlet */
.i-generated-body {
	background: #e9eced;
	width:100%;
	height:100%;
	border:0;
	margin:0;
	overflow:auto;
}

.i-view {
	height: 100%;
	width: 100%
	overflow: auto; 
	/* avoid scrollbars with margins in root layout */
	margin-top:-1px;
	border-top:1px solid transparent;
}

#itmill-ajax-window input, 
#itmill-ajax-window select, 
#itmill-ajax-window textarea, 
#itmill-ajax-window button {
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	color: #464f52;
}

#itmill-ajax-window select {
	padding: 0;
	margin: 0;
}

.i-disabled {
	opacity: 0.3;
	filter: Alpha(opacity=30);
}



/**
 * Context menu styles 
 */

.i-contextmenu {
	background: #e9eced url(../tabsheet/img/tab-bg.png);
	font-family: "Trebuchet MS", geneva, helvetica, arial, tahoma, verdana, sans-serif;
	background-color: #f6f7f7;
	color: #464f52;
	font-size: 12px;
	line-height: 14px;
}

.i-contextmenu .gwt-MenuBar {
	border-right: 2px solid #c6cbcc;
	border-bottom: 2px solid #c6cbcc;
	border-top: 1px solid #d0d4d5;
	border-left: 1px solid #d0d4d5;
}

.i-contextmenu .gwt-MenuItem {
	padding: 1px 0;
	cursor: pointer;
	vertical-align: middle;
}

.i-contextmenu .gwt-MenuItem div {
	/*border: 1px solid #f6f7f7;*/
	padding: 1px 20px 1px 8px;
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
	margin: 1px 0;
}

.i-contextmenu .gwt-MenuItem-selected div {
	color: #fff;
	background: #5daee8;
}

.i-contextmenu table {
	border-collapse:collapse;
	margin:0;
	padding:0;
}
.i-contextmenu .gwt-MenuItem img {
	margin-right: 10px;
	vertical-align: middle;
}



/* TODO move to layout.css */
/* Layout margin values */


.i-layoutmargin-top .i-orderedlayout-toppad div, 
.i-layoutmargin-bottom .i-orderedlayout-bottompad div,
.i-layoutmargin-top .i-expandlayout-toppad div,
.i-layoutmargin-bottom .i-expandlayout-bottompad div,
.i-layoutmargin-top .i-orderedlayout-toppad td, 
.i-layoutmargin-bottom .i-orderedlayout-bottompad td,
.i-layoutmargin-top .i-expandlayout-toppad td,
.i-layoutmargin-bottom .i-expandlayout-bottompad td {
	height: 15px;
	overflow: hidden;
}
.i-layoutmargin-left {
	padding-left: 18px;
}
.i-layoutmargin-right {
	padding-right: 18px;
}

.i-link {
	text-decoration: underline;
	cursor:pointer;
}



/* Loading indicator states */
.i-loading-indicator,
.i-loading-indicator-delay,
.i-loading-indicator-wait {
	width: 31px;
	height: 31px;
	background: transparent url(img/loading-indicator.gif);
}
.i-loading-indicator-delay {
	background: transparent url(img/loading-indicator-delay.gif);
}
.i-loading-indicator-wait {
	background: transparent url(img/loading-indicator-wait.gif);
}